.Head {
    background-color: var(--primary-color);
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
    color: white;
    padding: 1rem;
}

.Head span {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.export-buttons {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}

.export-icon {
    cursor: pointer;
    text-align: center;
}



.label {
    flex: 0 0 30%;
    // font-weight: bold;
    color: #252929eb;
    font-size: 17px;
}

.input-field {
    flex: 1;
    width: 100%;
}

.export-buttons {
    gap: 1rem;
}

.export-icon {
    cursor: pointer;
    text-align: center;
}

.display {
    display: flex;
}

.display1 {
    display: flex;
}

.sidename {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 560px) {
    .label {
        flex: 0 0 100%;
        margin-bottom: 0.5rem;
    }

    .input-field {
        flex: 0 0 100%;
    }

    .display {
        display: block;
    }

    .display1 {
        display: flex;
        align-items: baseline;
    }
}

@media screen and (max-width: 770px) {
    .display {
        display: block;
    }

    .display1 {
        display: flex;
        align-items: baseline;
    }
}
