.Head {
    background-color: var(--primary-color);
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
    color: white;
    padding: 1rem;
}

.Head span {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.export-buttons {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}

.export-icon {
    cursor: pointer;
    text-align: center;
}



.label {
    flex: 0 0 30%;
    // font-weight: bold;
    color: #252929eb;
    font-size: 17px;
}

.input-field {
    flex: 1;
    width: 100%;
}

.export-buttons {
    gap: 1rem;
}

.export-icon {
    cursor: pointer;
    text-align: center;
}

.display {
    display: flex;
}

.display1 {
    display: flex;
}



label {
    font-size: 15px;
    font-weight: 600;
}

span {
    font-size: 15px;
    font-weight: 600;
}

.tab {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    background: cadetblue;
    color: white;
}

@media screen and (max-width: 560px) {
    .label {
        flex: 0 0 100%;
        margin-bottom: 0.5rem;
    }

    .input-field {
        flex: 0 0 100%;
    }

    .display {
        display: block;
    }

    .display1 {
        display: flex;
        align-items: baseline;
    }
}

@media screen and (max-width: 770px) {
    .display {
        display: block;
    }

    .display1 {
        display: flex;
        align-items: baseline;
    }


}

// ================================Select 2===============================


::ng-deep .select2-container {
    width: 300px !important;
}

::ng-deep .select2-container .select2-selection--single {
    height: 45px !important;
    margin-top: 1%;
}

::ng-deep .select2-container .select2-selection--single .select2-selection__rendered {
    margin-top: 7px;
}

::ng-deep .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 10px;
}