.tab {
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.container{
    border: 1px solid lightgrey;
}
h1 {
    text-align: center;
}

.tab:hover {
    background-color: #007bff;  
    color: white;
    // font-size: 18px;
    font-weight: bold;
}

.tab.active {

    color: rgb(230, 27, 196);
    // font-size: large;
    font-weight: bold;
    border-color: #007bff;
}

.Tab h3 {
    text-align: center;
}

.tablist {
    height: 50px;
    // background-color: antiquewhite;
}

::ng-deep .ag-root-wrapper {
    width: 100% !important;
    margin: auto;
}

.commission {
    padding: 15px;
    // max-height: fit-content;
    // position: absolute;
    z-index: 1000;
    // overflow: scroll;
}

.img {
    width: 70px;
}

.p {
    font-size: 13px;
}

.file {
    outline: 2px ridge;
    /* Applies a 2px wide dotted outline */
    background-color: #f4f0a3;
}


.checkbox-content input {
    margin: 0 10px 0px 5px;
    accent-color: white;
}

.checkbox-content {
    .form-check-input:checked {
        background-color: #09a223;
        border-color: #09a223;
    }
}


.checkbox-content input:checked {
    accent-color: #09a223;
}


select,
.date {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    padding: 0px 12px;
    border-top: 2px solid #b0afaf;
    border-bottom: 0.9px solid lightgray;
    border-left: 0.9px solid lightgray;
    border-right: 0.9px solid lightgray;
}

.date {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    padding: 0px 12px;
    border-top: 2px solid #b0afaf;
    border-bottom: 0.9px solid lightgray;
    border-left: 0.9px solid lightgray;
    border-right: 0.9px solid lightgray;
}

option {
    background-color: white;
}

option:hover {
    background-color: rgb(236, 45, 211);
}


.card .title {
    padding: 5px;
    background: #f6f8fa;
    text-align: center;
}

.card .title p {
    font-size: 20px;
    font-weight: 500;
    position: relative;
}

.btn {
    color: var(--primary-color);
    background-color: lightgray;
}

.btn:hover {
    color: white;
    background-color: var(--primary-color);
}



// --------------------

#myGrid {
    width: 100%;
    height: 600px;
    text-align: center;
  }
  .responsive-grid {
    width: 100%;
    max-width: 1200px; 
    margin: auto;
  }
  
  
  @media (max-width: 768px) {
    .responsive-grid {
        width: 100%;
    }
  }
  ::ng-deep .ag-header{
    background-color: #557c9b !important;
  }
  .custom{
    background-color: lightslategrey;
  }