// .Head {
//     background-color: var(--primary-color);
//     box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1);
//     color: white;
//     padding: 1rem;
// }

.Head p {
    font-size: 20px;
}

.display {
    display: flex;
}

.input_box label {
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
    // font-size: medium;
    color: #243359;
}

.input_box label::after {
    content: " *";
    color: red;
}

.input_box select option {
    padding: 7px 0;
}

.input_box input {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 5px;
    // font-size: 16px;
    // padding-left: 15px;
    padding: 0px 12px;
    border-top: 2px solid #b0afaf;
    border-bottom: 0.9px solid lightgray;
    border-left: 0.9px solid lightgray;
    border-right: 0.9px solid lightgray;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    background-color: #f6f8fa;
    font-family: 'Poppins', sans-serif;
    transition: all 120ms ease-out 0s;
}

.input_box select {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 5px;
    // font-size: 16px;
    // padding-left: 15px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    background-color: #f6f8fa;
    font-family: 'Poppins', sans-serif;
    transition: all 120ms ease-out 0s;
    padding: 0px 12px;
    border-top: 2px solid #b0afaf;
    border-bottom: 0.9px solid lightgray;
    border-left: 0.9px solid lightgray;
    border-right: 0.9px solid lightgray;
}

@media screen and (max-width:560px) {
    .display {
        display: block;
    }

    .mobile {
        max-height: 600px;
        overflow: scroll;
    }
}