<!-- <div class="card"> -->

<div class="Head d-flex justify-content-between align-items-center mb-3" style="padding: 1rem;">
    <h6>Edit LCO profile</h6>
    <i class="fa fa-close close-icon" style="cursor: pointer;" (click)="onNoClick()"></i>
</div>
<form [formGroup]="form" class="mobile" (ngSubmit)="onSubmit()">
    <div class="display justify-content-center align-items-center " style="padding: 1rem;">
        <div class="col-12 col-md-6 edit">
            <div class="input_box">
                <div class="mb-3">
                    <label class="form-label">Name Head</label>
                    <div class="custom-radio">
                        <mat-radio-group aria-label="Select an option" formControlName="nameheader"
                            [(ngModel)]="nameheader">
                            <mat-radio-button value="Mr">Mr</mat-radio-button>
                            <mat-radio-button value="Mrs">Mrs</mat-radio-button>
                            <mat-radio-button value="Miss">Miss</mat-radio-button>
                        </mat-radio-group>
                        <div *ngIf="form.get('nameheader')?.invalid && form.get('nameheader')?.touched">
                            <small class="text-danger">Name Head is required.</small>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Mobile Number</label>
                    <input class="" type="text" pattern="0-9" maxlength="10" (keypress)="onKeydown($event)"
                        formControlName="contactnumber1" [(ngModel)]="contactnumber">
                    <div *ngIf="form.get('contactnumber1')?.invalid && form.get('contactnumber1')?.touched">

                        <small class="text-danger" *ngIf="form.get('contactnumber1')?.errors?.['required']">Mobile
                            Number is
                            required.</small>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Address Line</label>
                    <input class="" type="text" id="" name="" value="" formControlName="address" [(ngModel)]="address">
                    <div *ngIf="form.get('address')?.invalid && form.get('address')?.touched">
                        <small class="text-danger">Address is required.</small>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label">State</label>
                    <input class="" type="text" formControlName="state" [(ngModel)]="state">
                    <div *ngIf="form.get('state')?.invalid && form.get('state')?.touched">
                        <small class="text-danger">State is required.</small>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label">User ID</label>
                    <input class="" type="text" formControlName="userid" [(ngModel)]="userid">
                    <div *ngIf="form.get('userid')?.invalid && form.get('userid')?.touched">
                        <small class="text-danger">User ID is required.</small>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Business Name</label>
      
                    <select class="form-select" formControlName="lcobusinessid" [(ngModel)]="lcobusinessid">
                        <!-- Make sure the default option has a value that is not valid (e.g., 0) to show it as the placeholder -->
                        <option value="null">Select a Business Name</option>
                        <option *ngFor="let business of businessList" [value]="business.value">{{ business.name }}
                        </option>
                    </select>
                    <div *ngIf="form.get('lcobusinessid')?.invalid && form.get('lcobusinessid')?.touched">
                        <small class="text-danger">Business Name is required.</small>
                      </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 edit" style="padding: 1rem;">
            <div class="input_box">
                <div class="mb-3">
                    <label class="form-label">LCO Name</label>
                    <input class="" type="text" id="" name="" value="" formControlName="operatorname"
                        [(ngModel)]="operatorname">
                    <div *ngIf="form.get('operatorname')?.invalid && form.get('operatorname')?.touched">
                        <small class="text-danger">LCO Name is required.</small>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input class="" type="mail" formControlName="mail" [(ngModel)]="mail">
                    <div *ngIf="form.get('mail')?.invalid && form.get('mail')?.touched">
                        <small class="text-danger" *ngIf="form.get('mail')?.errors?.['email']">Invalid email
                            format.</small>
                        <small class="text-danger" *ngIf="form.get('mail')?.errors?.['required']">Email is
                            required.</small>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Area Name</label>
                    <input class="" type="text" formControlName="area" [(ngModel)]="area">
                    <div *ngIf="form.get('area')?.invalid && form.get('area')?.touched">
                        <small class="text-danger">Area Name is required.</small>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Pincode</label>
                    <input class="" type="text" pattern="0-9" maxlength="6" (keypress)="onKeydown($event)"
                        [(ngModel)]="pincode" formControlName="pincode">
                    <div *ngIf="form.get('pincode')?.invalid && form.get('pincode')?.touched">

                        <small class="text-danger" *ngIf="form.get('pincode')?.errors?.['required']">Pincode is
                            required.</small>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input class="" type="password" formControlName="password" [(ngModel)]="password">
                    <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
                        <small class="text-danger" *ngIf="form.get('password')?.errors?.['pattern']">Password
                            must be 12
                            digits.</small>
                        <small class="text-danger" *ngIf="form.get('password')?.errors?.['required']">Password
                            is
                            required.</small>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Payment Gateway</label>
                    <select class="form-select" formControlName="paymentid" [(ngModel)]="paymentid">
                        <option value="null" >Select a Payment Gateway Name</option>
                        <option *ngFor="let payment of gatewayList" [value]="payment.value">{{ payment.name}} </option>
                    </select>
                    <div *ngIf="form.get('paymentid')?.invalid && form.get('paymentid')?.touched">
                        <small class="text-danger">Payment Gateway is required.</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center align-item-center mx-5 mb-4">
        <button type="button" class="btn btn-danger me-2" (click)="toggleedit()">Cancel</button>
        <button type="submit" class="btn btn-success">Update</button>
    </div>
</form>
<!-- </div> -->