<div class="container-fluid">
    <div class="d-flex flex-column flex-md-row gap-3">
        <!-- Subscriber Details -->
        <div class="card col-12 col-md-5">
            <div class="d-flex justify-content-center align-items-center p-2 bg-dark text-white mb-3">
                <h6>SUBSCRIBER DETAILS</h6>
            </div>

            <div class="input_box mb-3" (clickOutside)="closeDropdown()">
                <input class="input2" type="text" #searchitem placeholder="Search by Smartcard or Boxid"
                    [value]="searchSmartcard " (keyup)="onSmartcardSerachName(searchitem.value)">
                <div style="width: 100%;" class="dropdown-menu input"
                    [ngClass]="(smartcardList.length != 0 && searchitem?.value?.length != 0 && showDropdown) ? 'show' : 'hide'"
                    aria-labelledby="dropdownMenuButton">
                    <a (click)="goToSmartcard(smcard)" *ngFor="let smcard of smartcardList" class="dropdown-item">
                        {{smcard.smartcard }} </a>
                </div>
            </div>

            <div class="d-flex justify-content-center align-items-center gap-2 mb-3">
                <span>No Smartcard</span>
                <input type="checkbox" [(ngModel)]="nosmartcard" style="width: 20px; height: 20px;"
                    (click)="onNosmartcardList()">
            </div>

            <div class="input_box d-flex justify-content-center align-items-center mb-2"
                *ngFor="let item of subscriberDetails">
                <div class="col-5 col-md-4 d-flex justify-content-start">
                    <span>{{ item.label }}</span>
                </div>
                <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
                    <span>:</span>
                </div>
                <div class="col-6 col-md-6">
                    {{ item.value }}
                </div>
            </div>
        </div>

        <!-- Subscriber Status -->
        <div class="card col-12 col-md-7">
            <div class="d-flex justify-content-center align-items-center p-2 bg-dark text-white">
                <h6>SUBSCRIBER STATUS</h6>
            </div>
            <!-- -----------------------------------update-------------------------------- -->
            <div *ngIf=" isNormalOpen || isNoSmartcardOpen">
                <div *ngIf="!nosmartcard" class="input_box d-flex justify-content-start align-items-center mb-2"
                    style="margin-top: 3%;margin-left: 20px;">
                    <div class="col-5 col-md-3 d-flex justify-content-start">
                        <span>SMARTCARD</span>
                    </div>
                    <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
                        <span>:</span>
                    </div>
                    <div class="col-6 col-md-6">
                        {{smartcard}}
                    </div>
                </div>
                <div *ngIf="!nosmartcard" class="input_box d-flex justify-content-start align-items-center mb-2"
                    style="margin-left: 20px;">
                    <div class="col-5 col-md-3 d-flex justify-content-start">
                        <span>BOX ID</span>
                    </div>
                    <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
                        <span>:</span>
                    </div>
                    <div class="col-6 col-md-6">
                        {{boxid}}
                    </div>
                </div>
                <div *ngIf="!nosmartcard" class="input_box d-flex justify-content-start align-items-center mb-2"
                    style="margin-left: 20px;">
                    <div class="col-5 col-md-3 d-flex justify-content-start">
                        <span>TOKEN NO</span>
                    </div>
                    <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
                        <span>:</span>
                    </div>
                    <div class="col-6 col-md-6 input_box">
                        <input type="text" [(ngModel)]="tokenNo" placeholder="Enter Token Number"
                            [disabled]="noSmartcardDetails?.referencenumber || smartcardDetails?.referencenumber?.length > 0">
                    </div>
                </div>

                <div *ngIf="nosmartcard" class="input_box d-flex justify-content-start align-items-center mb-2"
                    style="margin-top: 3%;margin-left: 20px;">
                    <div class="col-5 col-md-3 d-flex justify-content-start">
                        <span>SMARTCARD</span>
                    </div>
                    <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
                        <span>:</span>
                    </div>
                    <div class="col-6 col-md-6">
                        {{smartcard}}
                    </div>
                </div>
                <div *ngIf="nosmartcard" class="input_box d-flex justify-content-start align-items-center mb-2"
                    style="margin-left: 20px;">
                    <div class="col-5 col-md-3 d-flex justify-content-start">
                        <span>BOX ID</span>
                    </div>
                    <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
                        <span>:</span>
                    </div>
                    <div class="col-6 col-md-6">
                        {{boxid}}
                    </div>
                </div>
                <div *ngIf="nosmartcard" class="input_box d-flex justify-content-start align-items-center mb-2"
                    style="margin-left: 20px;">
                    <div class="col-5 col-md-3 d-flex justify-content-start">
                        <span>TOKEN NO</span>
                    </div>
                    <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
                        <span>:</span>
                    </div>
                    <div class="col-6 col-md-6 input_box">
                        <input type="text" [(ngModel)]="tokenNo" placeholder="Enter Token Number"
                            [disabled]="noSmartcardDetails?.referencenumber || smartcardDetails?.referencenumber?.length > 0">
                    </div>
                </div>
                <div class="input_box d-flex justify-content-start align-items-center mb-2" style="margin-left: 20px;">
                    <div class="col-5 col-md-3 d-flex justify-content-start">
                        <span>ENTRY</span>
                    </div>
                    <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
                        <span>:</span>
                    </div>
                    <div class="col-6 col-md-6" *ngIf="this.smartcard !== 'no smartcard'">
                        <select id="entry" [(ngModel)]="selectedEntry">
                            <option value="" selected>Select Issue</option>
                            <option *ngFor="let entry of filteredProblemList" [value]="entry.id">
                                {{ entry.name }}
                            </option>
                        </select>
                    </div>

                    <div class="col-6 col-md-6" *ngIf="this.smartcard === 'no smartcard'">
                        <select id="entry" [value]="selectedEntry">
                            <option value="" selected>Select Issue</option>
                            <option *ngFor="let entry of filteredProblemList" [value]="entry.id">
                                {{ entry.name }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="input_box d-flex justify-content-start align-items-center mb-2" style="margin-left: 20px;">
                    <div class="col-5 col-md-3 d-flex justify-content-start">
                        <span>DESCRIPTION</span>
                    </div>
                    <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
                        <span>:</span>
                    </div>
                    <div class="col-6 col-md-6 input_box">
                        <input type="text" placeholder="Enter Entry Comment" [disabled]="!isOthersSelected()"
                            [(ngModel)]="closing"
                            [ngStyle]="{ 'border-color': isOthersSelected() ? 'gray' : '#e9e3e3' }">
                    </div>
                </div>
                <div class="input_box d-flex justify-content-start align-items-center mb-2" style="margin-left: 20px;">
                    <div class="col-5 col-md-3 d-flex justify-content-start">
                        <span>REPLACE</span>
                    </div>
                    <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
                        <span>:</span>
                    </div>
                    <div class="col-6 col-md-6">
                        <div class="toggle-button-cover">
                            <div class="button b2" id="button-10">
                                <input type="checkbox" class="checkbox" [(ngModel)]="isReplace"
                                    [disabled]="smartcard === 'no smartcard'" (change)="onReplaceData(!isReplace)" />
                                <div class="knobs">
                                    <span>YES</span>
                                </div>
                                <div class="layer"></div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="input_box d-flex justify-content-start align-items-center mb-2" style="margin-left: 20px;">
                    <div class="col-5 col-md-3 d-flex justify-content-start">
                        <span>SMARTCARD</span>
                    </div>
                    <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
                        <span>:</span>
                    </div>
                    <div class="col-6 col-md-6" [class.isReplace]="isReplace">
                        <select id="smartcard" [(ngModel)]="selectSmartcard" [disabled]="isReplace">
                            <option value="0" selected>Select Smartcard</option>
                            <option *ngFor="let smartcard of filteredSmartcardList" [value]="smartcard.smartcard">
                                {{ smartcard.smartcard }}
                            </option>
                        </select>
                    </div>
                </div>
                <div *ngIf="action && action !== 'NA' || 0" class=" d-flex justify-content-start align-items-center mb-2"
                    style="margin-left: 20px;">
                    <div class="col-5 col-md-3 d-flex justify-content-start input_box">
                        <span>Type</span>
                    </div>
                    <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
                        <span>:</span>
                    </div>
                    <div class="col-6 col-md-6">
                        <mat-radio-group [(ngModel)]="selectedType">
                            <mat-radio-button value="1">REUSE</mat-radio-button>
                            <mat-radio-button value="2" class="ml-3">FAILURE</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div class="col-12 col-md-8 d-flex justify-content-center align-items-center" style="padding: 10px;">
                    <button type="button" class="btn btn-success " (click)="update_submit()">Update </button>
                </div>
            </div>

            <!-- <div *ngIf="isOpen"> -->
            <div *ngIf="isClose && !isNoSmartcardOpen">
                <div *ngIf="!nosmartcard" class="input_box d-flex justify-content-start align-items-center mb-2"
                    style="margin-top: 3%;margin-left: 20px;">
                    <div class="col-5 col-md-3 d-flex justify-content-start">
                        <span>SMARTCARD</span>
                    </div>
                    <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
                        <span>:</span>
                    </div>
                    <div class="col-6 col-md-6">
                        {{smartcard}}
                    </div>
                    <!-- <div *ngIf="this.smartcard?.toLowerCase().startsWith('no')" class="col-6 col-md-6">
                        <select id="smartcard_no" [(ngModel)]="smartcard">
                            <option *ngFor="let smcard of filteredSmartcardDetailsList">
                                {{ smcard.smartcard }}
                            </option>
                        </select>
                    </div> -->
                </div>
                <div *ngIf="!nosmartcard" class="input_box d-flex justify-content-start align-items-center mb-2"
                    style="margin-left: 20px;">
                    <div class="col-5 col-md-3 d-flex justify-content-start">
                        <span>BOX ID</span>
                    </div>
                    <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
                        <span>:</span>
                    </div>
                    <div class="col-6 col-md-6">
                        {{boxid}}
                    </div>
                </div>
                <div *ngIf="!nosmartcard" class="input_box d-flex justify-content-start align-items-center mb-2"
                    style="margin-left: 20px;">
                    <div class="col-5 col-md-3 d-flex justify-content-start">
                        <span>TOKEN NO</span>
                    </div>
                    <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
                        <span>:</span>
                    </div>
                    <div class="col-6 col-md-6 input_box">
                        {{tokenNo}}
                    </div>
                </div>
                <!-- ------------------------------------------------------------------------------------------------------------------------------------ -->
                <div *ngIf="nosmartcard" class="input_box d-flex justify-content-start align-items-center mb-2"
                    style="margin-top: 3%;margin-left: 20px;">
                    <div class="col-5 col-md-3 d-flex justify-content-start">
                        <span>SMARTCARD</span>
                    </div>
                    <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
                        <span>:</span>
                    </div>
                    <div class="col-6 col-md-6">
                        {{smartcard}}
                    </div>
                </div>
                <div *ngIf="nosmartcard" class="input_box d-flex justify-content-start align-items-center mb-2"
                    style="margin-left: 20px;">
                    <div class="col-5 col-md-3 d-flex justify-content-start">
                        <span>BOX ID</span>
                    </div>
                    <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
                        <span>:</span>
                    </div>
                    <div class="col-6 col-md-6">
                        {{boxid}}
                    </div>
                </div>
                <div *ngIf="nosmartcard" class="input_box d-flex justify-content-start align-items-center mb-2"
                    style="margin-left: 20px;">
                    <div class="col-5 col-md-3 d-flex justify-content-start">
                        <span>TOKEN NO</span>
                    </div>
                    <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
                        <span>:</span>
                    </div>
                    <div class="col-6 col-md-6 input_box">
                        {{tokenNo}}
                    </div>
                </div>

                <div class="input_box d-flex justify-content-start align-items-center mb-2" style="margin-left: 20px;">
                    <div class="col-5 col-md-3 d-flex justify-content-start">
                        <span>Entry</span>
                    </div>
                    <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
                        <span>:</span>
                    </div>
                    <div class="col-6 col-md-6 input_box">
                        {{entryname}}
                    </div>
                </div>

                <div class="input_box d-flex justify-content-start align-items-center mb-2" style="margin-left: 20px;">
                    <div class="col-5 col-md-3 d-flex justify-content-start">
                        <span>Entry Date</span>
                    </div>
                    <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
                        <span>:</span>
                    </div>
                    <div class="col-6 col-md-6 input_box">
                        {{entryDate}}
                    </div>
                </div>

                <div class="input_box d-flex justify-content-start align-items-center mb-2" style="margin-left: 20px;">
                    <div class="col-5 col-md-3 d-flex justify-content-start">
                        <span>Closing</span>
                    </div>
                    <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
                        <span>:</span>
                    </div>
                    <div class="col-6 col-md-6 input_box">
                        {{closing}}
                    </div>
                </div>
                <div class="input_box d-flex justify-content-start align-items-center mb-2" style="margin-left: 20px;">
                    <div class="col-5 col-md-3 d-flex justify-content-start">
                        <span>Closing Date</span>
                    </div>
                    <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
                        <span>:</span>
                    </div>
                    <div class="col-6 col-md-6 input_box">
                        {{closingDate}}
                    </div>
                </div>
                <div class="input_box d-flex justify-content-start align-items-center mb-2" style="margin-left: 20px;">
                    <div class="col-5 col-md-3 d-flex justify-content-start">
                        <span>Amount</span>
                    </div>
                    <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
                        <span>:</span>
                    </div>
                    <div class="col-6 col-md-6 input_box">
                        {{Amount}}
                    </div>
                </div>
                <div class="input_box d-flex justify-content-start align-items-center mb-2" style="margin-left: 20px;">
                    <div class="col-5 col-md-3 d-flex justify-content-start">
                        <span>Attender</span>
                    </div>
                    <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
                        <span>:</span>
                    </div>
                    <div class="col-6 col-md-6">
                        {{selectedAttender}}
                    </div>
                </div>


                <div class="input_box d-flex justify-content-start align-items-center mb-2" style="margin-left: 20px;">
                    <div class="col-5 col-md-3 d-flex justify-content-start">
                        <span>Delivery</span>
                    </div>
                    <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
                        <span>:</span>
                    </div>
                    <div class="col-6 col-md-6 input_box">
                        <input type="text" name="" id="" placeholder="Enter Comment" [(ngModel)]="delivery">
                    </div>
                </div>


                <!-- <div class="input_box d-flex justify-content-start align-items-center mb-2" style="margin-left: 20px;">
                    <div class="col-5 col-md-3 d-flex justify-content-start">
                        <span>Dispatcher</span>
                    </div>
                    <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
                        <span>:</span>
                    </div>
                    <div class="col-6 col-md-6">
                        <select id="dispatcher" [(ngModel)]="selectedDispatcher">
                            <option value="0" selected>Select Dispatcher</option>
                            <option *ngFor="let atn of filteredAttenderList" [value]="atn.id">
                                {{ atn.username }}
                            </option>
                        </select>
                    </div>
                </div> -->
                <div class="col-12 col-md-8 d-flex justify-content-center align-items-center" style="padding: 10px;">
                    <button type="button" class="btn btn-success " (click)="close_Submit()">Dispatch </button>
                </div>
            </div>

            <div *ngIf="isDispatch && !isNoSmartcardOpen">
                <div *ngIf="!nosmartcard" class="input_box d-flex justify-content-start align-items-center mb-2"
                    style="margin-top: 3%;margin-left: 20px;">
                    <div class="col-5 col-md-3 d-flex justify-content-start">
                        <span>SMARTCARD</span>
                    </div>
                    <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
                        <span>:</span>
                    </div>
                    <div class="col-6 col-md-6">
                        {{smartcard}}
                    </div>
                </div>
                <div *ngIf="!nosmartcard" class="input_box d-flex justify-content-start align-items-center mb-2"
                    style="margin-left: 20px;">
                    <div class="col-5 col-md-3 d-flex justify-content-start">
                        <span>BOX ID</span>
                    </div>
                    <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
                        <span>:</span>
                    </div>
                    <div class="col-6 col-md-6">
                        {{boxid}}
                    </div>
                </div>
                <div *ngIf="!nosmartcard" class="input_box d-flex justify-content-start align-items-center mb-2"
                    style="margin-left: 20px;">
                    <div class="col-5 col-md-3 d-flex justify-content-start">
                        <span>TOKEN NO</span>
                    </div>
                    <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
                        <span>:</span>
                    </div>
                    <div class="col-6 col-md-6 input_box">
                        {{tokenNo}}
                    </div>
                </div>
                <!-- ------------------------------------------------------------------------------------------------------------------------------------ -->
                <div *ngIf="nosmartcard" class="input_box d-flex justify-content-start align-items-center mb-2"
                    style="margin-top: 3%;margin-left: 20px;">
                    <div class="col-5 col-md-3 d-flex justify-content-start">
                        <span>SMARTCARD</span>
                    </div>
                    <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
                        <span>:</span>
                    </div>
                    <div class="col-6 col-md-6">
                        {{smartcard}}
                    </div>
                </div>
                <div *ngIf="nosmartcard" class="input_box d-flex justify-content-start align-items-center mb-2"
                    style="margin-left: 20px;">
                    <div class="col-5 col-md-3 d-flex justify-content-start">
                        <span>BOX ID</span>
                    </div>
                    <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
                        <span>:</span>
                    </div>
                    <div class="col-6 col-md-6">
                        {{boxid}}
                    </div>
                </div>
                <div *ngIf="nosmartcard" class="input_box d-flex justify-content-start align-items-center mb-2"
                    style="margin-left: 20px;">
                    <div class="col-5 col-md-3 d-flex justify-content-start">
                        <span>TOKEN NO</span>
                    </div>
                    <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
                        <span>:</span>
                    </div>
                    <div class="col-6 col-md-6 input_box">
                        {{tokenNo}}
                    </div>
                </div>

                <div class="input_box d-flex justify-content-start align-items-center mb-2" style="margin-left: 20px;">
                    <div class="col-5 col-md-3 d-flex justify-content-start">
                        <span>Entry</span>
                    </div>
                    <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
                        <span>:</span>
                    </div>
                    <div class="col-6 col-md-6 input_box">
                        {{entryname}}
                    </div>
                </div>

                <div class="input_box d-flex justify-content-start align-items-center mb-2" style="margin-left: 20px;">
                    <div class="col-5 col-md-3 d-flex justify-content-start">
                        <span>Entry Date</span>
                    </div>
                    <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
                        <span>:</span>
                    </div>
                    <div class="col-6 col-md-6 input_box">
                        {{entryDate}}
                    </div>
                </div>

                <div class="input_box d-flex justify-content-start align-items-center mb-2" style="margin-left: 20px;">
                    <div class="col-5 col-md-3 d-flex justify-content-start">
                        <span>Closing</span>
                    </div>
                    <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
                        <span>:</span>
                    </div>
                    <div class="col-6 col-md-6 input_box">
                        {{closing}}
                    </div>
                </div>
                <div class="input_box d-flex justify-content-start align-items-center mb-2" style="margin-left: 20px;">
                    <div class="col-5 col-md-3 d-flex justify-content-start">
                        <span>Closing Date</span>
                    </div>
                    <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
                        <span>:</span>
                    </div>
                    <div class="col-6 col-md-6 input_box">
                        {{closingDate}}
                    </div>
                </div>
                <div class="input_box d-flex justify-content-start align-items-center mb-2" style="margin-left: 20px;">
                    <div class="col-5 col-md-3 d-flex justify-content-start">
                        <span>Amount</span>
                    </div>
                    <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
                        <span>:</span>
                    </div>
                    <div class="col-6 col-md-6 input_box">
                        {{Amount}}
                    </div>
                </div>
                <div class="input_box d-flex justify-content-start align-items-center mb-2" style="margin-left: 20px;">
                    <div class="col-5 col-md-3 d-flex justify-content-start">
                        <span>Attender</span>
                    </div>
                    <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
                        <span>:</span>
                    </div>
                    <div class="col-6 col-md-6">
                        {{selectedAttender}}
                    </div>
                </div>

                <div class="input_box d-flex justify-content-start align-items-center mb-2" style="margin-left: 20px;">
                    <div class="col-5 col-md-3 d-flex justify-content-start">
                        <span>Delivery</span>
                    </div>
                    <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
                        <span>:</span>
                    </div>
                    <div class="col-6 col-md-6 input_box">
                        {{delivery}}
                    </div>
                </div>

                <div class="input_box d-flex justify-content-start align-items-center mb-2" style="margin-left: 20px;">
                    <div class="col-5 col-md-3 d-flex justify-content-start">
                        <span>Dispatcher</span>
                    </div>
                    <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
                        <span>:</span>
                    </div>
                    <div class="col-6 col-md-6">
                        {{selectedDispatcher}}
                    </div>
                </div>

                <div class="input_box d-flex justify-content-start align-items-center mb-2" style="margin-left: 20px;">
                    <div class="col-5 col-md-3 d-flex justify-content-start">
                        <span>Delivery Date</span>
                    </div>
                    <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
                        <span>:</span>
                    </div>
                    <div class="col-6 col-md-6 input_box">
                        {{deliveryDate}}
                    </div>
                </div>
                <!-- <div *ngIf="this.tabletoSmartcardNumber !== 'no smartcard'"
                    class="col-12 col-md-8 d-flex justify-content-center align-items-center" style="padding: 10px;">
                    <button type="button" class="btn btn-success " (click)="dispactchSubmit()">Update </button>
                </div>
                <div *ngIf="this.tabletoSmartcardNumber == 'no smartcard'"
                    class="col-12 col-md-8 d-flex justify-content-center align-items-center" style="padding: 10px;">
                    <button type="button" class="btn btn-success " (click)="update_submit_Open()">Update </button>
                </div> -->
            </div>


            <!-- <div *ngIf="isClose"> -->
            <div *ngIf="isOpen && !isNoSmartcardOpen">
                <div *ngIf="!nosmartcard" class="input_box d-flex justify-content-start align-items-center mb-2"
                    style="margin-top: 3%;margin-left: 20px;">
                    <div class="col-5 col-md-3 d-flex justify-content-start">
                        <span>SMARTCARD</span>
                    </div>
                    <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
                        <span>:</span>
                    </div>

                    <div *ngIf="!this.tabletoSmartcardNumber?.toLowerCase().startsWith('no')" class="col-6 col-md-6">
                        {{smartcard}}
                    </div>

                    <div *ngIf="this.tabletoSmartcardNumber?.toLowerCase().startsWith('no')" class="col-6 col-md-6">
                        <select id="smartcard_no" [(ngModel)]="smartcard">
                            <option *ngFor="let smcard of filteredSmartcardDetailsList">
                                {{ smcard.smartcard }}
                            </option>
                        </select>
                    </div>
                </div>
                <div *ngIf="!nosmartcard" class="input_box d-flex justify-content-start align-items-center mb-2"
                    style="margin-left: 20px;">
                    <div class="col-5 col-md-3 d-flex justify-content-start">
                        <span>BOX ID</span>
                    </div>
                    <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
                        <span>:</span>
                    </div>
                    <div class="col-6 col-md-6">
                        {{boxid}}
                    </div>
                </div>
                <div *ngIf="!nosmartcard" class="input_box d-flex justify-content-start align-items-center mb-2"
                    style="margin-left: 20px;">
                    <div class="col-5 col-md-3 d-flex justify-content-start">
                        <span>TOKEN NO</span>
                    </div>
                    <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
                        <span>:</span>
                    </div>
                    <div class="col-6 col-md-6 input_box">
                        {{tokenNo}}
                    </div>
                </div>
                <div *ngIf="nosmartcard" class="input_box d-flex justify-content-start align-items-center mb-2"
                    style="margin-top: 3%;margin-left: 20px;">
                    <div class="col-5 col-md-3 d-flex justify-content-start">
                        <span>SMARTCARD</span>
                    </div>
                    <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
                        <span>:</span>
                    </div>
                    <div class="col-6 col-md-6">
                        <input type="text" [(ngModel)]="smartcard" placeholder="Enter Token Smartcard">
                    </div>
                </div>
                <div *ngIf="nosmartcard" class="input_box d-flex justify-content-start align-items-center mb-2"
                    style="margin-left: 20px;">
                    <div class="col-5 col-md-3 d-flex justify-content-start">
                        <span>BOX ID</span>
                    </div>
                    <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
                        <span>:</span>
                    </div>
                    <div class="col-6 col-md-6">
                        <input type="text" [(ngModel)]="boxid" placeholder="Enter Box Id">
                    </div>
                </div>
                <div *ngIf="nosmartcard" class="input_box d-flex justify-content-start align-items-center mb-2"
                    style="margin-left: 20px;">
                    <div class="col-5 col-md-3 d-flex justify-content-start">
                        <span>TOKEN NO</span>
                    </div>
                    <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
                        <span>:</span>
                    </div>
                    <div class="col-6 col-md-6 input_box">
                        <input type="text" [(ngModel)]="tokenNo" placeholder="Enter Token Number">
                    </div>
                </div>

                <div class="input_box d-flex justify-content-start align-items-center mb-2" style="margin-left: 20px;">
                    <div class="col-5 col-md-3 d-flex justify-content-start">
                        <span>Entry</span>
                    </div>
                    <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
                        <span>:</span>
                    </div>
                    <div class="col-6 col-md-6 input_box">
                        <!-- <input type="text" placeholder="Enter Entry" [(ngModel)]="selectedEntry"> -->
                        {{entryname}}
                    </div>
                </div>

                <div class="input_box d-flex justify-content-start align-items-center mb-2" style="margin-left: 20px;">
                    <div class="col-5 col-md-3 d-flex justify-content-start">
                        <span>Entry Date</span>
                    </div>
                    <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
                        <span>:</span>
                    </div>
                    <div class="col-6 col-md-6 input_box">
                        {{entryDate}}
                    </div>
                </div>

                <div class="input_box d-flex justify-content-start align-items-center mb-2" style="margin-left: 20px;">
                    <div class="col-5 col-md-3 d-flex justify-content-start">
                        <span>Closing</span>
                    </div>
                    <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
                        <span>:</span>
                    </div>
                    <div class="col-6 col-md-6 input_box">
                        <input type="text" placeholder="Enter Closing" [(ngModel)]="closing">
                    </div>
                </div>

                <div class="input_box d-flex justify-content-start align-items-center mb-2" style="margin-left: 20px;">
                    <div class="col-5 col-md-3 d-flex justify-content-start">
                        <span>Amount</span>
                    </div>
                    <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
                        <span>:</span>
                    </div>
                    <div class="col-6 col-md-6 input_box">
                        <input type="text" placeholder="Enter Amount" [(ngModel)]="Amount"
                            (keypress)="onKeydown($event)">
                    </div>
                </div>
                <!-- <div class="input_box d-flex justify-content-start align-items-center mb-2" style="margin-left: 20px;">
                    <div class="col-5 col-md-3 d-flex justify-content-start">
                        <span>Attender</span>
                    </div>
                    <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
                        <span>:</span>
                    </div>
                    <div class="col-6 col-md-6">
                        <select id="attender" [(ngModel)]="selectedAttender">
                            <option value="0" selected>Select Attender</option>
                            <option *ngFor="let atn of filteredAttenderList" [value]="atn.id">
                                {{ atn.username }}
                            </option>
                        </select>
                    </div>
                </div> -->

                <div *ngIf="action && action !== 'NA' || 0" class=" d-flex justify-content-start align-items-center mb-2"
                    style="margin-left: 20px;">
                    <div class="col-5 col-md-3 d-flex justify-content-start input_box">
                        <span>Type</span>
                    </div>
                    <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
                        <span>:</span>
                    </div>
                    <div class="col-6 col-md-6">
                        <mat-radio-group [(ngModel)]="selectedType">
                            <mat-radio-button value="1">REUSE</mat-radio-button>
                            <mat-radio-button value="2" class="ml-3">FAILURE</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>


                <div *ngIf="this.tabletoSmartcardNumber !== 'no smartcard'"
                    class="col-12 col-md-8 d-flex justify-content-center align-items-center" style="padding: 10px;">
                    <button type="button" class="btn btn-success" (click)="update_submit()">Close </button>
                    <!-- <button type="button" class="btn btn-success" (click)="update_submit_Open()">Open </button> -->
                </div>
                <div *ngIf="this.tabletoSmartcardNumber == 'no smartcard'"
                    class="col-12 col-md-8 d-flex justify-content-center align-items-center" style="padding: 10px;">
                    <!-- <button type="button" class="btn btn-success" (click)="update_submit()">Close </button> -->
                    <button type="button" class="btn btn-success" (click)="update_submit_Open()">Close </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="d-flex justify-content-center align-items-center p-2 bg-dark text-white mb-3">
            <h6>SERVICE HISTORY</h6>
        </div>
        <div class="display justify-content-start align-items-center ">
            <div class="mx-2 table_operator" style="margin-top: -1.2%;">
                <select id="operator" [(ngModel)]="selectedOperator">
                    <option value="0" selected>ALL Operator</option>
                    <option *ngFor="let operator of filteredOperatorList" [value]="operator.value">
                        {{ operator.name }}
                    </option>
                </select>
            </div>
            <div class=" mx-2" style="margin-top: -1.2%;">
                <input type="checkbox" [(ngModel)]="isActive" tyle="width: 20px; height: 20px;"
                    (change)="onSmartcardChange()">
            </div>
            <div class=" input_box mx-2" style="margin-top: -1.2%;">
                <input class="input2" type="text" placeholder="Enter Smartcard Last 5 digit"
                    [(ngModel)]="tableSmartcard" [disabled]="!isActive"
                    [ngStyle]="{ 'border-color': isActive ? 'gray': '#e9e3e3' }">
            </div>
            <div class="mx-2" style="margin-top: 0.8%;">
                <mat-form-field appearance="outline">
                    <mat-date-range-input [rangePicker]="picker" [max]="today">
                        <input matStartDate matInput placeholder="Start date" (dateChange)="getFromDate($event)">
                        <input matEndDate matInput placeholder="End date" (dateChange)="getToDate($event)">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
            </div>
            <div class="mx-2 d-flex justify-content-center align-items-center" style="margin-top: -1.2%;">
                <button type="button" class="btn btn-success" (click)="onServiceHistory()">Submit </button>
            </div>
            <div class=" display1" style="margin-top: -1.2%;">
                <div class="export-icon  mx-2">
                    <img src="/assets/images/icons/Excel.png" alt="Excel Icon" width="40px"
                        (click)="getServiceReportDownload(2)">
                    <div class="tooltip">Excel</div>
                </div>
                <div class="export-icon ">
                    <img src="/assets/images/icons/pdf.png" alt="PDF Icon" width="40px"
                        (click)="getServiceReportDownload(1)">
                    <div class="tooltip">Pdf</div>
                </div>
            </div>
        </div>
        <ag-grid-angular #agGrid id="myGrid" domLayout="normal" class="ag-theme-alpine table-class" rowAnimation
            [gridOptions]="gridOptions" [columnDefs]="columnDefs" [rowData]="rowData" [enableCellTextSelection]="true"
            [style.height.px]="getTableHeight()">
        </ag-grid-angular>
    </div>
</div>