<div class="container-fluid">
    <div class="d-flex flex-column flex-md-row gap-3">
        <!-- Subscriber Details -->
        <div class="card col-12 col-md-5 ">
            <div class="d-flex justify-content-center align-items-center p-2 bg-dark text-white mb-3">
                <h6>SUBSCRIBER DETAILS</h6>
            </div>

            <div class="input_box mb-3">
                <input type="text" placeholder="Search by Smartcard or Boxid">
            </div>

            <div class="input_box d-flex justify-content-center align-items-center mb-2"
                *ngFor="let item of subscriberDetails">
                <div class="col-5 col-md-4 d-flex justify-content-start">
                    <span>{{ item.label }}</span>
                </div>
                <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
                    <span>:</span>
                </div>
                <div class="col-6 col-md-6">
                    {{ item.value }}
                </div>
            </div>
        </div>

        <!-- Subscriber Status -->
        <div class="card col-12 col-md-7">
            <div class="d-flex justify-content-center align-items-center p-2 bg-dark text-white">
                <h6>SUBSCRIBER STATUS</h6>
            </div>
            <div class="input_box d-flex justify-content-start align-items-center mb-2"
                style="margin-top: 3%;margin-left: 20px;">
                <div class="col-5 col-md-3 d-flex justify-content-start">
                    <span>SMARTCARD</span>
                </div>
                <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
                    <span>:</span>
                </div>
                <div class="col-6 col-md-4">
                    eretre
                </div>
            </div>
            <div class="input_box d-flex justify-content-start align-items-center mb-2" style="margin-left: 20px;">
                <div class="col-5 col-md-3 d-flex justify-content-start">
                    <span>BOX ID</span>
                </div>
                <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
                    <span>:</span>
                </div>
                <div class="col-6 col-md-4">
                    eretre
                </div>
            </div>
            <div class="input_box d-flex justify-content-start align-items-center mb-2" style="margin-left: 20px;">
                <div class="col-5 col-md-3 d-flex justify-content-start">
                    <span>TOKEN NO</span>
                </div>
                <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
                    <span>:</span>
                </div>
                <div class="col-6 col-md-4 input_box">
                    <input type="text" placeholder="Enter Token">
                </div>
            </div>
            <div class="input_box d-flex justify-content-start align-items-center mb-2" style="margin-left: 20px;">
                <div class="col-5 col-md-3 d-flex justify-content-start">
                    <span>ENTRY</span>
                </div>
                <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
                    <span>:</span>
                </div>
                <div class="col-6 col-md-4">
                    <select id="entry" [(ngModel)]="selectedEntry">
                        <option value="0" selected>Select Issue</option>
                        <option *ngFor="let entry of filteredPackageList" [value]="entry.value">
                            {{ entry.name }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="input_box d-flex justify-content-start align-items-center mb-2" style="margin-left: 20px;">
                <div class="col-5 col-md-3 d-flex justify-content-start">
                    <span>DESCRIPTION</span>
                </div>
                <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
                    <span>:</span>
                </div>
                <div class="col-6 col-md-4 input_box">
                    <input type="text" placeholder="Enter Entry Comment">
                </div>
            </div>
            <div class="input_box d-flex justify-content-start align-items-center mb-2" style="margin-left: 20px;">
                <div class="col-5 col-md-3 d-flex justify-content-start">
                    <span>REPLACE</span>
                </div>
                <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
                    <span>:</span>
                </div>
                <div class="col-6 col-md-4">
                    <div class="toggle-button-cover">
                        <div class="button b2" id="button-10">
                            <input type="checkbox" class="checkbox" />
                            <div class="knobs">
                                <span>YES</span>
                            </div>
                            <div class="layer"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="input_box d-flex justify-content-start align-items-center mb-2" style="margin-left: 20px;">
                <div class="col-5 col-md-3 d-flex justify-content-start">
                    <span>SMARTCARD</span>
                </div>
                <div class="col-1 col-md-1 d-flex justify-content-center align-items-center">
                    <span>:</span>
                </div>
                <div class="col-6 col-md-4">
                    <select id="smartcard" [(ngModel)]="selectSmartcard">
                        <option value="0" selected>Select Smartcard</option>
                        <option *ngFor="let smartcard of filteredSmartcardList" [value]="smartcard.value">
                            {{ smartcard.name }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-12 col-md-8 d-flex justify-content-center align-items-center" style="padding: 10px;">
                <button type="button" class="btn btn-success">Update </button>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="d-flex justify-content-center align-items-center p-2 bg-dark text-white mb-3">
            <h6>SERVICE HISTORY</h6>
        </div>
        <div class="displayustify-content-start align-items-center ">
            <div class="">
                <select id="operator" [(ngModel)]="selectedOperator">
                    <option value="0" selected>ALL Operator</option>
                    <option *ngFor="let operator of filteredOperatorList" [value]="operator.value">
                        {{ operator.name }}
                    </option>
                </select>
            </div>
            <div class=" ">
                <input type="checkbox" [(ngModel)]="isActive" style="width: 35px;height: 20px;">
            </div>
            <div class=" input_box">
                <input type="text" placeholder="Enter Smartcard Last 5 digit">
            </div>
            <div class="">
                <mat-form-field appearance="outline">
                    <mat-date-range-input [rangePicker]="picker" [max]="today">
                        <input matStartDate matInput placeholder="Start date"
                            (dateChange)="getFromDate($event)">
                        <input matEndDate matInput placeholder="End date" (dateChange)="getToDate($event)">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
            </div>
            <div class=" d-flex justify-content-center align-items-center">
                <button type="button" class="btn btn-success">Update </button>
            </div>
            <div class=" display1">
                <div class="export-icon  mx-2">
                    <img src="/assets/images/icons/Excel.png" alt="Excel Icon" width="40px"
                        (click)="getServiceReportDownload(2)">
                    <div class="tooltip">Excel</div>
                </div>
                <div class="export-icon ">
                    <img src="/assets/images/icons/pdf.png" alt="PDF Icon" width="40px"
                        (click)="getServiceReportDownload(1)">
                    <div class="tooltip">Pdf</div>
                </div>
            </div>
        </div>
        <ag-grid-angular #agGrid id="myGrid" domLayout="normal" class="ag-theme-alpine table-class" rowAnimation
            [gridOptions]="gridOptions"
            [columnDefs]="columnDefs" [rowData]="rowData"  [enableCellTextSelection]="true">
        </ag-grid-angular>
    </div>
</div>