span {
    font-weight: 600;
    font-size: 14px;
}

.input_box input {
    height: 30px !important;
    border-top: 0px solid #b0afaf;
}

.input_box .input {
    border-top: 2px solid #b0afaf;
}

.input_box .input2 {
    height: 45px !important;
    border-top: 2px solid #b0afaf;
}

.dropdown-menu {
    height: auto;
}

::ng-deep .select2-container {
    width: 100% !important;
}

::ng-deep .select2-container .select2-selection--single {
    height: 35px !important;
    margin-top: 1%;

}

::ng-deep .select2-container .select2-selection--single .select2-selection__rendered {
    margin-top: 3px;
    font-size: 13px;
}

::ng-deep .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 5px;
}


.isReplace ::ng-deep .select2-container--default .select2-selection--single {
    border-color: #e9e3e3 !important;
}

.display1 {
    display: flex;
}

.display {
    display: flex;
}

::ng-deep.mdc-text-field--outlined .mdc-notched-outline {
    z-index: 1;
    height: 5.5vh;
}

::ng-deep.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding-top: 11px;
    padding-bottom: 0;
}

::ng-deep.mat-mdc-form-field-icon-suffix,
[dir=rtl] .mat-mdc-form-field-icon-prefix {
    padding: 0 0 0 4px;
    height: -1px;
}

.table_operator {
    width: 30%;
}

.dropdown-menu.input {
    max-height: 600px;
    overflow-y: auto;
    transition: max-height 0.3s ease-in-out;
}

@media screen and (max-width:560px) {

    .container-fluid {
        max-height: 650px;
        overflow: scroll;
    }

    .display {
        display: block;
    }

    .table_operator {
        width: 100%;
    }
}

// ==================================================================================
#app-cover {
    display: table;
    width: 600px;
    margin: 80px auto;
    counter-reset: button-counter;
}

.toggle-button-cover {
    display: table-cell;
    position: relative;
    width: 100px;
    height: 40px;
    box-sizing: border-box;
}

.button {
    position: relative;
    top: 50%;
    width: 74px;
    height: 36px;
    margin: -20px auto 0 auto;
    overflow: hidden;
}

.button.r,
.button.r .layer {
    border-radius: 100px;
}

.button.b2 {
    border-radius: 2px;
}

.checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;

}

.knobs {
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition: 0.3s ease all;
    font-size: 12px;
    padding: 0 8px;
}

.layer {
    width: 100%;
    background-color: #ebf7fc;
    transition: 0.3s ease all;
    z-index: 1;
}


#button-10 .knobs:before,
#button-10 .knobs:after,
#button-10 .knobs span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    border-radius: 2px;
    transition: 0.3s ease all;
}

#button-10 .knobs:before {
    content: "";
    width: 36px;
    height: 31px;
    left: 4px;
    background-color: #216303;
}

#button-10 .knobs:after {
    content: "NO";
    right: 4px;
    color: #4e4e4e;
}

#button-10 .knobs span {
    display: inline-block;
    color: #fff;
    z-index: 1;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
}

#button-10 .checkbox:checked+.knobs span {
    color: #4e4e4e;
}

#button-10 .checkbox:checked+.knobs:before {
    left: 42px;
    background-color: #f44336;
}

#button-10 .checkbox:checked+.knobs:after {
    color: #fff;
}

#button-10 .checkbox:checked~.layer {
    background-color: #fcebeb;
}
