.card {
    border-radius: 8px;
    text-align: center;
    background-color: #f8f9fa;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    width: 100%;
    height: 75%;
    border: white;
}

.card i {
    font-size: 35px;
    margin-bottom: 8px;
    color: var(--primary-color);
}

.card .font-awesome {
    font-size: 30px;
    margin-bottom: 8px;
    color: var(--primary-color);
}

.fw-bold {
    font-size: 30px;
    color: var(--primary-color);
}

.text {
    font-size: 16px;
    color: var(--text-color);
}

.text1 {
    font-size: 17px;
    color: var(--text-color);
    font-weight: 600;
}

h5 {
    color: #1fd42f;
}

.online {
    color: white;
    font-size: 24px;
    font-weight: 600;
}

// .online_recharge {
//     padding: 5px;
// }

// .balance {
//     padding: 10px;
// }


.display {
    display: flex;
}

.box {
    cursor: pointer;
}

.card .rupee {
    font-size: 20px;
    color: #1fd42f;
}

.card .forward {
    font-size: 25px;
    color: #0469db;
}

@media screen and (max-width:990px) {
    .display {
        display: block;
    }
}

@media screen and (max-width:560px) {
    .card i {
        font-size: 30px;
        margin-bottom: 8px;
        color: var(--primary-color);
    }

    .fw-bold {
        font-size: 25px;
        color: var(--primary-color);
    }

    .text {
        font-size: 12px;
        color: var(--text-color);
    }

    .display {
        display: block;
    }

    .online {
        font-size: 25px;
    }
}

// ------------------------cylindor chart-------------

#chartdiv {
    width: 100%;
    height: 435px;
    font-size: 11px;
}

::ng-deep .amcharts-chart-div a {
    display: none !important;
}

// -------------------------------------pie chart------------------


#chartpie {
    width: 100%;
    height: 600px;
    font-size: 11px;
}