<div>
    <div class="Head d-flex justify-content-between align-items-center mb-3" style="padding: 1rem;">
        <h6>ADD LCO BUSINESS</h6>
        <i class="fa fa-close close-icon" style="cursor: pointer;" (click)="onNoClick()"></i>
    </div>
    <div class="display justify-content-center align-items-center mobile">
        <div class="col-12 col-md-12 " style="padding: 1rem;">
            <div class="input_box">
                <div class="mb-3 edit">
                    <div class="col-12 col-md-5">
                        <label class="form-label">Business Name</label>
                    </div>

                    <div class="col-12 col-md-6">
                        <input type="text" id="categoryName" [(ngModel)]="businessname" (input)="clearError()" > 
                        <div *ngIf="errorMessage"
                            class=" alert alert-danger d-flex justify-content-between align-items-center mt-3"
                            style="position: relative;font-size: 11px;">
                            {{ errorMessage }}
                            <i class="fa fa-close close-icon" style="cursor: pointer;font-size: 11px"
                                (click)="errorToggle()"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="d-flex justify-content-center align-item-center mx-5 mb-4">
        <button type="button" class="btn btn-danger me-2" (click)="toggleedit()">Cancel</button>
        <button type="submit" class="btn btn-success" (click)="submit()">Create</button>
    </div>
</div>