.tab {
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.tab:hover {
    background-color: #007bff;
    color: white;
    // font-size: 18px;
    font-weight: bold;
}

.tab.active {

    color: rgb(230, 27, 196);
    // font-size: large;
    font-weight: bold;
    border-color: #007bff;
}

.Tab h3 {
    text-align: center;
}

.tablist {
    height: 50px;
    // background-color: antiquewhite;
}

.display {
    display: flex;
}

.commission {
    padding: 15px;
    // max-height: fit-content;
    // position: absolute;
    z-index: 1000;
    // overflow: scroll;
}

p {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 20px;
    background-color: antiquewhite;
}

.border {
    padding: 1rem;

}

button.example-custom-date-class {
    background: orange;
    border-radius: 100%;
}

.checkbox-content input {
    // margin: 0 10px 0px 5px;
    accent-color: white;
}

.checkbox-content {
    .form-check-input:checked {
        background-color: #09a223;
        border-color: #09a223;
    }
}

.checkbox-content input:checked {
    accent-color: #09a223;
}

.box {
    border: 1px ridge;
}

.mobile_button {
    display: flex;
}

.custom-btn {
    background-color: var(--primary-color);
    color: white;

}
.custom-btn :hover {
    font-weight: bold;
}
select,
input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    padding: 0px 12px;
    border-top: 2px solid #b0afaf;
    border-bottom: 0.9px solid lightgray;
    border-left: 0.9px solid lightgray;
    border-right: 0.9px solid lightgray;
}


@media screen and (max-width:560px) {
    .display {
        display: block;
    }

    .mobile_button {
        display: flex;
    }
}

@media screen and (max-width:720px) {
    .display {
        display: block;
    }

    .mobile_button {
        display: flex;
    }
}