.card {
    padding: 17px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1);
}
.display {
    display: block;
}

.display_1 {
    display: flex;
    padding: 0.5rem;
}

.mobile {
    max-height: 500px;
    overflow: scroll;
}
.view {

    box-shadow: 1px 2px 0 0 #989494, -2px 3px 0 0 #ae9e9e, 2px 3px 0px 0 #cbcbcb;
    border: 1px solid lightgrey;
}
label{
    font-size: 16px;
    // color: #1e3c67;
    font-family: sans-serif;
    font-weight: 600;
}
.close-icon {
    font-size: 19px;
    cursor: pointer;
}

.close-icon:hover {
    background-color: var(--primary-color);
    font-size: 17px;
    padding: 2px;
    margin: 0;
    color: white;
    border-radius: 10px;
}

.card-body {
    width: 100%;
}

.card-body input {
    border: 1px solid #1f6764;
    width: auto;
}

.card-body input:hover {
    background-color: var(--body-color);
}

.text-center {
    text-align: center;
}

.span {
    color: var(--primary-color);
    font-size: 19px;
    text-transform: uppercase;
    font-weight: bold;
}
.card {
    padding: 1rem 1rem;
    box-shadow: 1px 2px 0 0 #989494, -2px 3px 0 0 #ae9e9e, 2px 3px 0px 0 #cbcbcb;
    border: 1px solid lightgrey;

}
.p_c_l {
    margin-right: 5rem !important;
}


.form-container1 {
    display: flex;
    // margin: auto;
    flex-direction: column;
    gap: 10px;
}

.form-container {
    display: flex;
    margin: 0 20px;
    flex-direction: column;
    gap: 10px;
    // font-weight: bold;
}

.head {
    padding: 13px;
    background-color: lightcyan;
    height: 50px;
    position: sticky;
    z-index: 100;
    top: 10;

}



.single-row {
    display: flex;
    align-items: center;
}

.label {
    flex: 1;
    text-align: right;
    margin-right: 8px;
    /* Adjust spacing between label and colon */
}

.colon {
    width: 10px;
    text-align: center;
    margin-right: 8px;
    /* Adjust spacing between colon and value */
}

.value {
    flex: 1;
    text-align: left;
}

// --------------------------------------view-------------------------------

.tab {
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.tab:hover {
    background-color: #007bff;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.tab.active {

    color: rgb(230, 27, 196);
    font-size: large;
    font-weight: bold;
    border-color: #007bff;
}

h3 {
    text-align: center;
}
.form-row div {
    flex: 1;
    text-align: center;
}

.form-row span {
    flex: 0;
    margin: 0 10px;
}
