// -----------------------Login Form----------------------------------




::selection {
    background-color: gray;
}

.container {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 400px;
    height: auto;
    background-image: linear-gradient(to bottom, #23503e, #172c4b);
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 0.5rem;
}

.title {
    color: white;
    margin: 1rem 0;
    font-size: 1.3rem;
    text-transform: uppercase;
}

.input {
    margin: 0.5rem 0;
    padding: 1rem 0.5rem;
    width: 20rem;
    background-color: inherit;
    color: white;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    transition: all 400ms;
}

.input:hover {
    background-color: #003b34;
    border: none;
    border-radius: 0.5rem;
}

.btn {
    height: 2.5rem;
    width: 20rem;
    margin-top: 2rem;
    background-color: rgb(197, 195, 192);
    border-radius: 0.5rem;
    border: none;
    font-size: 1rem;
    transition: all 400ms;
    cursor: pointer;

}

.btn:hover {
    background-color: rgb(248, 248, 247);
    box-shadow: none;
}

