.dialog-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

/* Header */
.Head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    color: #243359;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ddd;
}

.close-icon {
    cursor: pointer;
    font-size: 18px;
    color: #243359;
}

.close-icon:hover {
    color: red;
}

/* Body */
.dialog-body {
    flex-grow: 1;
    padding: 1rem 0;
}

.form-label {
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
    color: #243359;
    font-size: 16px;
}

.file-info {
    font-size: 14px;
    color: #666;
}

.file-upload-container {
    display: flex;
    align-items: center;
}

.file-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Footer */
.dialog-footer {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.btn-success {
    width: 100%;
    max-width: 200px;
}


::ng-deep .select2-container {
    width: 250px !important;
}

::ng-deep .select2-container .select2-selection--single {
    height: 50px !important;
    // margin-top: 1%;
    width: 250px !important;
}

::ng-deep .select2-container .select2-selection--single .select2-selection__rendered {
    margin-top: 13px;
}

::ng-deep .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 13px;

}