.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}

.img-fluid {
    width: 100%;
    height: 100%;
}

.form-label {
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
    font-size: 16px;
    color: #243359;
}

.btn {
    background-color: lightblue;
}

