


// ==============================================================================================================================
section {
    border: 1px solid lightgray;
    margin-bottom: 15px;
  }
  
  .display {
    display: flex;
  }
  
  .text2 {
    padding: 0.5rem;
    font-size: 17px;
    // color: #202c2c;
    text-transform: uppercase;
    color: #300a26;
    font-weight: 700;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #31a6f4;
  }
  
  .cardContainer {
    flex-basis: 95%;
    padding: 10px 20px;
    // font-family: "Ubuntu", sans-serif;
    text-transform: capitalize;
    display: flex;
    flex-wrap: wrap;
    background: #cfd1d2;
    // justify-content: space-between;
    gap: 4%;
  }
  
  .card {
    cursor: pointer;
    padding: 20px;
    border-radius: 15px;
    background-color: white;
    // width: 22%;
    flex: 1 1 calc(23.33% - 20px);
    max-width: calc(30.33% - 20px);
    color: grey;
    margin: 15px 0;
    box-shadow: 3px 4px 8px 2px rgba(0, 0, 0, 0.5);
    // display: flex;
    display: -webkit-inline-box;
    // justify-content: space-between;
    gap: 5%;
    // box-sizing: border-box;

  }
  
  .card div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-basis: 70%;
    text-align: left;
  }
  
  .card i {
    background: #b3f0ff;
    color: #00a3cc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    padding: 15px;
    font-size: 20px;
  }
  
  // .card * {
  //   text-wrap: nowrap;
  // }
  .card strong {
    color: black;
    font-weight: 500;
    font-size: 15px;
  }
  
  h5 {
    padding: 0.5rem;
    background-color: #e5f0f0;
    border: 2px solid lightgray;
  }
  
  @media (max-width: 1200px) {
    .cardContainer {
      justify-content: space-between;
      gap: unset;
    }
  
    .card {
        flex: 1 1 calc(60% - 20px); /* Two cards per row */
        max-width: calc(49% - 20px);
    }
  
    .display {
      display: block;
    }
  }
  @media (max-width: 850px) {
    .cardContainer {
      justify-content: space-between;
      gap: unset;
    }
  
    .card {
        flex: 1 1 calc(60% - 20px); /* Two cards per row */
        max-width: calc(49% - 20px);
    }
  
    .display {
      display: block;
    }
  }
  
  @media (max-width: 650px) {
    .cardContainer {
      justify-content: center;
    }
  
    .card {
        flex: 1 1 100%; /* One card per row */
        max-width: 100%;
    }
  
    .display {
      display: block;
    }
  }
  
