<div *ngIf="type == 'all_area' || type == 'area' || type == 'smartcard'">
    <div class="Head d-flex justify-content-between align-items-center mb-3" style="padding: 1rem;">
        <h6>DISCOUNT</h6>
        <i class="fa fa-close close-icon" style="cursor: pointer;" (click)="onNoClick()"></i>
    </div>
    <div class="container">
        <div class="card d-block justify-content-center align-items-center">
            <div class="line mb-2">
                <div class=" col-12 d-flex justify-content-center align-items-center">
                    <div class="col-6 d-flex justify-content-start align-items-center">
                        <span>BASE PACKAGE</span>
                    </div>
                    <div class="col-6">
                        {{data_details?.product_name}}
                    </div>
                </div>
            </div>
            <div class="line mb-2">
                <div class=" col-12 d-flex justify-content-center align-items-center">
                    <div class="col-6 d-flex justify-content-start align-items-center">
                        <span>MSO AMOUNT</span>
                    </div>
                    <div class="col-6">
                        {{data_details?.mso_amount}}
                    </div>
                </div>
            </div>
            <div class="line mb-2">
                <div class="col-12 d-flex justify-content-center align-items-center">
                    <div class="col-6 d-flex justify-content-start align-items-center">
                        <span>OLD CUSTOMER AMOUNT</span>
                    </div>
                    <div class="col-6">
                        {{data_details?.customer_amount}}
                    </div>
                </div>
            </div>
            <div class="line mb-2">
                <div class="col-12 d-flex justify-content-center align-items-center">
                    <div class="col-6 d-flex justify-content-start align-items-center">
                        <span>LCO COMMISSION</span>
                    </div>
                    <div class="col-6">
                        {{data_details?.new_commission_value}}
                    </div>
                </div>

            </div>
            <div class="line mb-2">
                <div class="col-12 d-flex justify-content-center align-items-center">
                    <div class="col-6 d-flex justify-content-start align-items-center">
                        <span>CUSTOMER AMOUNT</span>
                    </div>
                    <div class="col-6">
                        <input type="text" [(ngModel)]="new_customeramount" placeholder="Enter customer amount"
                            (input)="clearErrorMessage()" (keypress)="onKeydown($event)">
                        <div *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-center mx-1" style="padding: 10px;">

                <button type="button" class="btn btn-success" (click)="getDiscount()">Update </button>
                &nbsp;
                <button type="button" class="btn btn-danger" (click)="onNoClick()">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- <div *ngIf="type == 'plan'">
    <div class="Head d-flex justify-content-between align-items-center mb-3" style="padding: 1rem;">
        <h6>DISCOUNT</h6>
        <i class="fa fa-close close-icon" style="cursor: pointer;" (click)="onNoClick()"></i>
    </div>
    <div class="container">
        <div class="card d-block justify-content-center align-items-center">
            <div class="line mb-2">
                <div class=" col-12 d-flex justify-content-center align-items-center">
                    <div class="col-6 d-flex justify-content-start align-items-center">
                        <span>BASE PACKAGE</span>
                    </div>
                    <div class="col-6">
                        {{data_details?.product_name}}
                    </div>
                </div>
            </div>

       
            <div class="line mb-2">
                <div class="row justify-content-center align-items-center">
                    <div class="col-2">
                        <span>PLAN</span>
                    </div>
                    <div class="col-2">
                        {{ data_details?.product_name }}
                    </div>
            
                    <div class="col-2">
                        <span>CUSTOMER AMOUNT</span>
                    </div>
                    <div class="col-2">
                        {{ data_details?.customer_amount }}
                    </div>
            
                    <div class="col-2">
                        <span>CURRENT AMOUNT</span>
                    </div>
                    <div class="col-2">
                        {{ data_details?.current_amount }}
                    </div>
            
                    <div class="col-2">
                        <span>DISCOUNT</span>
                    </div>
                    <div class="col-2">
                        <input type="text" [(ngModel)]="plandiscount">
                    </div>
            
                    <div class="col-2">
                        <span>LCO COMMISSION</span>
                    </div>
                    <div class="col-2">
                        {{ data_details?.lco_commission }}
                    </div>
                </div>
            </div>
            
       
        </div>
    </div>
</div> -->

<div class="modal-container" *ngIf="type == 'plan'">
    <div class="modal-content">
        <h2 class="modal-title">DISCOUNT</h2>

        <!-- Package Title -->
        <div class="package-header">
            <span class="base-package">BASE PACKAGE</span>
            <span class="prime-package">{{package_name}}</span>
        </div>

        <!-- Discount Table -->
        <div class="table-responsive">
            <table class="table text-center">
                <thead *ngIf="role == 'ROLE_OPERATOR'">
                    <tr>
                        <th>PLAN</th>
                        <th>CUS_AMT</th>
                        <th>CUR_AMT</th>
                        <th>DIS</th>
                        <th>LCO_COM</th>
                    </tr>
                </thead>
                <thead *ngIf="role !== 'ROLE_OPERATOR'">
                    <tr>
                        <th>PLAN</th>
                        <th>CUS_AMT</th>
                        <th>CUR_AMT</th>
                        <th>DIS</th>
                        <th>MSO_COM</th>
                    </tr>
                </thead>
                <tbody *ngFor="let plan of discountPlans">
                    <tr>
                        <td class="plan-name">{{ plan.name }}</td>
                        <td class="customer-amt">{{ plan.customerAmount }}</td>
                        <td class="current-amt">{{ plan.currentAmount }}</td>
                        <td>
                            <input type="text" class="discount-input" [(ngModel)]="plan.discount"
                                (click)="updatePlanDiscount(plan)" (keypress)="onKeydown($event)">
                            <!-- (keypress)="onKeydown($event)" -->
                            <div *ngIf="errorMessage" class="text-danger">{{plan.errorMessage }}</div>
                        </td>
                        <td class="lco-commission">{{ plan.lcoCommission }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button class="btn update-btn mx-3" (click)="getupdatePlanwiseDiscount()">UPDATE</button>
            <button class="btn cancel-btn" (click)="onNoClick()">CANCEL</button>
        </div>
    </div>
</div>


<div *ngIf="type == 'sub_lco_discount'">
    <div class="Head d-flex justify-content-between align-items-center mb-3" style="padding: 1rem;">
        <h6>DISCOUNT</h6>
        <i class="fa fa-close close-icon" style="cursor: pointer;" (click)="onNoClick()"></i>
    </div>
    <div class="container">
        <div class="card d-block justify-content-center align-items-center">
            <div class="line mb-2">
                <div class=" col-12 d-flex justify-content-center align-items-center">
                    <div class="col-6 d-flex justify-content-start align-items-center">
                        <span>BASE PACKAGE</span>
                    </div>
                    <div class="col-6">
                        {{subLcoDetails?.product_name}}
                    </div>
                </div>
            </div>
            <div class="line mb-2">
                <div class="col-12 d-flex justify-content-center align-items-center">
                    <div class="col-6 d-flex justify-content-start align-items-center">
                        <span>CUSTOMER AMOUNT</span>
                    </div>
                    <div class="col-6">
                        {{subLcoDetails?.customer_amount}}
                    </div>
                </div>
            </div>
            <div class="line mb-2">
                <div class="col-12 d-flex justify-content-center align-items-center">
                    <div class="col-6 d-flex justify-content-start align-items-center">
                        <span>ACTUAL RATE</span>
                    </div>
                    <div class="col-6">
                        {{subLcoDetails?.package_rate}}
                    </div>
                </div>
            </div>
            <div class="line mb-2">
                <div class=" col-12 d-flex justify-content-center align-items-center">
                    <div class="col-6 d-flex justify-content-start align-items-center">
                        <span>MSO RATE</span>
                    </div>
                    <div class="col-6">
                        {{subLcoDetails?.mso_amount}}
                    </div>
                </div>
            </div>
            <div class="line mb-2">
                <div class=" col-12 d-flex justify-content-center align-items-center">
                    <div class="col-6 d-flex justify-content-start align-items-center">
                        <span>SUBLCO RATE</span>
                    </div>
                    <div class="col-6">
                        <span style="color: palevioletred;"> {{subLcoDetails?.lco_commission_amount}}</span>

                    </div>
                </div>
            </div>
            <div class="line mb-2">
                <div class=" col-12 d-flex justify-content-center align-items-center">
                    <div class="col-6 d-flex justify-content-start align-items-center">
                        <span>WITH GST AMOUNT</span>
                    </div>
                    <div class="col-6 d-flex justify-content-start">
                        <input type="checkbox" [(ngModel)]="with_Gst" (change)="validateAmount()"
                            style="width: 20px;height: 20px;">
                    </div>
                </div>
            </div>

            <div class="line mb-2">
                <div class="col-12 d-flex justify-content-center align-items-center">
                    <div class="col-6 d-flex justify-content-start align-items-center">
                        <span>SUB LCO AMOUNT </span>
                    </div>
                    <div class="col-6">
                        <input type="text" [(ngModel)]="new_customeramount" placeholder="Enter SUBLCO Amount"
                            (input)="clearErrorMessage()" (keypress)="onKeydown($event)">
                        <div *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-center mx-1" style="padding: 10px;">
                <button type="button" class="btn btn-success" (click)="getSubLcoDiscount()">Update </button>
                &nbsp;
                <button type="button" class="btn btn-danger" (click)="onNoClick()">Cancel</button>
            </div>
        </div>
    </div>
</div>



<!-- <div *ngIf="type == 'distributor_discount'">
    <div class="Head d-flex justify-content-between align-items-center mb-3" style="padding: 1rem;">
        <h6>DISCOUNT</h6>
        <i class="fa fa-close close-icon" style="cursor: pointer;" (click)="onNoClick()"></i>
    </div>
    <div class="container">
        <div class="card d-block justify-content-center align-items-center">
            <div class="line mb-2">
                <div class=" col-12 d-flex justify-content-center align-items-center">
                    <div class="col-6 d-flex justify-content-start align-items-center">
                        <span> PACKAGE NAME</span>
                    </div>
                    <div class="col-6">
                        {{data_details?.product_name}}
                    </div>
                </div>
            </div>
            <div class="line mb-2">
                <div class=" col-12 d-flex justify-content-center align-items-center">
                    <div class="col-6 d-flex justify-content-start align-items-center">
                        <span>LCO NAME</span>
                    </div>
                    <div class="col-6">
                        {{data_details?.mso_amount}}
                    </div>
                </div>
            </div>

            <div class="line mb-2">
                <div class="col-12 d-flex justify-content-center align-items-center">
                    <div class="col-6 d-flex justify-content-start align-items-center">
                        <span>CUSTOMER AMOUNT</span>
                    </div>
                    <div class="col-6">
                        <input type="text" [(ngModel)]="new_customeramount" placeholder="Enter customer amount"
                            (keypress)="onKeydown($event)">
                    </div>
                </div>
            </div>
            <div class="line mb-2">
                <div class="col-12 d-flex justify-content-center align-items-center">
                    <div class="col-6 d-flex justify-content-start align-items-center">
                        <span>MSO AMOUNT</span>
                    </div>
                    <div class="col-6">
                        {{data_details?.customer_amount}}
                    </div>
                </div>
            </div>
            <div class="line mb-2">
                <div class="col-12 d-flex justify-content-center align-items-center">
                    <div class="col-6 d-flex justify-content-start align-items-center">
                        <span>LOG RATE</span>
                    </div>
                    <div class="col-6">
                        <input type="text" placeholder="Enter Amount">
                    </div>
                </div>

            </div>
            <div class="d-flex justify-content-center align-items-center mx-1" style="padding: 10px;">

                <button type="button" class="btn btn-success" (click)="getDistributorDiscount()">Submit </button>
                &nbsp;
                <button type="button" class="btn btn-danger" (click)="onNoClick()">No</button>
            </div>
        </div>
    </div>
</div> -->