.tab {
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.img {
    width: 50px;
}

p {
    font-size: 20px;
}

.file {
    outline: 2px ridge;
    /* Applies a 2px wide dotted outline */
    background-color: #f4f0a3;
}


.checkbox-content input {
    margin: 0 10px 0px 5px;
    accent-color: white;
}

.checkbox-content {
    .form-check-input:checked {
        background-color: #09a223;
        border-color: #09a223;
    }
}


.checkbox-content input:checked {
    accent-color: #09a223;
}
.commission {
    padding: 15px;
    // max-height: fit-content;
    // position: absolute;
    z-index: 1000;
    // overflow: scroll;
}
.title p {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 20px;
    background-color: antiquewhite;
}