<div class="Head d-flex justify-content-between align-items-center mb-3" style="padding: 1rem;">
    <h6>UPDATE ADDON PACKAGE</h6>
    <i class="fa fa-close close-icon" style="cursor: pointer;" (click)="onNoClick()"></i>
</div>
<div class="col-12 col-md-12" style="padding: 1rem;">
    <div class="mobile">
        <div class="input_box col-12 col-md-12 display mb-1">
            <div class="col-12 col-md-6 ">
                <span>Package Name</span>
            </div>
            <div class="col-12 col-md-6 ">
                <input matInput class="" id="addon_package_name" style="height: 50px;" [(ngModel)]="addon_package_name">
            </div>
        </div>
        <div class="input_box col-12 col-md-12 display mb-1">
            <div class="col-12 col-md-6 ">
                <span>Package Rate</span>
            </div>
            <div class="col-12 col-md-6">
                <input type="text" id="addon_package_rate" class="" maxlength="10" pattern="[0-9]*"
                    (keydown)="onKeydown2($event)" [(ngModel)]="addon_package_rate">
            </div>
        </div>
        <div class="input_box col-12 col-md-12 display mb-1">
            <div class="col-12 col-md-6 ">
                <span>Broadcaster </span>
            </div>
            <div class="col-12 col-md-6">
                <!-- <select [(ngModel)]="broadcaster_id" class="form-select" (change)="onBroadcasterChange($event)">
                    <option *ngFor="let broadcaster of broadcaster_list" [value]="broadcaster.value.id">
                        {{ broadcaster.value.broadcastername }}
                    </option>
                </select> -->
                <select id="broadcaster" [(ngModel)]="broadcaster_id" class="form-select">
                    <option value="0"> Select a Broadcastername</option>
                    <option *ngFor="let broadcaster of broadcaster_list" [value]="broadcaster.value.id"
                        (ngModelChange)="onBroadcasterChange(broadcaster.value.id)">
                        {{broadcaster.value.broadcastername}}</option>
                </select>
            </div>
        </div>
        <div class="input_box col-12 col-md-12 display mb-1">
            <div class="col-12 col-md-6 ">
                <span>Description</span>
            </div>
            <div class="col-12 col-md-6">
                <input matInput class="" id="addon_package_description" style="height: 50px;"
                    [(ngModel)]="addon_package_description">
            </div>
        </div>
        <div class="input_box col-12 col-md-12 display mb-1">
            <div class="col-12 col-md-6 ">
                <span>Reference Id</span>
            </div>
            <div class="col-12 col-md-6">
                <input type="text" id="order_id" class="" [disabled]="true" [(ngModel)]="order_id">
            </div>
        </div>

        <div class="input_box col-12 col-md-12 display mb-1">
            <div class="col-12 col-md-6 ">
                <span>Commission</span>
            </div>
            <div class="col-12 col-md-6">
                <input type="text" id="commission" class="" maxlength="10" (input)="onKeydown1($event)"
                    (focus)="onFocus()" (blur)="onBlur()" [value]="commission || '0'" [(ngModel)]="commission">
            </div>
        </div>
        <br />
        <div class="input_box col-12 col-md-12 display mb-1">
            <div class="col-12 col-md-6 ">
                <span>Is percentage</span>
            </div>
            <!-- <div class="col-12 col-md-6">
                <div class="toggle-button-cover">
                    <div class="button b2" id="button-10">
                        <input type="checkbox" class="checkbox" checked id="ispercentage" [(ngModel)]="ispercentage" />
                        <div class="knobs">
                            <span>YES</span>
                        </div>
                        <div class="layer"></div>
                    </div>
                </div>
            </div> -->
            <div class="radiocs">
                <div class="tabs">
                    <input value="true" name="fav_language" id="html" type="radio" class="input1"
                        [checked]="ispercentage" (change)="percentageChange(true)" />
                    <label for="html" class="label"><span
                            style="z-index: 1000;color:white;margin-top:4px">Yes</span></label>
                    <input value="false" name="fav_language" id="css" type="radio" class="input1"
                        [checked]="!ispercentage" (change)="percentageChange(false)" />
                    <label for="css" class="label"><span
                            style="z-index: 1000;color:white;margin-top:4px">No</span></label>
                </div>
            </div>
        </div>
    </div>
    <p class="errorcase" *ngIf="!ispercentage && invalid">*Note: Fixed commission must be less than or equal to
        the Package rate!!</p>
    <p class="errorcase" *ngIf="ispercentage && invalid">*Note: Commission percentage must be between 0 and
        100!!</p>
</div>
<div class="input_box d-flex justify-content-center align-items-center mb-3" style="padding: 1rem;">
    <button type="button" class="btn btn-primary me-2" [disabled]="invalid"
        (click)="Update_Addon_package()">Update</button>
    <button type="button" class="btn btn-secondary " (click)="onNoClick()">Cancel</button>
</div>