// ------------------------------------------AREA UPDATION-------------------------------------------

h1 {
    text-align: center;
}



.table1 p,
.table2 p {
    justify-content: center;
    align-items: center;
    // width: 80%;
}

.table1 p,
.table2 p {
    padding: 5px;
    text-align: center;
    background-color: #424847;
}



.example-container {
    max-height: 400px;
    overflow: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}




.btn {
    width: 50px;
    padding: 1px;
    background-color: #4097a5;
    color: #fff;
    margin: 5px;
    /* Add margin to create space between buttons */
}

.btn:hover {
    color: black;
}


h1 {
    text-align: center;
    margin-bottom: 1rem;
}

.card {
    height: 70vh;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    width: 100%;
}

.table1,
.table2 {
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 0.25rem;
}

.example-box.selected {
    background-color: #e861ec;
}



.example-list {
    width: 100%;
    min-height: 100px;
    // border: 1px solid #ccc;
    background: #f9f9f9;
    // display: flex;
    // flex-direction: column;
    padding: 10px;
}

.example-box {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    background: #fff;
    cursor: move;
}

.displaybtn {
    display: grid;
}

.profile {
    height: 1pc;
    width: 1pc;
    background-color: rgb(222, 241, 241);
}

// .mobile {
//     max-height: 500px;
//     overflow: auto;
// }

.example-list {
    border: 1px solid #ccc;
    min-height: 200px;
    max-height: 300px;
    // padding: 10px;
    overflow-y: auto;
    background-color: #f9f9f9;
}

.example-box {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    background-color: #fff;
    cursor: move;
    user-select: none;
}

.example-box.selected {
    background-color: #e861ec;
}
.example-box:last-child {
    border: none;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

@media (max-width: 767.98px) {
    //     .d-flex {
    //         // flex-direction: column;
    //     }

    .mobile {
        max-height: 600px;
        overflow: auto;
    }

    //     .displaybtn {
    //         display: flex !important;
    //     }

    //     .card {
    //         height: 50vh;
    //         padding: 1rem;
    //         border: 1px solid #ddd;
    //         border-radius: 0.25rem;
    //     }
}


@media (max-width: 560px) {
    .d-flex {
        flex-direction: row;
    }

    // .display {
    //     display: grid;
    // }
    // .displaybtn {
    //     display: flex !important;
    // }

    .example-container {
        max-height: 310px !important;
        overflow: auto;
    }

    .card {
        height: 50vh;
        padding: 1rem;
        border: 1px solid #ddd;
        border-radius: 0.25rem;
    }

    .mobile {
        max-height: 600px;
        overflow: auto;
    }
}

@media screen and (max-width:770px) {
    .displaybtn {
        display: flex !important;
    }
}