.tab {
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.tab:hover {
    background-color: #2f7681;
    color: white;
    font-weight: bold;
}

.tab.active {
    color: white;
    font-size: 15spx;
    font-weight: bold;
    background-color: #2f7681;
    // border-color: #007bff;
}

.display {
    display: flex;
}



.save {
    height: 70px;
}

.btn-outline-success {
    color: #203064;
    border-color: #203064;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #203064;
    border-color: #203064;
}

.cas {
    text-transform: uppercase;
    font-size: medium;
    // font-weight: bold;
}

::ng-deep .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
    padding-right: 0;
    margin-top: 5% !important;
}

@media screen and (max-width:560px) {
    .display {
        display: block;
        margin-bottom: 10px;
        align-items: center;
    }
}

.example-month-picker .mat-calendar-period-button {
    pointer-events: none;
}

.example-month-picker .mat-calendar-arrow {
    display: none;
}