<div class="chart">
    <h4>BASE PACK MANAGE</h4>
    <div class="row">
        <div class="">
            <div class="col d-flex justify-content-center align-items-center mb-3">
                <a class="btn btn-success mx-1  bttn" (click)="addnew()">
                    <span>+</span> New
                </a>
            </div>

            <div class="col-12 col-sm-10  align-items-center justify-content-center responsive-container" style="margin: auto;">
           
                <ag-grid-angular #agGrid id="myGrid" domLayout='autoHeight' class="ag-theme-alpine table-class" style="max-height: 775px;overflow: scroll;" 
                rowAnimation [gridOptions]="gridOptions" [columnDefs]="columnDefs" [rowData]="rowData"
                [enableCellTextSelection]="true">
            </ag-grid-angular>
            </div>
        </div>
    </div>
</div>