<section>
    <div class="input_box col-12 col-md-6 d-flex align-items-center mb-2">
        <div class="col-6 col-md-3 justify-content-end align-items-center ">
            <span class="mb-2 mr-2">STATUS </span>
        </div>
        <div class="col-6 col-md-3">
            <select id="subscriber_list" [(ngModel)]="selectedStatusId" (change)="onSubscriberStatusChange()">
                <option value="-1" selected>Select Subscriber List</option>
                <option value="0">NEW </option>
                <option value="5">INACTIVE </option>
                <option value="1">ACTIVE </option>
                <option value="2">DEACTIVE </option>
                <option value="3">SUSPEND </option>
                <option value="4">BLOCK </option>
            </select>
        </div>
    </div>
    <h3>SUBSCRIBER DETAILS</h3>
    <div class="col-12 align-items-center justify-content-center responsive-container" style="margin: auto; ">
        <ag-grid-angular #agGrid id="myGrid" domLayout='autoHeight' class="ag-theme-alpine table-class" rowAnimation
            [gridOptions]="gridOptions" [columnDefs]="columnDefs" (gridReady)="onGridReady($event)" [rowData]="rowData"
            [enableCellTextSelection]="true">
        </ag-grid-angular>
    </div>
</section>