<div>

    <div class="Head d-flex justify-content-between align-items-center mb-3" style="padding: 1rem;">
        <!-- <h6>ALLOCATED SMARTCARD TO LCO</h6> -->
        <h6>ALLOCATE SMARTCARD TO LCO</h6>
        <i class="fa fa-close close-icon" style="cursor: pointer;" (click)="onNoClick()"></i>
    </div>
    <div class="display justify-content-center align-items-center" style="padding: 1rem;">
        <div class=" input_box col-12 d-flex justify-content-center align-items-center mb-3">
            <div class="col-4">
                <label>Lco Name</label>
            </div>
            <div class=" col-8">
                <div class="">
                    <input type="text" matInput [matAutocomplete]="auto" [(ngModel)]="selectedLcoName"
                        (input)="filterOperators($event)" placeholder="Select a Operator"
                        [matAutocompleteDisabled]="false" [value]="selectedOperator?.name">

                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayOperator">
                        <mat-option *ngFor="let operator of filteredOperators" [value]="operator.value"
                            (click)="onSubscriberStatusChange(operator)">
                            {{ operator.name }}
                        </mat-option>
                    </mat-autocomplete>
                    <div *ngIf="submitted && !selectedLcoName" class="text-danger" style="font-size: small;">
                        LCO Name is required
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="isemi" class=" col-12 d-flex justify-content-center align-items-center mb-3">
            <div class="input_box col-4">
                <label>EMI</label>
            </div>
            <div class=" col-8">
                <div class="">
                    <input type="checkbox"  [(ngModel)]="sub_ismei" style="width: 35px;height: 20px;">
                </div>
            </div>
        </div>
        <div *ngIf="isemi" class=" input_box col-12 d-flex justify-content-center align-items-center mb-3">
            <div class="col-4">
                <label>Due Amount</label>
            </div>
            <div class=" col-8">
                <div class="">
                    <input type="text" [disabled]="!sub_ismei" [(ngModel)]="dueAmount" (input)="filterOperators($event)" (keypress)="onKeydown($event)"
                        placeholder="Enter Due Amount">
             
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center align-items-center" style="padding: 10px;">
        <button type="button" class="btn" (click)="Submit()"><i class="fa fa-plus" aria-hidden="true"></i>
            ALLOCATE
        </button>

    </div>
</div>