

.mobile {
    padding: 1rem;
    border: 1px solid lightgrey;
}

.display {
    display: flex;
}
.input_box {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    height: 100%;            /* Ensure the height takes up the entire container */
}
 label::after {
    content: " *";
    color: red;
}
.file-upload-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    text-align: center;      /* Center text inside the container if needed */
    height: 100%;            /* Full height of the container */
}

@media screen and (max-width: 560px) {
   .display{
    display: block;
   }
}
::ng-deep .select2-container {
    width: 100% !important;
}

::ng-deep .select2-container .select2-selection--single {
    height: 50px !important;
    // margin-top: 1%;
    // width: 250px !important;
}

::ng-deep .select2-container .select2-selection--single .select2-selection__rendered {
    margin-top: 13px;
}

::ng-deep .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 13px;

}