.head {
    padding: 13px;
    background-color: lightcyan;
    height: 50px;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

.head span {
    color: var(--primary-color);
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
}

.close-icon {
    font-size: 19px;
    cursor: pointer;
}

.close-icon:hover {
    background-color: var(--primary-color);
    font-size: 17px;
    padding: 2px;
    margin: 0;
    color: white;
    border-radius: 10px;
}

.lco {
    // width: 30%;
    // padding: 15px;
    padding: 1rem;
    background: rgb(181, 247, 236);
    margin: auto;
}

.btn-infos {
    background-color: rgb(123 158 102);
    border: 1px solid rgb(6, 4, 136);
    color: #ffffff;
}

.btn-infos:hover,
.btn-success:hover {
    color: rgb(209, 10, 43);
}


.title {
    flex: 1;
}
.lco label {
    flex-grow: 1;
    text-align: left;
    color: #0e21f3;
    font-size: medium;
    font-weight: 400;
}

.lco span {
    flex-grow: 1;
    text-align: center;
}

.lco .value {
    font-size: x-large;
    font-weight: bold;
}




.head {
    font-size: 1.2rem; 
}

.close-icon {
    cursor: pointer;
}

.ag-theme-quartz {
    width: 100%; 
    max-height: 500px; 
}

.lco {
    padding: 1rem;
}

.value {
    font-weight: bold; 
}

.btn-infos {
    white-space: nowrap;
}

.form-select {
    width: 50%; 
}

@media (max-width: 576px) {
    .head {
        font-size: 1rem; 
    }

    .ag-theme-quartz {
        max-height: 300px; 
    }

    .lco {
        padding: 0.5rem; 
    }

}

.gridtable {
    ::ng-deep .ag-header {}

    ::ng-deep .ag-header {
        max-height: 200px;
    }
}

// ================================Select 2===============================


::ng-deep .select2-container {
  width: 300px !important;
}
::ng-deep .select2-container .select2-selection--single {
  height: 45px !important;
  margin-top: 1%;
}

::ng-deep .select2-container .select2-selection--single .select2-selection__rendered {
  margin-top: 7px;
}

::ng-deep .select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 10px;
}