<section>
    <div class="head d-flex justify-content-between align-items-center mb-3">
        <span class="title">CHANGE LCO MEMBERSHIP</span>
        <i class="fa fa-close close-icon" (click)="onNoClick()"></i>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 mb-3 mb-md-0">
                <ag-grid-angular #agGrid id="myGrid" style="text-align: center;" domLayout='autoHeight'
                    class="ag-theme-alpine table-class" rowAnimation [gridOptions]="gridOptions" [columnDefs]="columnDefs"
                    [rowData]="rowData" [enableCellTextSelection]="true">
                </ag-grid-angular>
            </div>
            <div class="col-12 col-md-6 mb-3 mb-md-0">
                <div class="lco d-flex flex-column">
                    <!-- LCO's IN NUMBERS Section -->
                    <div class="d-flex flex-column flex-md-row justify-content-between align-items-start mb-3">
                        <label class="flex-grow-1 mb-2 mb-md-0">LCO's IN NUMBERS:</label>
                        <span class="flex-grow-1 text-center value">1</span>
                    </div>
                    <!-- SELECT MEMBERSHIP GROUP Section -->
                    <div class="d-flex flex-column flex-md-row justify-content-between align-items-start mb-3">
                        <label class="flex-grow-1 mb-2 mb-md-0">SELECT MEMBERSHIP GROUP:</label>
                        <select class="form-select flex-grow-1" aria-label="Select Membership Group">
                            <option value="">fsfdf</option>
                            <option value="">erer</option>
                            <option value="">ghgfh</option>
                            <option value="">jghjug</option>
                        </select>
                    </div>
                    <!-- Change Button Section -->
                    <div class="d-flex justify-content-center mt-3">
                        <a class="btn btn-infos" (click)="change()">Change</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>