<section>

    <div class="Head d-flex justify-content-between align-items-center mb-3" style="padding: 1rem;">
        <h6>CHANGE LCO MEMBERSHIP</h6>
        <i class="fa fa-close close-icon" style="cursor: pointer;" (click)="onNoClick()"></i>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 mb-3 mb-md-0">
                <ag-grid-angular #agGrid id="myGrid" style="text-align: center;" domLayout='autoHeight'
                    class="ag-theme-alpine table-class" rowAnimation [gridOptions]="gridOptions"
                    [columnDefs]="columnDefs" [rowData]="rowData" [enableCellTextSelection]="true">
                </ag-grid-angular>
            </div>
            <div class="col-12 col-md-6 mb-3 mb-md-0">
                <div class="lco d-flex flex-column">
                    <div class="d-flex flex-column flex-md-row justify-content-between align-items-start mb-3">
                        <label class="flex-grow-1 mb-2 mb-md-0">LCO's IN NUMBERS:</label>
                        <span class="flex-grow-1 text-center value">{{rowData.length}}</span>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between align-items-start mb-3">
                        <label class="flex-grow-1 mb-2 mb-md-0">SELECT MEMBERSHIP GROUP:</label>
                                 <select style="color: rgb(17, 0, 0);" [(ngModel)]="lcomembershipid">
                            <option value="0" selected style="color: rgb(19, 17, 17);">SELECT MEMBERSHIP</option>
                            <option *ngFor="let lcomember of lcomembershipList" [value]="lcomember.value">
                                {{ lcomember.name }}
                            </option>
                        </select>
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        <a class="btn btn-infos" [class.disabled]="lcomembershipid == 0" (click)="change()" [attr.disabled]="lcomembershipid == 0 ? true : null">
                            Change
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>