<!-- SIDEBAR -->
<section id="sidebar">

    <!-- <a class="brand"><img height="38px" style="margin: 0px -6px 0px -15px;"
            [ngStyle]="{'visibility':!isHide?'hidden':'visible'}" src="/assets/images/icons/Logo.png" alt="" srcset="">
        <span style="margin: auto;">RSMS</span></a> -->


    <a (click)="navgetToUrl('/home')" class="brand" [ngClass]="{'sidebar-open': isSidebarOpen}">
        <img height="38px" style="margin: 0px -6px 0px 3px;" [ngStyle]="{'visibility': !isHide ? 'hidden' : 'visible'}"
            src="/assets/images/icons/Logo1.png" alt="" srcset="">
        <h4 class="brand-text" style="margin: 0px 30px;color: #2d584e;"
            [ngStyle]="{'visibility': !isSidebarOpen ? 'visible' : 'hidden'}">RSMS V-7.2.2 </h4>
    </a>

    <ul class="side-menu">

        <!-- ----------------------------------------------------------Admin & Reception role----------------------------------------- -->
        <!-- <li *ngIf="isUser || isReception "><a (click)="navgetToUrl('/home');setActiveTab($event)" class="active"><i
                    class='bx bx-sm bxs-dashboard icon'></i>
                Dashboard</a></li>
        <li *ngIf="isUser  "><a (click)="navgetToUrl('/top_sub_detail');setActiveTab($event)"><i
                    class='bx bx-table bx-sm icon'></i>
                Top Subscription Details</a></li> -->
        <!-- <li><a (click)="navgetToUrl('/operatorlist')" class=""><i class='bx bx-table bx-sm icon'></i>
            Operator</a></li> -->


        <li *ngIf="isUser || isReception ">
            <a class="active"> <i class="bx bxs-home bx-sm icon "></i> Home <i
                    class='bx bx-chevron-right icon-right'></i></a>
            <ul class="side-dropdown">
                <li><a (click)="navgetToUrl('/home');setActiveLinkTab($event)" class="active"> <i
                            class='bx bx-sm bxs-dashboard icon'></i> &nbsp;
                        Dashboard</a></li>
                <li><a (click)="navgetToUrl('/top_subscription');setActiveLinkTab($event)"><i
                            class='bx bx-table bx-sm icon'></i> &nbsp;Top Subscription Details</a></li>
            </ul>
        </li>
        <li *ngIf="isUser || isReception ">
            <a> <i class="bx bx-user bx-sm icon "></i> Operator <i class='bx bx-chevron-right icon-right'></i></a>
            <ul class="side-dropdown">
                <li><a (click)="navgetToUrl('/operator_details');setActiveLinkTab($event)"> <i
                            class='fa fa-fw fa-users  icon'></i> &nbsp;
                        Operator Details</a></li>
                <li><a (click)="navgetToUrl('/lco_recharge');setActiveLinkTab($event)"><i
                            class='fa-solid fa-indian-rupee-sign icon'></i> &nbsp;LCO
                        Recharge</a></li>
            </ul>
        </li>

        <li *ngIf="isUser || isReception ">
            <a><mat-icon class="icon">local_library</mat-icon> Subscriber <i
                    class='bx bx-chevron-right icon-right'></i></a>
            <ul class="side-dropdown">
                <li><a (click)="navgetToUrl('/Create_sub');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-plus icon">&nbsp;</i>Create Subscriber
                    </a> </li>
                <li><a (click)="navgetToUrl('/subscriber');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-user on icon">&nbsp;</i>
                        Subscriber Details</a></li>
                <li><a (click)="navgetToUrl('/expiry');setActiveLinkTab($event)"><i
                            class="fa fas fa-user-alt-slash icon">&nbsp;</i> Expiry
                        Details </a>
                </li>
            </ul>
        </li>

        <li *ngIf="isUser ">
            <a> <i class="bx bx-network-chart bx-sm icon "></i> Cas Operation <i
                    class='bx bx-chevron-right icon-right'></i></a>
            <ul class="side-dropdown">
                <li><a (click)="navgetToUrl('/finger_print');setActiveLinkTab($event)"><i
                            class="fas fa-fingerprint fa-lg icon ">&nbsp;</i>Finger
                        Print</a> </li>
                <li><a (click)="navgetToUrl('/scrolling');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-gear icon">&nbsp;</i>Scrolling </a>
                </li>
                <li><a (click)="navgetToUrl('/message');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-envelope icon">&nbsp;</i>
                        Message Details</a></li>
                <li><a (click)="navgetToUrl('/fource_tuning');setActiveLinkTab($event)"> <i
                            class="fa fa-fw fa-circle-o icon">&nbsp;</i>Force
                        Tuning </a></li>
                <li><a (click)="navgetToUrl('/mail');setActiveLinkTab($event)"> <i
                            class="fa fa-fw fa-comments icon">&nbsp;</i> Mail </a></li>
            </ul>
        </li>
        <li *ngIf="isUser  ">
            <a> <mat-icon class="icon">personal_video</mat-icon> Channel Setting <i
                    class='bx bx-chevron-right icon-right'></i></a>
            <ul class="side-dropdown">
                <li><a (click)="navgetToUrl('/Broadcast');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-bullhorn icon">&nbsp;</i>Broadcaster
                        Master
                    </a> </li>
                <li><a (click)="navgetToUrl('/Distributer');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-sitemap icon ">&nbsp;</i>Distributor
                        Master </a> </li>
                <li><a (click)="navgetToUrl('/Channeltype');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-envelope icon">&nbsp;</i> Channel
                        Type Master </a></li>
                <li><a (click)="navgetToUrl('/categery');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-circle-o icon ">&nbsp;</i> Category
                        Master </a></li>
                <li><a (click)="navgetToUrl('/Channel');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-comments icon ">&nbsp;</i> Channel</a>
                </li>
                <li><a (click)="navgetToUrl('/PackageCreation');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-th icon ">&nbsp;</i>Package
                        Creation </a></li>
                <li><a (click)="navgetToUrl('/Addon');setActiveLinkTab($event)"><i
                            class="fa-solid fa-layer-group icon ">&nbsp;</i>Addon Package
                    </a></li>
                <li><a (click)="navgetToUrl('/PackageReference');setActiveLinkTab($event)"><i
                            class="fa-regular fa-snowflake icon ">&nbsp;</i>Package
                        Reference</a></li>
                <li><a (click)="navgetToUrl('/PackageMaster')" (click)="setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-cubes icon ">&nbsp;</i>Package
                        Master </a></li>
                <li><a (click)="navgetToUrl('/LcoCommission');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-th-large icon ">&nbsp;</i>Lco
                        Commission </a></li>
                <li><a (click)="navgetToUrl('/PackagewiseOperator');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-th icon">&nbsp;</i>Packagewise Operator</a></li>
            </ul>
        </li>
        <li *ngIf="isUser || isReception ">
            <a> <mat-icon class="icon">games</mat-icon> Inventory <i class='bx bx-chevron-right icon-right'></i></a>
            <ul class="side-dropdown">
                <li><a (click)="navgetToUrl('/not_allacate_smartcard');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-upload icon ">&nbsp;</i>Not Allocated Smartcard </a> </li>

                <li><a (click)="navgetToUrl('/allocate_smartcard');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-gear icon ">&nbsp;</i>Allocated smartcard </a> </li>

                <li><a (click)="navgetToUrl('/smartcard_declaration');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-thumbs-down icon">&nbsp;</i> Smartcard Deallocation</a></li>

                <li><a (click)="navgetToUrl('/smartcard_reallocation');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-refresh icon ">&nbsp;</i>Smartcard Re Allocation </a></li>

                <li *ngIf="isUser"><a (click)="navgetToUrl('/defective_smart');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-refresh icon ">&nbsp;</i>Defective Smartcard</a></li>

                <li *ngIf="isUser"><a (click)="navgetToUrl('/insert_sub');setActiveLinkTab($event)"><i
                            class="fa-solid fa-fire icon">&nbsp;</i>Insert to Subscriber </a>
                </li>
            </ul>
        </li>
        <!-- <li>
        <a> <i class="fa fa-fw fa-wrench icon "></i> VC/STB master <i
                class='bx bx-chevron-right icon-right'></i></a>
        <ul class="side-dropdown">
            <li><a (click)="navgetToUrl('/chipid')"><i class="fa fa-fw fa-microchip icon ">&nbsp;</i>ChipID and
                    Model
                </a> </li>
            <li><a (click)="navgetToUrl('/stb_bill')"><i class="fa fa-fw fa-dollar icon ">&nbsp;</i>STB Bill
                </a> </li>
        </ul>
    </li> -->
        <li *ngIf="isUser">
            <a> <mat-icon class="icon">featured_play_list</mat-icon> Bulk operation <i
                    class='bx bx-chevron-right icon-right'></i></a>
            <ul class="side-dropdown">
                <li><a (click)="navgetToUrl('/subscriber_import');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-user icon">&nbsp;</i>Subscriber
                        Import </a> </li>
                <li><a (click)="navgetToUrl('/activation');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-plus-square icon ">&nbsp;</i>Activation </a> </li>
                <li><a (click)="navgetToUrl('/deactivation');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-minus-square icon">&nbsp;</i>
                        Deactivation</a></li>
                <li><a (click)="navgetToUrl('/addon_activation');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-plus-square icon">&nbsp;</i>Addon Activation </a></li>
                <li><a (click)="navgetToUrl('/Alacarte_Activation');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-plus-square icon">&nbsp;</i>Alacarte
                        Activation</a></li>
                <li><a (click)="navgetToUrl('/Bulk_Package_Updation');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-circle-o icon">&nbsp;</i>Bulk Package Updation</a>
                </li>
                <li><a (click)="navgetToUrl('/Subscription_Extend');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-cubes icon">&nbsp;</i>Subscription Extend</a>
                </li>
                <li><a (click)="navgetToUrl('/Bulk_Base_Change');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-exchange icon">&nbsp;</i>Bulk
                        Base Change</a>
                </li>
                <li><a (click)="navgetToUrl('/Bulk_Refresh');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-refresh icon">&nbsp;</i>Bulk
                        Refresh</a>
                </li>
                <li><a (click)="navgetToUrl('/Recurring');setActiveLinkTab($event)"><i
                            class="fa-regular fa-registered icon">&nbsp;</i>Recurring</a>
                </li>
            </ul>
        </li>

        <li *ngIf="isUser ">
            <a> <mat-icon class="icon">control_camera</mat-icon> Local Broadcasting <i
                    class='bx bx-chevron-right icon-right'></i></a>
            <ul class="side-dropdown">
                <li><a (click)="navgetToUrl('/payment_channel');setActiveLinkTab($event)"><i
                            class="fa-regular fa-newspaper icon" style="margin-right: 0px;"></i>Payment Channel Master
                    </a>
                </li>
                <li><a (click)="navgetToUrl('/local_payment');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-recycle icon " style="margin-right: 0px;"></i>Local Broadcaster
                        Creation</a> </li>
            </ul>
        </li>
        <li class="mb-3" *ngIf="isUser || isReception ">
            <a> <mat-icon class="icon">assessment</mat-icon> Reports <i class='bx bx-chevron-right icon-right'></i></a>
            <ul class="side-dropdown">
                <li><a (click)="navgetToUrl('/traiReports');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-paper-plane icon">&nbsp;</i>TRAI Reports </a>
                </li>
                <li><a (click)="navgetToUrl('/msoReports');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-qq icon">&nbsp;</i>MSO
                        Reports </a> </li>
                <!-- <li><a (click)="navgetToUrl('/historyReports');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-star icon">&nbsp;</i> HISTORY Reports</a></li> -->

            </ul>
        </li>



        <!-- <li>
            <a style="color: var(--primary-color);font-weight: 600;font-size: 17px;">V-7.0 </a>
       
        </li> -->

        <!-- <h6 style="color: var(--primary-color);font-weight: 600;font-size: 17px;text-align: center;">V-7.1</h6> -->
        <!-- -------------------------------------------------------------Special role----------------------------------------------- -->
        <li *ngIf="isSpecial ">
            <a class="active"> <i class="bx bxs-home bx-sm icon "></i> Home <i
                    class='bx bx-chevron-right icon-right'></i></a>
            <ul class="side-dropdown">
                <li><a (click)="navgetToUrl('/msodetails');setActiveLinkTab($event)" class="active"><i
                            class='bx bx-sm bxs-user-pin icon'></i> &nbsp; MSO Details</a></li>
                <li><a (click)="navgetToUrl('/casmaster');setActiveLinkTab($event)"><i
                            class='bx bx-sm bx-user-circle icon'></i> &nbsp;CAS Master</a></li>
                <li><a (click)="navgetToUrl('/tax');setActiveLinkTab($event)"><i class='bx bx-sm bxs-wrench icon'></i>
                        &nbsp;TAX Master</a>
                </li>
                <li><a (click)="navgetToUrl('/invoice');setActiveLinkTab($event)"><i
                            class='bx bx-sm bxs-calculator icon'></i> &nbsp;Billing</a>
                </li>
                <li><a (click)="navgetToUrl('/special_operator');setActiveLinkTab($event)"><i
                            class='bx bx-sm bx-user icon'></i> &nbsp;Operator</a>
                </li>
                <li><a (click)="navgetToUrl('/proof');setActiveLinkTab($event)"><i
                            class='fa-solid fa-comment-sms icon'></i> &nbsp; Proof Settings</a>
                </li>
            </ul>
        </li>

        <!-- 
        <li *ngIf="isSpecial "><a (click)="navgetToUrl('/msodetails');setActiveTab($event)" class="active">
                <i class='bx bx-sm bxs-dashboard icon'></i>
                <i class='bx bx-sm bxs-user-pin icon'></i>
                MSO Details</a></li>
        <li *ngIf="isSpecial "><a (click)="navgetToUrl('/casmaster');setActiveTab($event)"><i
                    class='bx bx-sm bx-user-circle icon'></i>
                CAS Master</a></li>
        <li *ngIf="isSpecial "><a (click)="navgetToUrl('/tax');setActiveTab($event)"><i
                    class='bx bx-sm bxs-wrench icon'></i>
                TAX Master</a></li>
        <li *ngIf="isSpecial "><a (click)="navgetToUrl('/invoice');setActiveTab($event)"><i
                    class='bx bx-sm bxs-calculator icon'></i>
                Billing</a></li>
        <li *ngIf="isSpecial "><a (click)="navgetToUrl('/special_operator');setActiveTab($event)"><i
                    class='bx bx-sm bx-user icon'></i>
                Operator</a></li>
        <li *ngIf="isSpecial ">
            <a (click)="navgetToUrl('/proof');setActiveTab($event)"> <i class="fa-solid fa-comment-sms icon "
                    style="font-size: 20px;"></i>
                Proof Settings</a>
            <ul class="side-dropdown">
                <li><a (click)="navgetToUrl('/operator_details')" (click)="setActiveTab($event)"> <i
                            class='bx bx-id-card  icon' style="font-size: 20px;"></i> &nbsp;
                        ID Proof</a></li>
                <li><a (click)="navgetToUrl('/lco_recharge')" (click)="setActiveTab($event)"><i
                            class='fa-solid fa-contact-card icon'></i>
                        &nbsp;Address
                        Proof</a></li>
            </ul>
        </li> -->
        <li *ngIf="isSpecial ">
            <a> <i class="bx bx-shape-polygon bx-sm icon "></i> LCO Settings <i
                    class='bx bx-chevron-right icon-right'></i></a>
            <ul class="side-dropdown">
                <!-- <li><a (click)="navgetToUrl('/operator_details')" (click)="setActiveTab($event)"> <i
                            class='fa fa-fw fa-users  icon'></i> &nbsp;
                        Deactive LCO</a></li> -->
                <li><a (click)="navgetToUrl('/Packageplan');setActiveLinkTab($event)"><i
                            class='fa fa-fw fa-inr icon'></i> &nbsp;Package
                        Plan</a></li>
                <li><a (click)="navgetToUrl('/channeldetails');setActiveLinkTab($event)"><i
                            class='fa fa-fw fa-inr icon'></i> &nbsp;Local
                        Channel</a></li>
                <li><a (click)="navgetToUrl('/adsdetails');setActiveLinkTab($event)"><i
                            class='fa fa-fw fa-inr icon'></i> &nbsp;Ads Upload</a>
                </li>
            </ul>
        </li>
        <li *ngIf="isSpecial ">
            <a> <i class="bx bx-building bx-sm icon "></i> Bulk Operation <i
                    class='bx bx-chevron-right icon-right'></i></a>
            <ul class="side-dropdown">
                <li><a (click)="navgetToUrl('/special_bulk_package');setActiveLinkTab($event)"> <i
                            class='fa fa-fw fa-users  icon'></i> &nbsp; Bulk
                        Package Updation</a></li>
                <!-- <li><a (click)="navgetToUrl('/special_lco_package')" (click)="setActiveTab($event)"><i
                            class='fa fa-fw fa-inr icon'></i> &nbsp;LCO & AREA change</a>
                </li> -->
                <li><a (click)="navgetToUrl('/special_area_package');setActiveLinkTab($event)"><i
                            class='fa fa-fw fa-inr icon'></i> &nbsp;LCO & AREA Change</a>
                </li>
                <li><a (click)="navgetToUrl('/special_cancel_subscription');setActiveLinkTab($event)"><i
                            class='fa fa-fw fa-inr icon'></i> &nbsp;Cancel
                        Subscription</a>
                <li><a (click)="navgetToUrl('/special_lcotransfer');setActiveLinkTab($event)"><i
                            class='fa fa-fw fa-inr icon'></i> &nbsp;LCO
                        Transfer</a>
                </li>
            </ul>
        </li>
        <li *ngIf="isSpecial ">
            <a> <i class="bx bx-cog bx-sm icon "></i> Settings <i class='bx bx-chevron-right icon-right'></i></a>
            <ul class="side-dropdown">
                <li><a (click)="navgetToUrl('/loginsettings')" (click)="setActiveLinkTab($event)"> <i
                            class='fa fa-fw fa-users  icon'></i> &nbsp; Login
                        Settings</a></li>
            </ul>
        </li>
        <!-- <li class="mb-3" *ngIf="isSpecial">
            <a> <i class="fa fa-fw fa-history icon "></i> Reports <i class='bx bx-chevron-right icon-right'></i></a>
            <ul class="side-dropdown">
                <li><a (click)="navgetToUrl('/')" (click)="setActiveTab($event)"><i
                            class="fa fa-fw fa-paper-plane icon">&nbsp;</i>Recharge log </a>
                </li>
                <li><a (click)="navgetToUrl('/')" (click)="setActiveTab($event)"><i
                            class="fa fa-fw fa-qq icon">&nbsp;</i>Operator wise Activation
                        Count </a> </li>
                <li><a (click)="navgetToUrl('/')" (click)="setActiveTab($event)"><i
                            class="fa fa-fw fa-star icon">&nbsp;</i> Active/Deactive Count</a>
                </li>
                <li><a (click)="navgetToUrl('/')" (click)="setActiveTab($event)"><i
                            class="fa fa-fw fa-star icon">&nbsp;</i> Datewise Payment
                        Collection</a></li>
                <li><a (click)="navgetToUrl('/')" (click)="setActiveTab($event)"><i
                            class="fa fa-fw fa-star icon">&nbsp;</i>Easebuzz-Exclude GST</a>
                </li>
                <li><a (click)="navgetToUrl('/')" (click)="setActiveTab($event)"><i
                            class="fa fa-fw fa-star icon">&nbsp;</i> Easebuzz-Include GST</a>
                </li>
                <li><a (click)="navgetToUrl('/')" (click)="setActiveTab($event)"><i
                            class="fa fa-fw fa-star icon">&nbsp;</i> All Recharge Deduct
                        Exclude</a></li>
                <li><a (click)="navgetToUrl('/')" (click)="setActiveTab($event)"><i
                            class="fa fa-fw fa-star icon">&nbsp;</i> All Recharge Deduct
                        Include</a></li>
                <li><a (click)="navgetToUrl('/')" (click)="setActiveTab($event)"><i
                            class="fa fa-fw fa-star icon">&nbsp;</i> Easebuzz Datewise Payment
                        Collection</a></li>
                <li><a (click)="navgetToUrl('/')" (click)="setActiveTab($event)"><i
                            class="fa fa-fw fa-star icon">&nbsp;</i> Operator Online
                        Payment</a></li>
                <li><a (click)="navgetToUrl('/')" (click)="setActiveTab($event)"><i
                            class="fa fa-fw fa-star icon">&nbsp;</i> Sublco Online Payment</a>
                </li>
                <li><a (click)="navgetToUrl('/')" (click)="setActiveTab($event)"><i
                            class="fa fa-fw fa-star icon">&nbsp;</i>Easebuzz Online Payment</a>
                </li>
            </ul>
        </li> -->
    </ul>

</section>
<!-- SIDEBAR -->

<!-- NAVBAR -->
<section id="content">
    <!-- NAVBAR -->
    <div class="" style="position: sticky; top: 0;z-index: 10;">

        <div class="nav-sub">
            <div class="nav-container"
                style="z-index: 100; font-size: large; text-transform: capitalize; color: aliceblue; width: 100vw; min-height: 50px; max-height: 65px; background: #2d584e; display: flex; padding: 0 10px; align-items: center;">
                <nav style="color: #f0f0f0">
                    <i class='bx bx-menu toggle-sidebar' style="font-size: 2rem;"></i>

                </nav>
                &nbsp;
                &nbsp;
                &nbsp;
                <div class="nav-content w-100 d-flex justify-content-between align-items-center">
                    <div class="version col-4 col-md-4">
                        <span class="ver" style="  font-size: 1.2em;font-weight: 600;"> {{role}} &nbsp;</span>
                    </div>
                    <div class="search-and-image col-7 col-md-7 d-flex justify-content-end align-items-center">
                        <div class="search">
                            <span class="fa fa-search"></span>
                            <input id="searchitem" #searchitem style="font-size: 14px;" [value]="lcomember"
                                (keyup)="onsubscriberlist( searchitem?.value)"
                                placeholder="Search by smartcard, boxid, mobilenumber or customername or CAF No">
                            <div style="width: 100%;" class="dropdown-menu input"
                                [ngClass]="(subscriberList.length != 0 && searchitem?.value?.length != 0 && showDropdown) ? 'show' : 'hide'"
                                aria-labelledby="dropdownMenuButton">
                                <a (click)="goToSubscriberDashboard(lcomember)" *ngFor="let lcomember of subscriberList"
                                    class="dropdown-item"> {{ lcomember.name }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="d-block">
                        <div class=" d-flex justify-content-between align-items-center mx-2 tooltip-container ">
                            <a (click)="logout()" class="logout ">
                                <i class="fa-solid fa-power-off"></i>
                            </a>
                            <div class="tooltip">LOGOUT</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- NAVBAR -->

    <!-- MAIN -->
    <main>
        <router-outlet></router-outlet>
    </main>
    <!-- MAIN -->

</section>
<!-- NAVBAR -->