.btn {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: var(--gap);
    padding: 0.6rem;
    cursor: pointer;
    border-radius: var(--radius);
    border: none;
    box-shadow: var(--shadow);
    position: relative;
}

.bx {
    font-size: 1.1rem;
}

.dropdown {
    position: absolute;
    width: 250px;
    box-shadow: var(--shadow);
    border-radius: var(--radius);
    margin-top: 1.50rem;
    background: white;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transform: translateY(0.5rem);
    transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
}



.card {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.dropdown a {
    display: flex;
    align-items: center;
    column-gap: var(--gap);
    padding: 0.8rem 1rem;
    text-decoration: none;
    color: black;
    cursor: default;
}

.dropdown .card .password {
    // background-color: #d6ddd6d4;
    cursor: pointer;
}

.dropdown .card .password:hover {
    background-color: var(--blue);
}

.dropdown .card img {
    display: block;
}

.dropdown .card .change {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.dropdown .card .change:hover {
    background-color: var(--blue);
    color: white;

}

.nav-sub a {
    cursor: pointer;
}



.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0rem);
}

.arrow {
    transform: rotate(180deg);
    transition: 0.2s ease;
}

.search {
    position: relative;
    color: #aaa;
    font-size: 16px;
}

.search input {
    width: 670px;
    height: 36px;
    background: white;
    border: 1px solid #cee6d7d2;
    border-radius: 5px;
    box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
    outline: none !important;
}

.ver {
    font-size: medium;
}

.dropdown-menu.input {
    max-height: 600px;
    overflow-y: auto;
    transition: max-height 0.3s ease-in-out;
}

@media screen and (max-width:660px) {
    .search input {
        width: 300px;
        height: 36px;
        // margin: 10px;
        background: white;
        border: 1px solid #cee6d7d2;
        border-radius: 5px;
        box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
        outline: none !important;
    }

    .ver {
        font-size: 0px;
    }

    .ver_type {
        font-size: 20px;
        font-weight: 700;
    }


}

// =====================================================================================================================================
.nav-container {
    display: flex;
    align-items: center;
    padding: 0 10px;
    width: 100vw;
    top: 0;
    z-index: 100;
}



.nav-sub {
    // background: #2d584e;
    background: white;
    display: flex;
    align-items: center;
    grid-gap: 28px;
    position: sticky;
    padding: 5px;
    top: 42px;
    height: 70px;
    // height: 50px;
    left: 0;
    z-index: 99;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
}

.nav-content {
    display: flex;
    justify-content: space-between;
    // width: 100%;
}

.version {
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
}


.search-and-image {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.search {
    display: flex;
    align-items: center;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 5px;

}

.search input {
    border-radius: 4px;
    padding: 5px;
    border: none;
    outline: none;

}

.logout i {
    font-size: 20px;
    color: white;
}

.logout_style {
    // background-color: rgb(79, 106, 119);
    background-color: #06303e;
    border-radius: 10px;
    padding: 0.3rem;
    font-size: 20px;
    width: 100px
}

.logout_style :hover {
    font-weight: bold;
    font-size: 23px;
}

.version span {
    font-size: 1.2em;
    font-weight: 600;
    color: #2d584e
    // color: var(--primary-color);
}

@media screen and (max-width: 1200px) {
    .search input {
        max-width: 360px;
    }
}

@media screen and (max-width: 1000px) {
    .search input {
        max-width: 350px;
    }
}

@media screen and (max-width: 830px) {
    .search input {
        max-width: 250px;
    }
}

@media screen and (max-width: 600px) {
    .search input {
        max-width: 250px !important;
    }
}

@media screen and (max-width: 390px) {
    .search input {
        max-width: 220px !important;
    }
}

@media screen and (max-width: 388px) {
    .search input {
        max-width: 180px !important;
        font-size: 12px;
    }
}

@media screen and (max-width: 760px) {
    #sidebar.hide {
        max-width: 0px;
    }
}

@media screen and (max-width: 320px) {
    .search input {
        max-width: 150px !important;
        font-size: 12px;
    }

    .ver {
        display: none;
    }
}

@media screen and (max-width: 560px) {
    // .version {
    //     margin-bottom: -10px;
    // }

    .version span {
        font-size: 0.9em;
        font-weight: 600;
        // color: #2d584e
        color: var(--primary-color)
    }

    .search {
        flex-grow: 1;
    }

    .search span {
        display: none;
    }

    .brand-text {
        font-size: smaller;
    }

    .logout_style {
        background-color: var(--blue);
        border-radius: 10px;
        padding: 0.3rem;
        width: 0px
    }

    .logout1 {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .version span {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 388px) {
    // .version {
    //     display: none;
    // }
}

// ==============================================================================================================================

.search input {
    text-indent: 5px;
}

.search .fa-search {
    position: absolute;
    right: 20px;
}





// ================================subscriber_list============

.subscriber_list {
    gap: 10px;
    background-color: #b3e6f4;

}

.dropdown-menu.show {
    display: block;
    top: 36px;
    height: auto;
    overflow: scroll;
}

@media screen and (max-width:560px) {
    .dropdown-menu.show {
        display: block;
        top: 48px;
        right: -2pc;
        height: auto;
        overflow: scroll;
        width: 22pc;
    }
}

// ==========================================================================================================

.tooltip {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: -0%;
    left: -50%;
    // top: 100%;
    margin-left: -50px;
    opacity: 0;
    transition: opacity 0.3s;
    width: max-content;
}


// ========================================================================================
.overlay {
    display: flex;
    // position: absolute;
    top: 10;
    left: 0;
    width: 100%;
    height: 100%;
    // background: rgba(0, 0, 0, 0.6);
    justify-content: end;
    align-items: center;
}

.popup {
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 300px;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    text-decoration: none;
    font-size: 20px;
    color: black;
}