<!-- SIDEBAR -->
<section id="sidebar" [class.hide]="!isSidebarOpen">
    <!-- <a (click)="navgetToUrl('/home')" class="brand" [ngClass]="{'sidebar-open': isSidebarOpen}" -->
    <a class="brand" [ngClass]="{'sidebar-open': isSidebarOpen}" style="margin-left: 50px;height: 12%;">
        <!-- <img height="38px" style="margin: 0px -6px 0px 3px;width: 45px;"
            [ngStyle]="{'visibility': !isHide ? 'hidden' : 'visible'}" [src]="msoLogo" alt="" srcset=""> -->
        <!-- src="/assets/images/icons/Logo1.png" -->

        <!-- <h4 class="brand-text" style="margin: 0px 30px;color: #2d584e;"  [ngStyle]="{'visibility': !isSidebarOpen ? 'visible' : 'hidden'}">RSMS V-7.2.2 </h4> -->
        <div class="d-block justify-content-center align-items-center" style="width: 81%;top:5%">

            <!-- --------------------NORMAL---------------- -->
            <!-- <img *ngIf="msoLogo" [src]="msoLogo" alt="MSO Logo"
                style="width: 100px; height: auto;display:flex;margin: auto 40px;"> -->

            <!-- ----------------4K & Deenet--------- -->
            <!-- <img *ngIf="msoLogo" [src]="msoLogo" alt="MSO Logo"
                style="width: 54px; height: auto;display:flex;margin: auto 60px;"> -->
            <img *ngIf="msoLogo" [src]="msoLogo" (error)="msoLogo = null" alt="MSO Logo" class="mb-3"
                style="width: 50px; height: auto; margin: auto 60px;">
            <i *ngIf="!msoLogo" class="fas fa-user-circle fa-2x mb-3"
                style="font-size: 40px; display: flex;justify-content: center ;color:var(--role-color);"></i>
            <!-- ----------------------Normal--------------- -->
            <h5 class="brand-text mb-1" style="margin: 5px 30px;color: var(--primary-color);"
                [ngStyle]="{'visibility': !isSidebarlogo ? 'visible' : 'hidden'}"> {{msoName}} </h5>
            <p class="brand-text"
                style="margin: 0px 30px;color: var(--primary-color);;text-align: center;font-size: 13px;"
                [ngStyle]="{'visibility': !isSidebarlogo ? 'visible' : 'hidden'}"> V-7.2.4 </p>
            <!-- -----------------------------r-digital----------- -->
            <!-- <h5 class="brand-text mb-1" style="margin: 5px 30px;color: #525151"
                [ngStyle]="{'visibility': !isSidebarlogo ? 'visible' : 'hidden'}"> {{msoName}} </h5>
            <p class="brand-text" style="margin: 0px 30px;color: #525151;text-align: center;font-size: 13px;"
                [ngStyle]="{'visibility': !isSidebarlogo ? 'visible' : 'hidden'}"> V-7.2.2 </p> -->
        </div>
    </a>
    <!-- </div> -->

    <hr style="margin: 2rem 0;">
    <ul class="side-menu">

        <!-- ----------------------------------------------------------Admin & Reception role----------------------------------------- -->

        <li *ngIf="(isUser || isReception) && navigationList.dashboard"><a
                (click)="navgetToUrl('/home');setActiveLinkTabList($event)" [class.hide]="!isSidebarOpen"
                class="active nav-link">
                <i class="bx bx-home bx-sm icon "></i>
                Dashboard</a></li>
        <li
            *ngIf="username !=='manikandan' && ((isUser || isReception) && istopsubscription) && navigationList.topsubscription">
            <a (click)="navgetToUrl('/top_subscription');setActiveLinkTabList($event)" [class.hide]="!isSidebarOpen"
                class="nav-link"><i class='bx bx-table bx-sm icon'></i>
                Top Subscription Details</a>
        </li>
        <li
            *ngIf="username !=='manikandan' && ((isUser || isReception) && !istopsubscription ) && navigationList.topsubscription">
            <a (click)="navgetToUrl('/top_sub_detail');setActiveLinkTabList($event)" [class.hide]="!isSidebarOpen"
                class="nav-link"><i class='bx bx-table bx-sm icon'></i>
                Top Subscription Details</a>
        </li>
        <li *ngIf="username =='manikandan' && (isUser || isReception) && navigationList.topsubscription"><a
                (click)="navgetToUrl('/top_sub_detail');setActiveLinkTabList($event)" [class.hide]="!isSidebarOpen"
                class="nav-link"><i class='bx bx-table bx-sm icon'></i>
                Top Subscription Details</a></li>

        <li *ngIf="isReception && navigationList.vcstbmaster"><a
                (click)="navgetToUrl('/smrt_boxid_change');setActiveLinkTab($event)" class="nav-link"><mat-icon
                    class="icon">control_camera</mat-icon>&nbsp;VC/STB Master</a>
        </li>

        <li *ngIf="isInventory ">
            <a (click)="setActiveLinkListTab($event); navgetToUrl('/inventor_inventory')" class="nav-link active">
                <mat-icon class="icon">games</mat-icon> &nbsp; Inventory
            </a>
        </li>
        <li *ngIf="isInventory">
            <a *ngIf="username == 'manikandan'"
                (click)="setActiveLinkListTab($event); navgetToUrl('/inventory_cortonbox_data')" class="nav-link">
                <mat-icon class="icon">event_busy</mat-icon> &nbsp;License Extend
            </a>
            <a *ngIf="username !== 'manikandan'"
                (click)="setActiveLinkListTab($event); navgetToUrl('/inventory_license')" class="nav-link">
                <mat-icon class="icon">event_busy</mat-icon> &nbsp;License Extend
            </a>
        </li>
        <li *ngIf="isInventory">
            <a (click)="setActiveLinkListTab($event); navgetToUrl('/inventory_cortonbox')" class="nav-link">
                <mat-icon class="icon">inventory</mat-icon> &nbsp;Carton Box Upload
            </a>
        </li>

        <li *ngIf="isUser || isReception ">
            <a> <i class="bx bx-user bx-sm icon "></i> Operator <i class='bx bx-chevron-right icon-right'></i></a>
            <ul class="side-dropdown">
                <li *ngIf=" username == 'manikandan' && (!isLco && navigationList.operatordetails)"><a
                        (click)="navgetToUrl('/operator_details');setActiveLinkTab($event)">
                        <i class='fa fa-fw fa-users  icon'></i> &nbsp;
                        Operator Details</a></li>
                <li *ngIf=" username == 'manikandan' &&  (isLco && navigationList.operatordetails)"><a
                        (click)="navgetToUrl('/lco_recharge/1');setActiveLinkTab($event)">
                        <i class='fa fa-fw fa-users  icon'></i> &nbsp;
                        Operator Details</a></li>
                <li *ngIf=" username !== 'manikandan' && (!isLco && navigationList.operatordetails)"><a
                        (click)="navgetToUrl('/operator_details');setActiveLinkTab($event)">
                        <i class='fa fa-fw fa-users  icon'></i> &nbsp;
                        Operator Details</a></li>
                <li *ngIf=" username !== 'manikandan' &&  (isLco && navigationList.operatordetails)"><a
                        (click)="navgetToUrl('/lco_recharge/1');setActiveLinkTab($event)">
                        <i class='fa fa-fw fa-users  icon'></i> &nbsp;
                        Operator Details</a></li>
                <li *ngIf="username !== 'manikandan' &&(islcorecharge && navigationList.lcorecharge)"><a
                        (click)="navgetToUrl('/lco_recharge/2');setActiveLinkTab($event)"><i
                            class='fa-solid fa-indian-rupee-sign icon'></i> &nbsp;LCO Recharge</a></li>
                <li *ngIf="username !== 'manikandan' &&(!islcorecharge && navigationList.lcorecharge)"><a
                        (click)="navgetToUrl('/lcorecharge/1');setActiveLinkTab($event)"><i
                            class='fa-solid fa-indian-rupee-sign icon'></i> &nbsp;LCO Recharge</a></li>

                <li *ngIf="username == 'manikandan' && navigationList.lcorecharge"><a
                        (click)="navgetToUrl('/lcorecharge/1');setActiveLinkTab($event)"><i
                            class='fa-solid fa-indian-rupee-sign icon'></i> &nbsp;LCO Recharge</a></li>


                <li *ngIf="!isReception && username !== 'manikandan'&& msoName == 'AJK' && navigationList.lcorecharge">
                    <a (click)="navgetToUrl('/lco_recharge/3');setActiveLinkTab($event)"><i
                            class='fa fa-fw fa-circle-o icon'></i> &nbsp;Admin Recharge</a>
                </li>
                <li *ngIf="!isReception &&username == 'manikandan' && navigationList.lcorecharge"><a
                        (click)="navgetToUrl('/lcorecharge/2');setActiveLinkTab($event)"><i
                            class='fa fa-fw fa-circle-o icon'></i> &nbsp;Admin Recharge</a></li>
            </ul>
        </li>

        <li *ngIf="isUser || isReception ">
            <a>
                <i class="bx bx-user-pin bx-sm icon "></i>
                Subscriber <i class='bx bx-chevron-right icon-right'></i></a>
            <ul class="side-dropdown">
                <li *ngIf="navigationList.createsubscriber"><a
                        (click)="navgetToUrl('/Create_sub');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-plus icon">&nbsp;</i>Create Subscriber
                    </a> </li>
                <li *ngIf="navigationList.subscriber_details"><a
                        (click)="navgetToUrl('/subscriber');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-user on icon">&nbsp;</i>
                        Subscriber Details</a></li>
                <li *ngIf="isUser">
                    <a (click)="navgetToUrl('/account_info');setActiveLinkTabList($event)" [class.hide]="!isSidebarOpen"
                        class="nav-link"><i class='fa-solid fa-book-open-reader icon'></i>
                        Account Info </a>
                </li>
                <li *ngIf="navigationList.expiry_details"><a
                        (click)="navgetToUrl('/expiry');setActiveLinkTab($event)"><i
                            class="fa fas fa-user-alt-slash icon">&nbsp;</i> Expiry
                        Details </a>
                </li>
            </ul>
        </li>

        <li *ngIf="isUser ">
            <a> <i class="bx bx-network-chart bx-sm icon "></i> Cas Operation <i
                    class='bx bx-chevron-right icon-right'></i></a>
            <ul class="side-dropdown">
                <li *ngIf="navigationList.fingerprint"> <a
                        (click)="navgetToUrl('/finger_print');setActiveLinkTab($event)"><i
                            class="fas fa-fingerprint fa-lg icon ">&nbsp;</i>Finger Print</a> </li>
                <li *ngIf="navigationList.scrolling"><a (click)="navgetToUrl('/scrolling');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-gear icon">&nbsp;</i>Scrolling </a>
                </li>
                <li *ngIf="navigationList.message"><a (click)="navgetToUrl('/message');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-envelope icon">&nbsp;</i>
                        Message Details</a></li>
                <li *ngIf="navigationList.forcetuning"><a
                        (click)="navgetToUrl('/fource_tuning');setActiveLinkTab($event)">
                        <i class="fa fa-fw fa-circle-o icon">&nbsp;</i>Force Tuning </a></li>
                <li *ngIf="navigationList.Mail"><a (click)="navgetToUrl('/mail');setActiveLinkTab($event)"> <i
                            class="fa fa-fw fa-comments icon">&nbsp;</i> Mail </a></li>
            </ul>
        </li>
        <li *ngIf="isUser">
            <a> <mat-icon class="icon">personal_video</mat-icon> Channel Setting <i
                    class='bx bx-chevron-right icon-right'></i></a>
            <ul class="side-dropdown">
                <li *ngIf="navigationList.broadcastermaster"><a
                        (click)="navgetToUrl('/Broadcast');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-bullhorn icon">&nbsp;</i>Broadcaster Master
                    </a> </li>
                <li *ngIf="navigationList.distributormaster"><a
                        (click)="navgetToUrl('/Distributer');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-sitemap icon ">&nbsp;</i>Distributor Master </a> </li>
                <li *ngIf="navigationList.channel_type_master"><a
                        (click)="navgetToUrl('/Channeltype');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-envelope icon">&nbsp;</i> Channel Type Master </a></li>
                <li *ngIf="navigationList.categorymaster"><a
                        (click)="navgetToUrl('/categery');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-circle-o icon ">&nbsp;</i> Category Master </a></li>
                <li *ngIf="navigationList.channel"><a (click)="navgetToUrl('/Channel');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-comments icon ">&nbsp;</i> Channel</a>
                </li>
                <li *ngIf="navigationList.packagecreation"><a
                        (click)="navgetToUrl('/PackageCreation');setActiveLinkTab($event)">
                        <i class="fa fa-fw fa-th icon ">&nbsp;</i>Package Creation </a></li>
                <li *ngIf="navigationList.addon_package_creation"><a
                        (click)="navgetToUrl('/Addon');setActiveLinkTab($event)">
                        <i class="fa-solid fa-layer-group icon ">&nbsp;</i>Addon Package
                    </a></li>
                <li *ngIf="navigationList.packagereference"><a
                        (click)="navgetToUrl('/PackageReference');setActiveLinkTab($event)"><i
                            class="fa-regular fa-snowflake icon ">&nbsp;</i>Package Reference</a></li>
                <li *ngIf="navigationList.packagemaster"><a (click)="navgetToUrl('/PackageMaster')"
                        (click)="setActiveLinkTab($event)"><i class="fa fa-fw fa-cubes icon ">&nbsp;</i>Package Master
                    </a></li>
                <li *ngIf="username == 'manikandan' && navigationList.lcocommission"><a
                        (click)="navgetToUrl('/LcoCommission');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-th-large icon ">&nbsp;</i>Lco Commission </a></li>
                <li *ngIf="username !== 'manikandan' && navigationList.lcocommission"><a
                        (click)="navgetToUrl('/LcoCommission_credential');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-th-large icon ">&nbsp;</i>Lco Commission </a></li>
                <li><a (click)="navgetToUrl('/lcoCommissionDashboard');setActiveLinkTab($event)" class="nav-link">
                        <i class='fas fa-tags icon'></i>&nbsp;Discount</a>
                </li>
                <li *ngIf="navigationList.packagewise_operator"><a
                        (click)="navgetToUrl('/PackagewiseOperator');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-th icon">&nbsp;</i>Packagewise Operator</a></li>
            </ul>
        </li>

        <!-- ---------------------------------------vc----------------- -->
        <li *ngIf="isUser">
            <a> <mat-icon class="icon">control_camera</mat-icon>VC/STB Master <i
                    class='bx bx-chevron-right icon-right'></i></a>
            <ul class="side-dropdown">
                <li *ngIf="navigationList.chipidmodel"><a (click)="navgetToUrl('/chipid');setActiveLinkTab($event)"><i
                            class="fa-regular fa-newspaper icon" style="margin-right: 0px;"></i>Chip ID and Model
                    </a>
                </li>
            </ul>
        </li>
        <!-- ------------------------------------------------------------- -->
        <li *ngIf="isUser || isReception ">
            <a> <mat-icon class="icon">games</mat-icon> Inventory <i class='bx bx-chevron-right icon-right'></i></a>
            <ul class="side-dropdown">
                <li *ngIf="navigationList.notallocated_smartcard"><a
                        (click)="navgetToUrl('/not_allacate_smartcard');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-upload icon ">&nbsp;</i>Not Allocated Smartcard </a> </li>

                <li *ngIf="navigationList.allocated_smartcard"><a
                        (click)="navgetToUrl('/allocate_smartcard');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-gear icon ">&nbsp;</i>Allocated smartcard </a> </li>

                <li *ngIf="navigationList.smartcard_deallocation"><a
                        (click)="navgetToUrl('/smartcard_declaration');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-thumbs-down icon">&nbsp;</i> Smartcard Deallocation</a></li>

                <li *ngIf="navigationList.smartcard_reallocation"><a
                        (click)="navgetToUrl('/smartcard_reallocation');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-refresh icon ">&nbsp;</i>Smartcard Re Allocation </a></li>

                <li *ngIf="isUser && navigationList.bulk_deactivation"><a
                        (click)="navgetToUrl('/defective_smart');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-refresh icon ">&nbsp;</i>Defective Smartcard</a></li>

                <li *ngIf="isUser && navigationList.insert_to_subscriber"><a
                        (click)="navgetToUrl('/insert_sub');setActiveLinkTab($event)"><i
                            class="fa-solid fa-fire icon">&nbsp;</i>Insert to Subscriber </a>
                </li>
            </ul>
        </li>

        <li *ngIf="isUser">
            <a>
                <i class="bx bx-briefcase bx-sm icon "></i>
                Bulk operation <i class='bx bx-chevron-right icon-right'></i></a>
            <ul class="side-dropdown">
                <li *ngIf="navigationList.bulk_subscriber_import"><a
                        (click)="navgetToUrl('/subscriber_import');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-user icon">&nbsp;</i>Subscriber Import </a> </li>
                <li *ngIf="navigationList.bulk_activation"><a
                        (click)="navgetToUrl('/activation');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-plus-square icon ">&nbsp;</i>Activation </a> </li>
                <li *ngIf="navigationList.bulk_deactivation"><a
                        (click)="navgetToUrl('/deactivation');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-minus-square icon">&nbsp;</i> Deactivation</a></li>
                <li *ngIf="navigationList.bulk_smartcard_refresh"><a
                        (click)="navgetToUrl('/smartcard_refresh');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-solid fa-gears icon ">&nbsp;</i>Bulk Smartcard Refresh </a> </li>
                <li *ngIf="navigationList.bulk_addon_activation"><a
                        (click)="navgetToUrl('/addon_activation');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-plus-square icon">&nbsp;</i>Addon Activation </a></li>
                <li *ngIf="navigationList.bulk_alacarte_activation"><a
                        (click)="navgetToUrl('/Alacarte_Activation');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-plus-square icon">&nbsp;</i>Alacarte Activation</a></li>
                <li *ngIf="navigationList.bulk_package_updation"><a
                        (click)="navgetToUrl('/Bulk_Package_Updation');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-circle-o icon">&nbsp;</i>Bulk Package Updation</a></li>
                <li *ngIf="navigationList.bulk_operatro_creation"><a
                        (click)="navgetToUrl('/bulk_smartcard_creation');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-solid fa-users icon ">&nbsp;</i>Bulk Operator Creation </a> </li>
                <li *ngIf="navigationList.bulk_subscription_extend"><a
                        (click)="navgetToUrl('/Subscription_Extend');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-cubes icon">&nbsp;</i>Subscription Extend</a> </li>
                <li *ngIf="navigationList.bulk_base_change"><a
                        (click)="navgetToUrl('/Bulk_Base_Change');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-exchange icon">&nbsp;</i>Bulk Base Change</a> </li>
                <li *ngIf="navigationList.bulk_reactivate"><a
                        (click)="navgetToUrl('/Bulk_Refresh');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-refresh icon">&nbsp;</i>Bulk Reactive</a> </li>
                <li *ngIf="navigationList.bulk_recurring"><a
                        (click)="navgetToUrl('/Recurring');setActiveLinkTab($event)"><i
                            class="fa-regular fa-registered icon">&nbsp;</i>Recurring</a> </li>
                <li *ngIf="navigationList.bulk_lco_transfer"><a
                        (click)="navgetToUrl('/special_lcotransfer');setActiveLinkTab($event)">
                        <i class='fas fa-exchange-alt icon'></i> &nbsp;LCO Transfer</a></li>
                <li><a (click)="navgetToUrl('/bulk_qrcode');setActiveLinkTab($event)">
                        <i class='fas fa-qrcode icon'></i> &nbsp;Bulk QR Download</a></li>
            </ul>
        </li>

        <li *ngIf="isUser ">
            <a> <mat-icon class="icon">control_camera</mat-icon> Local Broadcasting <i
                    class='bx bx-chevron-right icon-right'></i></a>
            <ul class="side-dropdown">
                <li *ngIf="navigationList.paymentchannel"><a
                        (click)="navgetToUrl('/payment_channel');setActiveLinkTab($event)"><i
                            class="fa-regular fa-newspaper icon" style="margin-right: 0px;"></i>Payment Channel Master
                    </a>
                </li>
                <li *ngIf="navigationList.localbroadcaster"><a
                        (click)="navgetToUrl('/local_payment');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-recycle icon " style="margin-right: 0px;"></i>Local Broadcaster
                        Creation</a> </li>
            </ul>
        </li>
        <li class="mb-3" *ngIf="isUser || isReception">
            <a>
                <i class="bx bx-clipboard bx-sm icon "></i>
                Reports <i class='bx bx-chevron-right icon-right'></i></a>
            <ul class="side-dropdown">
                <li *ngIf="navigationList.traireports"><a
                        (click)="navgetToUrl('/traiReports');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-paper-plane icon">&nbsp;</i>TRAI Reports </a>
                </li>
                <li *ngIf="navigationList.msoreports"><a
                        (click)="navgetToUrl('/msoReports');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-qq icon">&nbsp;</i>MSO Reports </a> </li>
                <!-- <li><a (click)="navgetToUrl('/historyReports');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-star icon">&nbsp;</i> HISTORY Reports</a></li> -->
            </ul>
        </li>


        <!-- -------------------------------------------------------------Special role----------------------------------------------- -->
        <li *ngIf="isSpecial && navigationList.msodetails"><a
                (click)="setActiveLinkTabList($event);navgetToUrl('/msodetails');" class="active nav-link">
                <i class='bx bx-sm bx-user-pin icon'></i> &nbsp; MSO Details</a></li>
        <li *ngIf="isSpecial && navigationList.casmaster"><a
                (click)="navgetToUrl('/casmaster');setActiveLinkTabList($event)" class="nav-link">
                <i class='bx bx-sm bx-user-circle icon'></i> &nbsp;CAS Master</a></li>
        <li *ngIf="isSpecial && navigationList.taxmaster"><a (click)="navgetToUrl('/tax');setActiveLinkTabList($event)"
                class="nav-link">
                <i class='bx bx-sm bx-wrench icon'></i>
                &nbsp;TAX Master</a> </li>
        <li *ngIf="isSpecial && navigationList.billing"><a
                (click)="navgetToUrl('/invoice');setActiveLinkTabList($event)" class="nav-link">
                <i class='bx bx-sm bx-calculator icon'></i> &nbsp;Billing</a> </li>
        <li *ngIf="isSpecial "><a (click)="navgetToUrl('/special_operator');setActiveLinkTabList($event)"
                class="nav-link">
                <i class='bx bx-sm bx-user icon'></i> &nbsp;Operator</a> </li>
        <li *ngIf="isSpecial && navigationList.proofsetting"><a
                (click)="navgetToUrl('/proof');setActiveLinkTabList($event)" class="nav-link">
                <i class='bx bx-sm bx-share-alt  icon'></i>
                &nbsp; Proof Settings</a> </li>
        <li *ngIf="isSpecial ">
            <a> <i class="bx bx-shape-polygon bx-sm icon "></i> LCO Settings <i
                    class='bx bx-chevron-right icon-right'></i></a>
            <ul class="side-dropdown">
                <li *ngIf="navigationList.packageplan"><a
                        (click)="navgetToUrl('/Packageplan');setActiveLinkTab($event)"><i class='fas fa-tags icon'></i>
                        &nbsp;Package Plan</a></li>
                <li *ngIf="navigationList.localchannel"><a
                        (click)="navgetToUrl('/channeldetails');setActiveLinkTab($event)">
                        <i class='fas fa-broadcast-tower icon'></i> &nbsp;
                        Local Channel</a></li>
                <li *ngIf="navigationList.adsupload"><a (click)="navgetToUrl('/adsdetails');setActiveLinkTab($event)">
                        <i class='fas fa-image icon'></i> &nbsp;Ads Upload</a>
                </li>
            </ul>
        </li>
        <li *ngIf="isSpecial ">
            <a> <i class="bx bx-building bx-sm icon "></i> Bulk Operation <i
                    class='bx bx-chevron-right icon-right'></i></a>
            <ul class="side-dropdown">
                <li *ngIf="navigationList.bulk_package_updation"><a
                        (click)="navgetToUrl('/Bulk_Package_Updation');setActiveLinkTab($event)"> <i
                            class='fa fa-fw fa-users  icon'></i> &nbsp; Bulk
                        Package Updation</a></li>
                <li><a (click)="navgetToUrl('/special_area_package');setActiveLinkTab($event)">
                        <i class='fas fa-map-marker-alt icon'></i> &nbsp;LCO & AREA Change</a>
                </li>
                <li><a (click)="navgetToUrl('/special_cancel_subscription');setActiveLinkTab($event)">
                        <i class='fas fa-ban icon'></i> &nbsp;Cancel Subscription</a>
                <li><a (click)="navgetToUrl('/smartcard_refresh');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-solid fa-gears icon ">&nbsp;</i>Bulk Smartcard Refresh </a> </li>
                <li><a (click)="navgetToUrl('/special_lcotransfer');setActiveLinkTab($event)">
                        <i class='fas fa-exchange-alt icon'></i> &nbsp;LCO Transfer</a> </li>
                <li *ngIf="!isOperator || !isSubLco"><a
                        (click)="navgetToUrl('/bulk_smartcard_creation');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-solid fa-users icon ">&nbsp;</i>Bulk Operator Creation </a> </li>
            </ul>
        </li>
        <li *ngIf="isSpecial ">
            <a> <i class="bx bx-cog bx-sm icon "></i> Settings <i class='bx bx-chevron-right icon-right'></i></a>
            <ul class="side-dropdown">
                <!-- <li><a (click)="navgetToUrl('/loginsettings_credential')" (click)="setActiveLinkTab($event)"> <i
                            class='fa fa-fw fa-users  icon'></i> &nbsp; Login Settings</a></li>
                <li><a (click)="navgetToUrl('/loginsettings_credential')" (click)="setActiveLinkTab($event)"> <i
                            class='fa fa-fw fa-users  icon'></i> &nbsp; Login Settings</a></li> -->
                <li *ngIf="username== 'manikandan'"><a (click)="navgetToUrl('/loginsettings')"
                        (click)="setActiveLinkTab($event)"> <i class='fa fa-fw fa-users  icon'></i> &nbsp; Login
                        Settings</a></li>
                <li *ngIf="username !== 'manikandan'"><a (click)="navgetToUrl('/loginsettings_credential')"
                        (click)="setActiveLinkTab($event)"> <i class='fa fa-fw fa-users  icon'></i> &nbsp; Login
                        Settings</a></li>
            </ul>
        </li>
        <li class="mb-3" *ngIf="isSpecial">
            <a>
                <i class="bx bx-joystick-button bx-sm icon "></i>
                Reports <i class='bx bx-chevron-right icon-right'></i></a>
            <ul class="side-dropdown">

                <li *ngIf="navigationList.msoreports"><a
                        (click)="navgetToUrl('/msoReports');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-qq icon">&nbsp;</i>MSO
                        Reports </a> </li>

            </ul>
        </li>

        <!-- -------------------------------------------Operator Login------------------------ -->
        <li *ngIf="isOperator || isSubLco"><a (click)="setActiveLinkTabList($event);navgetToUrl('/operator_dashboard');"
                class="active nav-link">
                <i class='bx bx-sm bxs-dashboard icon'></i> &nbsp;
                Dashboard</a></li>

        <li *ngIf="isOperator || isSubLco">
            <a>
                <i class="bx bx-user-pin bx-sm icon "></i> &nbsp;
                Subscriber <i class='bx bx-chevron-right icon-right'></i></a>
            <ul class="side-dropdown">
                <li><a (click)="navgetToUrl('/Create_sub');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-plus icon">&nbsp;</i>Create Subscriber
                    </a> </li>
                <li><a (click)="navgetToUrl('/expiry');setActiveLinkTab($event)"><i
                            class="fa fas fa-user-alt-slash icon">&nbsp;</i> Expiry
                        Details </a>
                </li>
            </ul>
        </li>
        <li *ngIf="isOperator || isSubLco">
            <a>
                <i class="bx bx-cog bx-sm icon "></i>
                Master Settings
                <i class='bx bx-chevron-right icon-right'></i>
            </a>
            <ul class="side-dropdown">
                <li *ngIf="isOperator "><a (click)="navgetToUrl('/area_street');setActiveLinkTab($event)"
                        class="active"> <i class='fas fa-location-dot icon'></i> &nbsp;
                        Area & Street</a></li>
                <li *ngIf="!isSubLco"><a (click)="navgetToUrl('/lcoDashboard');setActiveLinkTab($event)"><i
                            class='fas fa-tags icon'></i>
                        &nbsp;Discount</a></li>
                <li *ngIf=" isSubLco"><a (click)="navgetToUrl('/lcoChangePassword');setActiveLinkTab($event)"
                        class="active"> <i class="bx bx-shield-plus bx-sm icon "></i> &nbsp;
                        Change Password</a></li>

            </ul>
        </li>

        <li *ngIf="isOperator || isSubLco">
            <a>
                <i class="bx bx-joystick-button bx-sm icon "></i>
                Package Details<i class='bx bx-chevron-right icon-right'></i></a>
            <ul class="side-dropdown">
                <li><a (click)="navgetToUrl('/PackageCreation');setActiveLinkTab($event)" class="nav-link">
                        <i class="fa fa-fw fa-th icon ">&nbsp;</i>Packages</a> </li>
                <li><a (click)="navgetToUrl('/Addon');setActiveLinkTab($event)" class="nav-link">
                        <i class="fa-solid fa-layer-group icon ">&nbsp;</i> Addon</a></li>
                <li><a (click)="navgetToUrl('/Channel');setActiveLinkTab($event)" class="nav-link"><i
                            class="fa fa-fw fa-comments  icon ">&nbsp;</i> Channel</a></li>
            </ul>
        </li>
        <li *ngIf="isOperator || isSubLco">
            <a>
                <i class="bx bx-briefcase bx-sm icon "></i>
                Bulk operation <i class='bx bx-chevron-right icon-right'></i></a>
            <ul class="side-dropdown">
                <li><a (click)="navgetToUrl('/activation');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-plus-square icon ">&nbsp;</i>First Time Activation </a> </li>

                <li *ngIf="!isSubLco"><a (click)="navgetToUrl('/operator_areachange');setActiveLinkTab($event)">
                        <i class='fas fa-map-marker-alt icon'></i> &nbsp;AREA Change</a>
                </li>
                <li><a (click)="navgetToUrl('/Bulk_Package_Updation');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-circle-o icon">&nbsp;</i>Bulk Package Updation</a>
                </li>
                <li><a (click)="navgetToUrl('/smartcard_refresh');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-solid fa-gears icon ">&nbsp;</i>Bulk Smartcard Refresh </a> </li>
                <li *ngIf="!isSubLco"><a (click)="navgetToUrl('/Recurring');setActiveLinkTab($event)"><i
                            class="fa-regular fa-registered icon">&nbsp;</i>Recurring</a>
                </li>
                {{isOperator || isSubLco || distributor}}
                <li *ngIf="distributor"><a (click)="navgetToUrl('/special_lcotransfer');setActiveLinkTab($event)">
                        <i class='fas fa-exchange-alt icon'></i> &nbsp;LCO Transfer</a> </li>
                <li><a (click)="navgetToUrl('/Subscription_Extend');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-cubes icon">&nbsp;</i>Subscription Extend</a> </li>
            </ul>
        </li>

        <li *ngIf="isOperator"><a (click)="navgetToUrl('/forcemessage');setActiveLinkTab($event)" class="nav-link">
                <i class="bx bx-label bx-sm icon "></i> &nbsp;Message</a></li>
        <li *ngIf="isOperator || isSubLco && SublcoReport"><a
                (click)="navgetToUrl('/lcoReports');setActiveLinkTab($event)" class="nav-link">
                <i class="bx bx-clipboard bx-sm icon "></i>&nbsp;Reports</a>
        </li>
        <li *ngIf="isOperator || isSubLco"><a (click)="navgetToUrl('/bill_collection');setActiveLinkTab($event)"
                class="nav-link">
                <i class="bx bx-analyse bx-sm icon "></i>&nbsp;Bill Collection</a>
        </li>

        <li *ngIf="distributor && isOperator">
            <a (click)="navgetToUrl('/distributor_setting'); setActiveLinkTab($event)" class="nav-link">
                <i class="bx bx-error-alt bx-sm icon"></i>&nbsp;Distributor Setting
            </a>
        </li>

        <li *ngIf="isOperator "><a (click)="navgetToUrl('/lcoChangePassword');setActiveLinkTab($event)"
                class="nav-link">
                <i class="bx bx-shield-plus bx-sm icon "></i>&nbsp;Change Password</a>
        </li>

        <li *ngIf="isOperator" (click)="navgetTosublcoUrl(operatorId)"><a (click)="setActiveLink($event)"
                class="nav-link"> <i class="bx bx-hive bx-sm icon"></i>&nbsp;Sub LCO </a>
        </li>



        <!-- ---------------------------------------------------customer service------------------- -->
        <li *ngIf="isCustomerService">
            <a (click)="setActiveLinkList($event, 'subscriber')" [class.active]="activeTab === 'subscriber'"><mat-icon
                    class="icon">local_library</mat-icon> Subscriber <i class='bx bx-chevron-right icon-right'></i></a>
            <ul class="side-dropdown">
                <li><a (click)="navgetToUrl('/Create_sub'); setActiveLinkList($event, 'create_subscriber')"
                        [class.active]="activeTab === 'create_subscriber'"><i
                            class="fa fa-fw fa-plus icon">&nbsp;</i>Create Subscriber
                    </a> </li>
                <li><a (click)="navgetToUrl('/subscriber'); setActiveLinkList($event, 'subscriber_details')"
                        [class.active]="activeTab === 'subscriber_details'"><i
                            class="fa fa-fw fa-user on icon">&nbsp;</i>
                        Subscriber Details</a></li>
                <li><a (click)="navgetToUrl('/expiry'); setActiveLinkList($event, 'expiry_details')"
                        [class.active]="activeTab === 'expiry_details'"><i
                            class="fa fas fa-user-alt-slash icon">&nbsp;</i> Expiry
                        Details </a>
                </li>
            </ul>
        </li>
        <li *ngIf="isCustomerService">
            <a> <i class="bx bx-user bx-sm icon "></i> Operator <i class='bx bx-chevron-right icon-right'></i></a>
            <ul class="side-dropdown">
                <li><a (click)="navgetToUrl('/lco_recharge/1');setActiveLinkTab($event)"> <i
                            class='fa fa-fw fa-users  icon'></i> &nbsp;
                        Operator Details</a></li>

            </ul>
        </li>

        <li *ngIf="isCustomerService">
            <a> <mat-icon class="icon">games</mat-icon> Inventory <i class='bx bx-chevron-right icon-right'></i></a>
            <ul class="side-dropdown">
                <li><a (click)="navgetToUrl('/not_allacate_smartcard');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-upload icon ">&nbsp;</i>Not Allocated Smartcard </a> </li>
                <li><a (click)="navgetToUrl('/allocate_smartcard');setActiveLinkTab($event)"><i
                            class="fa fa-fw fa-gear icon ">&nbsp;</i>Allocated smartcard </a> </li>

            </ul>
        </li>
        <li *ngIf="isCustomerService"> <a>
                <i class="bx bx-joystick-button bx-sm icon "></i>
                Reports<i class='bx bx-chevron-right icon-right'></i></a>
            <ul class="side-dropdown">
                <li><a (click)="navgetToUrl('/msodialogueReports/recharge_history');setActiveLinkTab($event)">
                        <i class="fa fa-fw fa-paper-plane icon">&nbsp;</i>Recharge log </a> </li>
            </ul>
        </li>

        <!-- ==================================================Service Center Role=========================== -->
        <li *ngIf="isServiceCenter"><a (click)="navgetToUrl('/service_center');setActiveLinkTab($event)" class="active">
                <i class="fa fa-fw fa-paper-plane icon">&nbsp;</i>Service Center </a> </li>

        <!-- ============================================  SUBSCRIBER ROLE======================= -->
        <li *ngIf="isSubscriber">
            <a (click)="navgetToUrl('/subscriber-full-info/' + subscriberid + '/new'); setActiveLinkTab($event)"
                class="active nav-link"> <i class="bx bx-user-pin bx-sm icon">&nbsp;</i>Dashboard</a>
        </li>
        <li *ngIf="isSubscriber"><a (click)="navgetToUrl('/online_recharge');setActiveLinkTab($event)"
                class=" nav-link"> <i class="bx bx-bolt-circle bx-sm icon">&nbsp;</i>Online Recharge</a> </li>
        <li *ngIf="isSubscriber"><a (click)="navgetToUrl('/lcoReports');setActiveLinkTab($event)" class=" nav-link">
                <i class="bx bx-clipboard bx-sm icon ">&nbsp;</i>Reports</a> </li>
        <li *ngIf="isSubscriber"><a (click)="navgetToUrl('/lcoChangePassword');setActiveLinkTab($event)"
                class="nav-link"> <i class="bx bx-shield-plus bx-sm icon ">&nbsp;</i>Change Password</a> </li>
        <!-- <li *ngIf="isUser || (distributor && isOperator)"><a (click)="navgetToUrl('/logs');setActiveLinkTab($event)"
                class="nav-link"> <i class="bx bx-memory-card bx-sm icon "></i>&nbsp;Logs </a></li> -->



        <!-- <li *ngIf="isUser || (distributor && isOperator)"><a (click)="navgetToUrl('/version');setActiveLinkTab($event)"
                class="nav-link"> <i class="bx bx-bullseye bx-sm icon "></i>&nbsp;Updates </a></li> -->

    </ul>
</section>
<!-- SIDEBAR -->

<!-- NAVBAR -->
<section id="content">
    <div class="" style="position: sticky; top: 0;z-index: 10;">
        <div class="nav-sub">
            <div class="nav-container">
                <div id="nav" style="color: var(--primary-color);">
                    <i class='bx bx-menu toggle-sidebar' style="font-size: 2rem;"></i>
                </div>
                &nbsp;
                &nbsp;
                &nbsp;
                <div class="nav-content w-100 d-flex justify-content-between align-items-center">
                    <!-- <div *ngIf="isUser" class="version col-4 col-md-4">
                        <span class="ver" style="color: var(--role-color);"> {{role}}
                            &nbsp;</span>
                    </div> -->
                    <div *ngIf="isOperator || isSubLco || isSubscriber " class="version col-4 col-md-4 mobile_nav">
                        <span class="ver" style="color: var(--role-color);"> {{operatorname}} {{retailername}}
                            {{subscribername}}
                            &nbsp;</span>
                    </div>
                    <div *ngIf="!isSearch"
                        class="search-and-image col-7 col-md-7 col-sm-7 col-lg-7 d-flex justify-content-start align-items-center"
                        (clickOutside)="closeDropdown()">
                        <div class="search">
                            <span class="fa fa-search"></span>
                            <input id="searchitem" #searchitem style="font-size: 14px;" [value]="lcomember"
                                (keyup)="onsubscriberlist( searchitem?.value)"
                                placeholder="Search by smartcard, boxid, mobilenumber or customername or CAF No">
                            <div style="" class="dropdown-menu input"
                                [ngClass]="(subscriberList.length != 0 && searchitem?.value?.length != 0 && showDropdown) ? 'show' : 'hide'"
                                aria-labelledby="dropdownMenuButton">
                                <a (click)="goToSubscriberDashboard(lcomember)" *ngFor="let lcomember of subscriberList"
                                    class="dropdown-item"
                                    [innerHTML]="highlightMatch(lcomember.name, searchitem?.value)"> {{ lcomember.name
                                    }}</a>
                            </div>
                        </div>
                        <!-- <a id="start-btn" style="display: none;margin-left: 20px;color: green;"><i
                                class="fas fa-microphone" style="font-size: 20px;"></i></a>
                        <a id="stop-btn" style="margin-left: 20px;color: red;"><i class="fas fa-microphone-slash"
                                style="font-size: 20px;"></i></a> -->
                    </div>

                    <div class="d-block">
                        <!-- <div class=" d-flex justify-content-between align-items-center mx-2 tooltip-container ">
                            <a class="logout " (click)="logout()">
                                <i class="fa-solid fa-power-off" style="color: var(--primary-color);"></i>
                                <span><i [ngClass]="showLogoutDropdown ? 'ri-arrow-up-s-line' : 'ri-arrow-down-s-line'"
                                        style="margin: auto;"></i></span>
                            </a>
                            <div class="tooltip">LOGOUT</div>
                        </div> -->
                        <button mat-icon-button class="mat-icon-margin" [matMenuTriggerFor]="menu"
                            aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu" style="width: 100pc;">
                            <!-- <img *ngIf="msoLogo" [src]="msoLogo" (error)="msoLogo = null" alt="MSO Logo" class="mb-3"
                                style="width: 100px; height: auto; margin: auto 60px;"> -->
                            <!-- <i *ngIf="!msoLogo" class="fas fa-user-circle fa-2x mb-3"
                                style="font-size: 54px; display: flex;justify-content: center ;color:var(--role-color);"></i> -->
                            <i class="fas fa-user-circle fa-2x mb-3"
                                style="font-size: 54px; display: flex;justify-content: center ;color:var(--role-color);"></i>

                            <div class="col-12 d-flex " style="justify-content: center;"
                                *ngIf="isUser || isReception || isSpecial || isInventory || isCustomerService || isServiceCenter">
                                <span class="ver_role"> {{role}}
                                    &nbsp;</span>
                            </div>
                            <div class="col-12 d-flex " style="justify-content: center;"
                                *ngIf="isOperator || isSubLco || isSubscriber">
                                <span class="ver_role"> {{operatorname}} {{retailername}} {{subscribername}}
                                    &nbsp;</span>
                            </div>
                            <!-- <button mat-menu-item *ngIf="isUser">
                                <span style="font-size: larger; font-weight: 700;color: unset;"> {{role}}
                                    &nbsp;</span>
                            </button>
                            <button mat-menu-item *ngIf="isOperator || isSubLco || isSubscriber">
                                <span style="font-size: larger; font-weight: 700;color: unset;"> {{operatorname}}
                                    {{retailername}} {{subscribername}}
                                    &nbsp;</span>
                            </button> -->
                            <button mat-menu-item
                                *ngIf="isUser || isReception || isSpecial || isInventory || isCustomerService || isServiceCenter">
                                <mat-icon>phone</mat-icon>
                                <span>{{msoContact}}</span>
                            </button>
                            <button mat-menu-item *ngIf="isOperator || isSubLco || isSubscriber ">
                                <mat-icon>phone</mat-icon>
                                <span>{{contact}}</span>
                            </button>

                            <button mat-menu-item (click)="loginAdmin()" *ngIf="isOperator">
                                <mat-icon>ios_share</mat-icon>
                                <span>Return Portal</span>
                            </button>
                            <button mat-menu-item (click)="logout()">
                                <mat-icon>logout</mat-icon>
                                <span>Logout</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <main style="overflow: scroll;height:94vh;overflow-x: hidden;">
        <router-outlet></router-outlet>
    </main>
</section>