

.container .title1 {
    padding: 25px;
    background: #f6f8fa;
}

.main {
    display: flex;
}

.container .title1 p {
    font-size: 25px;
    font-weight: 500;
    // position: relative;
}

.container .title1 p::before {
    content: "";
    // position: absolute;
    bottom: 0px;
    left: 0;
    width: 100px;
    height: 3px;
    // background: linear-gradient(to right, #058372, #acf3cc);
}

.card {
    padding: 0.5rem;
}


.input-box label {
    font-weight: 500;
    align-items: center;
    margin-bottom: 5px;
    display: block;
    font-size: 16px;
    color: #243359;
}

.input-box p {
    font-weight: 500;
    align-items: center;
    margin-bottom: 5px;
    display: block;
    font-size: 16px;
    color: #243359;
}

.input-box label::after {
    content: " *";
    color: red;
}

.input-box select option {
    padding: 7px 0;
}


.input-box {
    display: flex;
    gap: 5px;
}

select,
input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    padding: 0px 12px;
    border-top: 2px solid #b0afaf;
    border-bottom: 0.9px solid lightgray;
    border-left: 0.9px solid lightgray;
    border-right: 0.9px solid lightgray;
}

.display {
    display: flex;
}

.display_1 {
    display: flex;
}

.status-running {
    color: green;
    font-weight: bold;
  }
  
  .status-stopped {
    color: red;
    font-weight: bold;
  }
  
  
@media screen and (max-width:560px) {
    .main {
        display: block;
    }

    .input-box {
        display: block;
        gap: 5px;
    }

    .mobile {
        max-height: 440px;
        overflow: scroll;
    }

    .display {
        display: block;
    }
}

@media screen and (max-width:720px) {
    .main {
        display: block;
    }

    .input-box {
        display: block;
        gap: 5px;
    }

    .mobile {
        max-height: 440px;
        overflow: scroll;
    }
}