<div class="container">
    <div class="title1">
        <p>Finger Print</p>
    </div>
    <div class="d-flex justify-content-center align-item-center">
        <form [formGroup]="form">
            <div class="col justify-content-center align-items-center main">
                <div class="col-md-6 col-sm-12 col-sm-6 mobile" style="padding: 1.5rem;">
                    <div class="row">
                        <div class="input-box mb-3">
                            <div class="col-sm-4 ">
                                <label for="">CAS</label>
                            </div>
                            <div class="col-12 col-md-8">
                                <input type="text" placeholder="Search an CAS" formControlName="castypedisplay"
                                    (input)="onSearchChange($event)" [(ngModel)]="castype_1" [value]="casname"
                                    [matAutocomplete]="auto" class="example-input">

                                <mat-autocomplete #auto="matAutocomplete">
                                    <mat-option *ngFor="let casItem of filteredcas()" [value]="casItem.name"
                                        (click)="onSelectionFingerPrint(casItem)">
                                        {{ casItem.name }}
                                    </mat-option>
                                </mat-autocomplete>
                                <div *ngIf="form.get('castypedisplay')?.invalid && form.get('castypedisplay')?.touched">
                                    <small class="text-danger">CAS is required.</small>
                                </div>
                            </div>
                        </div>
                        <div class="input-box mb-3">
                            <div class="col-sm-4">
                                <label for="">FP Type</label>
                            </div>
                            <div class="col-12 col-md-8">
                                <select formControlName="fptype" [(ngModel)]="finger" (ngModelChange)="onForce($event)">
                                    <select-filter [placeholder]="'Find Fingerprint'" [displayMember]="'lable'"
                                        [array]="fingerprint" (filteredReturn)="fingerprint =$event">
                                    </select-filter>
                                    <option value="" *ngFor="let fp of fingerprint" [value]="fp.value"> {{fp.lable}}
                                    </option>
                                </select>
                                <div *ngIf="form.get('fptype')?.invalid && form.get('fptype')?.touched">
                                    <small class="text-danger">FP Type is required.</small>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="isServiceName" class="input-box mb-3">
                            <div class="col-sm-4">
                                <label for="">Service Name</label>
                            </div>
                            <div class="col-12 col-md-8">
                                <input type="text" placeholder="Search an Service" formControlName="servicename"
                                    (input)="onSearchServiceChange($event)" [(ngModel)]="service_1"
                                    [value]="servicename" [matAutocomplete]="auto" class="example-input">

                                <mat-autocomplete #auto="matAutocomplete">
                                    <mat-option *ngFor="let service of filteredService()" [value]="service.id"
                                        (click)="onServiceSelect(service)">
                                        {{ service.name }}
                                    </mat-option>
                                </mat-autocomplete>
                                <div *ngIf="form.get('servicename')?.invalid && form.get('servicename')?.touched">
                                    <small class="text-danger">Service Name is required.</small>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="force" class="input-box mb-3">
                            <div class="col-sm-4">
                                <label for="">Force</label>
                            </div>
                            <div class="col-12 col-md-8">
                                <mat-radio-group class="radio-group" aria-labelledby="status" formControlName="isforce"
                                    [(ngModel)]="isforce" (ngModelChange)="onChangeForce1()" [disabled]="force">
                                    <mat-radio-button class="radio-button" [value]="true">Yes
                                    </mat-radio-button>&nbsp;
                                    <mat-radio-button class="radio-button" [value]="false">No
                                    </mat-radio-button>
                                </mat-radio-group>

                                <div *ngIf="form.get('isforce')?.invalid && form.get('isforce')?.touched">
                                    <small class="text-danger">Force is required.</small>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="isIntendto" class="input-box mb-3">
                            <div class="col-sm-4">
                                <label for="">Intend To</label>
                            </div>
                            <div class="col-12 col-md-3 mb-8">
                                <select formControlName="intendto" [(ngModel)]="intend_1"
                                    (ngModelChange)="onChangeIntendTo1($event)">
                                    <option value="0" disabled>Select Intend</option>
                                    <option *ngFor="let Intend of intend" [value]="Intend.value">{{Intend.lable}}
                                    </option>
                                </select>
                                <div *ngIf="form.get('intendto')?.invalid && form.get('intendto')?.touched">
                                    <small class="text-danger">Intend To is required.</small>
                                </div>
                            </div>
                            <div class="col-12 col-md-5" *ngIf="isSmartcardEnabled">
                                <!-- <input placeholder="Enter Smartcard" type="text" (keypress)="onKeydown($event)"
                                    [(ngModel)]="intendid_1" [maxlength]="castype != 6 ? 20 : 14"
                                    formControlName="intendid"> -->
                                <input placeholder="Enter Smartcard" type="text" formControlName="intendid"
                                    [(ngModel)]="intendid_1" (keypress)="onKeydown($event)"
                                    [maxlength]="castype != 6 ? 20 : 14" (input)="validateExactLength()">
                                <div *ngIf="isInvalidLength">
                                    <small class="text-danger">
                                        Please enter exactly {{ castype != 6 ? 20 : 14 }} digits.
                                    </small>
                                </div>
                                <div *ngIf="form.get('intendid')?.invalid && form.get('indendid')?.touched">
                                    <small class="text-danger">Indend Id is required.</small>
                                </div>
                            </div>

                            <div class="col-12 col-md-5" *ngIf="isAreaCodeEnabled">
                                <input type="text" placeholder="Search an LCO" [value]="intendidLco"
                                    [ngModel]="intendidLco" formControlName="intendlco"
                                    (input)="onSearchLCOChange($event)" [matAutocomplete]="auto" class="example-input">

                                <mat-autocomplete #auto="matAutocomplete">
                                    <mat-option *ngFor="let area of filteredIntendArea()" [value]="area.name"
                                        (click)="onLCOSelect(area)">
                                        {{ area.name }}
                                    </mat-option>
                                </mat-autocomplete>

                                <div *ngIf="form.get('intendlco')?.invalid && form.get('intendlco')?.touched">
                                    <small class="text-danger">LCO Name is required.</small>
                                </div>
                            </div>
                        </div>

                        <div class="input-box mb-3">
                            <div class="col-sm-4">
                                <label for="">Type</label>
                            </div>
                            <div class="col-12 col-md-8">
                                <select placeholder="Select the type" formControlName="type" [(ngModel)]="type_1">
                                    <option value="0" disabled>Select a Type</option>
                                    <option value="" *ngFor="let ty of type" [value]="ty.value"
                                        [disabled]="castype == 6 && ty.value === 3">{{ty.lable}}</option>
                                </select>
                                <div *ngIf="form.get('type')?.invalid && form.get('type')?.touched">
                                    <small class="text-danger">Type is required.</small>
                                </div>
                            </div>
                        </div>
                        <div class="input-box mb-3">
                            <div class="col-sm-4">
                                <label for="">Position Type</label>
                            </div>
                            <div class="col-12 col-md-3 mb-3 mx-2">
                                <select placeholder="Select the Position" formControlName="positiontype"
                                    [(ngModel)]="positiontype_1" (ngModelChange)="onChangePositionType($event)">
                                    <select-filter [placeholder]="'Find Position'" [displayMember]="'lable'"
                                        [array]="positiontype" (filteredReturn)="positiontype = $event"></select-filter>
                                    <option value="" disabled>Position Type</option>
                                    <option *ngFor="let pt of positiontype" [value]="pt.value"
                                        [disabled]="isOptionDisabled(pt.value)">{{ pt.lable }}
                                    </option>

                                    <!-- [disabled]="castype === 1 && castype === 6 &&  pt.value === 3" -->
                                </select>

                                <div *ngIf="form.get('positiontype')?.invalid && form.get('positiontype')?.touched">
                                    <small class="text-danger">Position Type is required.</small>
                                </div>
                            </div>

                            <div class="input-box mb-3 display" *ngIf="isPositionXYVisible">
                                <div class="display_1 mb-3 justify-content-between align-items-center">
                                    <div *ngIf="isPositionXYVisible_mobile" class="col-6 col-md-2">
                                        <p for="positionX">Position X</p>
                                    </div>
                                    <div *ngIf="!isPositionXYVisible_mobile" class="col-6 col-md-2">
                                        <p for="positionX">X</p>
                                    </div>
                                    <div class="col-6 col-md-8">
                                        <input id="positionX" type="text" formControlName="x" [(ngModel)]="x"
                                            maxlength="4">
                                    </div>
                                </div>
                                <div class="display_1 mb-3 justify-content-between align-items-center">
                                    <div *ngIf="isPositionXYVisible_mobile" class="col-6 col-md-2">
                                        <p for="positionY">Position Y</p>
                                    </div>
                                    <div *ngIf="!isPositionXYVisible_mobile" class="col-6 col-md-2">
                                        <p for="positionY">Y</p>
                                    </div>
                                    <div class="col-6 col-md-8">
                                        <input id="positionY" type="text" formControlName="y" [(ngModel)]="y"
                                            maxlength="3">
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="input-box mb-3" *ngIf="ispositiondisabled">
                            <div class="col-sm-4">
                                <label for="">Position</label>
                            </div>
                            <div class="col-12 col-md-8">
                                <select placeholder="Select the position" formControlName="position"
                                    [(ngModel)]="position_1">
                                    <option value="0" disabled>Select a Position</option>
                                    <option *ngFor="let po of position" [value]="po.value">{{po.lable}}</option>
                                </select>
                                <div *ngIf="form.get('position')?.invalid && form.get('position')?.touched">
                                    <small class="text-danger">Position is required.</small>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="isShowStyle" class="input-box mb-3">
                            <div class="col-sm-4">
                                <label for="">Show Style</label>
                            </div>
                            <div class="col-12 col-md-8">
                                <select placeholder="Select the type" formControlName="type" [(ngModel)]="s_Style">
                                    <option value="0" disabled>Select a Show Style</option>
                                    <option value="" *ngFor="let ty of showStyle" [value]="ty.value"
                                        [disabled]="castype == 4 && ty.value == 3">{{ty.lable}} </option>
                                </select>
                                <div *ngIf=" form.get('type')?.invalid && form.get('type')?.touched">
                                    <small class="text-danger">Show Style is required.</small>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="isFontStyleSelectDisabled" class="input-box mb-3">
                            <div class="col-sm-4">
                                <label for="">Font Style</label>
                            </div>
                            <div class="col-12 col-md-8">
                                <select placeholder="Select the fontstyle" formControlName="font_style"
                                    [(ngModel)]="fontstyle_1">
                                    <option value="0" disabled>Select a Font Style</option>
                                    <option *ngFor="let fs of fontstyle" [value]="fs.value">{{fs.lable}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-sm-6 mobile" style="padding: 1.5rem;">
                    <div class="row">
                        <!-- <div class="input-box mb-3">
                            <div class="col-sm-4">
                                <label for="">Font Size</label>
                            </div>
                            <div class="col-12 col-md-8" *ngIf="isFontSizeSelectDisabled">
                                <select placeholder="Select the fontsize" formControlName="fontsize"
                                    [(ngModel)]="fontsize_1">
                                    <option value="">Select a Font Size</option>
                                    <option *ngFor="let fs of fontsize" [value]="fs.value">{{fs.lable}}</option>
                                </select>
                            </div>
                            <div class="col-12 col-md-8" *ngIf="isFontSizeDisabled">
                                <input type="text" placeholder="Enter Font size" pattern="[0-9]*" maxlength="2"
                                    [(ngModel)]="fontsize_1" (keypress)="onKeydown($event)" step="1"
                                    formControlName="fontsize">
                                <div *ngIf="form.get('fontsize')?.invalid && form.get('fontsize')?.touched">
                                    <small class="text-danger">Fontsize is required.</small>
                                </div>
                            </div>
                        </div> -->



                        <div class="input-box mb-3">
                            <div class="col-sm-4">
                                <label for="">Font Size</label>
                            </div>
                            <div class="col-12 col-md-8" *ngIf="isFontSizeSelectDisabled">
                                <select placeholder="Select the fontsize" formControlName="fontsize"
                                    [(ngModel)]="fontsize_1">
                                    <option value="0" disabled>Select a Font Size</option>
                                    <option *ngFor="let fs of fontsize" [value]="fs.value">{{fs.lable}}</option>
                                </select>
                            </div>
                            <div class="col-12 col-md-8" *ngIf="isFontSizeSelectDigit">
                                <select placeholder="Select the fontsize" formControlName="fontsize"
                                    [(ngModel)]="fontsize_1">
                                    <option value="0" disabled>Select a Font Size</option>
                                    <option *ngFor="let fs of fontsizeDigit" [value]="fs.value">{{fs.lable}}</option>
                                </select>
                            </div>
                            <div class="col-12 col-md-8" *ngIf="isFontSizeDisabled">
                                <input type="text" placeholder="Enter Font size" pattern="[0-9]*" maxlength="3"
                                    [(ngModel)]="fontsize_1" (keypress)="onKeydown($event)" step="1"
                                    formControlName="fontsize">
                                <div *ngIf="form.get('fontsize')?.invalid && form.get('fontsize')?.touched">
                                    <small class="text-danger">Fontsize is required.</small>
                                </div>
                            </div>
                        </div>



                        <div class="input-box mb-3">
                            <div class="col-sm-4">
                                <label for="">Background Color</label>
                            </div>

                            <div *ngIf="isbackgroundcolor" class="col-12 col-md-8">
                                <select formControlName="bgcolor" [(ngModel)]="bgcolor_id">
                                    <option value="0" disabled>Select a Background Color</option>
                                    <option *ngFor="let bc of bgcolor" [value]="bc.value">{{bc.lable}}</option>

                                </select>
                                <div *ngIf="form.get('bgcolor')?.invalid && form.get('bgcolor')?.touched">
                                    <small class="text-danger">Background Color is required.</small>
                                </div>

                            </div>
                            <div *ngIf="isCasbackgroundcolor" class="col-12 col-md-8">
                                <select formControlName="bgcolor" [(ngModel)]="bgcolor_id">
                                    <option value="0" disabled>Select a cas Background Color</option>
                                    <option *ngFor="let bc of gcolor1" [value]="bc.value">{{bc.lable}}</option>
                                </select>
                                <div *ngIf="form.get('bgcolor')?.invalid && form.get('bgcolor')?.touched">
                                    <small class="text-danger">Background Color is required.</small>
                                </div>
                            </div>
                        </div>
                        <div class="input-box mb-3">
                            <div class="col-sm-4">
                                <label for="">Font Color</label>
                            </div>
                            <div *ngIf="isfontColor" class="col-12 col-md-8">
                                <select formControlName="fontcolor" [(ngModel)]="fontcolor_1" [value]="fontcolor_1">
                                    <option value="0" disabled>Select a Font Color</option>
                                    <option *ngFor="let fc of fontcolor" [value]="fc.value">{{fc.lable}}</option>
                                </select>
                                <div *ngIf="form.get('fontcolor')?.invalid && form.get('fontcolor')?.touched">
                                    <small class="text-danger">Font Color is required.</small>
                                </div>
                            </div>
                            <div *ngIf="isCasfontColor" class="col-12 col-md-8">
                                <select formControlName="fontcolor" [(ngModel)]="fontcolor_1" [value]="fontcolor_1">
                                    <option value="0" disabled>Select a Font casColor</option>
                                    <option *ngFor="let fc of fontcolor1" [value]="fc.value">{{fc.lable}}</option>
                                </select>
                                <div *ngIf="form.get('fontcolor')?.invalid && form.get('fontcolor')?.touched">
                                    <small class="text-danger">Font Color is required.</small>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="isLocationVisible" class="input-box mb-3">
                            <div class="col-sm-4">
                                <label for="">Location</label>
                            </div>
                            <div class="input-box mb-3 display">
                                <div class="display_1 mb-3 justify-content-between align-items-center">
                                    <div class="col-6 col-md-2">
                                        <p for="positionX">X</p>
                                    </div>
                                    <div class="col-6 col-md-8">
                                        <input id="positionX" type="text" formControlName="locationx"
                                            [(ngModel)]="locationx">
                                    </div>
                                </div>
                                <div class="display_1 mb-3 justify-content-between align-items-center">
                                    <div class="col-6 col-md-2">
                                        <p for="positionY">Y</p>
                                    </div>
                                    <div class="col-6 col-md-8">
                                        <input id="positionY" type="text" formControlName="locationy"
                                            [(ngModel)]="locationy">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="isTranparancy" class="input-box transparancy mb-3">
                            <div class="col-sm-4">
                                <label for="">Transparancy</label>
                            </div>
                            <div class="col-12 col-md-8" *ngIf="isTransparency_select_Disabled">
                                <select placeholder="Select the transparancy" [(ngModel)]="transparancy_1"
                                    formControlName="transparancy" [disabled]="force">
                                    <select-filter [placeholder]="'Find font transparancy'" [displayMember]="'lable'"
                                        [array]="transparancy" (filteredReturn)="transparancy =$event"></select-filter>
                                    <option *ngFor="let tc of transparancy" [value]="tc.value">{{tc.lable}}</option>
                                </select>
                                <div *ngIf="form.get('transparancy')?.invalid && form.get('transparancy')?.touched">
                                    <small class="text-danger">Transparancy is required.</small>
                                </div>
                            </div>
                            <div class="col-12 col-md-8" *ngIf="isTransparencyDisabled">
                                <input type="text" matInput placeholder="Enter minutes" (keypress)="onKeydown($event)"
                                    pattern="[0-9]*" maxlength="3" [(ngModel)]="transparancy_1"
                                    formControlName="transparancy">
                                <div *ngIf="form.get('transparancy')?.invalid && form.get('transparancy')?.touched">
                                    <small class="text-danger">Transparancy is required.</small>
                                </div>
                            </div>
                        </div>
                        <div class="input-box mb-3" *ngIf="isrepeatfordisabled">
                            <div class="col-sm-4">
                                <label for="">Repeatfor</label>
                            </div>
                            <div class="col-12 col-md-8">
                                <input type="text" matInput placeholder="" [(ngModel)]="repeatfor_1" maxlength="3"
                                    formControlName="repeatfor">
                                <div *ngIf="form.get('repeatfor')?.invalid && form.get('repeatfor')?.touched">
                                    <small class="text-danger">Repaeatfor is required.</small>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="isDuration" class="input-box mb-3">
                            <div class="col-sm-4">
                                <label for="">Duration</label>
                            </div>
                            <div class="col-12 col-md-8">
                                <input type="text" matInput placeholder="Enter duration" (keypress)="onKeydown($event)"
                                    pattern="[0-9]*" maxlength="3" formControlName="duration" [(ngModel)]="duration_1">
                                <div *ngIf="form.get('duration')?.invalid && form.get('duration')?.touched">
                                    <small class="text-danger">Duration is required.</small>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="isDisplayDuration" class="input-box mb-3">
                            <div class="col-sm-4">
                                <label for="">Display Duration</label>
                            </div>

                            <div *ngIf="isminDidDuration" class="col-12 col-md-8">
                                <input type="text" matInput placeholder="Enter Display duration"
                                    (keypress)="onKeydown($event)" pattern="[0-9]*" maxlength="2"
                                    formControlName="display_duration" [(ngModel)]="display_duration">
                                <div
                                    *ngIf="form.get('display_duration')?.invalid && form.get('display_duration')?.touched">
                                    <small class="text-danger">Display Duration is required.</small>
                                </div>
                            </div>

                            <div *ngIf="ismaxDidDuration" class="col-12 col-md-8">
                                <input type="text" matInput placeholder="Enter Display duration"
                                    (keypress)="onKeydown($event)" pattern="[0-9]*" maxlength="3"
                                    formControlName="display_duration" [(ngModel)]="display_duration">
                                <div
                                    *ngIf="form.get('display_duration')?.invalid && form.get('display_duration')?.touched">
                                    <small class="text-danger"> Display Duration is required.</small>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="isTimeGap" class="input-box mb-3">
                            <div class="col-sm-4">
                                <label for="">Time Gap </label>
                            </div>
                            <div class="col-12 col-md-8">
                                <input type="text" matInput placeholder="Enter time gap" formControlName="timegap"
                                    (keypress)="onKeydown($event)" [(ngModel)]="timegap_1">
                                <div *ngIf="form.get('timegap')?.invalid && form.get('timegap')?.touched">
                                    <small class="text-danger">TimeGap is required.</small>
                                </div>
                            </div>
                        </div>
                        <div class="input-box mb-3 d-flex">
                            <div class="col-sm-4">
                                <label for="">Time Span</label>
                            </div>
                            <div *ngIf="!isHH" class=" col-4 col-md-2">
                                <input type="number" formControlName="hh" [(ngModel)]="hh" pattern="[0-9]" maxlength="2"
                                    (keypress)="onKeydown($event)" placeholder="HH" type="text" value="0">
                            </div>
                            <div *ngIf="!isMM" class="col-4 col-md-2">
                                <input type="number" formControlName="mm" [(ngModel)]="mm" pattern="[0-9]" maxlength="2"
                                    (keypress)="onKeydown($event)" placeholder="MM" type="text" value="0">
                            </div>
                            <div class="col-4 col-md-2">
                                <input type="number" formControlName="ss" [(ngModel)]="ss" pattern="[0-9]" maxlength="2"
                                    (keypress)="onKeydown($event)" placeholder="SS" type="text" value="0">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end align-items-center">
                <div class="d-flex justify-content-center align-items-center" style="padding: 10px;">
                    <button (click)="submit()" [disabled]="issend" class="btn btn-success bttn">Send</button> &nbsp;
                    <button (click)="stop()" [disabled]="!issend" class="btn btn-danger bttn"> Stop </button>
                </div>
              

            </div>
            <div class=" d-flex justify-content-end align-items-center mb-3" [ngClass]="getStatusClass()">
                {{display_status}}
            </div>
        </form>
    </div>

</div>