<div class="container">
    <div class="title">
        <p>Finger Print</p>
    </div>
    <div class="d-flex justify-content-center align-item-center">
        <form [formGroup]="form">
            <div class="col justify-content-center align-items-center main">
                <div class="col-md-6 col-sm-12 col-sm-6 mobile" style="padding: 1.5rem;">
                    <div class="row">
                        <div class="input-box mb-3">
                            <div class="col-sm-4 ">
                                <label for="">CAS</label>
                            </div>
                            <div class="col-12 col-md-8">
                                <select placeholder="Select the CAS" formControlName="castype" [(ngModel)]="castype_1"
                                    (ngModelChange)="onSelectionFingerPrint($event)">
                                    <option value="">Select CAS</option>
                                    <option *ngFor="let casItem of cas" [value]="casItem.id">
                                        {{ casItem.name }}
                                    </option>
                                </select>
                                <div *ngIf="form.get('castype')?.invalid && form.get('castype')?.touched">
                                    <small class="text-danger">CAS is required.</small>
                                </div>
                            </div>
                        </div>
                        <div class="input-box mb-3">
                            <div class="col-sm-4">
                                <label for="">FP Type</label>
                            </div>
                            <div class="col-12 col-md-8">
                                <select formControlName="fptype" [(ngModel)]="finger"
                                    (ngModelChange)="onSelectionFingerPrint($event)">
                                    <select-filter [placeholder]="'Find Fingerprint'" [displayMember]="'lable'"
                                        [array]="fingerprint" (filteredReturn)="fingerprint =$event">
                                    </select-filter>
                                    <option value="" *ngFor="let fp of fingerprint" [value]="fp.value"> {{fp.lable}}
                                    </option>
                                </select>
                                <div *ngIf="form.get('fptype')?.invalid && form.get('fptype')?.touched">
                                    <small class="text-danger">FP Type is required.</small>
                                </div>
                            </div>
                        </div>
                        <div class="input-box mb-3">
                            <div class="col-sm-4">
                                <label for="">Service Name</label>
                            </div>
                            <div class="col-12 col-md-8" *ngIf="showServiceNameField">
                                <select id="lcoName" formControlName="serviceid" [(ngModel)]="service_1">
                                    <option value="" selected>Select a Service</option>
                                    <option *ngFor="let service of filteredIntendSerivice()" [value]="service.id">
                                        {{ service.name }}
                                    </option>
                                </select>
                                <div *ngIf="form.get('serviceid')?.invalid && form.get('serviceid')?.touched">
                                    <small class="text-danger">Service Name is required.</small>
                                </div>
                            </div>
                        </div>

                        <div class="input-box mb-3">
                            <div class="col-sm-4">
                                <label for="">Force</label>
                            </div>
                            <div class="col-12 col-md-8">
                                <mat-radio-group class="radio-group" aria-labelledby="status" formControlName="isforce"
                                    [(ngModel)]="isforce" (ngModelChange)="onChangeForce1()" [disabled]="force">
                                    <mat-radio-button class="radio-button" [value]="true">Yes
                                    </mat-radio-button>&nbsp;
                                    <mat-radio-button class="radio-button" [value]="false">No
                                    </mat-radio-button>
                                </mat-radio-group>
                                <div *ngIf="form.get('isforce')?.invalid && form.get('isforce')?.touched">
                                    <small class="text-danger">Force is required.</small>
                                </div>
                            </div>
                        </div>
                        <div class="input-box mb-3">
                            <div class="col-sm-4">
                                <label for="">Intend To</label>
                            </div>
                            <div class="col-12 col-md-3 mb-8">
                                <select formControlName="intendto" [(ngModel)]="intend_1"
                                    (ngModelChange)="onChangeIntendTo1($event)">
                                    <option value="" selected>Select Intend</option>
                                    <option *ngFor="let Intend of intend" [value]="Intend.value">{{Intend.lable}}
                                    </option>
                                </select>
                                <div *ngIf="form.get('intendto')?.invalid && form.get('intendto')?.touched">
                                    <small class="text-danger">Intend To is required.</small>
                                </div>
                            </div>
                            <div class="col-12 col-md-5" *ngIf="isSmartcardEnabled" [(ngModel)]="intendid_1">
                                <input placeholder="Enter Smartcard" type="text" (keypress)="onKeydown($event)"
                                    formControlName="intendid">
                                <div *ngIf="form.get('intendid')?.invalid && form.get('indendid')?.touched">
                                    <small class="text-danger">Indend Id is required.</small>
                                </div>
                            </div>

                            <div class="col-12 col-md-5" *ngIf="isAreaCodeEnabled">
                                <select id="lcoName" formControlName="intendid" [(ngModel)]="intendid_1">
                                    <option value="" selected>Select a Area</option>
                                    <option *ngFor="let area of filteredIntendArea()" [value]="area.id">
                                        {{ area.name }}
                                    </option>
                                </select>
                                <div *ngIf="form.get('intendid')?.invalid && form.get('indendid')?.touched">
                                    <small class="text-danger">Indend Id is required.</small>
                                </div>
                            </div>
                        </div>

                        <div class="input-box mb-3">
                            <div class="col-sm-4">
                                <label for="">Type</label>
                            </div>
                            <div class="col-12 col-md-8">
                                <select placeholder="Select the type" formControlName="type" [(ngModel)]="type_1">
                                    <option value="" selected>Select a Type</option>
                                    <option value="" *ngFor="let ty of type" [value]="ty.value">{{ty.lable}}</option>
                                </select>
                                <div *ngIf="form.get('type')?.invalid && form.get('type')?.touched">
                                    <small class="text-danger">Type is required.</small>
                                </div>
                            </div>
                        </div>
                        <div class="input-box mb-3">
                            <div class="col-sm-4">
                                <label for="">Position Type</label>
                            </div>
                            <div class="col-12 col-md-3 mb-3 mx-2">
                                <select placeholder="Select the Position" formControlName="positiontype"
                                    [(ngModel)]="positiontype_1" (ngModelChange)="onChangePositionType($event)">
                                    <select-filter [placeholder]="'Find Position'" [displayMember]="'lable'"
                                        [array]="positiontype" (filteredReturn)="positiontype = $event"></select-filter>
                                    <option value="" selected>Position Type</option>
                                    <option value="" *ngFor="let pt of positiontype" [value]="pt.value">{{ pt.lable }}
                                    </option>
                                </select>
                                <div *ngIf="form.get('positiontype')?.invalid && form.get('positiontype')?.touched">
                                    <small class="text-danger">Position Type is required.</small>
                                </div>
                            </div>
                            <div class="input-box mb-3 display" *ngIf="isPositionXYVisible">
                                <div class="display_1 mb-3 justify-content-between align-items-center">
                                    <div *ngIf="isPositionXYVisible_mobile" class="col-6 col-md-2">
                                        <p for="positionX">Position X</p>
                                    </div>
                                    <div *ngIf="!isPositionXYVisible_mobile" class="col-6 col-md-2">
                                        <p for="positionX">X</p>
                                    </div>
                                    <div class="col-6 col-md-8">
                                        <input id="positionX" type="text" formControlName="x" [(ngModel)]="x">
                                    </div>
                                </div>
                                <div class="display_1 mb-3 justify-content-between align-items-center">
                                    <div *ngIf="isPositionXYVisible_mobile" class="col-6 col-md-2">
                                        <p for="positionY">Position Y</p>
                                    </div>
                                    <div *ngIf="!isPositionXYVisible_mobile" class="col-6 col-md-2">
                                        <p for="positionY">Y</p>
                                    </div>
                                    <div class="col-6 col-md-8">
                                        <input id="positionY" type="text" formControlName="y" [(ngModel)]="y">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="input-box mb-3" *ngIf="!ispositiondisabled">
                            <div class="col-sm-4">
                                <label for="">Position</label>
                            </div>
                            <div class="col-12 col-md-8">
                                <select placeholder="Select the position" formControlName="position"
                                    [(ngModel)]="position_1">
                                    <option value="" selected>Select a Position</option>
                                    <option *ngFor="let po of position" [value]="po.value">{{po.lable}}</option>
                                </select>
                                <div *ngIf="form.get('position')?.invalid && form.get('position')?.touched">
                                    <small class="text-danger">Position is required.</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-sm-6 mobile" style="padding: 1.5rem;">
                    <div class="row">
                        <div class="input-box mb-3">
                            <div class="col-sm-4">
                                <label for="">Font Size</label>
                            </div>
                            <div class="col-12 col-md-8" *ngIf="!isFontSizeSelectDisabled">
                                <select placeholder="Select the fontsize" formControlName="fontsize"
                                    [(ngModel)]="fontsize_1">
                                    <option value="">Select a Font Size</option>
                                    <option *ngFor="let fs of fontsize" [value]="fs.value">{{fs.lable}}</option>
                                </select>
                            </div>
                            <div class="col-12 col-md-8" *ngIf="!isFontSizeDisabled">
                                <input type="text" placeholder="Enter Font size" pattern="[0-9]*" maxlength="2"
                                    [(ngModel)]="fontsize_1" (keypress)="onKeydown($event)" step="1"
                                    formControlName="fontsize">
                                <div *ngIf="form.get('fontsize')?.invalid && form.get('fontsize')?.touched">
                                    <small class="text-danger">Fontsize is required.</small>
                                </div>
                            </div>
                        </div>
                        <div class="input-box mb-3">
                            <div class="col-sm-4">
                                <label for="">Background Color</label>
                            </div>
                            <div class="col-12 col-md-8">
                                <select formControlName="bgcolor" [(ngModel)]="bgcolor_1">
                                    <option value="">Select a Background Color</option>
                                    <option *ngFor="let bc of bgcolor" [value]="bc.value">{{bc.lable}}</option>
                                </select>
                                <div *ngIf="form.get('bgcolor')?.invalid && form.get('bgcolor')?.touched">
                                    <small class="text-danger">Background Color is required.</small>
                                </div>
                            </div>
                        </div>
                        <div class="input-box mb-3">
                            <div class="col-sm-4">
                                <label for="">Font Color</label>
                            </div>
                            <div class="col-12 col-md-8">
                                <select formControlName="fontcolor" [(ngModel)]="fontcolor_1">
                                    <option value="">Select a Font Color</option>
                                    <option *ngFor="let fc of fontcolor" [value]="fc.value">{{fc.lable}}</option>
                                </select>
                                <div *ngIf="form.get('fontcolor')?.invalid && form.get('fontcolor')?.touched">
                                    <small class="text-danger">Font Color is required.</small>
                                </div>
                            </div>
                        </div>
                        <div class="input-box transparancy mb-3">
                            <div class="col-sm-4">
                                <label for="">Transparancy</label>
                            </div>
                            <div class="col-12 col-md-8" *ngIf="!isTransparency_select_Disabled">
                                <select placeholder="Select the transparancy" [(ngModel)]="transparancy_1"
                                    formControlName="transparancy" [disabled]="force">
                                    <select-filter [placeholder]="'Find font transparancy'" [displayMember]="'lable'"
                                        [array]="transparancy" (filteredReturn)="transparancy =$event"></select-filter>
                                    <option *ngFor="let tc of transparancy" [value]="tc.value">{{tc.lable}}</option>
                                </select>
                                <div *ngIf="form.get('transparancy')?.invalid && form.get('transparancy')?.touched">
                                    <small class="text-danger">Transparancy is required.</small>
                                </div>
                            </div>
                            <div class="col-12 col-md-8" *ngIf="!isTransparencyDisabled">
                                <input type="text" matInput placeholder="Enter minutes" (keypress)="onKeydown($event)"
                                    [(ngModel)]="transparancy_1" formControlName="transparancy">
                                <div *ngIf="form.get('transparancy')?.invalid && form.get('transparancy')?.touched">
                                    <small class="text-danger">Transparancy is required.</small>
                                </div>
                            </div>
                        </div>
                        <div class="input-box mb-3" *ngIf="!isrepeatfordisabled">
                            <div class="col-sm-4">
                                <label for="">Repeatfor</label>
                            </div>
                            <div class="col-12 col-md-8">
                                <input type="text" matInput placeholder="" [(ngModel)]="repeatfor_1"
                                    formControlName="repeatfor">
                                <div *ngIf="form.get('repeatfor')?.invalid && form.get('repeatfor')?.touched">
                                    <small class="text-danger">Repaeatfor is required.</small>
                                </div>
                            </div>
                        </div>
                        <div class="input-box mb-3">
                            <div class="col-sm-4">
                                <label for="">Duration</label>
                            </div>
                            <div class="col-12 col-md-8">
                                <input type="text" matInput placeholder="Enter duration" (keypress)="onKeydown($event)"
                                    formControlName="duration" [(ngModel)]="duration_1">
                                <div *ngIf="form.get('duration')?.invalid && form.get('duration')?.touched">
                                    <small class="text-danger">Duration is required.</small>
                                </div>
                            </div>
                        </div>
                        <div class="input-box mb-3">
                            <div class="col-sm-4">
                                <label for="">Time Gap </label>
                            </div>
                            <div class="col-12 col-md-8">
                                <input type="text" matInput placeholder="Enter time gap" formControlName="timegap"
                                    (keypress)="onKeydown($event)" [(ngModel)]="timegap_1">
                                <div *ngIf="form.get('timegap')?.invalid && form.get('timegap')?.touched">
                                    <small class="text-danger">TimeGap is required.</small>
                                </div>
                            </div>
                        </div>
                        <div class="input-box mb-3 d-flex">
                            <div class="col-sm-4">
                                <label for="">Time Span</label>
                            </div>
                            <div class=" col-4 col-md-3">
                                <input type="number" formControlName="hh" [(ngModel)]="hh" pattern="[0-9]" maxlength="2"
                                    (keypress)="onKeydown($event)" placeholder="HH" type="text" value="0">
                            </div>
                            <div class="col-4 col-md-3">
                                <input type="number" formControlName="mm" [(ngModel)]="mm" pattern="[0-9]" maxlength="2"
                                    (keypress)="onKeydown($event)" placeholder="MM" type="text" value="0">
                            </div>
                            <div class="col-4 col-md-3">
                                <input type="number" formControlName="ss" [(ngModel)]="ss" pattern="[0-9]" maxlength="2"
                                    (keypress)="onKeydown($event)" placeholder="SS" type="text" value="0">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-end align-items-center">
                <div class="d-flex justify-content-center align-items-center" style="padding: 10px;">
                    <button (click)="submit()" class="btn btn-success">Send</button> &nbsp;
                    <button (click)="stop()" class="btn btn-danger" [disabled]="!isStopButtonEnabled">Stop </button>
                </div>

            </div>
            <div class=" d-flex justify-content-end align-items-center mb-3" style="color: red;">
                Service is Not Running
            </div>
        </form>
    </div>

</div>