<div class="Head d-flex justify-content-between align-items-center mb-3" style="padding: 1rem;">
    <h6> Street list</h6>
    <i class="fa fa-close close-icon" style="cursor: pointer;" (click)="onNoClick()"></i>
</div>

<div class=" d-flex justify-content-center align-items-center ">
    <div class="card-content" style="width: 100%;">
        <div class="col-12 col-md-12 d-flex justify-content-center align-item-center mb-1">
            <div *ngIf="Isuser" class="col-6 col-md-4 display justify-content-start align-item-center">
                <h6 style="text-align: center;color:rgb(66, 64, 64);"> AREA : <span style="color: #013457;font-size: large;">{{area}}</span>
                </h6>
            </div>

            <div class="col-6 col-md-4 display justify-content-end align-item-center">
                <span class="sub-tittle tittle1">
                    <button type="button" class="btn btn-success me-2" (click)="newStreet('newstreet')">New</button>
                </span>
            </div>
        </div>
        <div class="mb-3" style="padding: 1rem;" *ngIf="Isuser">
            <ag-grid-angular #agGrid domLayout='autoHeight' class="ag-theme-alpine table-class" rowAnimation
                [rowSelection]="rowSelection" (selectionChanged)="onSelectionChanged()" [columnDefs]="columnDefs"
                [rowData]="rowData" [enableCellTextSelection]="true">
            </ag-grid-angular>
        </div>
        <div class="mb-3" style="padding: 1rem;" *ngIf="IsOperator">
            <ag-grid-angular #agGrid  domLayout='autoHeight' class="ag-theme-alpine table-class" rowAnimation
                [rowSelection]="rowSelection" (selectionChanged)="onSelectionChanged()" [columnDefs]="columnDefs1"
                [rowData]="rowData" [enableCellTextSelection]="true">
            </ag-grid-angular>
        </div>
    </div>
</div>