.gender-category label {
    padding: 0 20px 0 5px;
    font-size: 14px;
}

span {
    font-weight: 600;
    font-size: 0.9pc;
    color: darkslategrey;
}

.line {
    padding: 0.4rem;
}

.gender-category {
    color: black;
}

.gender-category label,
.gender-category input {
    cursor: pointer;
}

@media screen and (max-width: 560px) {
    .head {
        font-size: medium;
        padding: 8px;
    }

    .row {
        flex-direction: column;
        padding: 0.5rem;
    }

    .col-4 {
        width: 100%;
        margin-bottom: 10px;
    }

    .gender-category {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .col-12.d-flex {
        // flex-direction: column;
        align-items: flex-start;
    }

    .gender-category label {
        padding: 0 10px 0 5px;
    }

    .close-icon {
        font-size: 18px;
    }

    button.btn {
        width: 100%;
    }
}

.btn {
    width: 100px;
}

select,
input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    padding: 0px 12px;
    border-top: 2px solid #b0afaf;
    border-bottom: 0.9px solid lightgray;
    border-left: 0.9px solid lightgray;
    border-right: 0.9px solid lightgray;
}


// =====================================================edit lco dashbord=================================


.card {
    border-radius: 8px;
    text-align: center;
    background-color: #f8f9fa;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    width: 100%;
    height: 75%;
    // border: white;
}

.card i {
    font-size: 35px;
    margin-bottom: 8px;
    color: var(--primary-color);
}

.card .font-awesome {
    font-size: 30px;
    margin-bottom: 8px;
    color: var(--primary-color);
}

.fw-bold {
    font-size: 30px;
    // color: var(--primary-color);
    color: #0ca1e5;
}

.text {
    font-size: 16px;
    color: var(--text-color);
}

.text1 {
    font-size: 17px;
    color: var(--text-color);
    font-weight: 600;
}

h5 {
    color: #1fd42f;
}

.online {
    color: white;
    font-size: 24px;
    font-weight: 600;
}

// .online_recharge {
//     padding: 5px;
// }

// .balance {
//     padding: 10px;
// }


.display {
    display: flex;
}

.box {
    cursor: pointer;
}

.card .rupee {
    font-size: 20px;
    color: #1fd42f;
}

.card .forward {
    font-size: 25px;
    color: #0469db;
}


@media screen and (max-width:560px) {
    .card i {
        font-size: 30px;
        margin-bottom: 8px;
        color: var(--primary-color);
    }

    .fw-bold {
        font-size: 25px;
        color: var(--primary-color);
    }

    .text {
        font-size: 12px;
        color: var(--text-color);
    }

    .display {
        display: block;
    }

    .online {
        font-size: 25px;
    }
}