.Head {
    background-color: var(--primary-color);
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
    color: white;
    padding: 1rem;
}

.Head span {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.export-buttons {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}

.export-icon {
    cursor: pointer;
    text-align: center;
}

.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.label {
    flex: 0 0 30%; 
    // font-weight: bold;
    color: #252929eb;
    font-size: 17px;
}

.input-field {
    flex: 1;
    width: 100%;
}

.export-buttons {
    gap: 1rem;
}

.export-icon {
    cursor: pointer;
    text-align: center;
}

@media screen and (max-width: 560px) {
    .label {
        flex: 0 0 100%; 
        margin-bottom: 0.5rem;
    }
    .input-field {
        flex: 0 0 100%;
    }
}
// ---------------------------------toggle button -------------------
.switch {
    position: relative;
  }
  
  .switch label {
    width: 55px;
    height: 23px;
    background-color: #999;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50px;
  }
  
  .switch input[type="checkbox"] {
    visibility: hidden;
  }
  
  .switch label:after {
    content: '';
    width: 21px;
    height: 21px;
    border-radius: 50px;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: 100ms;
    background-color: white;
  }
  
  .switch .look:checked + label:after {
    left: 32px;
  }
  
  .switch .look:checked + label {
    background-color: rgb(2, 75, 44);
  }