<div *ngIf="type == 'base_package' || type == 'addon_package' || type == 'alacarte' || type == 'date_subscription'">
    <div class="Head d-flex justify-content-between align-items-center mb-3">
        <span class="span">{{ getHeaderTitle(type) }}</span>
        <i class="fa fa-close close-icon" (click)="onNoClick()"></i>
    </div>

    <div class="container">
        <div class="card d-block justify-content-center align-items-center mb-3"
            style="border: 1px solid #055478;padding: 1rem;">
            <div class="col-12 display align-items-center">
                <div class="col-12 col-md-12  justify-content-center align-items-center  ">
                    <div *ngIf="type != 'alacarte'" class=" display mb-3">
                        <div class="col-12 col-md-6 sidename">
                            <span style="color: #243359;"> Select a Operator</span>
                        </div>
                        <div class="col-12 col-md-6">
                            <mat-form-field class="input-field" appearance="outline">
                                <input type="text" matInput [matAutocomplete]="auto" (input)="filterOperators($event)"
                                    [value]="selectedOperator?.name">
                                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayOperator">
                                    <mat-option [value]="0"
                                        (click)="onoperatorchange({ name: 'All Operator', value: 0 })">
                                        All Operator
                                    </mat-option>
                                    <mat-option *ngFor="let operator of filteredOperators" [value]="operator.name"
                                        (click)="onoperatorchange(operator)">
                                        {{ operator.name }}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                            <div *ngIf="submitted && !operatorid" class="text-danger" style="font-size: small;">
                                Operator is required
                            </div>
                        </div>
                    </div>
                    <div class=" display mb-3">
                        <div class="col-12 col-md-6 sidename">
                            <span style="color: #243359;">Select a Date</span>
                        </div>

                        <div class="col-12 col-md-6">
                            <mat-form-field class="input-field" appearance="outline">
                                <mat-label>Choose a date</mat-label>
                                <input matInput [matDatepicker]="picker" (dateChange)="logValues()" [(ngModel)]="date"
                                    placeholder="Select a Date" readonly>
                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                            <div *ngIf="submitted && !date" class="text-danger" style="font-size: small;">
                                Date is required
                            </div>
                        </div>
                    </div>
                    <div class="input_box display mb-3">
                        <div class="col-12 col-md-6">
                            <span>Status</span>
                        </div>

                        <div class="switch col-12 col-md-6">
                            <input id="checkbox1" class="look" type="checkbox" [(ngModel)]="isActive"
                                (change)="logValues()">
                            <label for="checkbox1"></label>
                        </div>
                    </div>
                    <div *ngIf="type == 'base_package'">
                        <div class="input_box display1 mb-3">
                            <div class="col-6 col-md-6 sidename">
                                <span>Reports</span>
                            </div>
                            <div class="col-6 col-md-6">
                                <div class="export-buttons d-flex">
                                    <div class="export-icon col-6 col-md-3 mx-2" (click)="getBasePackageReport(2)">
                                        <img src="/assets/images/icons/Excel.png" alt="Excel Icon" width="40px">
                                        <div class="tooltip">Excel</div>
                                    </div>
                                    <div class="export-icon col-6 col-md-3 mx-2" (click)="getBasePackageReport(1)">
                                        <img src="/assets/images/icons/pdf.png" alt="PDF Icon" width="40px">
                                        <div class="tooltip">Pdf</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="type == 'addon_package'">
                        <div class="input_box display1 mb-3">
                            <div class="col-6 col-md-6 sidename">
                                <span>Reports</span>
                            </div>
                            <div class="col-6 col-md-6">
                                <div class="export-buttons d-flex">
                                    <div class="export-icon col-6 col-md-3 mx-2" (click)="getAddonPackageReport(2)">
                                        <img src="/assets/images/icons/Excel.png" alt="Excel Icon" width="40px">
                                        <div class="tooltip">Excel</div>
                                    </div>
                                    <div class="export-icon col-6 col-md-3 mx-2" (click)="getAddonPackageReport(1)">
                                        <img src="/assets/images/icons/pdf.png" alt="PDF Icon" width="40px">
                                        <div class="tooltip">Pdf</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="type == 'alacarte'">
                        <div class="input_box display1 mb-3">
                            <div class="col-6 col-md-6 sidename">
                                <span>Reports</span>
                            </div>
                            <div class="col-6 col-md-6">
                                <div class="export-buttons d-flex">
                                    <div class="export-icon col-6 col-md-3 mx-2" (click)="getAlacartePackageReport(2)">
                                        <img src="/assets/images/icons/Excel.png" alt="Excel Icon" width="40px">
                                        <div class="tooltip">Excel</div>
                                    </div>
                                    <div class="export-icon col-6 col-md-3 mx-2" (click)="getAlacartePackageReport(1)">
                                        <img src="/assets/images/icons/pdf.png" alt="PDF Icon" width="40px">
                                        <div class="tooltip">Pdf</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="type == 'date_subscription'">
                        <div class="input_box display1 mb-3">
                            <div class="col-6 col-md-6 sidename">
                                <span>Reports</span>
                            </div>
                            <div class="col-6 col-md-6">
                                <div class="export-buttons d-flex">
                                    <div class="export-icon col-6 col-md-3 mx-2" (click)="getAllProductReport(2)">
                                        <img src="/assets/images/icons/Excel.png" alt="Excel Icon" width="40px">
                                        <div class="tooltip">Excel</div>
                                    </div>
                                    <div class="export-icon col-6 col-md-3 mx-2" (click)="getAllProductReport(1)">
                                        <img src="/assets/images/icons/pdf.png" alt="PDF Icon" width="40px">
                                        <div class="tooltip">Pdf</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div *ngIf="type == 'weekly_based'">
    <div class="Head d-flex justify-content-between align-items-center mb-3">
        <span class="span">Weekly Product Report</span>
        <i class="fa fa-close close-icon" (click)="onNoClick()"></i>
    </div>
    <div class="container">
        <div class="card d-block justify-content-center align-items-center mb-3"
            style="border: 1px solid #055478;padding: 1rem;">
            <div class="col-12 display align-items-center">
                <div class="col-12 col-md-12  justify-content-center align-items-center  ">
                    
                    <div class="input_box display mb-3">
                        <div class="col-12 col-md-6">
                            <span for="">Select year</span>
                        </div>
                        <div class="col-12 col-md-6">
                            <select name="year" id="year" [(ngModel)]="selectedYear">
                                <option value="0" selected>Select Year</option>
                                <option *ngFor="let year of years" [value]="year">{{ year }}</option>
                            </select>
                            <div *ngIf="submitted && !selectedYear" class="text-danger" style="font-size: small;">
                                Year is required
                            </div>
                        </div>
                    </div>
                    <div class="input_box display mb-3">
                        <div class="col-12 col-md-6">
                            <span for="">Select Month</span>
                        </div>
                        <div class="col-12 col-md-6">
                            <select name="month" id="month" [(ngModel)]="selectedMonth" (change)="onMonthChange()">
                                <option value="0" selected>Select Month</option>
                                <option *ngFor="let month of months" [value]="month.value">{{ month.name }}
                                </option>
                            </select>
                            <div *ngIf="submitted && !selectedMonth" class="text-danger" style="font-size: small;">
                                Month is required
                            </div>
                        </div>
                    </div>
                    <div class="input_box display mb-3">
                        <div class="col-12 col-md-6">
                            <span for="">Select Date</span>
                        </div>
                        <div class="col-12 col-md-6">
                            <select name="date" id="date" [(ngModel)]="selectedweek" [disabled]="isDateDisabled">
                                <option value="0" selected>Select Week</option>
                                <option *ngFor="let date of Date" [value]="date.value">{{ date.name }}
                                </option>
                            </select>
                            <div *ngIf="submitted && !selectedweek" class="text-danger" style="font-size: small;">
                                Week is required
                            </div>
                        </div>
                    </div>
                    <div class="input_box display1 mb-3">
                        <div class="col-6 col-md-6">
                            <span for="">Status</span>
                        </div>
                        <!-- <div class=""> -->
                        <div class="switch col-6 col-md-6">
                            <input id="checkbox1" class="look" type="checkbox" [(ngModel)]="isActive"
                                (change)="logValues()">
                            <label for="checkbox1"></label>
                        </div>
                        <!-- </div> -->
                    </div>
                    <div class="input_box display1 mb-3">
                        <div class="col-6 col-md-6">
                            <span for="">Reports</span>
                        </div>
                        <div class="col-6 col-md-6 display1">
                            <div class="export-icon col-6 col-md-3 mx-2" (click)="getWeeklyActiveDeactiveReport(2)">
                                <img src="/assets/images/icons/Excel.png" alt="Excel Icon" width="40px">
                                <div class="tooltip">Excel</div>
                            </div>
                            <div class="export-icon col-6 col-md-3" (click)="getWeeklyActiveDeactiveReport(1)">
                                <img src="/assets/images/icons/pdf.png" alt="PDF Icon" width="40px">
                                <div class="tooltip">Pdf</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- dfds -->
    </div>
</div>