<div *ngIf="type == 'base_package' || type == 'addon_package' || type == 'alacarte' || type == 'date_subscription'">
    <div class="Head d-flex justify-content-between align-items-center mb-3">
        <span class="span">{{ getHeaderTitle(type) }}</span>
        <i class="fa fa-close close-icon" (click)="onNoClick()"></i>
    </div>

    <div class="content-wrapper d-flex flex-wrap align-items-center" style="padding: 2rem;">
        <div class="col-12 col-md-12 d-flex flex-wrap align-items-center">
            <span class="label">Operator</span>
            <mat-form-field class="input-field" appearance="outline">
                <mat-label>Select Operator</mat-label>
                <input type="text" matInput [matAutocomplete]="auto" (input)="filterOperators($event)"
                    [value]="selectedOperator?.name">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayOperator">
                    <mat-option *ngFor="let operator of filteredOperators" [value]="operator.name"
                        (click)="onoperatorchange(operator)">
                        {{ operator.name }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-12 d-flex flex-wrap align-items-center">
            <span class="label">Select a Date</span>
            <mat-form-field class="input-field" appearance="outline">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" placeholder="Select a Date" readonly>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-12 col-md-12 d-flex flex-wrap align-items-center">
            <span class="label">Choose Active/Deactive</span>
            <div class="switch">
                <input id="checkbox1" class="look" type="checkbox">
                <label for="checkbox1"></label>
              </div>        </div>

        <div class="col-12 col-md-12 d-flex flex-wrap align-items-center">
            <span class="label">Get Reports</span>
            <div class="export-buttons d-flex">
                <div class="export-icon" (click)="getExcel()">
                    <img src="/assets/images/icons/Excel.png" alt="Excel Icon" width="40px">
                    <div class="tooltip">Excel</div>
                </div>
                <div class="export-icon" (click)="getPDF()">
                    <img src="/assets/images/icons/pdf.png" alt="PDF Icon" width="40px">
                    <div class="tooltip">Pdf</div>
                </div>
            </div>
        </div>
    </div>
</div>