

.display {
    display: flex;
}

@media screen and (max-width:560px) {
    .display {
        display: block;
    }
}
.btn-primary {
    background-color: #48c150 !important;
    border-color: #48c150 !important;
    color: white !important;
  }
  