
.col-sm-6 {
    margin-bottom: 10px;
}

.content1 .row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * 1);
    margin-right: calc(var(--bs-gutter-x) * 0) !important;
    margin-left: calc(var(--bs-gutter-x) * 0) !important;
}

.col-sm-6 {
    border-radius: 10px;
}

::ng-deep .card-body {
    padding: 0.1rem 0.1rem !important;
}

@media (max-width: 576px) {
    .col-sm-6 {
        margin-bottom: 10px;
    }

    .content1 {
        position: relative;
    }
}