<section class="content1">
    <div class="row g-6 mb-6">
        <div class="col-xl-7 col-sm-6 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <app-stb-chart></app-stb-chart>
                            <!-- jkjhk -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-5 col-sm-6 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <app-inventory-chart></app-inventory-chart>
                            <!-- l;lk;lk -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row g-6 mb-6">
        <div class="col-xl-5 col-sm-6 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <app-package-chart></app-package-chart>
                            <!-- <app-pakage-chart></app-pakage-chart> -->
                            <!-- hkhkihkj -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-7 col-sm-6 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <app-bar-chart></app-bar-chart>
                            <!-- lkjlkjlj -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>