<div *ngIf="role == 'ROLE_ADMIN'" class="chart">
    <h4>ADDON PACK MANAGE</h4>

    <div class="row">
        <div class="col-xl-12 col-sm-12 col-12">
            <div class="col d-flex justify-content-center align-items-center mb-3">
                <a class="btn btn-outline-success mx-1  " (click)="addnew()">
                    <span>+</span> New
                </a>
                <div class="export-icon" (click)="generatePdf(0,'all')">
                    <img style="height: 5vh;" src="/assets/images/icons/pdf.png" alt="PDF Icon">
                </div>
            </div>
            <div class="col-12 col-md-10 d-flex align-items-center justify-content-center " style="margin: auto;">
                <ag-grid-angular #agGrid id="myGrid" domLayout='normal' class="ag-theme-alpine table-class"
                    style="max-height: 590px;overflow: scroll;overflow-x: hidden;overflow-y: hidden;" rowAnimation
                    [gridOptions]="gridOptions" [columnDefs]="columnDefs" [rowData]="rowData"
                    [enableCellTextSelection]="true">
                </ag-grid-angular>
            </div>
        </div>
    </div>
</div>

<div *ngIf="role == 'ROLE_OPERATOR'" class="chart">
    <h4>ADDON PACK MANAGE</h4>
    <div class="row">
        <div class="">
                 <div class="col-12 col-sm-10  align-items-center justify-content-center responsive-container"
                style="margin: auto;">

                <ag-grid-angular #agGrid id="myGrid" domLayout='autoHeight' class="ag-theme-alpine table-class"
                    style="max-height: 590px;overflow: scroll;overflow-x: hidden;" rowAnimation
                    [gridOptions]="gridOptions" [columnDefs]="columnDefs1" [rowData]="rowData"
                    [enableCellTextSelection]="true">
                </ag-grid-angular>
            </div>
        </div>
    </div>
</div>