.card {
  padding: 17px;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1);
}

.close-icon {
  font-size: 19px;
  cursor: pointer;
}

.close-icon:hover {
  background-color: var(--primary-color);
  font-size: 17px;
  padding: 2px;
  margin: 0;
  color: white;
  border-radius: 10px;
}

span {
  font-weight: bold;
}

.card-body {
  width: 100%;
}

.card-body input {
  border: 1px solid #1f6764;
  width: auto;
}

.card-body input:hover {
  background-color: var(--body-color);
}

.text-center {
  text-align: center;
}

.span {
  color: var(--primary-color);
  font-size: 19px;
  text-transform: uppercase;
  font-weight: bold;
}

.p_c_l {
  margin-right: 5rem !important;
}




// --------------------------------------view-------------------------------


.has-error input {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 0.9em;
  margin-top: 0.5em;
}


.display {
  display: flex;
}

@media screen and (max-width:560px) {

  .display {
    display: block;
  }
}



// ==========================================button=================================================

#app-cover {
  display: table;
  width: 600px;
  margin: 80px auto;
  counter-reset: button-counter;
}

.toggle-button-cover {
  display: table-cell;
  position: relative;
  width: 100px;
  height: 40px;
  box-sizing: border-box;
}

.button {
  position: relative;
  top: 50%;
  width: 74px;
  height: 36px;
  margin: -20px auto 0 auto;
  overflow: hidden;
}

.button.r,
.button.r .layer {
  border-radius: 100px;
}

.button.b2 {
  border-radius: 2px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #ebf7fc;
  transition: 0.3s ease all;
  z-index: 1;
}


#button-10 .knobs:before,
#button-10 .knobs:after,
#button-10 .knobs span {
  position: absolute;
  top: 4px;
  width: 20px;
  height: 10px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  border-radius: 2px;
  transition: 0.3s ease all;
}

#button-10 .knobs:before {
  content: "";
  width: 36px;
  height: 31px;
  left: 4px;
  background-color: #216303;
}

#button-10 .knobs:after {
  content: "NO";
  right: 4px;
  color: #4e4e4e;
}

#button-10 .knobs span {
  display: inline-block;
  left: 8px;
  top: 6px;
  color: #fff;
  z-index: 1;
}

#button-10 .checkbox:checked+.knobs span {
  color: #4e4e4e;
}

#button-10 .checkbox:checked+.knobs:before {
  left: 42px;
  background-color: #f44336;
}

#button-10 .checkbox:checked+.knobs:after {
  color: #fff;
}

#button-10 .checkbox:checked~.layer {
  background-color: #fcebeb;
}

.radiocs {
  --radius: 8px;
  --border: 2px;
  --height: 39px;
  --speed: 0.25s;
  display: grid;
  place-items: center;
  align-content: center;
  font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue",
    Helvetica, Arial, sans-serif, system-ui;
  width: 1vh;
  color: white !important;
}

.tabs {
  height: var(--height);
  display: grid;
  grid-auto-flow: column;
  background: #454857;
  border-radius: var(--radius);
  grid-auto-columns: 1fr;
  position: relative;
  // border: var(--border) solid #03a503;
}

.tabs {
  --ease: linear(0,
      0.1641 3.52%,
      0.311 7.18%,
      0.4413 10.99%,
      0.5553 14.96%,
      0.6539 19.12%,
      0.738 23.5%,
      0.8086 28.15%,
      0.8662 33.12%,
      0.9078 37.92%,
      0.9405 43.12%,
      0.965 48.84%,
      0.9821 55.28%,
      0.992 61.97%,
      0.9976 70.09%,
      1);
}

.tabs>.input1,
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
  color: white !important;
}

.tabs:has(:checked:nth-of-type(1)) {
  --active: 0;
}

.tabs:has(:checked:nth-of-type(2)) {
  --active: 1;
}

.tabs:has(:checked:nth-of-type(3)) {
  --active: 2;
}

.tabs:has(:checked:nth-of-type(4)) {
  --active: 3;
}

.tabs :checked+.label {
  --highlight: 1;
}

.tabs:has(.input1:nth-of-type(2)) {
  --count: 2;
}

.tabs:has(.input1:nth-of-type(3)) {
  --count: 3;
}

.tabs:has(.input1:nth-of-type(4)) {
  --count: 4;
}

.tabs .label {
  padding: 0 clamp(10px, 10px + 10px, 20px);
  cursor: pointer;
  text-align: center;
  height: 100%;
  display: grid;
  border-radius: calc(var(--radius) - var(--border));
  place-items: center;
  color: hsl(0 0% 100% / calc(0.5 + var(--highlight, 0)));
  transition: background, color;
  transition-duration: 0.25s;
  transition-timing-function: var(--ease, ease);
  color: white !important;
  font-weight: bold;
}

.input1:not(:checked)+.label:hover {
  --highlight: 0.35;
  // background: hsl(0 0% 20%);
}

.tabs::after {
  pointer-events: none;
  content: "";
  width: calc(100% / var(--count));
  height: 100%;
  // background: hsl(0 0% 100%);
  position: absolute;
  border-radius: calc(var(--radius) - var(--border));
  // mix-blend-mode: difference;
  translate: calc(var(--active, 0) * 100%) 0;
  transition: translate, outline-color;
  transition-duration: var(--speed);
  transition-timing-function: var(--ease, ease);
  outline: 2px solid transparent;
  // background: #03a503;
  background-image: linear-gradient(180deg, #95d891, #74bbad);
  ;
  color: white !important;
}

.tabs:has(:focus-visible)::after {
  // outline-color: red;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type="radio"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}


.input_box label::after {
  color: transparent !important;
}


.errorcase {
  color: red;
}