<div class="Head d-flex justify-content-between align-items-center mb-3" style="padding: 1rem;">
    <h6>CREATE BASE PACKAGE</h6>
    <i class="fa fa-close close-icon" style="cursor: pointer;" (click)="onNoClick()"></i>
</div>

<form [formGroup]="createpackageForm" style="border-radius: 10px;">
    <div class="" style="padding: 1rem;max-height: 560px; overflow: scroll;">
        <div class="row mb-3">
            <div class="input_box col-12 col-md-6">
                <div class=" mb-3">
                    <span for="package_logo" class="form-label">Package Logo</span>
                    <input type="file" class="" id="package_logo" formControlName="package_logo"
                        (change)="onFileChange($event)" placeholder="Enter package logo" accept=".png">
                    <!-- <div *ngIf="createpackageForm.get('package_logo')?.invalid && createpackageForm.get('package_logo')?.touched" class="error-message">
                            Package Logo is required.
                          </div> -->

                </div>
            </div>
            <div class="input_box col-12 col-md-6">
                <div class=" mb-3">
                    <span for="package_name" class="form-label">Package Name</span>
                    <input type="text" class="" id="package_name" formControlName="package_name"
                        placeholder="Enter package name">
                    <div *ngIf="createpackageForm.get('package_name')?.invalid && createpackageForm.get('package_name')?.touched"
                        class="error-message">
                        Package Name is required.
                    </div>
                </div>
            </div>
        </div>
        <!-- Row 2 -->
        <div class="row mb-3">
            <div class="input_box col-12 col-md-6">
                <div class=" mb-3">
                    <span for="package_desc" class="form-label">Description</span>
                    <input type="text" class="" id="package_desc" formControlName="package_desc"
                        placeholder="Enter Description">
                    <div *ngIf="createpackageForm.get('package_desc')?.invalid && createpackageForm.get('package_desc')?.touched"
                        class="error-message">
                        Description is required.
                    </div>
                </div>
            </div>
            <div class="input_box col-12 col-md-6">
                <div class=" mb-3">
                    <span for="order_id" class="form-label">Reference Id</span>
                    <input type="text" class="" id="order_id" formControlName="order_id" (keydown)="onKeydown($event)"
                        placeholder="Enter Reference Id">
                    <div *ngIf="createpackageForm.get('order_id')?.invalid && createpackageForm.get('order_id')?.touched"
                        class="error-message">
                        Reference Id is required.
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="input_box col-12 col-md-6">
                <div class=" mb-3">
                    <span for="package_rate" class="form-label">Package Rate</span>
                    <input type="text" class="" id="package_rate" formControlName="package_rate"
                        [(ngModel)]="package_rate" (keydown)="onKeydown($event)" (input)="calculateAmounts()"
                        placeholder="Enter Package Rate">
                    <div *ngIf="createpackageForm.get('package_rate')?.invalid && createpackageForm.get('package_rate')?.touched"
                        class="error-message">
                        Package Rate is required.
                    </div>
                </div>
            </div>
            <!-- Tax Amount -->
            <div class="input_box col-12 col-md-6">
                <div class=" mb-3">
                    <span for="tax_amount" class="me-2">Tax Amount</span>
                    <input type="text" class="" id="tax_amount" [value]="tax_amount" readonly [disabled]="true"
                        placeholder="Enter Tax">
                    <div *ngIf="createpackageForm.get('tax_amount')?.invalid && createpackageForm.get('tax_amount')?.touched"
                        class="error-message">
                        Tax Amount is required.
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <!-- MRP (CusAmount)l -->
            <div class="input_box col-12 col-md-6">
                <div class=" mb-3">
                    <span for="customer_amount" class="me-2">MRP (CusAmount)</span>
                    <input type="text" class="" id="customer_amount" placeholder="Customer Amount" readonly
                        [disabled]="true" [value]="customer_amount">
                    <div *ngIf="createpackageForm.get('customer_amount')?.invalid && createpackageForm.get('customer_amount')?.touched"
                        class="error-message">
                        MRP (CusAmount) is required.
                    </div>
                </div>
            </div>
            <!-- Commission-->
            <div class="input_box col-12 col-md-6">
                <div class=" mb-3">
                    <span for="commission" class="me-2">Commission</span>
                    <input type="number" id="commission" formControlName="commission" [(ngModel)]="commission_Value"
                        (input)="calculateMsoCommission('commission')" placeholder="Enter LCO Commission" min="0"
                        (keydown)="preventnegativeInput($event)">

                    <div *ngIf="createpackageForm.get('commission')?.invalid && createpackageForm.get('commission')?.touched"
                        class="error-message">
                        Commission is required.
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <!-- Mso Commission -->
            <div class="input_box col-12 col-md-6">
                <div class=" mb-3">
                    <span for="mso_amount" class="me-2">Mso Commission</span>
                    <input type="text" class="" [disabled]="true" [value]="mso_amount" readonly
                        formControlName="mso_amount" placeholder="Mso Commission">
                    <div *ngIf="createpackageForm.get('mso_amount')?.invalid && createpackageForm.get('mso_amount')?.touched"
                        class="error-message">
                        Mso Commission is required.
                    </div>
                </div>
            </div>
            <div class="input_box col-12 col-md-6">
                <div class=" mb-3">
                    <span for="ispercentage" class="me-2">Is percentage</span>
                    <div class="radiocs">
                        <div class="tabs">
                            <input value="true" name="fav_language" id="html" type="radio" class="input1"
                                (change)="percentageValue(true)" />
                            <label for="html" class="label"><span
                                    style="z-index: 1000;color:white;margin-top:4px">Yes</span></label>
                            <input checked="" value="false" name="fav_language" id="css" type="radio" class="input1"
                                (change)="percentageValue(false)" />
                            <label for="css" class="label"><span
                                    style="z-index: 1000;color:white;margin-top:4px">No</span></label>
                        </div>
                    </div>
                </div>
            </div>


            <p class="errorcase" *ngIf="!isPercentage && issave">*Note: Fixed commission must be less than or equal to
                the customer amount!!</p>
            <p class="errorcase" *ngIf="isPercentage && issave">*Note: Commission percentage must be between 0 and
                100!!</p>

        </div>

    </div>

    <div class="form-group d-flex justify-content-center align-items-center mb-3">
        <button type="button" class="btn btn-primary me-2" [disabled]="issave" (click)="Createpackage()">Save</button>
        <button type="button" class="btn btn-secondary" (click)="onNoClick()">Cancel</button>
    </div>

    <!-- </div> -->
</form>