label {
  font-weight: 500;
}

.display1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display {
  display: flex;
}

.display_tab {
  display: flex;
}

.icon-container {
  gap: 20px;
  /* Adjust the gap between icons as needed */
}

.text {
  padding: 1rem;
  font-size: 13px;
  font-weight: 700;
}

.text1 {
  padding: 1rem;
  font-size: 12px;
}

.text2 {
  padding: 0.5rem;
  font-size: 16px;
  color: #000957;
  // font-weight: 700;
}

.text3 {
  padding: 0.5rem;
  font-size: 19px;
  color: #000957;
  // font-weight: 700;
}

.bttn {
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  transition: background-color 0.3s ease;
  background: palegoldenrod;
  font-size: smaller;
  font-weight: 700;
  border: none !important
}

.icon-item {
  padding: 0.5rem;
  height: 30px;
  border-radius: 5px;
}

.card {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  background-color: #f6f8fa;
  font-family: 'Poppins', sans-serif;
  transition: all 120ms ease-out 0s;
  padding: 0px 12px;
  border-top: 2px solid #077230;
  border-bottom: 0.9px solid lightgray;
  border-left: 0.9px solid lightgray;
  border-right: 0.9px solid lightgray;
}


.card1 {
  width: 60%;
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  background-color: #f6f8fa;
  font-family: 'Poppins', sans-serif;
  transition: all 120ms ease-out 0s;
  padding: 0px 12px;
  border-bottom: 0.9px solid lightgray;
  border-left: 0.9px solid lightgray;
  border-right: 0.9px solid lightgray;
}


.button {
  width: 10vw;
  height: 30px;
  background-color: aquamarine;
  border: 1px red;
  padding: 1rem;
  border-radius: 10px;
}

// .button {
//     flex-direction: row; /* Ensure icon and text are in a row */
//     text-align: center;  /* Center the text */
//     padding: 10px;       /* Add padding for better spacing */
//     width: 100%;    
//     border: 2px solid #4CAF50; 
//     background-color: aquamarine; 
//     border: 1px red;   /* Ensure the button takes the full width */
// }

.display_btn {
  display: flex;
}

.mobile {
  display: flex;
}

.mobile3 {
  display: block;
}

.mobile1 {
  display: block;
  padding: 0.5rem;
}

.btn_text {
  flex-grow: 1;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.btn_text1 {
  font-size: 13px;
}

.btn {
  color: #f2eef3;
  font-size: 15px;
  background-color: rgb(65 178 169);
  // background-color: #4862a2;
  width: 100%;
  border: 1px solid lightgray;
  border: none;
}

.btn :hover {
  color: rgb(0, 0, 0);
  // font-weight: bold;
}

.btn2 {
  width: 10pc;
  height: 2pc;
  color: white;
  border: 0.1px solid;
  border-radius: 5px;
  ;
}

.btn3 {
  color: white;
  border: 0.1px solid;
  background-color: rgb(161, 28, 39);
  text-decoration: none;
  padding: 0.4rem;
  border-radius: 8px;

}

.btn3 i {
  color: white;
}

.confirm {
  background-color: rgb(243, 146, 19);
  color: white;
}

.recharge {
  background-color: rgb(8, 79, 212);
  color: white;
}

.btn i {
  display: flex;
  justify-content: flex-start;
  color: #f2eef3;

}

.btn i:hover {
  color: #ccc;
}

.btn span {
  display: flex;
  justify-content: flex-end;
  color: #011414;
}

.display_btn1 {
  display: flex;
}

.text3 {
  padding: 0.2rem;
}



@media (max-width: 1024px) {
  .responsive {
    width: 100%;
    float: none;
  }

  .display {
    display: block;
  }
}

@media screen and (max-width:560px) {
  .display {
    display: block;
  }

  .display_tab {
    display: block;

    .tab {
      text-align: center;
    }
  }

  .text {
    padding: 0.5rem;
    font-size: 12px;
    font-weight: 700;
  }

  .text1 {
    font-size: 11px;
  }

  .card1 {
    position: relative;
    margin-left: -36px;
    width: 150%;

  }

  .text2 {
    padding: 0.2rem;
    font-size: 13px;
    font-weight: 700;
  }

  .mobile1 {
    display: block;
  }

  .mobile2 {
    display: block;
  }

  .mobile {
    display: block;
  }

  .display_btn {
    display: flex;
  }

  .display_btn1 {
    display: block;
  }

  ::ng-deep .cdk-overlay-pane {
    width: 500px;
    max-width: 100vw !important;
  }

  ::ng-deep .cdk-overlay-pane {
    width: 500px;
    max-width: 100vw !important;
  }

}

::ng-deep {
  .ag-center-cols-viewport {
    overflow: auto;
  }
}

/* Responsive styles */
// @media (max-width: 767.98px) {
//     .display_btn .col-6 {
//         width: 100%;
//         max-width: 100%;
//     }
// }

// @media (min-width: 768px) {
//     .display_btn .col-md-3 {
//         max-width: 25%;
//     }
// }


// =====================Tooltip====================
.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-content {
  visibility: hidden;
  width: 110px;
  background-color: rgb(35, 36, 35);
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  font-size: 13px;
  top: -75%;
  left: -100%;
  transform: translateY(-50%);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
}

// .tooltip-content::before {
//     content: "";
//       position: absolute;
//     bottom: -46%;
//     left: 31%;
//     top: -5px;
//     transform: translateX(-50%);
//     border-width: 5px;
//     border-style: solid;
//     border-color: transparent rgb(7 124 7) transparent transparent;
// }

.tooltip-container:hover .tooltip-content {
  visibility: visible;
  opacity: 1;
}

// =============================grid-table============
// #myGrid {
//     width: 100%;
//     height: 100%; /* This will ensure the grid takes full height available within the parent div */
// }

// .ag-theme-alpine {
//     height: 100%; /* Make sure the grid theme takes full height */
// }

// .table-class {
//     height: 100%; /* Ensures that the table class applies to full height */
// }
// ::ng-deep {
//   .ag-center-cols-viewport {
//     max-height: 1000px;
//     overflow: scroll;
//   }
// }

// ===================================Expandale------------------
.expandale {
  background-color: #194392;
}

// .expandale :hover {
//     background-color: #194392;
// }
.tab {
  padding: 5px 10px;
  cursor: pointer;
  margin: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

// .tab:hover {
//     background-color: #2f7681;
//     color: white;
//     font-weight: bold;
// }

.tab.active {
  color: white;
  font-size: 15spx;
  font-weight: bold;
  background-color: #2f7681;
  // border-color: #007bff;
}

// ---------------------------------------------------------------------------------------progress-bar-----------------------
.progress-container {
  position: relative;
  width: 100%;
}

.progress {
  position: relative;
  background-color: #e0e0e0;
}

.progress-bar {
  height: 100%;
}

.progress-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  font-weight: bold;
  color: white;
  /* Adjust color if needed */
  z-index: 1;
}


// ----------------------------------
.old-red {
  color: red;
}

.new-green {
  color: green;
}

// --------------------------------------------------------------------------------------can toggle------------------------------


@mixin can-toggle-branding($can-toggle-off-color: #ea0030,
  $can-toggle-on-color: #5fc054,
  $can-toggle-inactive-text: rgba(white, 0.5),
  $can-toggle-transition: cubic-bezier(0, 1, 0.5, 1)) {

  input[type="checkbox"] {

    &[disabled]~label {
      color: rgba($can-toggle-off-color, 0.5);
    }

    &:focus~label,
    &:hover~label {
      .can-toggle__switch {
        background-color: $can-toggle-off-color;

        &:after {
          color: darken($can-toggle-off-color, 10%);
        }
      }
    }

    &:hover~label {
      color: darken($can-toggle-off-color, 5%);
    }

    &:checked {
      ~label {
        &:hover {
          color: darken($can-toggle-on-color, 3%);
        }

        .can-toggle__switch {
          background-color: lighten($can-toggle-on-color, 5%);

          &:after {
            color: darken($can-toggle-on-color, 5%);
          }
        }
      }

      &:focus,
      &:hover {
        ~label {
          .can-toggle__switch {
            background-color: $can-toggle-on-color;

            &:after {
              color: darken($can-toggle-on-color, 10%);
            }
          }
        }
      }
    }
  }

  label {

    .can-toggle__label-text {
      flex: 1;
    }

    .can-toggle__switch {
      transition: background-color 0.3s $can-toggle-transition;
      background: lighten($can-toggle-off-color, 5%);

      &:before {
        color: $can-toggle-inactive-text;
      }

      &:after {
        // Autoprefixer choked here, so making the prefixes explicit
        -webkit-transition: -webkit-transform 0.3s $can-toggle-transition;
        transition: transform 0.3s $can-toggle-transition;
        color: $can-toggle-off-color;
      }
    }

  }
}

@mixin can-toggle-appearance ($can-toggle-width: 134px,
  $can-toggle-height: 36px,
  $can-toggle-border-radius: 4px,
  $can-toggle-offset: 2px,
  $can-toggle-label-font-size: 14px,
  $can-toggle-switch-font-size: 12px,
  $can-toggle-shadow: 0 3px 3px rgba(black, 0.4)) {
  $can-toggle-switch-width: $can-toggle-width/2;

  input[type="checkbox"] {

    &:focus~label,
    &:hover~label {
      .can-toggle__switch {
        &:after {
          box-shadow: $can-toggle-shadow;
        }
      }
    }

    &:checked {
      ~label {
        .can-toggle__switch {
          &:after {
            transform: translate3d($can-toggle-width - ($can-toggle-switch-width + $can-toggle-offset), 0, 0);
          }
        }
      }

      &:focus,
      &:hover {
        ~label {
          .can-toggle__switch {
            &:after {
              box-shadow: $can-toggle-shadow;
            }
          }
        }
      }
    }
  }

  label {
    font-size: $can-toggle-label-font-size;

    .can-toggle__switch {
      height: $can-toggle-height;
      flex: 0 0 $can-toggle-width;
      border-radius: $can-toggle-border-radius;

      &:before {
        left: $can-toggle-width/2;
        font-size: $can-toggle-switch-font-size;
        line-height: $can-toggle-height;
        width: $can-toggle-width/2;
        padding: 0 12px;
      }

      &:after {
        top: $can-toggle-offset;
        left: $can-toggle-offset;
        border-radius: $can-toggle-border-radius/2;
        width: $can-toggle-switch-width - $can-toggle-offset;
        line-height: $can-toggle-height - ($can-toggle-offset*2);
        font-size: $can-toggle-switch-font-size;
      }

      &:hover {
        &:after {
          box-shadow: $can-toggle-shadow;
        }
      }
    }
  }
}



.can-toggle {
  position: relative;

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  //overflow: hidden;

  input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;

    &[disabled]~label {
      pointer-events: none;

      .can-toggle__switch {
        opacity: 0.4;
      }
    }

    &:checked {
      ~label {

        .can-toggle__switch {

          &:before {
            content: attr(data-unchecked);
            left: 0;
          }

          &:after {
            content: attr(data-checked);
          }
        }
      }

      &:focus,
      &:hover {
        ~label {}
      }
    }
  }

  label {
    user-select: none;
    position: relative;
    display: flex;
    align-items: center;

    .can-toggle__label-text {
      flex: 1;
      padding-left: 32px;
    }

    .can-toggle__switch {
      position: relative;

      &:before {
        content: attr(data-checked);
        position: absolute;
        top: 0;
        text-transform: uppercase;
        text-align: center;
      }

      &:after {
        content: attr(data-unchecked);
        position: absolute;
        z-index: 5;
        text-transform: uppercase;
        text-align: center;
        background: white;
        transform: translate3d(0, 0, 0);
      }

    }

  }

  // Default values for .can-toggle class
  @include can-toggle-branding;
  @include can-toggle-appearance;

  // Create toggles of different sizes by overriding the can-toggle-appearance mixin defaults
  &.can-toggle--size-small {
    @include can-toggle-appearance (90px, // Toggle width
      28px, // Toggle height
      2px, // Toggle border radius
      1px, // Offset (distance btw switch and box)
      13px, // Label font size
      10px, // Switch font size
      0 2px 2px rgba(black, 0.4) // Switch shadow on hover/focus
    );
  }
}

.bg-success {
  background-color: #28a745 !important;
  // background-color: #066d93 !important;
  /* Darker green */
}

.bg-info {
  background-color: #17a2b8 !important;
  /* Teal */
}

.bg-warning {
  background-color: #ffc107 !important;
  /* Yellow */
}

.bg-danger {
  background-color: #dc3545 !important;
  /* Red */
}

.table-class {
  overflow: auto;
  /* Ensure scrolling is enabled */
  // height: 400px; /* Adjust height as needed */
  border-bottom: 1px solid rgb(156, 154, 154);
}

#myGrid {
  width: 100%;
  height: 300px;
  text-align: center;
}

.responsive-grid {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}


// @media (max-width: 768px) {
//   .responsive-grid {
//     width: 100%;
//   }
// }

::ng-deep .ag-header {
  background-color: #557c9b !important;
}

.custom {
  background-color: lightslategrey;
}

// ====================================================================================
.mobileview {
  background-color: white;
  padding: 4%;
}

.sub-title {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}

.highlight {
  color: blue;
  text-align: center;
  font-weight: bold;
}

.details {
  margin-top: 1rem;

  p {
    margin: 5px 0;
  }

  .green {
    color: green;
  }

  .red {
    color: red;
  }
}

.confirm1 {
  text-align: center;
  font-weight: 600;
  margin: 1rem 0;
  color: darkred;
  
}

.actions {
  display: flex;
  justify-content: space-evenly;
}

.red-text {
  color: red;
}

.green-text {
  color: green;
}

.black-text {
  color: black;
}
.green-text {
  color: green;
}

.orange-text {
  color: orange;
}

.blue-text {
  color: blue;
}

.red-text {
  color: red;
}
