<div id="Customer-page">
    <section class="mb-3">
        <div style="margin: 0px;position: sticky">
            <h5 style="text-align: start;padding: 10px;">
                Subscriber Dashboard
            </h5>
        </div>
        <div class="display align-item-center">
            <!-- <div class="">
            <div class=""> -->
            <div class="col-xs-12 col-md-4 responsive mb-3">
                <div class="card  p-3">
                    <div class="d-flex">
                        <div class="col-3 col-md-2 " style="padding: 0.5rem;">
                            <img [src]="subdetailsList?.Photo ? subdetailsList?.Photo : '/assets/images/login/contact1.png'"
                                alt="Customer Photo" style="width: 50px;">
                        </div>
                        <div class=" col-9 col-md-8  d-block justify-content-center align-items-center ">
                            <div class="d-flex">
                                <div class="col-5 col-md-5 d-flex justify-content-start align-items-center "
                                    style="padding: 0.5rem;">
                                    <h6 style="color: rgb(7, 138, 127);">Name</h6>
                                </div>
                                <div class="col-1 col-md-1 d-flex justify-content-start align-items-center ">
                                    <h6>:</h6>
                                </div>
                                <div class="col-6 col-md-8 display1 justify-content-start align-items-center ">
                                    <h6 style="color: rgb(66, 64, 64);">{{subdetailsList?.customername}}
                                        {{subdetails?.customername}}</h6>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="col-5 col-md-5 d-flex justify-content-start align-items-center "
                                    style="padding: 0.5rem;">
                                    <h6 style="color: rgb(7, 138, 127);">Mobile No</h6>
                                </div>
                                <div class="col-1 col-md-1 d-flex justify-content-start align-items-center ">
                                    <h6>:</h6>
                                </div>
                                <div class="col-6 col-md-6 display1 justify-content-start align-items-center ">
                                    <h6 style="color: rgb(66, 64, 64);">{{subdetailsList?.mobileno}}
                                        {{subdetails?.mobileno}}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="line mb-2"></div>
                    <div class="col-12 col-md-12 mx-3 mb-3">
                        <div class="d-flex align-items-center justify-content-center icon-container">
                            <div *ngIf="logindetails" class="icon-item d-flex align-item-center tooltip-container bttn"
                                style="background-color: var(--sub-dashboard-icon);"
                                (click)="openDialog('logindetails','')">
                                <i class="fa fa-eye" style="font-size:15px;color: white;"></i>
                                <div class="tooltip-content">Login Details</div>
                            </div>
                            <div *ngIf="casform" class="icon-item d-flex align-item-center tooltip-container bttn"
                                style="background-color: var(--sub-dashboard-icon);" (click)="getPdfCasformReport()">
                                <i class="fa fa-download" aria-hidden="true" style="font-size:15px;color: white;"></i>
                                <div class="tooltip-content">CAS Form</div>
                            </div>
                            <div *ngIf="editDetails" class="icon-item d-flex align-item-center tooltip-container bttn"
                                style="background-color: var(--sub-dashboard-icon);"
                                (click)="openDialog('editDetails','')">
                                <i class="fas fa-edit" style="font-size:14px;color: white;"></i>
                                <div class="tooltip-content">Edit </div>
                            </div>
                            <div *ngIf="ConfirmationReport"
                                class="icon-item d-flex align-item-center tooltip-container bttn"
                                style="background-color: var(--sub-dashboard-icon);"
                                (click)="openDialog('ConfirmationReport','')">
                                <i class="fa fa-refresh" style="font-size:15px;color: white;"></i>
                                <div class="tooltip-content">Recharge Bill</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 mobile1" style="padding: 1rem;">
                        <div class="d-flex">
                            <div class="col-6 col-md-4 d-flex justify-content-start align-items-center mb-1 text2">
                                Area Name </div>
                            <div class="col-1 col-md-1 d-flex justify-content-center align-items-center mb-1 text2">
                                : </div>
                            <div class="col-6 col-md-8 d-flex justify-content-start align-items-center">
                                {{subdetailsList?.areaname}} {{subdetails?.areaname}}
                            </div>
                        </div>
                        <div class="d-flex">

                            <div class="col-6 col-md-4 d-flex justify-content-start align-items-center mb-1 text2">
                                Street Name </div>
                            <div class="col-1 col-md-1 d-flex justify-content-center align-items-center mb-1 text2">
                                : </div>
                            <div class="col-6 col-md-6 d-flex justify-content-start align-items-center">
                                {{subdetailsList?.streetname}} {{subdetails?.streetname}}
                            </div>
                        </div>
                        <div class="d-flex">

                            <div class="col-6 col-md-4 d-flex justify-content-start align-items-center mb-1 text2">
                                LCO Name </div>
                            <div class="col-1 col-md-1 d-flex justify-content-center align-items-center mb-1 text2">
                                : </div>
                            <div class="col-6 col-md-6 d-flex justify-content-start align-items-center"
                                style="color: rgb(66, 0, 128);">
                                {{subdetailsList?.operatorname}} {{subdetails?.operatorname}} -[
                                {{subdetailsList?.operatorid}}{{subdetails?.operatorid}} ]
                            </div>

                        </div>
                        <div class="d-flex">
                            <div class="col-6 col-md-4 d-flex justify-content-start align-items-center mb-1 text2">
                                LCO Balance</div>
                            <div class="col-1 col-md-1 d-flex justify-content-center align-items-center mb-1 text2">
                                : </div>
                            <div class="col-6 col-md-6 d-flex justify-content-start align-items-center"
                                style="color: green;">
                                <i class="fa-solid fa-indian-rupee-sign mx-2" style="color: green;"></i>
                                {{subdetailsList?.opbalance}} {{subdetails?.opbalance}}
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="col-6 col-md-4 d-flex justify-content-start align-items-center mb-1 text2">
                                LCO Contact </div>
                            <div class="col-1 col-md-1 d-flex justify-content-center align-items-center mb-1 text2">
                                : </div>
                            <div class="col-6 col-md-6 d-flex justify-content-start align-items-center"
                                style="color: rgb(5, 62, 167);">
                                {{subdetailsList?.operatorcontact}} {{subdetails?.operatorcontact}}
                                {{newOperatorContact}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-8  responsive mx-2 mb-3">
                <div class="card p-3">
                    <div class="d-flex justify-content-between align-item-center mb-3">
                        <div class="d-flex" style="padding: 10px;">
                            <img src="assets/images/icons/smartcard.png" alt="" style="width: 35px;">&nbsp;&nbsp;
                            <h6 style="margin: auto;color: black;font-weight: 600;"> SMARTCARD LIST</h6>
                        </div>
                        <div class="d-flex  icon-container" style="padding: 10px;">
                            <div class="icon-item d-flex align-item-center tooltip-container  bttn"
                                style="background-color:var(--sub-dashboard-icon);"
                                (click)="openLoginPage('change_lco')">
                                <i class="fa fa-refresh	" style="font-size:15px;color: white;"></i>
                                <div class="tooltip-content">Change LCO</div>
                            </div>
                            <div class="icon-item d-flex align-item-center tooltip-container  bttn"
                                style="background-color: var(--sub-dashboard-icon);"
                                (click)="openDialog('addSmartcard','')">
                                <i class="fa fa-plus" style="font-size:15px;color: white;"></i>
                                <div class="tooltip-content">Add Smartcard</div>
                            </div>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="col-12 col-md-12 ">
                        <ag-grid-angular #agGrid id="myGrid" domLayout='normal' class="ag-theme-alpine table-class"
                            rowAnimation [gridOptions]="gridOptions2" [columnDefs]="columnDefs" [rowData]="rowData">
                        </ag-grid-angular>
                    </div>
                </div>
            </div>
            <!-- </div> -->
        </div>
    </section>
    <section *ngIf="subscriersmartcarddashoard">
        <div class="display align-item-center">
            <div class="col-12 col-md-4 responsive mb-3">
                <div class="card ">
                    <div class="d-flex justify-content-start align-item-center">
                        <div class="d-flex" style="padding: 10px;">
                            <img src="assets/images/icons/smartcard.png" alt="" style="width: 35px;">&nbsp;&nbsp;
                            <h6 style="margin: auto;color: rgb(51, 106, 128);font-weight: 600;"> PACKAGE STATUS</h6>
                        </div>
                    </div>
                    <div class="col-12 d-flex justify-content-center align-item-center mb-1"
                        style="background-color: rgb(213, 224, 233);padding: 5px;">
                        {{subdetailsList?.smartcard}} {{subdetails?.smartcard}}
                    </div>
                    <div class="col-12 d-flex justify-content-center align-item-center mb-1"
                        style="color: green;padding: 5px;font-size: 16px;">
                        {{subdetailsList?.smartpackagename}}
                    </div>
                    <div class="progress-container">
                        <div class="progress" style="position: relative; height: 30px;">
                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                                style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            </div>
                            <div class="progress-bar progress-bar-striped bg-info" role="progressbar"
                                style="width: 25%; position: absolute; left: 0;" aria-valuenow="25" aria-valuemin="0"
                                aria-valuemax="100">
                            </div>
                            <div class="progress-bar progress-bar-striped bg-warning" role="progressbar"
                                style="width: 20%; position: absolute; left: 0;" aria-valuenow="20" aria-valuemin="0"
                                aria-valuemax="100">
                            </div>
                            <div class="progress-bar progress-bar-striped bg-danger" role="progressbar"
                                style="width: 5%; position: absolute; left: 0;" aria-valuenow="5" aria-valuemin="0"
                                aria-valuemax="100">
                            </div>
                            <div class="progress-label"
                                style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-weight: bold; color: white;">
                                DAYS
                            </div>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="col-4 col-md-4 col-sm-4 display1 justify-content-start align-items-center "
                            style="padding: 0.5rem;">
                            <div class="d-block">
                                <div style="color: red;"> {{subdetailsList?.monthupstr}} {{subdetails?.monthupstr}}
                                </div>
                                <div style="color: red;font-size: 20px;font-weight: 700;">{{subdetailsList?.dayup}}
                                    {{subdetails?.dayup}}
                                </div>
                                <div style="color: red;font-size: 13px;"> {{subdetailsList?.yearup}}
                                    {{subdetails?.yearup}}</div>
                            </div>
                        </div>
                        <div class="col-4 col-md-4 col-sm-4 display1 display1 justify-content-center align-items-center "
                            style="padding: 0.5rem;">
                            <div class="d-block">
                                <div
                                    style="color: rgb(22, 79, 236);font-size: 40px;text-align: center;font-weight: 700;">
                                    {{subdetailsList?.noofdays}} {{subdetails?.noofdays}}</div>
                                <div style="font-size: 12px;">Days remaining
                                </div>
                            </div>
                        </div>
                        <div class="col-4 col-md-4 col-sm-4 display1 justify-content-end align-items-center"
                            style="padding: 0.5rem;">
                            <div class="d-block">
                                <div style="color: green;"> {{subdetailsList?.monthexpstr}} {{subdetails?.monthexpstr}}
                                </div>
                                <div style="color: green;font-size: 20px;;font-weight: 700;">{{subdetailsList?.dayexp}}
                                    {{subdetails?.dayexp}}
                                </div>
                                <div style="color: green;font-size: 13px;"> {{subdetailsList?.yearexp}}
                                    {{subdetails?.yearexp}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="col-4 col-md-4 d-flex justify-content-start align-items-center text">
                            Others
                        </div>
                        <div class="col-3 col-md-3 d-flex justify-content-center align-items-center text">
                            Total
                        </div>
                        <div class="col-3 col-md-3 d-flex justify-content-center align-items-center text">
                            Not Expiry
                        </div>
                        <div class="col-3 col-md-3 d-flex justify-content-center align-items-center text">
                            Expiry
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="col-4 col-md-4 d-flex justify-content-start align-items-center text1">
                            Addon Package
                        </div>
                        <div class="col-3 col-md-3 text" style="color: rgb(71, 70, 69);text-align: center;">
                            {{subdetailsList?.tcount}} {{subdetails?.tcount}}
                        </div>
                        <div class="col-3 col-md-3 text" style="color: green;text-align: center;">
                            {{subdetailsList?.acount}} {{subdetails?.acount}} </div>
                        <div class="col-3 col-md-3 text" style="color: red;text-align: center;">
                            {{subdetailsList?.dcount}} {{subdetails?.dcount}}
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="col-4 col-md-4 d-flex justify-content-start align-items-center text1">
                            Alacarte
                        </div>
                        <div class="col-3 col-md-3 text" style="color: rgb(71, 70, 69);text-align: center;">
                            {{subdetailsList?.totalchannels}} {{subdetails?.totalchannels}}
                        </div>
                        <div class="col-3 col-md-3 text" style="color: green;text-align: center;">
                            <!-- {{subdetailsList?.dchannels}} {{subdetails?.dchannels}} -->
                            {{subdetailsList?.achannels}} {{subdetails?.achannels}}

                        </div>
                        <div class="col-3 col-md-3 text" style="color: red;text-align: center;">
                            <!-- {{subdetailsList?.achannels}} {{subdetails?.achannels}} -->
                            {{subdetailsList?.dchannels}} {{subdetails?.dchannels}}

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-8 responsive mx-2 mb-3">
                <div class="card">
                    <div class="d-flex justify-content-between align-item-center mb-1">
                        <div class="d-flex" style="padding: 10px;">
                            <img src="assets/images/icons/smartcard.png" alt="" style="width: 35px;">&nbsp;&nbsp;
                            <h6 style="margin: auto;color: #b14662;font-weight: 600;"> {{subdetailsList?.smartcard}}
                                {{subdetails?.smartcard}}
                            </h6>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="mobile">
                        <div class="col-12 col-md-5  mobile1">
                            <div class="col-12 col-md-12 display_btn">
                                <div class="col-6 col-md-6 d-flex justify-content-start align-items-center mb-1 text2">
                                    Box Number </div>
                                <div class="col-6 col-md-6 d-flex justify-content-start align-items-center">
                                    {{subdetailsList?.boxid}} {{subdetails?.boxid}}
                                </div>
                            </div>
                            <div class="col-12 col-md-12 display_btn">
                                <div class="col-6 col-md-6 d-flex justify-content-start align-items-center mb-1 text2">
                                    Activation Date
                                </div>
                                <div class="col-6 col-md-6 d-flex justify-content-start align-items-center">
                                    {{subdetailsList?.activationdate}} {{subdetails?.activationdate}}
                                </div>
                            </div>
                            <div class="col-12 col-md-12 display_btn">
                                <div class="col-6 col-md-6 d-flex justify-content-start align-items-center mb-1 text2">
                                    Package Updated Date
                                </div>
                                <div class="col-6 col-md-6 d-flex justify-content-start align-items-center">
                                    {{subdetailsList?.packageupdateddate }} {{subdetails?.packageupdateddate}}
                                </div>
                            </div>
                            <div class="col-12 col-md-12 display_btn">
                                <div class="col-6 col-md-6 d-flex justify-content-start align-items-center mb-1 text2">
                                    Expiry Date</div>
                                <div class="col-6 col-md-6 d-flex justify-content-start align-items-center">
                                    {{subdetailsList?.expirydate}} {{subdetails?.expirydate}} </div>
                            </div>
                            <div class="col-12 col-md-12 display_btn">
                                <div class="col-6 col-md-6 d-flex justify-content-start align-items-center mb-1 text2">
                                    PIN Number</div>
                                <div class="col-6 col-md-6 d-flex justify-content-start align-items-center">
                                    {{subdetailsList?.pinnumber}} {{subdetails?.pinnumber}}
                                </div>
                            </div>
                            <div class="col-12 col-md-12 display_btn">
                                <div class="col-6 col-md-6 d-flex justify-content-start align-items-center mb-1 text2">
                                    PVR Status
                                </div>
                                <div class="col-6 col-md-6 d-flex justify-content-start align-items-center">
                                    {{subdetailsList?.pvrdisplay}} {{subdetails?.pvrdisplay}}
                                </div>
                            </div>
                            <div class="col-12 col-md-12 display_btn">
                                <div class="col-6 col-md-6 d-flex justify-content-start align-items-center mb-1 text2">
                                    Box Status
                                </div>
                                <div class="col-6 col-md-6 d-flex justify-content-start align-items-center">
                                    <span *ngIf="statusdisplay"
                                        [ngClass]="statusdisplay  === 'Active' ? 'new-green' : 'old-red'">
                                        {{ statusdisplay || 'Active' }} </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-7  mobile2">
                            <div class="col-12 col-md-12 display_btn1">
                                <div
                                    class="col-12 col-md-6 display_btn1 justify-content-center align-items-center text3">
                                    <button class="btn  d-flex justify-content-between"
                                        (click)="openDialog('refresh','')" [disabled]="refresh">
                                        <i class="fa fa-refresh"></i><span>Refresh</span></button>
                                </div>
                                <div
                                    class="col-12 col-md-6 display_btn1 justify-content-center align-items-center  text3">
                                    <button class="btn  d-flex justify-content-between" [disabled]="packagectivation"
                                        (click)="openDialog('packagactivation','')">
                                        <i class="fa-solid fa-gears"></i><span>Package
                                            Activation</span></button>
                                </div>

                            </div>
                            <div class="col-12 col-md-12 display_btn1">
                                <div class="col-12 col-md-6 d-flex justify-content-center align-items-center  text3">
                                    <!-- *ngIf="deactive"> -->
                                    <button class="btn  d-flex justify-content-between " [disabled]="activation"
                                        (click)="openDialog('activation','')">
                                        <i class="fa-brands fa-slack"></i><span>Activation</span></button>
                                </div>
                                <div class="col-12 col-md-6 d-flex justify-content-center align-items-center  text3">
                                    <!-- *ngIf="deactive"> -->
                                    <button class="btn  d-flex justify-content-between" [disabled]="deactive"
                                        (click)="openDialog('deactive','')">
                                        <i class="fa fa-times"></i><span>De-Activation</span></button>
                                </div>

                            </div>
                            <div class="col-12 col-md-12 display_btn1">
                                <div class="col-12 col-md-6 d-flex justify-content-center align-items-center  text3">
                                    <button class="btn  d-flex justify-content-between" [disabled]="pinchange"
                                        (click)="openDialog('pinchange','')">
                                        <i class="fa-solid fa-key"></i><span>PIN Change</span></button>
                                </div>
                                <div class="col-12 col-md-6 d-flex justify-content-center align-items-center  text3">
                                    <button class="btn  d-flex justify-content-between" [disabled]="pvrchange"
                                        (click)="openDialog('pvrchange','')"> <i class="fa-solid fa-video"></i><span>PVR
                                            Option</span></button>
                                </div>
                            </div>

                            <div class="col-12 col-md-12 display_btn1">
                                <div *ngIf="isSendDeleteMessage === false"
                                    class="col-12 col-md-6 d-flex justify-content-center align-items-center  text3">
                                    <!-- <button class="btn  d-flex justify-content-between" [disabled]="isSendDeleteMessage"
                                        (click)="openDialog('sendmessage','')">
                                        <i class="fa-solid fa-message"></i><span>Send Message</span></button> -->
                                    <button class="btn  d-flex justify-content-between" [disabled]="sendmessage"
                                        (click)="openDialog('sendmessage','')">
                                        <i class="fa-solid fa-message"></i><span>Send Message</span></button>
                                </div>
                                <div *ngIf="isSendDeleteMessage === true"
                                    class="col-12 col-md-6 d-flex justify-content-center align-items-center  text3">
                                    <button class="btn  d-flex justify-content-between" [disabled]="deletemessage"
                                        (click)="openDialog('deletemessage','')">
                                        <i class="fas fa-trash"></i><span>Delete Message</span></button>
                                    <!-- <button class="btn  d-flex justify-content-between"
                                        [disabled]="!isSendDeleteMessage" (click)="openDialog('deletemessage','')">
                                        <i class="fas fa-trash"></i><span>Delete Message</span></button> -->
                                </div>
                                <div class="col-12 col-md-6 d-flex justify-content-center align-items-center  text3">
                                    <!-- (click)="openDialog('smartcardchange')"> -->
                                    <button class="btn d-flex justify-content-between" [disabled]="smartcardchange"
                                        (click)="openLoginPage('smartcardchange')">
                                        <i class="fa-solid fa-share"></i><span>Smartcard Transfer</span>
                                    </button>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 display_btn1">


                                <div class="col-12 col-md-6 d-flex justify-content-center align-items-center  text3">
                                    <button class="btn  d-flex justify-content-between" [disabled]="boxchange"
                                        (click)="openLoginPage('boxchange')"><i class="fa-solid fa-share"></i><span>Box
                                            Transfer</span></button>
                                </div>
                                <div class="col-12 col-md-6 d-flex justify-content-center align-items-center  text3">
                                    <button class="btn  d-flex justify-content-between" [disabled]="suspend"
                                        (click)="openDialog('suspend','')">
                                        <i class="fa fa-file"></i><span>Suspend</span></button>

                                </div>
                            </div>
                            <div class="col-12 col-md-12 display_btn1">

                                <!-- *ngIf="suspend" -->

                                <!-- *ngIf="suspend" -->
                                <div class="col-12 col-md-6 d-flex justify-content-center align-items-center  text3">
                                    <button class="btn  d-flex justify-content-between" [disabled]="resumechange"
                                        (click)="openDialog('resumechange','')"> <i
                                            class="fa fa-file"></i><span>Resume</span></button>
                                </div>
                                <div class="col-12 col-md-6 d-flex justify-content-center align-items-center  text3">
                                    <button class="btn  d-flex justify-content-between" [disabled]="reactivation"
                                        (click)="openDialog('reactivation','')">
                                        <i class="fa-solid fa-repeat"></i><span>Re-Activation</span></button>
                                </div>

                            </div>
                            <div class="col-12 col-md-12 display_btn1">

                                <div class="col-12 col-md-6 d-flex justify-content-center align-items-center  text3">
                                    <button class="btn  d-flex justify-content-between" [disabled]="forcetuning"
                                        (click)="openDialog('forcetuning','')"> <i
                                            class="fa-solid fa-right-left"></i><span>Force
                                            Tuning</span></button>
                                </div>
                                <div class="col-12 col-md-6 d-flex justify-content-center align-items-center  text3">
                                    <button class="btn  d-flex justify-content-between" [disabled]="unpair"
                                        (click)="managePackage('unpair')">
                                        <i class="fa-solid fa-ban" style="font-size:15px;color: #090f13;"></i><span
                                            style="font-size:15px;">Unpair</span></button>
                                </div>
                            </div>

                            <div class="col-12 col-md-12 display_btn1">
                                <!-- <div -->

                                <div class="col-12 col-md-6 d-flex justify-content-center align-items-center  text3">
                                    <button class="btn  d-flex justify-content-between" [disabled]="pair"
                                        (click)="pairDialogue('pair')">
                                        <i class="fa fa-refresh"></i><span>Pair</span></button>
                                </div>

                                <div class="col-12 col-md-6 d-flex justify-content-center align-items-center text3">
                                    <button class="btn  d-flex justify-content-between" [disabled]="cancelsubscription"
                                        (click)="managePackage('cancelsubscription')">
                                        <i class="fa fa-refresh"></i><span>Cancel Subscription</span></button>
                                </div>

                            </div>
                            <div class="col-12 col-md-12 display_btn1">
                                <div class="col-12 col-md-6 d-flex justify-content-center align-items-center  text3">
                                    <button class="btn  d-flex justify-content-between" [disabled]="block"
                                        (click)="openDialog('block','')">
                                        <i class="fa-solid fa-ban" style="font-size:15px;color: #090f13;"></i><span
                                            style="font-size:15px;color: #090f13;">Block</span></button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section *ngIf="expandale" class="expandale">
        <div class="card">
            <mat-accordion class="example-headers-align">
                <mat-expansion-panel [expanded]="step() === 0" (opened)="setStep(0)" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title class="text3"> Manage Package</mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="col-12 col-md-12 col-md-8 mx-2">
                        <div class="">
                            <section class="Tab col-xl-12 col-sm-6 col-12 ">
                                <div class="display_tab tablist justify-content-center align-items-center">
                                    <div *ngIf="!addon" class="tab mb-3 bttn" (click)="managePackage('addon')">ADDON ADD
                                    </div>
                                    <div *ngIf="!alacarte" class="tab mb-3 bttn" (click)="managePackage('alacarte')">
                                        ALACARTE ADD </div>
                                    <div *ngIf="!remove" class="tab mb-3 bttn" (click)="managePackage('remove')"> REMOVE
                                        PRODUCT </div>
                                    <!-- BASE CHANGE -->
                                    <div *ngIf="!base" class="tab mb-3 bttn" [class.active]="selectedTab === 'BASE'"
                                        (click)="openDialog('BASE','')">
                                        BASE CHANGE
                                    </div>
                                </div>
                            </section>
                            <div class="d-flex justify-content-center align-item-center mb-1">
                                <div class="d-flex  justify-content- align-item-center">
                                    <h6 style="text-align: center;color:#1c3f57"> ACTIVE PRODUCT DETAILS</h6>
                                </div>
                            </div>
                            <div *ngIf="managePackagetable" class="col-12 col-md-12 mb-3">
                                <ag-grid-angular #agGrid id="myGrid" domLayout='normal'
                                    class="ag-theme-alpine table-class" rowAnimation [gridOptions]="gridOptions"
                                    [columnDefs]="columnDefs2" [style.height.px]="gridHeight" [rowData]="rowData1"
                                    (gridReady)="onGridReady($event)" [enableCellTextSelection]="true">
                                </ag-grid-angular>
                            </div>
                            <div *ngIf="managePackagetable1" class="col-12 col-md-12 mb-3">
                                <ag-grid-angular #agGrid id="myGrid" domLayout='normal'
                                    class="ag-theme-alpine table-class" rowAnimation [gridOptions]="gridOptions"
                                    [columnDefs]="columnDefs1" [rowData]="rowData1" (gridReady)="onGridReady1($event)"
                                    [style.height.px]="gridHeight" [rowSelection]="'multiple'"
                                    (selectionChanged)="onSelectionChanged()" [enableCellTextSelection]="true">
                                </ag-grid-angular>

                            </div>

                        </div>

                    </div>
                    <div *ngIf="!rechargeType"
                        class="col-12 col-md-12 display justify-content-center align-items-center">
                        <div class="input_box col-12 col-md-9">
                            <div class=" display_tab justify-content-start align-items-center">
                                <div class="col-12 col-md-4 display justify-content-start align-items-center mb-3">
                                    <!-- <div class="col-12 col-md-6">
                                        <span for="">Recharge TYPE
                                        </span>
                                    </div> -->
                                    <div class="col-12 col-md-12">
                                        <select [(ngModel)]="selectedRechargetype"
                                            (ngModelChange)="onSelectionrechargetype($event)">
                                            <option value="0" selected>Selected Recharge Type</option>
                                            <option *ngFor="let rt of rechargetype" [value]="rt.id">
                                                {{rt.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div *ngIf="isplantype"
                                    class=" col-12 col-md-4 display justify-content-center align-items-center mb-3">
                                    <div class="col-12 col-md-6">
                                        <select [(ngModel)]="plantype" (ngModelChange)="onSelectionplantype($event)">
                                            <option value="0" selected>Selected Plan</option>
                                            <option *ngFor="let plan of plantype$ | async " [value]="plan.value">
                                                {{ plan.key }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div *ngIf="datetype"
                                    class="col-12 col-md-4 display justify-content-center align-items-center mb-3">
                                    <div class="col-12 col-md-6">
                                        <input type="date" [(ngModel)]="f_date"
                                            [min]="noofdays == 0 ? getNextDay1() : getNextDay(subdetailsList?.expirydate)"
                                            (ngModelChange)="onSelectiondatetype($event)">
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="confirmation">
                                <div style="padding: 1rem;">
                                    <div class="card1 mb-2" style="padding: 1rem;border-color:1px #090f13;">
                                        <div class="  mb-3">
                                            <div class="d-flex align-items-center justify-content-center">
                                                <div class="col-6 col-md-6">
                                                    <span for="password" class="me-2">Old Expiry date</span>
                                                </div>
                                                <div class="col-6 col-md-6 value">
                                                    {{manageData.oldExpiryDate}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="input_box Isactive mb-3">
                                            <div class="d-flex align-items-center justify-content-center">
                                                <div class="col-6 col-md-6">
                                                    <span class="me-2">New Expiry date </span>
                                                </div>
                                                <div class="col-6 col-md-6 value">
                                                    {{manageData.expiryDate}}
                                                </div>
                                            </div>
                                        </div>


                                        <div class="input_box  mb-3">
                                            <div class="d-flex align-items-center justify-content-center">
                                                <div class="col-6 col-md-6">
                                                    <span class="me-2">Customer Amount</span>
                                                </div>
                                                <div class="col-6 col-md-6 value">
                                                    {{manageData.customerPayAmount}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="input_box  mb-3">
                                            <div class="d-flex align-items-center justify-content-center">
                                                <div class="col-6 col-md-6">
                                                    <span class="me-2">MSO Amount</span>
                                                </div>
                                                <div class="col-6 col-md-6 value">
                                                    {{manageData.msoAmount}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="input_box  mb-3">
                                            <div class="d-flex align-items-center justify-content-center">
                                                <div class="col-6 col-md-6">
                                                    <span class="me-2">Days</span>
                                                </div>
                                                <div class="col-6 col-md-6 value">
                                                    {{manageData.days}}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="  mb-3">
                                            <div class="d-flex align-items-center justify-content-center">
                                                <div class="input_box col-6 col-md-6">
                                                    <span class="me-2">Customer pay </span>
                                                </div>
                                                <div
                                                    class="col-6 col-md-6 display justify-content-start align-items-center toggle">
                                                    <div class="can-toggle">
                                                        <input id="a" type="checkbox" [(ngModel)]="iscollected"
                                                            (change)="onBillTypeChange()">
                                                        <label for="a">
                                                            <div class="can-toggle__switch" data-checked="Paid"
                                                                data-unchecked="Unpaid"></div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="managePackagetable" class="confirmation-dialog">
                                <div class=" d-flex justify-content-start align-item-center  mb-2">
                                    <button *ngIf="!confirmation" type="button" class="btn2 confirm me-2 bttn"
                                        [ngStyle]="{'background': isDisabled ? 'rgb(226 176 110)' : 'rgb(243, 146, 19)'}"
                                        (click)="rechargetoggle1()" [disabled]="!managepackageSelection() "
                                        style="cursor:pointor">Confirmation</button>
                                    <button *ngIf="confirmation" type="button" class="btn2 confirm me-2 bttn"
                                        [ngStyle]="{'background': isDisabled ? 'rgb(226 176 110)' : 'rgb(243, 146, 19)'}"
                                        [disabled]="isDisabled"
                                        (click)="rechargetoggleConfirmation1()">Confirmation</button>
                                    <button type="button" class="btn2  recharge bttn me-2" [disabled]="isRecharge"
                                        [ngStyle]="{'background': isRecharge ? 'rgb(160 187 240)' : 'rgb(8, 79, 212)'}"
                                        (click)="recharge1()">Recharge</button>
                                    <button *ngIf="cancel_btn" type="button" class="btn2 bttn "
                                        style="background-color: red;" (click)="toggleConfirmation()">Cancel</button>
                                </div>
                            </div>
                            <div *ngIf="managePackagetable1" class="confirmation-dialog">
                                <div class=" d-flex justify-content-start align-item-center  mb-2">
                                    <button *ngIf="!confirmation" type="button" class="btn2 confirm me-2 bttn"
                                        [ngStyle]="{'background': isDisabled ? 'rgb(226 176 110)' : 'rgb(243, 146, 19)'}"
                                        (click)="rechargetoggle()" [disabled]="!managepackageSelection() "
                                        style="cursor:pointor">Confirmation</button>
                                    <button *ngIf="confirmation" type="button" class="btn2 confirm me-2 bttn"
                                        [ngStyle]="{'background': isDisabled ? 'rgb(226 176 110)' : 'rgb(243, 146, 19)'}"
                                        [disabled]="isDisabled"
                                        (click)="rechargetoggleConfirmation()">Confirmation</button>
                                    <button type="button" class="btn2  recharge bttn me-2" [disabled]="isRecharge"
                                        [ngStyle]="{'background': isRecharge ? 'rgb(160 187 240)' : 'rgb(8, 79, 212)'}"
                                        (click)="recharge()">Recharge</button>
                                    <button *ngIf="cancel_btn" type="button" class="btn2  bttn "
                                        style="background-color: red;" (click)="toggleConfirmation()">Cancel</button>
                                </div>
                            </div>
                        </div>

                        <div class=" d-flex justify-content-end align-items-center">
                            <a class="btn3 btn-outline-success mx-1 d-flex justify-content-end align-items-center"
                                style="cursor: pointer;" (click)="generateBillpdf()">
                                <span class="me-2">Generate Bill PDF</span>
                                <i class="fa fa-download" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </section>
</div>