<section class="Tab col-12">
    <div>
        <div class="d-flex tablist justify-content-center align-items-center my-3 new_d">
            <div class="tab" [class.active]="selectedTab === 'activation'" (click)="selectTab('activation')">
                BULK ADDON ACTIVATION
            </div>
            <div class="tab" [class.active]="selectedTab === 'remove'" (click)="selectTab('remove')">
                ADOON REMOVE
            </div>
        </div>
        <div *ngIf="selectedTab === 'activation'" class="commission">
            <div class="row">
                <!-- Left Column (File Upload and Instructions) -->
                <div class="col-12 col-lg-4 d-flex justify-content-center align-items-center mb-4 mb-lg-0">
                    <div class="card p-4 file ">
                        <div class="d-flex justify-content-center align-items-center mb-3">
                            <img src="/assets/images/icons/xlsx.png" class="img" alt="File Icon">
                        </div>
                        <div class="mb-3">
                            <div class="mb-3">
                                <p> 1) Before activation, make sure that the LCO wallet has a sufficient cash balance,
                                    Will be activated only as long as there is a<span style="color: red;">cash balance
                                        in the LCO
                                        wallet.</span>
                                </p>
                            </div>
                            <div class="mb-3">
                                <p>
                                    2) Must have kept the data according to the format file <span
                                        style="font-weight: 500;">(Please check the format file by below download
                                        option)</span>and fill the Smartcard number without incorrect otherwise
                                    <span style="color: red;">package will not be activated.</span>
                                </p>
                            </div>
                        </div>
                        <a class="mb-3" (click)="generateExcel('Addon')">* Download Format File</a>
                        <div class="checkbox-text mb-3">
                            <div class="checkbox-content">
                                <input type="checkbox" id="terms" formControlName="billingAddressCheckbox"
                                    (change)="onCheckboxChange($event)">
                                <label for="confirmPass">I agree to the above statement</label>
                            </div>
                        </div>
                        <div class="col-4 col-md-12 col-sm-12 mb-3">
                            <label class="btn " [style.background-color]="isCheckboxChecked ? '#3d5e80' : '#d3d3d3'"
                                [style.color]="isCheckboxChecked ? 'white' : 'black'"
                                [style.cursor]="isCheckboxChecked ? 'pointer' : 'not-allowed'">
                                <i class="fa fa-plus"></i> Choose
                                <input type="file" style="display: none;" [disabled]="!isCheckboxChecked"
                                    (change)="handleFileInput($event)">
                            </label>
                            <span class="mx-3" style="color:#0a21d0">{{filePath }} </span>
                        </div>
                        <div class="col-12 mb-3">
                            <select placeholder="Select the CAS" class="form-control" [(ngModel)]="castype"
                                (change)="casPackageList()">
                                <option value="0" selected>Select CAS</option>
                                <option *ngFor="let casItem of cas" [value]="casItem.id">
                                    {{ casItem.name }}
                                </option>
                            </select>
                        </div>
                        <div *ngIf="submitted && !castype" class="text-danger" style="font-size: small;">
                            CAS  is required
                        </div>
                        <div class="col-12 mb-3">
                            <div class="col-12 mb-3">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Select Alacarte List by CAS type</mat-label>
                                    <mat-select [formControl]="toppings" multiple [(ngModel)]="alacarteList">
                                        <div class="input_box " style="padding: 1rem;">
                                            <input placeholder="Search..." [(ngModel)]="searchText"
                                                (input)="filterToppings($event)" />
                                        </div>
                                        <mat-option *ngFor="let topping of toppingList" [value]="topping.id">{{
                                            topping.name }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <div *ngIf="submitted && !alacarteList" class="text-danger" style="font-size: small;">
                                    Alacarte  is required
                                </div>
                            </div>
                        </div>
                      
                        <div class=" d-flex justify-content-end align-items-center mt-3">
                            <button type="submit" class="btn btn-success" (click)="submit()">Submit</button>
                        </div>
                    </div>
                </div>

                <!-- Right Column (Bulk Alacarte History) -->
                <div class="col-12 col-lg-8 d-flex justify-content-center">
                    <div class="card col-12">
                        <div class="title">
                            <h5>BULK ADDON HISTORY</h5>
                        </div>
                        <div class="row d-flex align-items-center justify-content-center" style="padding: 0.5rem;">
                            <div class="col-12 mb-3">
                                <div class="row align-items-center justify-content-center mb-3" style="gap:10px;">
                                    <div class="col-12 col-md-3 mb-2 mb-md-0">
                                        <input class="date form-control" type="date" name="" id=""
                                            [(ngModel)]="selectedDate">
                                    </div>
                                    <div class="col-12 col-md-3 mb-2 mb-md-0">
                                        <button class="btn btn-secondary w-100" (click)="getData()">Get Data</button>
                                    </div>
                                    <div class="col-12 col-md-3 mb-2 mb-md-0">
                                        <button class="btn btn-secondary w-100" (click)="refresh()">Refresh</button>
                                    </div>
                                </div>

                                <ag-grid-angular #agGrid id="myGrid" domLayout='autoHeight'
                                    class="ag-theme-alpine table-class" rowAnimation [rowSelection]="rowSelection"
                                    [gridOptions]="gridOptions" [columnDefs]="columnDefs" [rowData]="rowData"
                                    (gridReady)="onGridReady()" [enableCellTextSelection]="true">
                                </ag-grid-angular>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div *ngIf="selectedTab === 'remove'">
        <div class="container ">
            <div class="row justify-content-center align-items-baseline mb-2">
                <div class="col-12 col-md-2 mb-3 d-flex justify-content-center align-items-center mt-3">
                    <label class="btn btn-outline-primary">
                        <i class="fa fa-plus"></i> Choose
                        <input type="file" style="display: none;" (change)="handleFileInput($event)">
                    </label>
                    <span class="mx-3" style="color:#0a21d0">{{filePath }} </span>
                </div>
                <div class="col-12 col-md-3  mt-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Select CAS type</mat-label>
                        <input type="text" matInput [matAutocomplete]="auto" (input)="filterCas($event)"
                            [(ngModel)]="selectedCas" [value]="selectedCas?.name" placeholder="Search CAS">
                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayOperator">
                            <mat-option *ngFor="let castype of cas" [value]="castype.name"
                                (click)="onCaschange(castype)">
                                {{ castype.name }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <div *ngIf="submitted && !selectedCas" class="text-danger" style="font-size: small;">
                        CAS  is required
                    </div>
                </div>
                <div class="col-12 col-md-5 mt-2" style="height: 50px;">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Select Alacarte List by CAS type</mat-label>
                        <mat-select [formControl]="toppings" multiple [(ngModel)]="alacarteList">
                            <div class="input_box " style="padding: 1rem;">
                                <input placeholder="Search..." [(ngModel)]="searchText"
                                    (input)="filterToppings($event)" />
                            </div>
                            <mat-option *ngFor="let topping of toppingList" [value]="topping.id">{{
                                topping.name }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div *ngIf="submitted && !alacarteList" class="text-danger" style="font-size: small;">
                        Alacarte is required
                    </div>
                </div>
                <div
                    class="col-12 col-md-2 mt-2 d-flex justify-content-center justify-content-md-end align-items-center">
                    <button type="submit" class="btn btn-success w-100 w-md-auto" (click)="remove()">Remove</button>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-8 d-flex justify-content-center align-item-center"
            style="margin:auto;padding-top: 5%;">
            <div class="card col-12">
                <div class="title">
                    <h3>BULK ADDON REMOVE HISTORY</h3>
                </div>
                <div class="row d-flex align-items-center justify-content-center" style="padding: 0.5rem;">
                    <div class="col-12 mb-3">
                        <div class="row align-items-center justify-content-center mb-3" style="gap:10px;">
                            <div class="col-12 col-md-3 mb-2 mb-md-0">
                                <input class="date form-control" type="date" [(ngModel)]="date">
                            </div>
                            <div class="col-12 col-md-3 mb-2 mb-md-0">
                                <button class="btn btn-secondary w-100" (click)="getData()">Get Data</button>
                            </div>
                            <div class="col-12 col-md-3 mb-2 mb-md-0">
                                <button class="btn btn-secondary w-100" (click)="refresh()">Refresh</button>
                            </div>
                        </div>

                        <ag-grid-angular #agGrid id="myGrid" domLayout='autoHeight' class="ag-theme-alpine table-class"
                            rowAnimation [rowSelection]="rowSelection" [gridOptions]="gridOptions"
                            [columnDefs]="columnDefs1" [rowData]="rowData" (gridReady)="onGridReady()"
                            [enableCellTextSelection]="true">
                        </ag-grid-angular>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>