::ng-deep .canvasjs-chart-credit {
  display: none !important;
}


#chartdiv {
  width: 100%;
  height: 435px;
  font-size: 11px;
}

::ng-deep .amcharts-chart-div a {
  display: none !important;
}

.display {
  display: flex;
}

@media screen and (max-width:760px) {
  .mobile_text {
    font-size: smaller;
  }

  .display {
    display: block;
  }
}