<div class="bg">
    <div class="login-wrap d-flex justify-content-center align-items-center">
        <div class="login-html">
            <div class="d-block justify-content-center align-items-center mb-3">
                <h2 style="text-transform:capitalize;color:#256462">RSMS</h2>
            </div>
            <br>
            <form class="login-form" [formGroup]="signInform" (ngSubmit)="submit(signInform)">
                <div class="sign-in-htm">
                    <mat-form-field class="example-full-width w-100 mb-3 " appearance="outline">
                        <mat-label class="input">Username</mat-label>
                        <input matInput id="user" formControlName="username" placeholder="Username"
                            style="font-size: medium;">
                        <span class="input-group-addon input">
                            <i class="fa-solid fa-user" style="color: #1f6764;"></i>
                        </span>
                    </mat-form-field>
                    <mat-form-field class="example-full-width w-100 mb-3" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput id="password" [type]="isShow?'text':'password'" formControlName="password"
                            placeholder="Password">
                        <mat-icon (click)="toggleShowPassword()"
                            style="color:#1f6764;cursor: pointer;margin-bottom: -2%;">
                            {{ isShow ? 'visibility' : 'visibility_off' }}
                        </mat-icon>
                    </mat-form-field>
                    <br>
                    <div class="group">
                        <input type="submit" class="button" value="Sign In">
                    </div>
                    <div class="mb-3" *ngIf="notificationMessage" style="position: relative;">
                        <br />
                        <div class="d-flex justify-content-center">
                            <label style="color:#021616;font-weight: 600;font-size: small;">{{warningMessage}} </label>
                        </div>
                        <div class="d-flex justify-content-center">
                            <label style="color:#c10528;font-weight: 600;font-size: small">{{warningMessageDate}}
                            </label>
                        </div>
                    </div>
                </div>
            </form>
            <div class="d-block justify-content-center align-item-center">
                <div class="foot-lnk">
                    <p style="color:#1f6764;font-size: small;font-weight: bold;">Version 7.2.2</p>
                </div>
                <div class="d-flex justify-content-center align-item-center">
                    <div style="padding: 20px 0px;">
                        <p style="color:#525252;text-align: center;margin-bottom: -4%;font-size: x-small;">Powered by
                        </p>
                    </div>
                    <div class="d-flex justify-content-center">
                        <img style="height: 60px;" src="/assets/images/login/Rid_logo.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>