.bg {
	background-image: url('/assets/images/login/BG 3.jpg');
	background-size: inherit;
	background-repeat: round;
	height: 100vh;
}

body {
	margin: 0;
	color: #6a6f8c;
	background: #c8c8c8;
	font: 600 16px/18px 'Open Sans', sans-serif;
}

.img1 {
	width: 80px;
}

a {
	color: inherit;
	text-decoration: none
}

.login-wrap {
	width: 100%;
	min-height: 78vh;
	position: absolute;
}



.login-html {
	position: absolute;
	border-radius: 5px;
	bottom: 0px;
	padding: 15px 30px 0px 30px;
	background-color: white;
}

.login-form {
	min-height: 30vh;
	position: relative;
	perspective: 1000px;
	transform-style: preserve-3d;
	max-width: 350px;
}

.login-form .group {
	margin: auto;
}

.login-form .group .label,
.login-form .group .input,
.login-form .group .button {
	color: #fff;
	display: block;
}

.login-form .group .button {
	border: none;
	width: 100%;
	margin: auto;
	justify-content: center;
	align-items: center;
	padding: 10px;
	background: rgba(47, 6, 196, 0.1);

}


.login-form .group input[data-type="password"] {
	-webkit-text-security: circle;
}

.login-form .group .label {
	color: #aaa;
	font-size: xx-large;
	font-weight: 400;
}

.login-form .group .button {
	background: #256462;
}

.login-form .sign-in-htm .group .label {
	color: var(--primary-color);
	font-size: large;
}

.login-form .group label .icon {
	width: 15px;
	height: 15px;
	border-radius: 1px;
	position: relative;
	display: inline-block;
	background: rgba(255, 255, 255, .1);
}

.hr {
	height: 2px;
	margin: 60px 0 50px 0;
	background: rgba(255, 255, 255, .2);
}

.foot-lnk {
	text-align: center;
	margin: 5px 0px;

}



.input-group-addon {
	// display: flex;
	align-items: center;
	position: absolute;
	top: 13px;
	right: 0px;
	height: 100%;
	justify-content: end;
	// width: 19vw;
	padding: 0 10px;
	pointer-events: none;
}

.img-fluid {
	max-width: 10%;
	height: auto;
}

.form-control {
	padding-left: 40px;
}

h1 {
	color: white;
	padding: 5%;
}

.mdc-text-field__input {
	width: 92%;

}

::ng-deep .mat-mdc-text-field-wrapper {
	height: -1%;
}




// .password-field {
//     .password-container {
//         display: flex;
//         align-items: center;
//         width: 100%;
//     }

//     input {
//         flex: 1; 
//         border: none;
//         outline: none;
//         padding-right: 40px;
//     }

    .eye-icon {
        color: #1f6764;
        cursor: pointer;
    }
// }

@media screen and (max-width: 768px) {

	.password-field {
		display: flex;
		flex-direction: column;
		width: 200%;

	}

	.eye-icon {
		color: #1f6764;
		cursor: pointer;
		margin-left: -10px;
	}
}




::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
	padding-top: 13px;
	padding-bottom: 13px;

}