.card {
    padding: 17px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1);
}

.close-icon {
    font-size: 19px;
    cursor: pointer;
}

.close-icon:hover {
    background-color: var(--primary-color);
    font-size: 17px;
    padding: 2px;
    margin: 0;
    color: white;
    border-radius: 10px;
}

.card-body {
    width: 100%;
}
.display{
    display: flex;
}

.card-body input {
    border: 1px solid #1f6764;
    width: auto;
}

.card-body input:hover {
    background-color: var(--body-color);
}

.text-center {
    text-align: center;
}

h1 {
    color: var(--primary-color);
    font-size: 19px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    justify-content: center;
}

.p_c_l {
    margin-right: 5rem !important;
}


.form-container1 {
    display: flex;
    margin: auto;
    flex-direction: column;
    gap: 10px;
}

.form-container {
    display: flex;
    margin: 0 20px;
    flex-direction: column;
    gap: 10px;
}



// --------------------------------------view-------------------------------

.tab {
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.tab:hover {

    color: white;
    font-size: 18px;
    font-weight: bold;
}

.tab.active {

    color: rgb(230, 27, 196);
    font-size: large;
    font-weight: bold;
    border-color: #007bff;
}

.Tab h3 {
    text-align: center;
}

::ng-deep .ag-root-wrapper {
    width: 85% !important;
}

.dialog-content {
    // padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

//   ----------------------------------------Form validation_--------------------

.has-error input {
    border-color: red;
}

.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 0.5em;
}

.small {
    color: red;
}


@media screen and (max-width:560px) {
    .display{
        display: block;
        padding: 5px;
    }
}

@media screen and (max-width:720px) {
    .display{
        display: block;
        padding: 5px;
    }
}