<section class="Tab col-12">
    <div class="title">
        <p>Subscription Date Extend (For Active Subscription)
        </p>
    </div>
    <div class="row">
        <!-- Left Column (File Upload and Instructions) -->
        <div class="col-12 col-lg-4 d-flex justify-content-center align-items-center mb-4 mb-lg-0">
            <div class="card p-4 file ">
                <div class="d-flex justify-content-center align-items-center mb-3">
                    <img src="/assets/images/icons/xlsx.png" class="img" alt="File Icon">
                </div>
                <div class="mb-3">
                    <div class="mb-3">
                        <span class="p" style="font-weight: 500;"><span style="display: none;">p p</span> 1) Before activation, make
                            sure that the LCO wallet has a sufficient cash balance, Will be
                            activated only as long as there is a <span style="color: red;">cash balance in the LCO
                                wallet</span>.
                        </span>
                    </div>
                    <div class="mb-3">
                        <span class="p" style="font-weight: 500;"><span style="display: none;">p p</span>
                           2) Must have kept the data according to the format file (Please check the format file by below
                            download option) and fill the Smartcard number without incorrect otherwise <span
                                style="color: red;"> package not will be activate</span>.
                        </span>
                    </div>
                </div>
                <a class="mb-3"(click)="generateExcel('Update Subscription')">* Download Format File</a>
                <div class="checkbox-text mb-3">
                    <div class="checkbox-content">
                        <input type="checkbox" id="terms" formControlName="billingAddressCheckbox"
                            (change)="onCheckboxChange($event)">
                        <label for="confirmPass">I agree to the above statement</label>
                    </div>
                </div>
                <div class="col-4 col-md-6 col-sm-6 mb-3">
                    <label class="btn " [style.background-color]="isCheckboxChecked ? '#3d5e80' : '#d3d3d3'"
                        [style.color]="isCheckboxChecked ? 'white' : 'black'"
                        [style.cursor]="isCheckboxChecked ? 'pointer' : 'not-allowed'">
                        <i class="fa fa-plus"></i> Choose
                        <input type="file" style="display: none;" [disabled]="!isCheckboxChecked"
                            (change)="handleFileInput($event)">
                    </label>
                </div>
                <div class="d-flex col-12 col-md-6 col-sm-6 mb-3">
                    <div class="col-5 col-12 col-md-6 col-sm-6">
                        <label style="color: rgb(1, 89, 92);font-weight: 400;font-size: 15px;" for="">No of Days
                            :</label>
                    </div>
                    <input type="text" class="form-control">
                </div>
                <div class=" d-flex justify-content-end align-items-center mt-3">
                    <button type="submit" class="btn btn-success ">Submit</button>
                </div>
            </div>
        </div>

        <!-- Right Column (Bulk Alacarte History) -->
        <div class="col-12 col-lg-8 d-flex justify-content-center">
            <div class="card col-12">
                <div class="title">
                    <h6>BULK UPDATE SUBSCRIPTION HISTORY</h6>
                </div>
                <div class="row d-flex align-items-center justify-content-center" style="padding: 0.5rem;">
                    <div class="col-12 mb-3">
                        <div class="row align-items-center justify-content-center mb-3" style="gap:10px;">
                            <div class="col-12 col-md-3 mb-2 mb-md-0">
                                <input class="date" placeholder="Select Date" type="date" name="" id="">
                            </div>
                            <div class="col-12 col-md-3 mb-2 mb-md-0">
                                <button class="btn btn-primary w-100">Get Data</button>
                            </div>
                            <div class="col-12 col-md-3 mb-2 mb-md-0">
                                <button class="btn btn-secondary w-100">Refresh</button>
                            </div>
                        </div>

                        <ag-grid-angular #agGrid id="myGrid" domLayout='autoHeight' class="ag-theme-alpine table-class"
                            rowAnimation [rowSelection]="rowSelection" [gridOptions]="gridOptions"
                            [columnDefs]="columnDefs" [rowData]="rowData" (gridReady)="onGridReady()"
                            [enableCellTextSelection]="true">
                        </ag-grid-angular>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>