<div class="Head d-flex justify-content-between align-items-center mb-3" style="padding: 1rem;">
    <h6>CREATE NEW RECHARGE </h6>
    <i class="fa fa-close close-icon" style="cursor: pointer;" (click)="onNoClick()"></i>
</div>
<div class="">
    <div class="display justify-content-center align-items-center mobile">
        <form action="" [formGroup]="form">
            <div class="col-12 col-md-12 " >
                <div class="input-box">
                    <div class="mb-3 edit">
                        <div class="col-12 col-md-6">
                            <label class="form-label">Payment Mode </label>
                        </div>
                        <div class="col-12 col-md-6">
                            <select [(ngModel)]="type" formControlName="paymenttypeid">
                                <option value="0" selected>Select Payment</option>
                                <option *ngFor="let Type of Date" [value]="Type.value">{{ Type.lable }}</option>
                            </select>
                            <div *ngIf="form.get('paymenttypeid')?.invalid && form.get('paymenttypeid')?.touched">
                                <small class="text-danger">Payment Mode is required.</small>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 edit">
                        <div class="col-12 col-md-6">
                            <label class="form-label">Operator Name </label>
                        </div>
                        <div class="col-12 col-md-6">
                            <!-- <select formControlName="operatorid">
                                <option *ngFor="let operator of operatorList" [value]="operator.value">{{ operator.name}}
                                </option>
                            </select> -->
                            <input type="text" matInput [matAutocomplete]="auto" formControlName="operatorid" (input)="filterOperators($event)" placeholder="Select a Operator"
                                [matAutocompleteDisabled]="false" [value]="selectedOperator?.name">

                            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayOperator">
                                <mat-option *ngFor="let operator of filteredOperators" [value]="operator.name"
                                    (click)="onoperatorchange(operator)">
                                    {{ operator.name }}
                                </mat-option>
                            </mat-autocomplete>
                            <div *ngIf="form.get('operatorid')?.invalid && form.get('operatorid')?.touched">
                                <small class="text-danger" *ngIf="form.get('operatorid')?.errors?.['required']">
                                    Operator Name is required.</small>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 edit">
                        <div class="col-12 col-md-6">
                            <label class="form-label">Transaction Group Type</label>
                        </div>
                        <div class="col-12 col-md-6">
                            <p>Recharge</p>
                        </div>
                    </div>
                    <div class="mb-3 edit">
                        <div class="col-12 col-md-6">
                            <label class="form-label">Transaction Type </label>
                        </div>
                        <div class="col-12 col-md-6">
                            <p>Credit</p>
                        </div>
                    </div>
                    <div class="mb-3 edit">
                        <div class="col-12 col-md-6">
                            <label class="form-label">Amount</label>
                        </div>
                        <div class="col-12 col-md-6">
                            <input class="" type="text" formControlName="amount" (keypress)="onKeydown($event)">
                            <div *ngIf="form.get('amount')?.invalid && form.get('amount')?.touched">
                                <small class="text-danger">Amount is required.</small>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 edit">
                        <div class="col-12 col-md-6">
                            <label class="form-label">Transaction remarks </label>
                        </div>
                        <div class="col-12 col-md-6">
                            <textarea class="" type="text" formControlName="remarks"
                                placeholder="Text Message"></textarea>
                            <div *ngIf="form.get('mail')?.invalid && form.get('remarks')?.touched">
                                <small class="text-danger" *ngIf="form.get('remarks')?.errors?.['required']">
                                    Transaction remarks is required.</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>

    <div class="d-flex justify-content-center align-item-center mx-5 mb-4">
        <button type="submit" class="btn btn-success me-2" (click)="onSubmit()">Recharge</button>
        <button type="button" class="btn btn-danger me-2" (click)="toggleedit()">Cancel</button>
    </div>

</div>