.container {
    max-width: 1200px;
}

.display {
    display: flex;
}

label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.form-control {
    border-radius: 4px;
    padding: 0.5rem;
    border: 1px solid #ccc;
}

button.btn-primary {
    border-radius: 4px;
    padding: 0.5rem;
}

.custom-btn {
    background-color: var(--primary-color);
    color: white;

}

.custom-btn :hover {
    font-weight: bold;
}

select,
input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    padding: 0px 12px;
    border-top: 2px solid #b0afaf;
    border-bottom: 0.9px solid lightgray;
    border-left: 0.9px solid lightgray;
    border-right: 0.9px solid lightgray;
}

// .box {
//     max-width: 720px;
//     border: 1px ridge;
// }

.checkbox {
    width: 10px !important;
    height: 18px;
    margin: auto;
}

// .card{
//     // border: 1px solid rgb(248, 81, 226);
//     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
// }
.card {
    border: 1px solid rgb(176, 179, 176);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 24px rgba(0, 0, 0, 0.2);
}

@media (max-width: 576px) {
    .row.mb-3.align-items-center>div {
        margin-bottom: 0.5rem;
    }

    .btn-primary {
        font-size: 14px;
    }

    .display {
        display: block;
    }

    .mobile {
        margin-bottom: 10px;
    }

}


// --------------------

#myGrid {
    width: 100%;
    height: 600px;
    text-align: center;
}

.responsive-grid {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}


@media (max-width: 768px) {
    .responsive-grid {
        width: 100%;
    }
}

::ng-deep .ag-header {
    background-color: #557c9b !important;
}

.custom {
    background-color: lightslategrey;
}

.input-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.example-input {
    width: 100%;
    padding-right: 2rem;
    box-sizing: border-box;
}

.icon-right {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #050505;
    font-size: 19px;
    font-weight: 600;

}