<section>
    <div class=" border p-3">
        <div class=" display justify-content-center align-items-center">
            <div class="col-12 col-md-12 mobile display justify-content-center align-items-center">
                <div class="col-12  col-md-3  mx-2 mb-3">
                    <select id="cas" placeholder="Select the CAS" [(ngModel)]="operatorid">
                        <option value="">Select Operator</option>
                        <option *ngFor="let operator of operatorList" [value]="operator.value">{{ operator.name }}
                        </option>
                    </select>
                </div>
                <div class="col-12  col-md-3 mb-3">
                    <input id="duration" type="text" placeholder="Enter Smartcard" [(ngModel)]="searchname">
                </div>
                <button class="btn custom-btn mx-3" type="button" (click)="submit(1)">
                    Total list
                </button>
                <button class="btn custom-btn mx-1" type="button" (click)="submit(2)">
                    On list
                </button>

                <button class="btn custom-btn mx-1" type="button" (click)="submit(3)">
                    Off list
                </button>
            </div>
        </div>
    </div>

    <div class=" py-3">
        <div class=" ">
            <div class="col-12 col-md-12">
                <div class="title text-center mb-4">
                    <h5>TOTAL SUBSCRIBER RECURRING</h5>
                </div>
                <div class="row">
                    <!-- <div *ngIf="reccuringData.length === 0" class="text-center col-12">
                        <p style="color:red">No Records Found, Please Select an Input and Get the Data</p>
                    </div> -->

                    <span class="col-12 col-sm-4 col-md-4 mb-3" *ngFor="let cus of reccuringData">
                        <div class="card p-3 mb-1">
                            <div class="row mb-2">
                                <div class="col-4">
                                    <label for="subscriberName">Subscriber Name</label>
                                </div>
                                <div class="col-8">
                                    {{cus.customername}}
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-4">
                                    <label for="smartcard">Smartcard</label>
                                </div>
                                <div class="col-8 ">
                                    <span>{{cus.smartcard}}</span>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-4">
                                    <label for="smartcard">Recurring</label>
                                </div>
                                <div class="col-7 ">
                                    <input type="checkbox" class="form-check-input checkbox" id="recurring"
                                        [(ngModel)]="cus.isrecurring">
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-4">
                                    <label for="boxId">Box Id</label>
                                </div>
                                <div class="col-8">
                                    {{cus.boxid}}
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-4">
                                    <label for="expiryDate">Expiry Date</label>
                                </div>
                                <div class="col-8">
                                    {{cus.expirydate}}
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-4">
                                    <label for="address">Address</label>
                                </div>
                                <div class="col-8">
                                    {{cus.address}}
                                </div>
                            </div>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>