.Head {
    background-color: var(--primary-color);
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1);
    color: white;
    padding: 1rem;

}

.Head p {
    font-size: 20px;
}


// .input_box label::after {
//     content: " *";
//     color: red;
// }

// .input_box select option {
//     padding: 7px 0;
// }
 


.border {
    display: flex;
    gap: 10px;
    width: 100%;
    height: 45px;
    padding: 10px;
    border-radius: 5px;
    border-top: 2px solid #b0afaf;
    border-bottom: 0.9px solid lightgray;
    border-left: 0.9px solid lightgray;
    border-right: 0.9px solid lightgray;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    background-color: #f6f8fa;
}

.display {
    display: flex;
}

.box1 {
    display: contents;
}

label {
    color: rgb(2, 25, 51);
    // font-weight: 600;
}

.row {
    padding: 1rem;
}

@media screen and (max-width:560px) {
    .display {
        display: block;
    }

    .mobile {
        max-height: 500px;
        overflow: scroll;
    }

    .box1 {
        display: block;
    }

    .border {
        display: block;
        height: 17vh;
    }

    .recharge_type {
        margin-bottom: 1rem;
    }
}