.Head {
    background-color: var(--primary-color);
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1);
    color: white;
    padding: 1rem;

}

.Head p {
    font-size: 20px;
}


.input_box label::after {
    content: " *";
    color: red;
}

// .input_box select option {
//     padding: 7px 0;
// }
.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 25px;
    margin-left: 5px;
    float: inline-end;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(44, 116, 165);
    /* Red color */
    transition: .1s;
    border-radius: 50%;
}

.slider:after {
    background-color: green;
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 15px;
    bottom: 4px;
    transition: .1s;
    border-radius: 50%;
    opacity: 0;
    /* Initially hidden */
}

input:checked+.slider:before {
    transform: translateX(20px);
    background-color: green;
    /* Change to green when checked */
}

input:checked+.slider:after {
    transform: translateX(16px);
    opacity: 1;
    /* Show the green slider */
    background-color: green;
}

input:checked+.slider:before {
    opacity: 0;
    /* Hide the red slider */
}


.border {
    display: flex;
    gap: 10px;
    width: 100%;
    height: 45px;
    padding: 10px;
    border-radius: 5px;
    border-top: 2px solid #b0afaf;
    border-bottom: 0.9px solid lightgray;
    border-left: 0.9px solid lightgray;
    border-right: 0.9px solid lightgray;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    background-color: #f6f8fa;
}

.display {
    display: flex;
}
.box1{
    display: contents;
}
label{
    color: rgb(2, 25, 51);
    // font-weight: 600;
}
@media screen and (max-width:560px) {
    .display {
        display: block;
    }

    .mobile {
        max-height: 500px;
        overflow: scroll;
    }
    .box1{
        display: block;
    }
    .border {
        display: block;
        height: 17vh;
    }
    .recharge_type{
        margin-bottom: 1rem;
    }
}