::ng-deep .ag-header{
    background-color: #557c9b !important;
}



.tab {
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

h1 {
    text-align: center;
}

.tab:hover {
    background-color: #007bff;
    color: white;
    // font-size: 18px;
    font-weight: bold;
}

.tab.active {

    color: rgb(230, 27, 196);
    // font-size: large;
    font-weight: bold;
    border-color: #007bff;
}

.Tab h3 {
    text-align: center;
}

.tablist {
    height: 50px;
    // background-color: antiquewhite;
}

::ng-deep .ag-root-wrapper {
    width: 100% !important;
    margin: auto;
}

.commission {
    padding: 15px;
}

.btn {
    border-radius: 15px;
}

.btn span {
    margin: auto;
}

.btn-success {
    background-color: rgb(147 134 19);
    color: rgb(255, 255, 255);
    height: 30px;
    padding: 3px;
    width: 79px;
}

.btn-infos {
    background-color: rgb(147 134 19);
    color: white;
    padding: 3px;
    width: 15rem;
    height: 30px;
}

.btn-infos:hover,
.btn-success:hover {
    color: rgb(10, 30, 209);
}

.new_d {
    margin-top: 1rem;
    padding: 5px;
    background: var(--shadow-color);
}
.vertical-line {
    border-right: 1px solid #000; /* Adjust color and width as needed */
    height: 100%;
}