// ::ng-deep .ag-header {
//     background-color: #557c9b !important;
// }
.gridtable {
    ::ng-deep .ag-header {}

    ::ng-deep .ag-header {
        max-height: 200px;
    }
}

.gridtable1 {
    ::ng-deep .ag-header {}

    ::ng-deep .ag-header {
        max-height: 500px;
    }
}

.display {
    display: flex;
}

.tab {
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    background: rgb(250, 250, 165);
}

h1 {
    text-align: center;
}

.tab.active {
    background-color: #007bff;
    color: white;
    // font-size: 18px;
    font-weight: bold;
}

.tab:hover {
    color:#007bff;
    // font-size: large;
    font-weight: bold;
    border-color: white;
    background: white;
}

.Tab h3 {
    text-align: center;
}

.tablist {
    // height: 50px;
    // background-color: antiquewhite;
}

.com_select select {
    width: 50%;
}

.commission {
    padding: 15px;
}

.btn {
    border-radius: 15px;
}

.btn span {
    margin: auto;
}

.btn-success {
    background-color: rgb(147 134 19);
    color: rgb(255, 255, 255);
    height: 30px;
    padding: 3px;
    width: 79px;
}

.btn-infos {
    background-color: rgb(147 134 19);
    color: white;
    padding: 3px;
    width: 15rem;
    height: 30px;
}

.btn-infos:hover,
.btn-success:hover {
    color: white;
}

.new_d {
    margin-top: 1rem;
    padding: 5px;
    // background: var(--shadow-color);
}

.enamle {
    background-color: aquamarine;
}

.vertical-line {
    border-right: 1px solid #000;
    /* Adjust color and width as needed */
    height: 100%;
}

// ::ng-deep {
//     .ag-center-cols-viewport {
//         max-height: 450px;
//         overflow: scroll;
//     }
// }
.card {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1),
        0px 5px 12px -2px rgba(0, 0, 0, 0.1),
        0px 18px 36px -6px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width:905px) {
    .ag-paging-panel {
        display: grid !important;
    }

}
@media screen and (max-width:775px) {
    .ag-paging-panel {
        display: grid !important;
    }

}

@media screen and (max-width:770px) {
    .display {
        display: block;
    }

    .com_select select {
        width: 100%;
    }
}
@media screen and (max-width:1200px) {
    .display {
        display: block;
    }

    .com_select select {
        width: 100%;
    }
}
