<div>
    <h4>
        Expiry Details
    </h4>
</div>
<div class="d-flex justify-content-center align-item-center" style="margin-top: 50px;">
    <div class="col-12 col-md-6">
        <div class="card">
            <div class=" display_1  mb-2">
                <div class="col-12 col-md-4">
                    <span for="">Date</span>
                </div>
                <div class="col-12 col-md-8">
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-date-range-input [rangePicker]="picker" >
                            <input matStartDate matInput placeholder="Start date" [(ngModel)]="fromdate" (dateChange)="getFromDate($event)">
                            <input matEndDate matInput placeholder="End date" [(ngModel)]="todate" (dateChange)="getToDate($event)">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                </div>
            </div>

            <div class=" display_1  mb-3">
                <div class="col-12 col-md-4">
                    <span for="">Operator</span>
                </div>
                <div class=" custom-select  operator_width  mb-2 mx-2">
                    <input type="text" placeholder="Search Operator" [(ngModel)]="operatorname"
                        (input)="filterOperators()" (focus)="showDropdown = false" (click)="showDropdown = true">

                    <ul class="dropdown" *ngIf="showDropdown">
                        <li *ngFor="let operator of filteredOperators"
                            (click)="selectOperator(operator.id, operator.name)">
                            {{ operator.name }}
                        </li>
                    </ul>
                    <!-- <input type="text" matInput [matAutocomplete]="auto" [(ngModel)]="operatorid" maxlength="20"
                        (input)="filterOperators($event)" placeholder="Select an Operator"
                        [matAutocompleteDisabled]="false" [value]="selectedLcoName">

                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayOperator">
                        <mat-option *ngFor="let operator of filteredOperators" [value]="operator.value"
                            (click)="onSubscriberStatusChange(operator)">
                            {{ operator.name }}
                        </mat-option>
                    </mat-autocomplete> -->
                </div>
            </div>
            <div class="   display_1 justify-content-between align-item-center">
                <div class="col-12 col-md-4">
                    <span for="">Format</span>
                </div>
                <div class="col-12 col-md-8 d-flex justify-content-start align-items-center">
                    <button class="btn mx-3" (click)="exportAsXLSX()"><i class="fa fa-file-excel-o mx-1"
                            aria-hidden="true"></i>FORMAT 1</button>
                    <button class="btn" (click)="exportAsXLSX1()"><i class="fa fa-file-excel-o mx-1"
                            aria-hidden="true"></i>FORMAT 2</button>
                </div>
            </div>
        </div>
    </div>
</div>