<div>
    <h4>
        Expiry Details
    </h4>
</div>
<div class="d-flex justify-content-center align-item-center" style="margin-top: 50px;">
    <div class="col-12 col-md-6">
        <div class="card">
            <div class="input_box display_1  mb-2">
                <div class="col-12 col-md-4">
                    <label for="">Date</label>
                </div>
                <div class="col-12 col-md-8">
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-date-range-input [rangePicker]="picker" [max]="maxDate">
                            <input matStartDate matInput placeholder="Start date" (dateChange)="getFromDate($event)">
                            <input matEndDate matInput placeholder="End date" (dateChange)="getToDate($event)">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                </div>
            </div>

            <div class="input_box display_1  mb-3">
                <div class="col-12 col-md-4">
                    <label for="">Operator</label>
                </div>
                <div class="col-12 col-md-8">
                    <select id="lcoName" [(ngModel)]="selectedLcoName">
                        <option value="0" selected>Select a Operator</option>
                        <option *ngFor="let key of filteredLcoKeys()" [value]="lco_list[key]">
                            {{ key }}
                        </option>
                    </select>
                </div>
            </div>

            <div class=" input_box  display_1 justify-content-between align-item-center">
                <div class="col-12 col-md-4">
                    <label for="">Format</label>
                </div>
                <div class="d-flex col-12 col-md-8 ">
                    <div class="col-6 col-md-4 ">
                        <a class="btn x-1" [(ngModel)]="format" (click)="exportAsXLSX()">
                            <i class="fa fa-file-excel-o mx-1" aria-hidden="true"></i>FORMAT 1
                        </a>
                    </div>

                    <div class="col-6 col-md-4">
                        <a class="btn mx-1" [(ngModel)]="format_1" (click)="exportAsXLSX1()">
                            <i class="fa fa-file-excel-o mx-1" aria-hidden="true"></i>FORMAT 2
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>