<h4> Expiry Details</h4>

<div class="d-flex justify-content-center align-item-center mb-3" style="margin-top: 50px;">
    <div class="col-12 col-md-6">
        <div class="card">
            <div class=" display_1  ">
                <div class="input_box col-12 col-md-4">
                    <span style="margin-top: 5%;" for="">Date</span>
                </div>
                <div class="col-12 col-md-8">
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-date-range-input [rangePicker]="picker" [formGroup]="dateRangeForm">
                            <input matStartDate matInput placeholder="Start date" formControlName="fromdate"
                                (dateChange)="getFromDate($event)">
                            <input matEndDate matInput placeholder="End date" formControlName="todate"
                                (dateChange)="getToDate($event)">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                </div>
            </div>
            <div *ngIf="role !== 'ROLE_OPERATOR' && role !== 'ROLE_SUBLCO'" class=" display_1  mb-3">
                <div class="input_box col-12 col-md-4">
                    <span for="">Operator</span>
                </div>
                <div class=" custom-select  operator_width  mb-2 mx-2">
                    <select id="operator" [(ngModel)]="operatorname"    (ngModelChange)="selectOperator1($event)">
                        <option value="0" selected>ALL Operator</option>
                        <option *ngFor="let operator of filteredOperators" [value]="operator.id"
                         >
                            {{ operator.name }}
                        </option>
                    </select>
                </div>
            </div>
            <div *ngIf="role === 'ROLE_OPERATOR' || role === 'ROLE_SUBLCO'" class=" display_1  mb-3">
                <div class="input_box col-12 col-md-4">
                    <span for="">Area</span>
                </div>
                <div class="custom-select operator_width mb-2 mx-2">
                    <select id="area" [(ngModel)]="arearname" (ngModelChange)="selectArea($event)">
                        <option value="0" selected>ALL Area</option>

                        <option *ngFor="let area of filteredArea" [value]="area.id">
                            {{ area.name }}
                        </option>
                    </select>
                </div>

            </div>
            <div *ngIf="role === 'ROLE_OPERATOR' || role === 'ROLE_SUBLCO'" class=" display_1  mb-3">
                <div class="input_box col-12 col-md-4">
                    <span for="">Street</span>
                </div>
                <div class=" custom-select  operator_width  mb-2 mx-2">
                    <select id="street" [(ngModel)]="streetname">
                        <option value="0" selected>ALL Street</option>
                        <option *ngFor="let street of filteredStreet" [value]="street.id">
                            {{ street.name }}
                        </option>
                    </select>
                </div>
            </div>

            <div class="display_1 justify-content-between align-item-center mb-3">
                <div class="input_box col-12 col-md-4">
                    <span for="">Submit</span>
                </div>
                <div class="col-12 col-md-8 d-flex justify-content-start align-items-center">
                    <button class="btn btn-success mx-3 bttn" (click)="Submit()">
                        Submit
                    </button>
                </div>
            </div>
            <div class="display_1 justify-content-between align-item-center">
                <div class="input_box col-12 col-md-4">
                    <span for="">Format</span>
                </div>
                <div class="col-12 col-md-8 d-flex justify-content-start align-items-center">

                    <div class="export-icon" (click)="exportAsXLSX()">
                        <img src="/assets/images/icons/Excel.png" alt="Excel Icon">
                    </div>
                    <div class="export-icon" (click)="exportAsXLSX1()">
                        <img src="/assets/images/icons/Excel.png" alt="Excel Icon">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ag-grid-angular #agGrid id="myGrid" domLayout="normal" class="ag-theme-alpine table-class" rowAnimation
    [gridOptions]="gridOptions" [columnDefs]="columnDefs" (gridReady)="onGridReady($event)" [rowData]="rowData"
    [enableCellTextSelection]="true">
</ag-grid-angular>