.btn{
    background-color: var(--primary-color);
    color: white;
}
.overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: end;
    align-items: center;
}