.btn{
    background-color: var(--primary-color);
    color: white;
}
.overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: end;
    align-items: center;
}

.input-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.example-input {
    width: 100%;
    padding-right: 2rem;
    box-sizing: border-box;
}

.icon-right {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #050505;
    font-size: 19px;
    font-weight: 600;

}