.display {
    display: flex;
}

@media screen and (max-width:560px) {
    .display {
        display: block;
    }
}

.header {
    background-color: #4f504f;
    padding: 0.5rem;
    text-align: center;
    color: wheat;
}

.Head .span {
    font-size: 17px;
    font-weight: 600;
}
.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    /* Adjust this to position the tooltip */
    left: 50%;
    margin-left: -50px;
    opacity: 0;
    transition: opacity 0.3s;
    width: 100px;
}

.tooltip-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
}