<div class="Head d-flex justify-content-between align-items-center mb-3" style="padding: 1rem;">
    <h6>CREATE ADDON PACKAGE</h6>
    <i class="fa fa-close close-icon" style="cursor: pointer;" (click)="onNoClick()"></i>
</div>
<form [formGroup]="createpackageForm" style="border-radius: 10px;padding: 20px;">
    <div class="col-12 col-md-12 display justify-content-center align-items-center mobile">
        <!-- Row 1 -->
        <div class="col-12 col-md-12 display_1 mb-3">
            <div class="col-12 col-md-6 mb-3 mx-1">
                <div class="input_box col-12 col-md-12">
                    <div class="col-12 col-md-12">
                        <label for="addon_package_name" class="">Package Name</label>
                    </div>
                    <div class="col-12 col-md-12">
                        <input type="text" class="" id="addon_addon_package_name" formControlName="addon_package_name"
                            placeholder="Enter package name">
                        <div *ngIf="createpackageForm.get('addon_package_name')?.invalid && createpackageForm.get('addon_package_name')?.touched"
                            class="error-message">
                            Package Name is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 mb-3 mx-1">
                <div class="input_box col-12 col-md-12">
                    <div class="col-12 col-md-12">
                        <label for="order_id" class="">Reference Id</label>
                    </div>
                    <div class="col-12 col-md-12">
                        <input type="text" class="" id="order_id" formControlName="order_id"
                            placeholder="Enter package name">
                        <div *ngIf="createpackageForm.get('order_id')?.invalid && createpackageForm.get('order_id')?.touched"
                            class="error-message">
                            Reference Id is required.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Row 2 -->
        <div class="col-12 col-md-12 display_1 mb-3">
            <div class="col-12 col-md-6 mb-3 mx-1">
                <div class="input_box col-12 col-md-12">
                    <div class="col-12 col-md-12">
                        <label for="addon_package_description" class="">Description</label>
                    </div>
                    <div class="col-12 col-md-12">
                        <input type="text" id="addon_package_description" formControlName="addon_package_description"
                            placeholder="Enter Description">
                        <div *ngIf="createpackageForm.get('addon_package_description')?.invalid && createpackageForm.get('addon_package_description')?.touched"
                            class="error-message">
                            Description is required.
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 mb-3 mx-1">
                <div class="input_box col-12 col-md-12">
                    <div class="col-12 col-md-12">
                        <label>Broadcaster</label>
                    </div>
                    <div class="col-12 col-md-12">
                        <select id="broadcaster" formControlName="broadcaster_id" [(ngModel)]="broadcaster_id"
                            [ngClass]="{ 'is-invalid': submitted && f['broadcaster_id'].errors }">
                            <option value="0"> Select a Broadcastername</option>
                            <option *ngFor="let Type of type" [value]="Type.id">{{Type.broadcastername}}</option>
                        </select>
                        <div style="position: absolute; bottom: -20px; left: 0;font-size: small;">
                            <div *ngIf="submitted && f['broadcaster_id'].errors?.['required']" class="text-danger">
                                Broadcaster is required</div>
                        </div>
                        <br>
                    </div>
                </div>

            </div>
        </div>
        <!-- Row 3 -->
        <div class="col-12 col-md-12 display_1 mb-3">
            <div class="col-12 col-md-6 mb-3 mx-1">
                <div class="input_box col-12 col-md-12">
                    <div class="col-12 col-md-12">
                        <label for="addon_package_rate" class="">Package Rate</label>
                    </div>
                    <div class="col-12 col-md-12">
                        <input type="text" id="addon_package_rate" formControlName="addon_package_rate"
                            placeholder="Enter Package Rate">
                        <!-- (keyup)="calculateAmounts()" placeholder="Enter Package Rate"> -->
                        <div *ngIf="createpackageForm.get('addon_package_rate')?.invalid && createpackageForm.get('addon_package_rate')?.touched"
                            class="error-message">
                            Package Rate is required.
                        </div>
                    </div>
                </div>
            </div>
            <!-- Commission-->
            <div class="col-12 col-md-6 mb-3 mx-1">
                <div class="input_box col-12 col-md-12">
                    <div class="col-12 col-md-12">
                        <label for="commission" class="me-2">Commission</label>
                    </div>
                    <div class="col-12 col-md-12">
                        <input type="email" id="commission" formControlName="commission"
                            (input)="percentageValue(createpackageForm.get('ispercentage')?.value)"
                            placeholder="Enter Mso Commission">
                        <div *ngIf="createpackageForm.get('commission')?.invalid && createpackageForm.get('commission')?.touched"
                            class="error-message">
                            Commission is required.
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Row-4 -->
        <div class="col-12 col-md-12 display_1 mb-3">
            <!-- <div class="col-12 col-md-6 mb-3 mx-1">
                <div class="input_box col-12 col-md-12">
                    <div class="col-12 col-md-12">
                        <label for="customer_amount" class="me-2">MRP (CusAmount)</label>
                    </div>
                    <div class="col-12 col-md-12">
                        <input type="text" id="customer_amount" placeholder="Customer Amount" readonly [disabled]="true"
                            [value]="customer_amount">
                        <div *ngIf="createpackageForm.get('customer_amount')?.invalid && createpackageForm.get('customer_amount')?.touched"
                            class="error-message">
                            MRP (CusAmount) is required.
                        </div>
                    </div>
                </div>
            </div> -->


            <!-- Tax Amount -->
            <!-- <div class="col-12 col-md-6 mb-3 mx-1">
                <div class="input_box col-12 col-md-12">
                    <div class="col-12 col-md-12">
                        <label for="tax_amount" class="me-2">Tax Amount</label>
                    </div>
                    <div class="col-12 col-md-12">
                        <input type="text" id="tax_amount" [value]="tax_amount" readonly [disabled]="true"
                            placeholder="Enter Tax">
                        <div *ngIf="createpackageForm.get('tax_amount')?.invalid && createpackageForm.get('tax_amount')?.touched"
                            class="error-message">
                            Tax Amount is required.
                        </div>
                    </div>
                </div>
            </div> -->
        </div>

        <!-- Row-5 -->
        <div class="col-12 col-md-12 display_1 mb-3">
            <!-- <div class="col-12 col-md-6 mb-3 mx-1">
            <div class="input_box col-12 col-md-12">
                <div class="col-12 col-md-12">
                    <label for="mso_amount" class="me-2">Mso Commission</label>
                </div>
                <div class="col-12 col-md-12">
                    <input type="text" [disabled]="true" [value]="mso_amount" readonly placeholder="Mso Commission">
                    <div *ngIf="createpackageForm.get('mso_amount')?.invalid && createpackageForm.get('mso_amount')?.touched"
                        class="error-message">
                        Mso Commission is required.
                    </div>
                </div>
            </div>
        </div> -->
            <div class="col-12 col-md-6 mb-3 mx-1 ">
                <div class="input_box col-12 col-md-12 display3">
                    <div class="col-12 col-md-12">
                        <label for="isactive" class="me-2">Is percentage</label>
                    </div>

                    <!-- <label class="toggle">
                        <input class="toggle-checkbox" type="checkbox" checked id="ispercentage"
                            formControlName="isactive">
                        <div class="toggle-switch"></div>
                    </label> -->
                    <!-- <div class="col-12 col-md-12">
                        <div class="toggle-button-cover">
                            <div class="button b2" id="button-10">
                                <input type="checkbox" class="checkbox" checked id="isactive"
                                    formControlName="ispercentage" />
                                <div class="knobs">
                                    <span>YES</span>
                                </div>
                                <div class="layer"></div>
                            </div>
                        </div>
                    </div> -->
                    <div class="radiocs">
                        <div class="tabs">
                            <input value="true" name="fav_language" id="html" type="radio" class="input1"
                                (change)="percentageValue(true)" />
                            <label for="html" class="label"><span
                                    style="z-index: 1000;color:white;margin-top:4px">Yes</span></label>
                            <input checked="" value="false" name="fav_language" id="css" type="radio" class="input1"
                                (change)="percentageValue(false)" />
                            <label for="css" class="label"><span
                                    style="z-index: 1000;color:white;margin-top:4px">No</span></label>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <p class="errorcase" *ngIf="!isPercentage && issave">*Note: Fixed commission must be less than or equal to
            the Package rate!!</p>
        <p class="errorcase" *ngIf="isPercentage && issave">*Note: Commission percentage must be between 0 and
            100!!</p>

    </div>
    <div class="form-group d-flex justify-content-center align-items-center">
        <button type="button" class="btn btn-primary me-2" [disabled]="issave" (click)="Createpackage()">Create</button>
        <button type="button" class="btn btn-secondary" (click)="onNoClick()">Cancel</button>
    </div>


</form>