.head {
  padding: 13px;
  background-color: lightcyan;
}

.span {
  color: var(--primary-color);
  font-size: 19px;
  text-transform: uppercase;
  font-weight: bold;
}

.card {
  padding: 17px;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1);
}

.close-icon {
  font-size: 19px;
  cursor: pointer;
}

.close-icon:hover {
  background-color: var(--primary-color);
  font-size: 17px;
  padding: 2px;
  margin: 0;
  color: white;
  border-radius: 10px;
}

.card-body {
  width: 100%;
}

.card-body input:hover {
  background-color: var(--body-color);
}

.text-center {
  text-align: center;
}

.has-error input {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 0.9em;
  margin-top: 0.5em;
}

.input_box input {
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 0px 12px;
  border-top: 2px solid #b0afaf;
  border-bottom: 0.9px solid lightgray;
  border-left: 0.9px solid lightgray;
  border-right: 0.9px solid lightgray;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  background-color: #f6f8fa;
  font-family: 'Poppins', sans-serif;
  transition: all 120ms ease-out 0s;
}

.input_box select {
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  background-color: #f6f8fa;
  font-family: 'Poppins', sans-serif;
  transition: all 120ms ease-out 0s;
  padding: 0px 12px;
  border-top: 2px solid #b0afaf;
  border-bottom: 0.9px solid lightgray;
  border-left: 0.9px solid lightgray;
  border-right: 0.9px solid lightgray;
}

.display {
  display: block;
}

.display_1 {
  display: flex;
}

.display3 {
  display: flex;
}

::ng-deep .select2-container {
  width: 100% !important;
}

::ng-deep .select2-container .select2-selection--single {
  height: 45px !important;
  // margin-top: 1%;
  width: 100% !important;
}

::ng-deep .select2-container .select2-selection--single .select2-selection__rendered {
  margin-top: 10px;
}

::ng-deep .select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 10px;

}

@media screen and (max-width:560px) {
  .display_1 {
    display: block;
  }

  .mobile {
    max-height: 400px;
    overflow: scroll;
  }

  .display3 {
    display: block;
  }
}

// ==========================================button=================================================

#app-cover {
  display: table;
  width: 600px;
  margin: 80px auto;
  counter-reset: button-counter;
}

.toggle-button-cover {
  display: table-cell;
  position: relative;
  width: 100px;
  height: 40px;
  box-sizing: border-box;
}

.button {
  position: relative;
  top: 50%;
  width: 74px;
  height: 36px;
  margin: -20px auto 0 auto;
  overflow: hidden;
}

.button.r,
.button.r .layer {
  border-radius: 100px;
}

.button.b2 {
  border-radius: 2px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #ebf7fc;
  transition: 0.3s ease all;
  z-index: 1;
}


#button-10 .knobs:before,
#button-10 .knobs:after,
#button-10 .knobs span {
  position: absolute;
  top: 4px;
  width: 20px;
  height: 10px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  border-radius: 2px;
  transition: 0.3s ease all;
}

#button-10 .knobs:before {
  content: "";
  width: 36px;
  height: 31px;
  left: 4px;
  background-color: #216303;
}

#button-10 .knobs:after {
  content: "NO";
  right: 4px;
  color: #4e4e4e;
}

#button-10 .knobs span {
  display: inline-block;
  left: 8px;
  top: 6px;
  color: #fff;
  z-index: 1;
}

#button-10 .checkbox:checked+.knobs span {
  color: #4e4e4e;
}

#button-10 .checkbox:checked+.knobs:before {
  left: 42px;
  background-color: #f44336;
}

#button-10 .checkbox:checked+.knobs:after {
  color: #fff;
}

#button-10 .checkbox:checked~.layer {
  background-color: #fcebeb;
}

.input_box label::after {
  color: transparent !important;
}