<div *ngIf="dailogObj.type==='paychannel' || dailogObj.type==='bouquet' ">
    <div class="head d-flex justify-content-between align-items-unset">
        <span>{{dailogObj.type==='paychannel'?' PAY CHANNELS':'BOUQUET LIST'}} </span>
        <i class="fa fa-close close-icon" (click)="onNoClick()"></i>
    </div>

    <br>
    <div class="card" style="padding: 1rem;">
        <ag-grid-angular #agGrid id="myGrid" style="text-align: center;" domLayout='autoHeight'
            class="ag-theme-alpine table-class" rowAnimation [gridOptions]="gridOptions" [columnDefs]="columnDefs"
            [rowData]="rowData" [enableCellTextSelection]="true">
        </ag-grid-angular>
    </div>

</div>
<div *ngIf="dailogObj.type==='pair'">
    <div class="col d-block justify-content-center align-items-center">
        <div class="head d-flex justify-content-between align-items-unset">
            <span>BASE DEMO PACK</span>
            <i class="fa fa-close close-icon" (click)="onNoClick()"></i>
        </div>
        <div style="padding: 1rem;max-height: 65vh;overflow: scroll;">
            <br><br>
            <div class="col-12 col-md-12">
                <h4>Pair List</h4>
                <ag-grid-angular #agGrid id="myGrid" style="text-align: center;" domLayout='autoHeight'
                    class="ag-theme-alpine table-class" rowAnimation [gridOptions]="gridOptions"
                    [columnDefs]="columnDefs1" [rowData]="rowData" [enableCellTextSelection]="true">
                </ag-grid-angular>
            </div>
            <br><br>
            <div class="col-12 col-md-12">
                <h4>UnPair List</h4>
                <ag-grid-angular #agGrid id="myGrid" style="text-align: center;" domLayout='autoHeight'
                    class="ag-theme-alpine table-class" rowAnimation [gridOptions]="gridOptions"
                    [columnDefs]="columnDefs1" [rowData]="rowDataUnpair" [enableCellTextSelection]="true">
                </ag-grid-angular>
            </div>
        </div>
    </div>
</div>