
<div class="Head d-flex justify-content-between align-items-center mb-3" style="padding: 1rem;">
    <h6>DO YOU WANT TO DECUCT/REFUND AMOUNT</h6>
    <i class="fa fa-close close-icon" style="cursor: pointer;" (click)="onNoClick()"></i>
</div>
<div class="display justify-content-center align-items-center ">
    <div class="col-12 col-md-12 display justify-content-center align-item-center"
        style="padding: 1rem;max-height: 700px;overflow: scroll;">
        <div class="input_box">

            <div class=" ">
                <div class="display justify-content-center align-item-center mb-3">
                    <div class="col-12 col-md-6">
                        <span class="form-label">Operator Name </span>
                    </div>
                    <div class="col-12 col-md-6">
                        {{refuntlist?.operatorname}}
                    </div>
                </div>
                <div class="mb-3 display justify-content-center align-item-center">
                    <div class="col-12 col-md-6">
                        <span class="form-label">Reference</span>
                    </div>
                    <div class="col-12 col-md-6">
                        {{refuntlist?.referenceid}}
                    </div>
                </div>

                <div class="mb-3 display justify-content-center align-item-center">
                    <div class="col-12 col-md-6">
                        <span class="form-label">Amount</span>
                    </div>
                    <div class="col-12 col-md-6">
                        <input class="" type="text" [(ngModel)]="amount"
                            (keypress)="onKeydown($event)">
                    </div>
                </div>
                <div class="mb-3 display justify-content-center align-item-center">
                    <div class="col-12 col-md-6">
                        <span class="form-label">Refund remarks </span>
                    </div>
                    <div class="col-12 col-md-6">
                        <textarea class="" type="text"  [(ngModel)]="remarks"
                            placeholder="Text Message"></textarea>
                    </div>
                </div>
            </div>
        </div>


    </div>


</div>
<div class="d-flex justify-content-center align-item-center mx-5 mb-4">
    <button type="button" class="btn btn-danger me-2" (click)="toggleedit()">Cancel</button>
    <button type="submit" class="btn btn-success" (click)="onSubmit()">Refund</button>
</div>