.container {
    max-width: 1200px;
    // width: 100%;
    background: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1),
        0px 5px 12px -2px rgba(0, 0, 0, 0.1),
        0px 18px 36px -6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    // margin: 10px;
}

.card .title {
    padding: 5px;
    background: #f6f8fa;
}

.card .title p {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.card .title p::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100px;
    height: 3px;
    background: linear-gradient(to right, #058372, #acf3cc);
}

.card {
    padding: 0.5rem;
}

.input-box label {
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
    font-size: 16px;
    color: #243359;
}

.input-box label::after {
    content: " *";
    color: red;
}

.input-box select option {
    padding: 7px 0;
}

.input-box {
    display: flex;
    gap: 5px;
}

select,
input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    padding: 0px 12px;
    border-top: 2px solid #b0afaf;
    border-bottom: 0.9px solid lightgray;
    border-left: 0.9px solid lightgray;
    border-right: 0.9px solid lightgray;
}
button{
    font-size: 14px;
}
button:hover {
    color: bold;
}
textarea {
    width: 100%;
    height: 100px;
    border-radius: 4px;
    padding: 0px 12px;
    border-top: 2px solid #b0afaf;
    border-bottom: 0.9px solid lightgray;
    border-left: 0.9px solid lightgray;
    border-right: 0.9px solid lightgray;
}
.main {
    display: flex;
}
@media screen and (max-width:560px) {
    .main {
        display: block;
    }
    .mobile {
        max-height: 440px;
        overflow: scroll;
    }
}

@media screen and (max-width:720px) {
    .main {
        display: block;
    }

    .input-box {
        display: block;
    }
    .mobile {
        max-height: 440px;
        overflow: scroll;
    }
}