.tab {
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.tab:hover {
    background-color: #007bff;
    color: white;
    // font-size: 18px;
    font-weight: bold;
}

.tab.active {

    color: rgb(230, 27, 196);
    // font-size: large;
    font-weight: bold;
    border-color: #007bff;
}

// .Tab h3 {
//     text-align: center;
// }

.tablist {
    height: 50px;
    // background-color: antiquewhite;
}

.display {
    display: flex;
}

.commission {
    padding: 15px;
    // max-height: fit-content;
    // position: absolute;
    z-index: 1000;
    // overflow: scroll;
}

p {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 20px;
    background-color: antiquewhite;
}


.checkbox-content input {
    margin: 0 10px 0px 5px;
    accent-color: white;
}

.checkbox-content {
    .form-check-input:checked {
        background-color: #09a223;
        border-color: #09a223;
    }
}


.checkbox-content input:checked {
    accent-color: #09a223;
}

.box {
    border: 1px ridge;
}

::ng-deep .select2-container {
    width: 100% !important;
}

::ng-deep .select2-container .select2-selection--single {
    height: 50px !important;
    // margin-top: 1%;
    width: 100% !important;
}

::ng-deep .select2-container .select2-selection--single .select2-selection__rendered {
    margin-top: 13px;
}

::ng-deep .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 13px;

}

.option_input {
    border: 1px solid #0a2e23;
    background: white;
    border-radius: 10px;
    max-height: 10%;
    position: sticky;
    top: -2.5%;
    z-index: 1;
}

.option_input:hover {
    background: white;
}

.option_input input {
    background: white;
}

.option_input input:hover,
.option_input input:focus {
    background: white !important;
}
@media screen and (max-width:560px) {
    .display {
        display: block;
    }
    .mobile{
        margin: auto;
    }
}

@media screen and (max-width:720px) {
    .display {
        display: block;
    }
    .mobile{
        margin: auto;
    }
}