<div>
    <div class="Head d-flex justify-content-between align-items-center mb-3" style="padding: 1rem;">
        <h6>CREATE NEW SMARTCARD ALLOCATION</h6>
        <i class="fa fa-close close-icon" style="cursor: pointer;" (click)="onNoClick()"></i>
    </div>
    <div class="d-flex justify-content-center align-items-center" style="padding: 1rem;">
        <div class=" input_box col-12 d-flex justify-content-center align-items-center">
            <div class="col-4">
                <label>Subscriber</label>
            </div>
            <div class=" col-8">
                <div class="">
                    <!-- <select id="lcoName" [(ngModel)]="selectedLcoName">
                        <option value="0"  selected>Select a Subscriber</option>
                        <option *ngFor="let key of filteredLcoKeys()" [value]="sub_list[key]">
                            {{ key }}
                        </option>
                    </select> -->

                    <input type="text" matInput [matAutocomplete]="auto" [(ngModel)]="selectedLcoName" maxlength="20"
                        (input)="filterOperators($event)" placeholder="Select a Subscriber"
                        [matAutocompleteDisabled]="false" [value]="selectedOperator?.name">

                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayOperator">
                        <mat-option *ngFor="let operator of filteredOperators" [value]="operator.value"
                            (click)="onSubscriberStatusChange(operator)">
                            {{ operator.name }}
                        </mat-option>
                    </mat-autocomplete>
                    <div *ngIf="submitted && !selectedLcoName" class="text-danger" style="font-size: small;">
                        Subscriber is required
                    </div>
                </div>
            </div>
           
        </div>
    </div>
    <div class="d-flex justify-content-center align-items-center" style="padding: 10px;">
        <button type="button" class="btn" (click)="Submit()">
            Insert
        </button>

    </div>
</div>