

.gender-category label {
  padding: 0 20px 0 5px;
  font-size: 14px;
}

span {
  font-weight: 600;
  font-size: 0.9pc;
  color: darkslategrey;
}

.line1 {
  padding: 0.4rem;
}

.gender-category {
  color: black;
}

.gender-category label,
.gender-category input {
  cursor: pointer;
}

@media screen and (max-width: 560px) {
  .head {
    font-size: medium;
    padding: 8px;
  }

  .row {
    flex-direction: column;
    padding: 0.5rem;
  }

  .col-4 {
    width: 100%;
    margin-bottom: 10px;
  }

  .gender-category {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .col-12.d-flex {
    // flex-direction: column;
    align-items: flex-start;
  }

  .gender-category label {
    padding: 0 10px 0 5px;
  }

  .close-icon {
    font-size: 18px;
  }

  button.btn {
    width: 100%;
  }
}

.btn {
  width: 100px;
}

select,
input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  padding: 0px 12px;
  border-top: 2px solid #b0afaf;
  border-bottom: 0.9px solid lightgray;
  border-left: 0.9px solid lightgray;
  border-right: 0.9px solid lightgray;
}

// / ==============================================percentage button=========================================


#app-cover {
  display: table;
  width: 600px;
  margin: 80px auto;
  counter-reset: button-counter;
}

.toggle-button-cover {
  display: table-cell;
  position: relative;
  width: 100px;
  height: 40px;
  box-sizing: border-box;
}

.button {
  position: relative;
  top: 50%;
  width: 74px;
  height: 36px;
  margin: -20px auto 0 auto;
  overflow: hidden;
}

.button.r,
.button.r .layer {
  border-radius: 100px;
}

.button.b2 {
  border-radius: 2px;
}
.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;

}
.knobs {
  z-index: 2;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: 0.3s ease all;
  font-size: 12px;
  padding: 0 8px;
}

.layer {
  width: 100%;
  background-color: #ebf7fc;
  transition: 0.3s ease all;
  z-index: 1;
}


#button-10 .knobs:before,
#button-10 .knobs:after,
#button-10 .knobs span {
  position: absolute;
  top: 50%; 
  transform: translateY(-50%); 
  font-size: 12px; 
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  border-radius: 2px;
  transition: 0.3s ease all;
}
#button-10 .knobs:before {
  content: "";
  width: 36px;
  height: 31px;
  left: 4px;
  background-color: #216303;
}

#button-10 .knobs:after {
  content: "NO";
  right: 4px;
  color: #4e4e4e;
}

#button-10 .knobs span {
  display: inline-block;
  color: #fff;
  z-index: 1;
  left: 8px; 
  top: 50%;
  transform: translateY(-50%); 
}
#button-10 .checkbox:checked+.knobs span {
  color: #4e4e4e;
}

#button-10 .checkbox:checked+.knobs:before {
  left: 42px;
  background-color: #f44336;
}

#button-10 .checkbox:checked+.knobs:after {
  color: #fff;
}

#button-10 .checkbox:checked~.layer {
  background-color: #fcebeb;
}

// ==================================================================================

.toggle-button-cover {
  display: table-cell;
  position: relative;
  width: 100px;
  height: 40px;
  box-sizing: border-box;
}

.button-cover,
.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;
  top: 50%;
  width: 74px;
  height: 36px;
  margin: -20px auto 0 auto;
  overflow: hidden;
}

.button.r,
.button.r .layer {
  border-radius: 100px;
}

.button.b2 {
  border-radius: 2px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #ebf7fc;
  transition: 0.3s ease all;
  z-index: 1;
}

#button-14 .knobs:before,
#button-14 .knobs:after,
#button-14 .knobs span:before,
#button-14 .knobs span:after {
  position: absolute;
  top: 4px;
  width: 20px;
  height: 10px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  border-radius: 2px;
  transition: 0.3s ease all;
}

#button-14 .knobs:before,
#button-14 .knobs:after {
  color: #4e4e4e;
  z-index: 1;
}

#button-14 .knobs:before {
  content: "YES";
  left: 4px;
}

#button-14 .knobs:after {
  content: "NO";
  right: 4px;
}

#button-14 .knobs span {
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

#button-14 .knobs span:before {
  left: 4px;
  top: -28px;
  background-color: #f44336;
}

#button-14 .knobs span:after {
  top: 4px;
  left: 39px;
  background-color: #03a9f4;
}

#button-14 .knobs span:before,
#button-14 .knobs span:after {
  content: "";
  width: 23px;
  z-index: 2;
}

#button-14 .checkbox:checked+.knobs span:before {
  top: 4px;
}

#button-14 .checkbox:checked+.knobs span:after {
  top: -28px;
}

#button-14 .checkbox:checked~.layer {
  background-color: #fcebeb;
}