<div>

    <div class="Head d-flex justify-content-between align-items-center mb-3" style="padding: 1rem;">
        <h6>UPDATE LTB</h6>
        <i class="fa fa-close close-icon" style="cursor: pointer;" (click)="onNoClick()"></i>
    </div>
    <div class="container">
        <div class="card d-block justify-content-center align-items-center"
            style="border: 1px solid green;padding: 1rem;">
            <div class="line1">
                <div class=" col-12 d-flex justify-content-center align-items-center">
                    <div class="col-6 d-flex justify-content-start align-items-center">
                        <span>Local Channel Name</span>
                    </div>
                    <div class="col-6">
                        {{localPaymentChannelList?.channelname}}
                    </div>
                </div>
            </div>

            <div class="line1">
                <div class="col-12 d-flex justify-content-center align-items-center">
                    <div class="col-6 d-flex justify-content-start align-items-center">
                        <span>LTB name</span>
                    </div>
                    <div class="col-6">
                        <div class="gender-category">
                            <select id="ltb" [(ngModel)]="opName">
                                <option value="0" selected>Selected Operator Name</option>
                                <option *ngFor="let operator of filteredOperators" [value]="operator.packageid"
                                    (ngModelChange)="onSubscriberStatusChange($event)">
                                    {{ operator.packagename }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line1">
                <div class="col-12 d-flex justify-content-center align-items-center">
                    <div class="col-6 d-flex justify-content-start align-items-center">
                        <span>Channel Rate</span>
                    </div>
                    <div class="col-6 d-flex align-items-center">
                        <input type="text" class="ms-2" [(ngModel)]="localPaymentChannelList.channelrate"
                            (ngModelChange)="onChange()">
                    </div>
                </div>
            </div>
            <div class="line1">
                <div class="col-12 d-flex justify-content-center align-items-center">
                    <div class="col-6 d-flex justify-content-start align-items-center">
                        <span>With Tax</span> &nbsp;
                    </div>
                    <div class="col-6">
                        <div class="toggle-button-cover">
                            <div class="button b2" id="button-10">
                                <input type="checkbox" class="checkbox" [(ngModel)]="istax" (change)="onChange()" />
                                <div class="knobs">
                                    <span>YES</span>
                                </div>
                                <div class="layer"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line1">
                <div class="col-12 d-flex justify-content-center align-items-center">
                    <div class="col-6 d-flex justify-content-start align-items-center">
                        <span>Tax</span>
                    </div>
                    <div class="col-6">
                        {{ updateTax }}

                    </div>
                </div>
            </div>
            <div class="line1">
                <div class="col-12 d-flex justify-content-center align-items-center">
                    <div class="col-6 d-flex justify-content-start align-items-center">
                        <span>Lco price </span>
                    </div>
                    <div class="col-6">
                        {{ updateLcoPrice}}
                        <!-- {{updateLcoPrice}} -->
                    </div>
                </div>
            </div>
            <div class="line1">
                <div class="col-12 d-flex justify-content-center align-items-center">
                    <div class="col-6 d-flex justify-content-start align-items-center">
                        <span>Status</span> &nbsp;
                    </div>
                    <div class="col-6 col-md-6 d-flex  justify-content-start align-item-center  ">
                        <div class="toggle">
                            <label class="switch">
                                <input type="checkbox" id="lcoLabel" name="lcoLabel" [(ngModel)]="isactive">
                                <span class="slider"></span>
                            </label>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center" style="padding: 10px;">
            <button type="button" class="btn btn-success" (click)="submit()">Update </button>
            &nbsp;
            <button type="button" class="btn btn-danger" (click)="onNoClick()">No</button>
        </div>
    </div>
</div>