

.title {
    padding: 0px;
    background: #f6f8fa;
    position: sticky;
    top: 0;
}

.has-error input {
    border-color: red;
}

.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 0.5em;
}




.user_details {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 6px;
    padding: 20px;
    max-height: 550px;
    overflow: scroll;
    // box-shadow: 0px 0px 2px 1px rgb(223 41 105) !important;
}

.user_details .input_box {
    width: calc(100% / 2 - 20px);
    // margin: 0 0 12px 0;
}

.input_box label {
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
}

.input_box label::after {
    content: " *";
    color: red;
}

form .gender {
    padding: 0px 25px;
}

.gender .gender_title {
    font-size: 20px;
    font-weight: 500;
}

.gender .category {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.gender .category label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.gender .category label .dot {
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 4px solid transparent;
    transition: all 0.3s ease;
}

#radio_1:checked~.category label .one,
#radio_2:checked~.category label .two,
#radio_3:checked~.category label .three {
    border-color: #d9d9d9;
    background: #D64141;
}

.gender input {
    display: none;
}

.reg_btn {
    // padding: 25px;
    // margin: 15px 0;
    width: 7vw;
}

.reg_btn input {
    height: 45px;
    width: 100%;
    border: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    background: linear-gradient(to right, #8f76eb, #2578f5);
    border-radius: 5px;
    color: #ffffff;
    letter-spacing: 1px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.reg_btn input:hover {
    background: linear-gradient(to right, #385cfc, #ceaef8);
}
@media screen and (max-width:560px) {

    .mobile{
        max-height: 500px;
        overflow: scroll;
    }
}
@media screen and (max-width: 584px) {

    .user_details {
        max-height: 650px;
        overflow-y: scroll;
    }

    .user_details::-webkit-scrollbar {
        width: 0;
    }

    .user_details .input_box {
        width: 100%;
    }

    .gender .category {
        width: 100%;
    }

    .reg_btn {
        width: 25vw;
        margin: auto;
    }

}


@media screen and (max-width: 419px) {
    .gender .category {
        flex-direction: column;
    }
}



// ==============================================percentage button=========================================


#app-cover {
    display: table;
    width: 600px;
    margin: 80px auto;
    counter-reset: button-counter;
}

.toggle-button-cover {
    display: table-cell;
    position: relative;
    width: 100px;
    height: 40px;
    box-sizing: border-box;
}

.button {
    position: relative;
    top: 50%;
    width: 74px;
    height: 36px;
    margin: -20px auto 0 auto;
    overflow: hidden;
}

.button.r,
.button.r .layer {
    border-radius: 100px;
}

.button.b2 {
    border-radius: 2px;
}

.checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs {
    z-index: 2;
}

.layer {
    width: 100%;
    background-color: #ebf7fc;
    transition: 0.3s ease all;
    z-index: 1;
}


#button-10 .knobs:before,
#button-10 .knobs:after,
#button-10 .knobs span {
    position: absolute;
    top: 4px;
    width: 20px;
    height: 10px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    border-radius: 2px;
    transition: 0.3s ease all;
}

#button-10 .knobs:before {
    content: "";
    width: 36px;
    height: 31px;
    left: 4px;
    background-color: #216303;
}

#button-10 .knobs:after {
    content: "NO";
    right: 4px;
    color: #4e4e4e;
}

#button-10 .knobs span {
    display: inline-block;
    left: 8px;
    top: 6px;
    color: #fff;
    z-index: 1;
}

#button-10 .checkbox:checked+.knobs span {
    color: #4e4e4e;
}

#button-10 .checkbox:checked+.knobs:before {
    left: 42px;
    background-color: #f44336;
}

#button-10 .checkbox:checked+.knobs:after {
    color: #fff;
}

#button-10 .checkbox:checked~.layer {
    background-color: #fcebeb;
}