

.gender-category label {
    padding: 0 20px 0 5px;
    font-size: 14px;
}

.card {
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}

span {
    font-weight: 600;
    font-size: 0.9pc;
    color: darkslategrey;
}

.gender-category {
    color: black;
}

select,
input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    padding: 0px 12px;
    border-top: 2px solid #b0afaf;
    border-bottom: 0.9px solid lightgray;
    border-left: 0.9px solid lightgray;
    border-right: 0.9px solid lightgray;
}

.gender-category label,
.gender-category input {
    cursor: pointer;
}

.display {
    display: flex;
}

@media screen and (max-width: 560px) {
    .head {
        font-size: medium;
        padding: 8px;
    }

    .row {
        flex-direction: column;
        padding: 0.5rem;
    }

    .display {
        display: block;
    }

    .col-4 {
        width: 100%;
        margin-bottom: 10px;
    }

    .gender-category {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .col-12.d-flex {
        // flex-direction: column;
        align-items: flex-start;
    }

    .gender-category label {
        padding: 0 10px 0 5px;
    }

    .close-icon {
        font-size: 18px;
    }

    button.btn {
        width: 100%;
    }
    .mobile{
        max-height: 660px;
        overflow: scroll;
    }
}