<div>
    <h5>Version Information</h5>
</div>
<div class="cardContainer">
    <div class="col-12 col-md-5 col-lg-5 card royal-card d-flex justify-content-center align-item-center"
        (click)="getVersion('1')">
        <div><strong>Version - 6.9.31</strong></div>
        <div class="tooltip">Version - 6.9.31</div>
    </div>
    <!-- <div class="col-12 col-md-5 col-lg-5 card royal-card d-flex justify-content-center align-item-center"
        (click)="getVersion('2')">
        <div><strong>Version - 6.9.32</strong></div>
        <div class="tooltip">Version - 6.9.31</div>

    </div>
    <div class="col-12 col-md-5 col-lg-5 card royal-card d-flex justify-content-center align-item-center"
        (click)="getVersion('3')">
        <div><strong>Version - 6.9.33</strong></div>
        <div class="tooltip">Version - 6.9.31</div>

    </div>
    <div class="col-12 col-md-5 col-lg-5 card royal-card d-flex justify-content-center align-item-center"
        (click)="getVersion('4')">
        <div><strong>Version - 6.9.34</strong></div>
        <div class="tooltip">Version - 6.9.31</div>

    </div>
    <div class="col-12 col-md-5 col-lg-5 card royal-card d-flex justify-content-center align-item-center"
        (click)="getVersion('5')">
        <div><strong>Version - 6.9.35</strong></div>
        <div class="tooltip">Version - 6.9.31</div>

    </div> -->
</div>
<div *ngIf="showVersion_3 " >
    <div class="d-flex justify-content-between align-item-center" style="padding: 10px;">
        <h5>Version - 6.9.31</h5>
        <button type="button" class="btn btn-primary bttn" style="background-color: black;" (click)="getClose()"><i
                class="fa-solid fa-reply mx-2"></i>Back</button>
    </div>
    <div class="ver mb-4">
        <p style="font-size: large;font-weight: bold;">Features (Text) :-</p>
        <div *ngFor="let message of visibleMessages" style="padding: 10px;">
            <span>{{ message }}</span>
        </div>
    </div>
    <button class="btn btn-outline-info mx-1 mb-4" mat-raised-button
        style="background-color: rgb(0, 89, 255);color: white;" type="button" (click)="playVideo()">Features (Video)
        :-</button>
    <div *ngIf="showVideo" #videoSection class="d-flex flex-column align-items-center">
        <video #videoPlayer width="1500" height="700" controls autoplay="true" muted class="mb-4">
            <source src="assets/videos/RSMS.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <button class="btn btn-danger mb-2" (click)="closeVideo()">Close Video</button>
    </div>
</div>
<!-- <div *ngIf="showVersion_6 ">
    <div class="d-flex justify-content-between align-item-center" style="padding: 10px;">
        <h5>Version - 6.9.36</h5>
        <button type="button" class="btn btn-primary bttn" style="background-color: black;" (click)="getClose()"><i
                class="fa-solid fa-reply mx-2"></i>Back</button>
    </div>
    <div class="ver mb-4">
        <p style="font-size: large;font-weight: bold;">Features (Text) :-</p>
        <div *ngFor="let message of visibleMessages" style="padding: 10px;">
            <span>{{ message }}</span>
        </div>
    </div>
    <button class="btn btn-outline-info mx-1 mb-4" mat-raised-button
        style="background-color: rgb(0, 89, 255);color: white;" type="button" (click)="playVideo()">Features (Video)
        :-</button>
    <div *ngIf="showVideo" #videoSection class="d-flex flex-column align-items-center">
        <video #videoPlayer width="1500" height="700" controls autoplay="true" muted class="mb-4">
            <source src="assets/videos/RSMS.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <button class="btn btn-danger mb-2" (click)="closeVideo()">Close Video</button>
    </div>
</div>
<div *ngIf="showVersion_4 ">
    <div class="d-flex justify-content-between align-item-center" style="padding: 10px;">
        <h5>Version - 6.9.34</h5>
        <button type="button" class="btn btn-primary bttn" style="background-color: black;" (click)="getClose()"><i
                class="fa-solid fa-reply mx-2"></i>Back</button>
    </div>
    <div class="ver mb-4">
        <p style="font-size: large;font-weight: bold;">Features (Text) :-</p>
        <div *ngFor="let message of visibleMessages" style="padding: 10px;">
            <span>{{ message }}</span>
        </div>
    </div>
    <button class="btn btn-outline-info mx-1 mb-4" mat-raised-button
        style="background-color: rgb(0, 89, 255);color: white;" type="button" (click)="playVideo()">Features (Video)
        :-</button>
    <div *ngIf="showVideo" #videoSection class="d-flex flex-column align-items-center">
        <video #videoPlayer width="1500" height="700" controls autoplay="true" muted class="mb-4">
            <source src="assets/videos/RSMS.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <button class="btn btn-danger mb-2" (click)="closeVideo()">Close Video</button>
    </div>
</div> -->