<div class="card">

    <!-- <h5>Local Payment Channel</h5> -->
    <h5> PAYMENT CHANNEL MASTER</h5>
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-12 col-sm-12 col-md-12  m-3">
            <ag-grid-angular #agGrid id="myGrid" domLayout='autoHeight' class="ag-theme-alpine table-class" rowAnimation
                style="max-height: 775px;overflow: scroll;" [rowSelection]="rowSelection" [gridOptions]="gridOptions"
                [columnDefs]="columnDefs" [rowData]="rowData" (gridReady)="onGridReady($event)"
                [enableCellTextSelection]="true">
            </ag-grid-angular>
            <div class="d-flex justify-content-center align-items-center position-relative button"
                style="padding: 10px;">
                <button type="button" class="btn bttn" (click)="submit($event)"><i class="fas fa-plus"></i>
                    New
                </button>
            </div>
        </div>
    </div>
</div>