<div *ngIf="type== '1'">
    monthly_datewise
</div>
<div *ngIf="type== '2'">
    recharge_deduction
</div>
<div *ngIf="type== '3'">
    recharge_invoice
</div>
<div *ngIf="type== '4'">
    recharge_history
</div>
<div *ngIf="type== '5'">
    online_payment
</div>
<div *ngIf="type== '6'">
    sublco_online
</div>
<div *ngIf="type== '7'">
    dsfgsdfsdfsd
</div>
<div *ngIf="type== '8'">
    monthly_datewise
</div>
<div *ngIf="type== '9'">
    subscriber_bill
</div>
<div *ngIf="type== '10'">
    user_rechargehistory
</div>
<div *ngIf="type== '11'">
    unpair_smartcard
</div>