<h4 style="text-align: center;color: rgb(68, 64, 64);text-transform: uppercase;">SUBLCO Creation </h4>
<div style="padding: 1rem;">
    <div class="col d-flex justify-content-start align-items-center mb-3">
        <a class="btn btn-outline-success mx-1" (click)="opendialogue('createsublco','')">
            <i class="fa fa-plus"></i> New
        </a>

        <button class="btn btn-outline-info mx-1" mat-raised-button color="primary" type="button"
            [disabled]="!isAnyRowSelected" (click)="opendialogue('deletesublco','')">
            Delete
        </button>
        <button [disabled]="!sublcorecharge" class="btn btn-outline-info mx-1" mat-raised-button color="accent"
            type="button" (click)="openLcoRechargelogue('sub_lco_recharge','')">
            Recharge
        </button>
    </div>
    <div>
        <ag-grid-angular domLayout="autoHeight" [enableCellTextSelection]="true" style="width:100%;display: none;"
            [rowSelection]="rowSelection" [columnDefs]="columnDefs" [gridOptions]="gridOptions" [rowData]="rowData"
            (selectionChanged)="onSelectionChanged()" class="ag-theme-alpine table-class"
            (gridReady)="onGridReady($event)"></ag-grid-angular>
    </div>

    <div class="grid-container">
        <div *ngFor="let operator of paginatedData">
            <mat-card class="card">
                <mat-card-header>
                    <div class="d-flex justify-content-start align-item-center">
                        <div class="sub-tittle mb-3 col-md-6" style="text-align: left;font-weight: bold;">
                            {{operator?.retailerName || 'empty'}} <span
                                style="color: rgb(1, 1, 14);font-weight: bold;">[{{operator?.retailerId}}]</span> -
                            <span style="color: #d82be7;font-weight: bold;">[<i
                                    class="fa-solid fa-indian-rupee-sign rupee "
                                    style="font-size: 18px;color:#195800"></i> {{operator?.balance}}]</span>
                        </div>
                        <div class="sub-tittle mb-3 col-md-6" style="text-align: right;color: rgb(26, 23, 23);">
                            Phone: <span style="color: rgb(19, 4, 104);">{{operator?.contactNo ||
                                operator?.contactNo2}}</span>
                        </div>
                    </div>
                </mat-card-header>

                <mat-card-content>
                    <div class="col-12 head " style="text-align: left;">
                        <div class="col-12 col-md-12 d-flex justify-content-between">
                            <div class="d-flex ">
                                <div class="sub-tittle mb-3 col-md-12">
                                    <p class="text">
                                        <span class="label label1">user id</span>
                                        <span class="separator">:</span>
                                        <span class="last">{{operator?.username}}</span>
                                    </p>
                                    <p class="text">
                                        <span class="label label2">password</span>
                                        <span class="separator">:</span>
                                        <span class="last"
                                            style="text-transform: lowercase;">{{operator?.password}}</span>
                                    </p>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="sub-tittle mb-3 col-md-12">
                                    <p class="text "
                                        [ngClass]="operator?.isactive == 'true' ?  'deactive-text' : 'active-text'">
                                        <span class="label">Status</span>
                                        <span class="separator1">:</span>
                                        <span class="last1">{{ operator?.isactive == 'true' ? 'Deactive' :
                                            'Active'}}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-12 d-flex justify-content-center align-items-center">
                        <div class="col-2 vertical tooltip-container">
                            <div class="col-2 vertical tooltip-container">
                                <i class="fas fa-edit" style="color: #01698c;"
                                    (click)="this.opendialogue('updatesublco', operator);"></i>
                                <span class="tooltip">Edit SUBLCO</span>
                            </div>
                        </div>
                        <div class="col-2 vertical tooltip-container">
                            <div class="col-2 vertical tooltip-container">
                                <i class="fa fa-map-marker" aria-hidden="true" style="color: #f701d5;"
                                    (click)="this.openaddedlogue('areaupdation', operator);"></i>
                                <span class="tooltip">Area Updation</span>
                            </div>
                        </div>
                        <div class="col-2 vertical tooltip-container">
                            <div class="col-2 vertical tooltip-container">
                                <i class="fas fa-file-alt" style="color: red;"
                                    (click)="this.opendialogue('reportdation', operator);"></i>
                                <span class="tooltip">Report</span>
                            </div>
                        </div>
                        <div class="col-2 vertical tooltip-container">
                            <div class="col-2 vertical tooltip-container">
                                <i class="fa fa-lock" aria-hidden="true" style="color: #124101c9;"
                                    (click)="this.openaddedlogue('permission', operator);"></i>
                                <span class="tooltip">Permission</span>
                            </div>
                        </div>
                        <div *ngIf="operator.iswallet == true" class="col-2 vertical tooltip-container">
                            <div class="col-2 vertical tooltip-container">
                                <i class="fa fa-cog" aria-hidden="true" style="color: brown;"
                                    (click)="this.opendialogue('wallet_recharge', operator);"></i>
                                <span class="tooltip">SUBLCO Rating</span>
                            </div>
                        </div>
                        <div *ngIf=" operator.iswallet == true  && operator.sublcoDiscount=== 1"
                            class="col-2 vertical tooltip-container">
                            <div class="col-2 vertical tooltip-container">
                                <i class="fa fa-dollar" style="color: blue;"
                                    (click)="this.opendialogue('sub_lco_discount', operator);"></i>
                                <span class="tooltip">SUBLCO Discount</span>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="child-card col-12">
                        <div class="col-2 vertical tooltip-container" (click)="openLCO_dashboard(2, operator)">
                            <div class="col-2 vertical tooltip-container">
                                <p class="sub-text">Active</p>
                                <span style="color: #0e610b;">
                                    <div class="circle" style="background-color: rgb(122, 64, 129);"><span
                                            class="circle-text">
                                            <!-- {{operator?.count?.activecount}} -->
                                        {{operator.activecount}}</span></div>
                                </span>
                                <span class="tooltip">Active</span>
                            </div>
                        </div>
                        <div class="col-2 vertical tooltip-container" (click)="openLCO_dashboard(3, operator)">
                            <div class="col-2 vertical tooltip-container">
                                <p class="sub-text">Deactive</p>
                                <span style="color: #0e610b;">
                                    <div class="circle" style="background-color: rgb(72 67 82)"><span
                                            class="circle-text">{{operator?.deactivecount}}</span></div>
                                </span>
                                <span class="tooltip">Deactive</span>
                            </div>
                        </div>
                        <div class="col-2 vertical tooltip-container" (click)="openLCO_dashboard(10, operator)">
                            <div class="col-2 vertical tooltip-container">
                                <p class="sub-text">New</p>
                                <span style="color: #0e610b;">
                                    <div class="circle" style="background-color: rgb(13 131 33);"><span
                                            class="circle-text">{{operator?.newcount}}</span></div>
                                </span> <span class="tooltip">New</span>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="d-flex justify-content-center align-items-center" style="padding: 0.5rem;">
        <mat-paginator #paginator class="demo-paginator" (page)="handlePageEvent($event)" [length]="length"
            [pageSize]="pageSize" [disabled]="disabled" [showFirstLastButtons]="showFirstLastButtons"
            [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []" [hidePageSize]="hidePageSize"
            [pageIndex]="pageIndex" aria-label="Select page">
        </mat-paginator>
    </div>
</div>