.display {
    display: flex;
}

::ng-deep .select2-container {
    width: 100% !important;
}

::ng-deep .select2-container .select2-selection--single {
    height: 50px !important;
    // margin-top: 1%;
    width: 100% !important;
}

::ng-deep .select2-container .select2-selection--single .select2-selection__rendered {
    margin-top: 13px;
}

::ng-deep .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 13px;
}

.bttn1 {
    background: #2795abf7;
    color: white;
    border: none;
    // padding: 10px;
    font-size: 14px;
    border-radius: 5px;
}

.bttn1:last-child {
    background: #013f06f7;
}