<div>
    <div class="Head d-flex justify-content-between align-items-center mb-3">
        <h6 class="span" style="text-transform: uppercase;padding: 0.5rem;">PAYMENT UPDATE</h6>
        <i class="fa fa-close close-icon" style="cursor: pointer;" (click)="onNoClick()"></i>
    </div>
    <div class="container">
        <div class="card d-block justify-content-center align-items-center"
            style="border: 1px solid green;padding: 1rem;">
            <div class="line">
                <div class=" col-12 d-flex justify-content-center align-items-center">
                    <div class="col-6 d-flex justify-content-start align-items-center">
                        <span>LTB Name</span>
                    </div>
                    <div class="col-6">
                        {{localPaymentChannelList?.operatorname}}
                    </div>
                </div>
            </div>
            <div class="line">
                <div class=" col-12 d-flex justify-content-center align-items-center">
                    <div class="col-6 d-flex justify-content-start align-items-center">
                        <span>Channel Name</span>
                    </div>
                    <div class="col-6">
                        {{localPaymentChannelList?.channelname}}
                    </div>
                </div>
            </div>
            <div class="line">
                <div class="col-12 d-flex justify-content-center align-items-center">
                    <div class="col-6 d-flex justify-content-start align-items-center">
                        <span>Lco Wallet</span>
                    </div>
                    <div class="col-6">
                        <div class="gender-category">
                            {{localPaymentChannelList?.balance}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="line">
                <div class="col-12 d-flex justify-content-center align-items-center">
                    <div class="col-6 d-flex justify-content-start align-items-center">
                        <span>Channel Rate</span>
                    </div>
                    <div class="col-6">
                        {{localPaymentChannelList?.channelrate}}
                    </div>
                </div>
            </div>
            <div class="line">
                <div class="col-12 d-flex justify-content-center align-items-center">
                    <div class="col-6 d-flex justify-content-start align-items-center">
                        <span>Old ExpiryDate</span>
                    </div>
                    <div class="col-6">
                        {{localPaymentChannelList?.expirydate}}
                    </div>
                </div>
            </div>
            <div class="line">
                <div class="col-12 d-flex justify-content-center align-items-center">
                    <div class="col-6 d-flex justify-content-start align-items-center">
                        <span>Credit</span> &nbsp;
                    </div>
                    <div class="col-6">
                        <div class="toggle-button-cover">
                            <div class="button b2" id="button-10">
                                <input type="checkbox" class="checkbox" [(ngModel)]="iscredit" />
                                <div class="knobs">
                                    <span>YES</span>
                                </div>
                                <div class="layer"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line">
                <div class="col-12 d-flex justify-content-center align-items-center">
                    <div class="col-6 d-flex justify-content-start align-items-center">
                        <span>Pay</span>
                    </div>
                    <div class="col-6">
                        <input type="text" [(ngModel)]="pay" placeholder="Enter payment">
                    </div>
                </div>
            </div>
            <div *ngIf="confirmation" class="line">
                <div class="col-12 d-flex justify-content-center align-items-center">
                    <div class="col-6 d-flex justify-content-start align-items-center">
                        <span>New ExpiryDate</span>
                    </div>
                    <div class="col-6">
                        {{confirmationPaymentList?.newexpirydate}} </div>
                </div>
            </div>
            <div *ngIf="confirmation" class="line">
                <div class="col-12 d-flex justify-content-center align-items-center">
                    <div class="col-6 d-flex justify-content-start align-items-center">
                        <span>Days</span>
                    </div>
                    <div class="col-6">
                        {{confirmationPaymentList?.days}}
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center" style="padding: 10px;">
            <button type="button" class="btn btn-success" (click)="confirm()">Confirm </button>
            <button type="button" class="btn btn-success" [disabled]="!confirmationPaymentList" (click)="submit()">Submit </button>
            &nbsp;
            <button type="button" class="btn btn-danger" (click)="onNoClick()">No</button>
        </div>
    </div>
</div>