<div class="Head d-flex justify-content-between align-items-center mb-3" style="padding: 1rem;">
    <h6>UPDATE DISTRIBUTOR</h6>
    <i class="fa fa-close close-icon" style="cursor: pointer;" (click)="onNoClick()"></i>
</div>
<form [formGroup]="distributorForm" style="border-radius: 10px;">
    <div class="" style="padding: 10px;">
        <!-- Distributor Name -->
        <div class="input_box  mb-3">
            <div class="display align-items-center justify-content-center">
                <div class="col-12 col-md-6">
                    <span for="distributor_name" class="me-2">Distributor Name</span>
                </div>
                <div class="col-12 col-md-6">
                    <input type="text" class="" id="distributor_name" formControlName="distributor_name"
                        placeholder="Enter Distributor Name" data-toggle="tooltip" data-placement="bottom">
                    <!-- <div *ngIf="distributorForm.get('distributor_name')?.invalid && distributorForm.get('distributor_name')?.touched"
                        class="error-message">
                        Distributor name is required.
                    </div> -->
                    <div *ngIf="distributorForm.get('distributor_email')?.invalid && distributorForm.get('distributor_email')?.touched"
                        class="error-message">
                        <div *ngIf="distributorForm.get('distributor_email')?.invalid && distributorForm.get('distributor_email')?.touched" class="error-message">
                            <div *ngIf="distributorForm.get('distributor_email')?.hasError('required')">
                              Email is required.
                            </div>
                            <div *ngIf="!distributorForm.get('distributor_email')?.hasError('required') && distributorForm.get('distributor_email')?.hasError('email')">
                              Please enter a valid email format.
                            </div>
                            <div *ngIf="!distributorForm.get('distributor_email')?.hasError('required') && !distributorForm.get('distributor_email')?.hasError('email') && distributorForm.get('distributor_email')?.hasError('invalidEmail')">
                              Email must include ".in" or ".com" after letters.
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Distributor Contact -->
        <div class="input_box  mb-3">
            <div class="display align-items-center justify-content-center">
                <div class="col-12 col-md-6">
                    <span for="distributor_contact" class="me-2">Distributor Contact</span>
                </div>
                <div class="col-12 col-md-6">
                    <input type="text" class="" id="distributor_contact" (keydown)="onKeydown($event)" maxlength="10"
                        pattern="[0-9]*" formControlName="distributor_contact" placeholder="Enter Distributor Contact"
                        data-toggle="tooltip" data-placement="bottom">
                    <div *ngIf="distributorForm.get('distributor_contact')?.invalid && distributorForm.get('distributor_contact')?.touched"
                        class="error-message">
                        Distributor contact is required.
                    </div>
                </div>
            </div>
        </div>

        <!-- Distributor Address -->
        <div class="input_box  mb-3">
            <div class="display align-items-center justify-content-center">
                <div class="col-12 col-md-6">
                    <span for="distributor_address" class="me-2">Distributor Address</span>
                </div>
                <div class="col-12 col-md-6">
                    <input type="text" class="" id="distributor_address" formControlName="distributor_address"
                        placeholder="Enter Distributor Address" data-toggle="tooltip" data-placement="bottom">
                    <div *ngIf="distributorForm.get('distributor_address')?.invalid && distributorForm.get('distributor_address')?.touched"
                        class="error-message">
                        Distributor address is required.
                    </div>
                </div>
            </div>
        </div>

        <!-- Distributor Email -->
        <div class="input_box Isactive mb-3">
            <div class="display align-items-center justify-content-center">

                <div class="col-12 col-md-6">
                    <span for="distributor_email" class="me-2">Distributor Email</span>
                </div>
                <div class="col-12 col-md-6">
                    <input type="email" class="" id="distributor_email" formControlName="distributor_email"
                        placeholder="Enter Distributor Email" data-toggle="tooltip" data-placement="bottom">
                    <div *ngIf="distributorForm.get('distributor_email')?.invalid && distributorForm.get('distributor_email')?.touched"
                        class="error-message">
                        Distributor email is required.

                    </div>
                </div>
            </div>
        </div>

        <div class="  mb-3">
            <div class="display align-items-center justify-content-center">
                <div class="input_box  col-12 col-md-6">
                    <span for="distributor_isactive" class="me-2">Isactive</span>
                </div>
                <div class="col-12 col-md-6 ">
                    <div class="toggle">
                        <!-- <input class="toggle-checkbox" type="checkbox" id="distributor_isactive"
                            formControlName="distributor_isactive">
                        <div class="toggle-switch"></div> -->


                        <label class="switch">
                            <input type="checkbox" id="lcoLabel" name="lcoLabel" formControlName="distributor_isactive">
                            <span class="slider"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group d-flex justify-content-center align-items-center mb-3">
            <button type="button" class="btn btn-success  me-2" (click)="Distributor()">Save</button>
            <button type="button" class="btn btn-secondary" (click)="onNoClick()">Cancel</button>
        </div>
    </div>
</form>