


.input-box label::after {
    content: " *";
    color: red;
}

.input-box select option {
    padding: 7px 0;
}

.input-box label {
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
    font-size: 16px;
    color: #243359;
}
.input-box {
    display: flex;
    gap: 5px;
}

.main {
    display: flex;
}
.card .title1 p {
    font-size: 20px;
    font-weight: 500;
    position: relative;
}
select,
input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    padding: 0px 12px;
    border-top: 2px solid #b0afaf;
    border-bottom: 0.9px solid lightgray;
    border-left: 0.9px solid lightgray;
    border-right: 0.9px solid lightgray;
}

textarea {
    width: 100%;
    height: 100px;
    border-radius: 4px;
    padding: 0px 12px;
    border-top: 2px solid #b0afaf;
    border-bottom: 0.9px solid lightgray;
    border-left: 0.9px solid lightgray;
    border-right: 0.9px solid lightgray;
}

@media screen and (max-width:560px) {
    .main {
        display: block;
    }
}

@media screen and (max-width:720px) {
    .main {
        display: block;
    }

    .input-box {
        display: block;
    }
}


.input-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.example-input {
    width: 100%;
    padding-right: 2rem;
    box-sizing: border-box;
}

.icon-right {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #050505;
    font-size: 19px;
    font-weight: 600;

}