.card-body {
    padding: 1rem;
}

.close-icon {
    font-size: 20px;
    cursor: pointer;
}

.close-icon:hover {
    background-color: var(--primary-color);
    color: white;
    border-radius: 50%;
    // padding: 5px;
}

.input_box {
    display: flex;
    /* Default to flex */
    align-items: center;
}

.label-container,
.input-container {
    width: 50%;
    /* Equal width for label and input containers */
}

.input_box label {
    font-weight: 500;
    margin-bottom: 5px;

    // font-size: medium;
    color: #243359;
}

.input_box label::after {
    content: " *";
    color: red;
}

.input_box select option {
    padding: 7px 0;
}

.input_box input {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0px 12px;
    border-top: 2px solid #b0afaf;
    border-bottom: 0.9px solid lightgray;
    border-left: 0.9px solid lightgray;
    border-right: 0.9px solid lightgray;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    background-color: #f6f8fa;
    font-family: 'Poppins', sans-serif;
    transition: all 120ms ease-out 0s;
}

.input_box select {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    background-color: #f6f8fa;
    font-family: 'Poppins', sans-serif;
    transition: all 120ms ease-out 0s;
    padding: 0px 12px;
    border-top: 2px solid #b0afaf;
    border-bottom: 0.9px solid lightgray;
    border-left: 0.9px solid lightgray;
    border-right: 0.9px solid lightgray;
}

.input_box textarea {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    background-color: #f6f8fa;
    font-family: 'Poppins', sans-serif;
    transition: all 120ms ease-out 0s;
    padding: 0px 12px;
    border-top: 2px solid #b0afaf;
    border-bottom: 0.9px solid lightgray;
    border-left: 0.9px solid lightgray;
    border-right: 0.9px solid lightgray;
}

// /* Responsive Styles */
@media (min-width: 720px) {
    .card-content {
        max-width: 600px;
        margin: 0 auto;
    }

}

@media (max-width: 768px) {

    /* Media query for mobile view */
    .input_box {
        display: block;
        /* Switch to block layout on smaller screens */
    }

    .label-container,
    .input-container {
        width: 100%;
        /* Full width for label and input containers */
        margin-bottom: 10px;
        /* Add some spacing */
    }
}

//   ===================================================
$green: var(--primary-color);

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, ".SFNSText-Regular", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
}

.toggle {
    cursor: pointer;
    display: inline-block;
}

.toggle-switch {
    display: inline-block;
    background: #ccc;
    border-radius: 16px;
    width: 51px;
    height: 25px;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;

    &:before,
    &:after {
        content: "";
    }

    &:before {
        display: block;
        background: linear-gradient(to bottom, #fff 0%, #eee 100%);
        border-radius: 50%;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
        width: 18px;
        height: 18px;
        position: absolute;
        top: 4px;
        left: 4px;
        transition: left 0.25s;
    }

    .toggle:hover &:before {
        background: linear-gradient(to bottom, #fff 0%, #fff 100%);
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
    }

    .toggle-checkbox:checked+& {
        background: $green;

        &:before {
            left: 30px;
        }
    }
}

.toggle-checkbox {
    position: absolute;
    visibility: hidden;
}

.toggle-label {
    margin-left: 5px;
    position: relative;
    top: 2px;
}


// =================================button======================================



* {
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

*:focus {
    outline: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #f1f9f9;
}

#app-cover {
    display: table;
    width: 600px;
    margin: 80px auto;
    counter-reset: button-counter;
}

.row {
    display: table-row;
}

.toggle-button-cover {
    display: table-cell;
    position: relative;
    width: 100px;
    height: 72px;
    left: -63px;
    box-sizing: border-box;
}

.button {
    position: relative;
    top: 50%;
    width: 74px;
    height: 36px;
    margin: -20px auto 0 auto;
    overflow: hidden;
}

.button.r,
.button.r .layer {
    border-radius: 100px;
}

.button.b2 {
    border-radius: 2px;
}

.checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs {
    z-index: 2;
}

.layer {
    width: 100%;
    background-color: #ebf7fc;
    transition: 0.3s ease all;
    z-index: 1;
}


@media screen and (max-width:560px) {
    .toggle_body {
        height: 30px;
    }

    .toggle-button-cover {
        display: table-cell;
        position: relative;
        width: 100px;
        height: 72px;
        left: 40px;
        bottom: 15px;
        box-sizing: border-box;
    }
}

#button-10 .knobs:before,
#button-10 .knobs:after,
#button-10 .knobs span {
    position: absolute;
    top: 4px;
    width: 20px;
    height: 10px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    border-radius: 2px;
    transition: 0.3s ease all;
}

#button-10 .knobs:before {
    content: "";
    width: 36px;
    height: 31px;
    left: 4px;
    background-color: #216303;
}

#button-10 .knobs:after {
    content: "NO";
    right: 4px;
    color: #4e4e4e;
}

#button-10 .knobs span {
    display: inline-block;
    left: 8px;
    top: 6px;
    color: #fff;
    z-index: 1;
}

#button-10 .checkbox:checked+.knobs span {
    color: #4e4e4e;
}

#button-10 .checkbox:checked+.knobs:before {
    left: 42px;
    background-color: #f44336;
}

#button-10 .checkbox:checked+.knobs:after {
    color: #fff;
}

#button-10 .checkbox:checked~.layer {
    background-color: #fcebeb;
}


                    
.radiocs {
    --radius: 8px;
    --border: 2px;
    --height: 39px;
    --speed: 0.25s;
    display: grid;
    place-items: center;
    align-content: center;
    font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue",
      Helvetica, Arial, sans-serif, system-ui;
      width: -1vh;
      color: white !important;
  }
  
  .tabs {
    height: var(--height);
    display: grid;
    grid-auto-flow: column;
    background: #454857;
    border-radius: var(--radius);
    grid-auto-columns: 1fr;
    position: relative;
    // border: var(--border) solid #03a503;
  }
  
  .tabs {
    --ease: linear(0,
        0.1641 3.52%,
        0.311 7.18%,
        0.4413 10.99%,
        0.5553 14.96%,
        0.6539 19.12%,
        0.738 23.5%,
        0.8086 28.15%,
        0.8662 33.12%,
        0.9078 37.92%,
        0.9405 43.12%,
        0.965 48.84%,
        0.9821 55.28%,
        0.992 61.97%,
        0.9976 70.09%,
        1);
  }
  
  .tabs>.input1,
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
    color: white !important;
  }
  
  .tabs:has(:checked:nth-of-type(1)) {
    --active: 0;
  }
  
  .tabs:has(:checked:nth-of-type(2)) {
    --active: 1;
  }
  
  .tabs:has(:checked:nth-of-type(3)) {
    --active: 2;
  }
  
  .tabs:has(:checked:nth-of-type(4)) {
    --active: 3;
  }
  
  .tabs :checked+.label {
    --highlight: 1;
  }
  
  .tabs:has(.input1:nth-of-type(2)) {
    --count: 2;
  }
  
  .tabs:has(.input1:nth-of-type(3)) {
    --count: 3;
  }
  
  .tabs:has(.input1:nth-of-type(4)) {
    --count: 4;
  }
  
  .tabs .label {
    padding: 0 clamp(10px, 10px + 10px, 20px);
    cursor: pointer;
    text-align: center;
    height: 100%;
    display: grid;
    border-radius: calc(var(--radius) - var(--border));
    place-items: center;
    color: hsl(0 0% 100% / calc(0.5 + var(--highlight, 0)));
    transition: background, color;
    transition-duration: 0.25s;
    transition-timing-function: var(--ease, ease);
    color: white !important;
    font-weight: bold;
  }
  
  .input1:not(:checked)+.label:hover {
    --highlight: 0.35;
    // background: hsl(0 0% 20%);
  }
  
  .tabs::after {
    pointer-events: none;
    content: "";
    width: calc(100% / var(--count));
    height: 100%;
    // background: hsl(0 0% 100%);
    position: absolute;
    border-radius: calc(var(--radius) - var(--border));
    // mix-blend-mode: difference;
    translate: calc(var(--active, 0) * 100%) 0;
    transition: translate, outline-color;
    transition-duration: var(--speed);
    transition-timing-function: var(--ease, ease);
    outline: 2px solid transparent;
    // background: #03a503;
    background-image: linear-gradient(180deg, #95d891, #74bbad);
    ;
    color: white !important;
  }
  
  .tabs:has(:focus-visible)::after {
    // outline-color: red;
  }
  input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    /* Windows High Contrast Mode */
    background-color: CanvasText;
  }
  
  input[type="radio"]:checked::before {
    transform: scale(1);
  }
  
  input[type="radio"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
  }
  
  
  .input_box label::after {
    color:transparent !important ;
  }
  