<section>
    <div class="Head d-flex justify-content-between align-items-center mb-3" style="padding: 1rem;">
        <h6>UPDATE PACKAGE</h6>
        <i class="fa fa-close close-icon" style="cursor: pointer;" (click)="onNoClick()"></i>
    </div>

    <div class="card-body col-12 col-md-12 ">
        <div class="input_box col-12 col-md-12  mb-1">
            <div class="col-12 col-md-6">
                <span>Package Name</span>
            </div>
            <div class="col-12 col-md-6">
                <textarea matInput class="" id="package_name" style="height: 50px;"
                    [(ngModel)]="package_name"></textarea>
            </div>
        </div>
        <div class="input_box col-12 col-md-12  align-items-center mb-1">
            <div class="col-12 col-md-6">
                <span>Package Rate</span>
            </div>
            <div class="col-12 col-md-6">
                <input type="text" id="package_rate" class="" maxlength="10" pattern="[0-9]*"
                    (keydown)="onKeydown($event)" [(ngModel)]="package_rate">
            </div>
        </div>


        <div class="input_box col-12 col-md-12   align-items-center mb-1">
            <div class="col-12 col-md-6">
                <span class="col-12 col-md-6 ">Description</span>
            </div>
            <div class="col-12 col-md-6">
                <textarea matInput class="" id="package_desc" style="height: 50px;"
                    [(ngModel)]="package_desc"></textarea>
            </div>
        </div>
        <div class="input_box col-12 col-md-12  align-items-center mb-1">
            <div class="col-12 col-md-6">
                <span>Reference Id</span>
            </div>
            <div class="col-12 col-md-6">
                <input type="text" id="order_id" class="" readonly [(ngModel)]="order_id">
            </div>
        </div>
        <div class="input_box col-12 col-md-12  align-items-center mb-1">
            <div class="col-12 col-md-6">
                <span>Commission</span>
            </div>
            <div class="col-12 col-md-6">
                <input type="number" id="commission" class="" min="0" (keydown)="preventnegativeInput($event)" maxlength="10" (input)="onKeydown1($event)"
                    [value]="commission" [(ngModel)]="commission" [attr.max]="ispercentage ? 100 : package_rate">
            </div>
        </div>
        <br />
        <div class="input_box col-12 col-md-12  align-items-center mb-1">
            <div class="col-12 col-md-6">
                <span>Is percentage</span>
            </div>
            <div class="col-12 col-md-6 d-flex justify-content-center align-items-center toggle_body">
                <!-- <div class="toggle-button-cover">
                    <div class="button b2" id="button-10">
                        <input type="checkbox" class="checkbox" [checked]="ispercentage" [(ngModel)]="ispercentage" (change)="checkMaxValue()" />
                        <div class="knobs">
                            <span>YES</span>
                        </div>
                        <div class="layer"></div>
                    </div>
                </div> -->
                <div class="radiocs" style="width:100%">
                    <div class="tabs">
                        <input value="true" name="fav_language" id="html" type="radio" class="input1"
                            [checked]="ispercentage" (change)="percentageChange(true)" />
                        <label for="html" class="label"><span
                                style="z-index: 1000;color:white;margin-top:4px">Yes</span></label>
                        <input value="false" name="fav_language" id="css" type="radio" class="input1"
                            [checked]="!ispercentage" (change)="percentageChange(false)" />
                        <label for="css" class="label"><span
                                style="z-index: 1000;color:white;margin-top:4px">No</span></label>
                    </div>
                </div>
            </div>
        </div>
        <p class="errorcase" *ngIf="!ispercentage && invalid">*Note: Fixed commission must be less than or equal to
            the Package rate!!</p>
        <p class="errorcase" *ngIf="ispercentage && invalid">*Note: Commission percentage must be between 0 and
            100!!</p>
        <br />
        <div class="input_box  d-flex justify-content-center align-items-center mb-3">
            <button type="button" class="btn btn-primary me-2" [disabled]="invalid"
                (click)="Update_package()">Update</button>
            <button type="button" class="btn btn-secondary" (click)="onNoClick()">Cancel</button>
        </div>

    </div>
</section>