.container {
    display: flex;
    height: 5vh;
    gap: 20px;
    // margin: 15px 15px;
    // margin: 0;

}

.display {
    display: flex;
}


.card {
    border-radius: 10px;
    // background-color: var(--sidebar-color);
    border-radius: 10px;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
}

.card .clickable-item {
    display: flex;
    align-items: center;
    color: var(--primary-color);
    /* Default color */
    cursor: pointer;
    /* Shows a pointer cursor on hover */
}

.card .clickable-item:hover {
    color: white;
    /* Color when hovered */
}

.card .clickable-item i,
.card .clickable-item p {
    margin: 0;
    /* Ensures no extra space around icon and text */
}

.card .clickable-item i {
    margin-right: 8px;
    /* Space between icon and text */
}

.card span {
    color: var(--primary-color);
}

.card span:hover,
.card i:hover,
.card p:hover {
    color: white;
}

.card:hover {
    background-color: var(--primary-color);
    color: white
}

.card p {
    margin: 0;
}

.head {
    // width: 27vw;
    display: flex;
}

mat-card p {
    text-align: center;
    // margin: 0;
    // color: white;
}

mat-card {
    text-align: center;
    margin: 10px;
    background-color: lightblue;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    border: 1.5px solid #1c1818;
    // border: 1px ridge;

    margin: 0px 30px;
    border-radius: 10px;
    margin: 5px 0px;
}

mat-card-header {
    display: initial;
    // padding: 10px 15px;
}

.sub-tittle {
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--primary-color);
}

p .text {
    text-align: left;
}

.tittle1 {
    text-align: end;
}

p {
    font-size: 16px;
}

.toggle1 {
    width: 30%;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}

.label {
    margin-right: 0px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    color: rgb(90 88 88);
}



.separator {
    margin: 0 5px;
    text-align: center;
    color: rgb(90 88 88);
}

.last {
    margin-left: 5px;
    text-align: center;
    font-size: 14px;
    color: rgb(90 88 88);
}

.inventory {
    width: auto;
    height: 55%;
    background-color: rgb(67, 80, 61);
}

.inventory p,
span {
    color: white;
}

.permission {
    width: auto;
    // height: 22%;
    // top: 5%;
    background-color: #0e840a;
    display: -webkit-inline-box;
}

.permission i {
    font-size: 23px;
    margin: 15px 10px;
}

.permission img {
    margin: 10px 0 0 -79%;
    width: 10%
}

.permission p {
    margin: 10px -80%;
}

.card-inside {
    width: inherit;
    background-color: white;
    margin: auto;
}


.child-card {
    display: flex;
    gap: 20px;
    background: var(--sidebar-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 100%;
}


.vertical {
    border-right: 1px solid rgb(155, 155, 156);
}


.sub-text {
    margin: 0;
    font-size: 13px;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 40%;
    margin: 0 18px;
    border-radius: 20px;
    // background: var(--primary-color);
    color: white;
}

.circle-text {
    font-size: 12px;
}

.files {
    display: grid !important;
}

.file-container .files1 img {
    width: 15% !important;
    margin: 0 70px !important;
}

.file-container {
    display: flex;
    // gap: 10px;
}

.files img {
    width: 35%;
    margin: auto;
}

.card-inside span {
    font-size: 14px;
}

.files span {
    color: var(--primary-color);
    font-size: 13px;
    color: white;
}

.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    /* Adjust this to position the tooltip */
    left: 50%;
    margin-left: -50px;
    opacity: 0;
    transition: opacity 0.3s;
    width: 100px;
}

.tooltip-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

// @media screen and (max-width:1600px) {
//     .permission[_ngcontent-ng-c3482858480] {
//         width: 92% !important;
//         height: 22%;
//         top: 5%;
//         right: 3%;
//         background-color: #0e840a;
//         display: -webkit-inline-box;
//     }



//     .child-card {
//         display: flex;
//         // gap: 30px;
//         background: var(--sidebar-color);
//         border-radius: 10px;
//         box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
//         padding: 10px;
//     }

// }

.sub-text {
    color: var(--primary-color);
}

// @media screen and (max-width:660px) {
//     mat-card {
//         text-align: center;
//         // margin: 5px -4px;
//         margin: auto;
//         background-color: var(--sidebar-color);
//         box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
//         padding: 10px 10px;
//         border-radius: 10px;
//         // width: 97vw !important;
//     }

//     mat-card-header {
//         display: initial;
//         padding: 0px;
//     }

//     // .card {
//     //     width: 30% !important
//     // }

//     .sub-tittle {
//         font-size: 14px !important;
//         text-transform: uppercase;
//         color: var(--primary-color);
//     }

//     .tittle1 {
//         // margin: 0 111%;
//         margin: auto;
//     }

//     .report {
//         margin: 0 -15px;
//     }

//     .opt {
//         position: fixed;
//         top: 8%;
//         left: 10;
//         right: 0;
//         bottom: 0;
//         overflow-y: scroll
//     }

//     .card-inside {
//         width: 40% !important;
//         background-color: white;
//         margin: 0px 23px;
//         height: 40%;
//     }

//     .permission img {
//         margin: -2vw 0 0 -36vw !important;
//         width: 16%
//     }

//     .card-inside span {
//         font-size: 14px;
//         margin: -12px -5px;
//     }

//     .toggle1 {
//         width: 20%;
//     }

//     .inventory {
//         // width: 50vw !important;
//         height: 50%;
//         background-color: rgb(87, 129, 87);
//         margin-bottom: 10px;
//     }

//     .head {
//         padding: 10px;
//         border-radius: 8px;
//         color: var(--primary-color);
//         font-size: large;
//         font-weight: bold;
//     }

//     .col-6 p {
//         font-size: 11px;
//     }

//     .col-6 i {
//         font-size: 13px;
//     }

//     .label {
//         margin-right: 0px;
//         text-align: center;
//         text-transform: uppercase;
//         font-size: 12px;
//         color: rgb(90 88 88);
//     }

//     .separator {
//         margin: 0 5px;
//         text-align: center;
//         color: rgb(90 88 88);
//     }

//     .last {
//         margin-left: 5px;
//         text-align: center;
//         font-size: 12px;
//         color: rgb(90 88 88);

//     }

//     .permission {
//         // width: 150% !important;
//         height: 16%;
//         top: 6% !important;
//         background-color: #0e840a;
//         display: -webkit-inline-box;

//     }

//     .permission p {
//         margin: -2px -33vw !important;
//         font-size: 13px;
//     }

//     .permission i {
//         margin: 15px 25px !important;
//     }

//     .container {
//         display: flex;
//         height: 5vh;
//         // gap: 20px;
//         margin: 15px 5px;
//     }

//     .child-card {
//         display: flex;
//         // gap: 27px;
//         margin: 0px -3%;
//         background: var(--sidebar-color);
//         border-radius: 10px;
//         box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
//         width: 105%;
//     }

//     .vertical {
//         margin: 0 -5px !important;
//     }

//     .files {
//         margin: 0 -10px;
//     }

//     .file-container {
//         display: flex;

//     }

//     .file-container .files1 img {
//         padding: 5px;
//         width: 28% !important;
//         margin: 0 60px !important;
//     }

//     .files img {
//         width: 25%;
//         // margin: 0 45px
//     }

//     .files span {
//         font-size: 13px;
//         margin: 0 -10px;
//     }
// }

// @media screen and (max-width:560px) {

//     .display {
//         display: block;
//     }

// }