<div class="opt">
    <h3>OPERATOR DETAILS</h3>
    <div class=" col-12 col-md-12 mb-4 display justify-content-center align-items-center">
        <div class="input_box col-12 col-md-3 mb-2 mx-2">
            <!-- <p>All Operator</p> -->
            <select style="color: rgb(17, 0, 0);" [(ngModel)]="operatorid" (change)="onoperatorchange($event)">
                <option value="0" selected style="color: rgb(19, 17, 17);">ALL Operator </option>
                <option *ngFor="let operator of operatorList" [value]="operator.value">{{ operator.name}}</option>
            </select>

        </div>
        <div class="col-12 col-md-3 mb-2 mx-2 card d-flex align-items-center clickable-item" (click)="New_lco()">
            <p>
                <i class="fa fa-plus mx-2" style="padding-right: 3px;font-size: 14px"></i>NEW LCO
            </p>
        </div>
        <div class="col-12 col-md-3 mb-2 mx-2 card d-flex align-items-center" (click)="New_lco_business()">
            <p> <i class="fa fa-plus mx-2" style="padding-right: 3px;font-size: 14px"></i>New LCO Business</p>
        </div>
    </div>
    <span class="k col-4" *ngFor="let operator of operator_details "
        style="display: inline-table; flex-wrap: wrap;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <div class="col-12 head">
                        <div class="col-12 col-md-6">
                            <p style="text-align: left;" class="sub-tittle">
                                {{operator?.operatorname || 'empty'}}
                            </p>
                            <p style="text-align: left;color: rgb(90 88 88);" class="sub-tittle">Ph:
                                {{operator?.contactnumber1 || operator?.contactnumber2}}</p>

                            <img class="toggle1" src="/assets/images/login/contact1.png" alt="Toggle">
                            <!-- <i class="fa fa-pencil" style="color: var(--primary-color);" aria-hidden="true"   (click)="toggleedit()"></i> -->
                            <!-- <i class="fas fa-pen" style="color: var(--edit-button);font-size: 20px;" aria-hidden="true"
                                (click)="toggleedit(operator.operatorid)"></i> -->

                            <p class="text">
                                <span class="label label1">user id</span>
                                <span class="separator">:</span>
                                <span class="last">{{operator?.userid}}</span>
                            </p>
                            <p class="text">
                                <span class="label label2">password</span>
                                <span class="separator">:</span>
                                <span class="last">{{operator?.password}}</span>
                            </p>
                            <p class="text">
                                <span class="label">online payment</span>
                                <span class="separator">:</span>
                                <span class="last">{{operator?.isonlinepayment}}</span>
                            </p>
                        </div>
                        <div class="col-12 col-md-6">
                            <!-- <p style="color: #0e610b;text-align: between" class="sub-tittle tittle1">
                                <i class="fa fa-inr"
                                    style="padding-right: 3px;font-size: 14px"></i>{{operator?.balance}}
                                <i class="fas fa-pen" style="color: var(--edit-button);font-size: 20px;"
                                    aria-hidden="true" (click)="toggleedit(operator.operatorid)"></i>
                            </p> -->
                            <span
                                style="color: #0e610b; display: flex; align-items: center;justify-content: space-between ;"
                                class="sub-tittle tittle1">
                                <p><i class="fa fa-inr" style="font-size: 14px;"></i>
                                    {{operator?.balance}}</p>
                                <p><i class="fas fa-pen" style="color: var(--edit-button); font-size: 20px;"
                                        aria-hidden="true" (click)="toggleedit(operator.operatorid)"></i></p>
                            </span>

                            <mat-card class="inventory">
                                <p>Inventory</p>
                                <div class="col-12" style="display: flex;">
                                    <div class="col-6">
                                        <span style="font-size: 13px;">Box in hand</span>
                                        <mat-card class="card-inside">
                                            <span style="color: var(--primary-color)">{{operator?.boxinhand}}</span>
                                        </mat-card>
                                    </div>
                                    <div class="col-6">
                                        <span style="font-size: 13px;">Total Box</span>
                                        <mat-card class="card-inside">
                                            <span style="color: var(--primary-color)">{{operator?.totalbox}}</span>
                                        </mat-card>
                                    </div>
                                </div>
                            </mat-card>
                            <mat-card class="permission" (click)="togglepermission(operator.operatorid)"
                                style="cursor: pointer;">
                                <img src="../assets/images/icons/Accesss1.png" alt="Accesss1">
                                <p (click)="togglepermission($event)" style="color: white;">Special Permission</p>
                            </mat-card>
                        </div>
                    </div>

                    <div class="child-card col-6">
                        <div class="col-2 vertical">
                            <p class="sub-text">Connection</p>
                            <span style="color: #0e610b;">
                                <div class="circle" style="background-color: rgb(240, 120, 9);"><span
                                        class="circle-text">{{operator?.connectioncount}}</span></div>
                            </span>
                        </div>
                        <div class="col-2 vertical">
                            <p class="sub-text">Not Expiry</p>
                            <span style="color: #0e610b;">
                                <div class="circle" style="background-color: rgb(122, 64, 129);"><span
                                        class="circle-text">{{operator?.activecount}}</span></div>
                            </span>
                        </div>
                        <div class="col-2 vertical">
                            <p class="sub-text">Expired</p>
                            <span style="color: #0e610b;">
                                <div class="circle" style="background-color: rgb(202, 9, 9);"><span
                                        class="circle-text">{{operator?.connectioncount}}</span></div>
                            </span>
                        </div>
                        <div class="col-2 vertical">
                            <p class="sub-text">New</p>
                            <span style="color: #0e610b;">
                                <div class="circle" style="background-color: rgb(13 131 33);"><span
                                        class="circle-text">{{operator?.newcount}}</span></div>
                            </span>
                        </div>
                        <div class="col-2">
                            <p class="sub-text">Block</p>
                            <span style="color: #0e610b;">
                                <div class="circle" style="background-color: rgb(148, 122, 8);"><span
                                        class="circle-text">{{operator?.blockcount}}</span></div>
                            </span>
                        </div>
                    </div>
                    <br>

                    <div class="report">
                        <div class="file-container">
                            <div class="files">
                                <img src="../assets/images/icons/dashboard_icon.png" alt="Dashboard">
                                <span class="tooltip">Dashboard</span>
                            </div>
                            <div class="files">
                                <img src="../assets/images/icons/Document_icon.png" alt="Dashboard">
                                <span class="tooltip">Recharge Report</span>
                            </div>

                            <div class="files">
                                <img src="../assets/images/icons/Document_icon.png" alt="Report">
                                <span class="tooltip">Retailer Report</span>
                            </div>
                            <div class="files">
                                <img src="../assets/images/icons/Document_icon.png" alt="Report">
                                <span class="tooltip">Areawise Count Report</span>
                            </div>

                            <div class="files">
                                <img src="../assets/images/icons/Document_icon.png" alt="Report">
                                <span class="tooltip">Cancel_Subscription Subscription Report</span>
                            </div>
                            <div class="files">
                                <img src="../assets/images/icons/Document_icon.png" alt="Report">
                                <span class="tooltip">Productwise Subscriber Report</span>
                            </div>
                            <div class="files">
                                <img src="../assets/images/icons/Document_icon.png" alt="Report">
                                <span class="tooltip">Recharge Report</span>
                            </div>
                        </div>
                    </div>
                    <br>

                </mat-card-title>

            </mat-card-header>
        </mat-card>

    </span>

</div>