<!-- <div class="opt" style="max-height: 800px;overflow: scroll;"> -->
<div class="opt" >
    <div class=" col-12 col-md-12 mb-4 display justify-content-start align-items-baseline   ">
        <div class="col-12 col-md-3">
            <mat-form-field class="example-full-width" style="min-width: 100%;" appearance="outline">
                <mat-label>Select Operator</mat-label>
                <input type="text" matInput [matAutocomplete]="auto" (input)="filterOperators($event)"
                    [matAutocompleteDisabled]="false" [value]="selectedOperator?.name">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayOperator">
                    <mat-option (click)="onoperatorchange({ name: 'ALL Operator', value: 0 })">ALL Operator</mat-option>
                    <mat-option *ngFor="let operator of filteredOperators" [value]="operator.name"
                        (click)="onoperatorchange(operator)">
                        {{ operator.name }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <div class="d-flex justify-content-center mb-2" style="align-items: baseline;">
            <button class="btn btn-outline-info mx-1 bttn" mat-raised-button color="custom-select"
                style="background-color: #0c5e85;color: white;" type="button" (click)="New_lco()"> <i
                    class="fa fa-plus mx-2" style="padding-right: 1px;font-size: 14px"></i>
                NEW LCO
            </button>
        </div>
        <div class="d-flex justify-content-center mb-2" style="align-items: baseline;">
            <button class="btn btn-outline-info mx-1 bttn" mat-raised-button color="custom-select"
                style="background-color: #0c5e85;color: white;" type="button" (click)="New_lco_business()"> <i
                    class="fa fa-plus mx-2" style="padding-right: 1px;font-size: 14px"></i>
                New LCO Business
            </button>
        </div>
    </div>
    <div class="grid-container" >
        <div *ngFor="let operator of pagedOperators">
            <mat-card class="card">
                <mat-card-header>
                    <div class="d-block justify-content-start align-item-center">
                        <div class="sub-tittle mb-3 col-md-10" style="text-align: left;">
                            {{operator?.operatorname || 'empty'}} <span
                                style="color: rgb(1, 1, 14);font-weight: 600;">[{{operator?.operatorid}}]</span> - [
                            {{operator?.balance}}]
                        </div>
                        <div class="sub-tittle mb-3 col-md-10"
                            style="text-align: left;color: rgb(26, 23, 23);font-weight: 600;">
                            Phone: <span style="color: rgb(19, 4, 104);">{{operator?.contactnumber1 ||
                                operator?.contactnumber2}}</span>

                        </div>
                        <!-- <div  style="text-align: left;font-size: 15px; color: rgb(26, 23, 23); text-transform: capitalize;font-weight: 600;"
                            class="col-md-10"> &nbsp; Phone:
                            {{operator?.contactnumber1 || operator?.contactnumber2}}</div> -->
                    </div>
                </mat-card-header>

                <mat-card-content>
                    <div class="col-12 head " style="text-align: left;">
                        <div class="col-6 col-md-6">
                            <!-- <p style="text-align: left;" class="sub-tittle">
                                {{operator?.operatorname || 'empty'}}
                            </p> -->
                            <!-- <div style="display: flex; justify-content: center;">
                                <img class="toggle1" src="/assets/images/login/contact1.png" alt="Toggle">
                            </div> -->
                            <!-- <p class="text" [ngClass]="operator?.isactive ? 'active-text' : 'deactive-text'">
                                <span class="label">Status</span>
                                <span class="separator1">:</span>
                                <span class="last1">{{ operator?.isactive ? 'Active' : 'Deactive' }}</span>
                            </p> -->
                            <p class="text" [ngClass]="operator?.isactive === 'true' ? 'active-text' : 'deactive-text'">
                                <span class="label">Status</span>
                                <span class="separator1">:</span>
                                <span class="last1">{{ operator?.isactive === 'true' ? 'Active' : 'Deactive' }}</span>
                            </p>

                            <p class="text">
                                <span class="label label1">user id</span>
                                <span class="separator">:</span>
                                <span class="last">{{operator?.userid}}</span>
                            </p>

                            <p class="text">
                                <span class="label label2">password</span>
                                <span class="separator">:</span>
                                <span class="last">{{operator?.password}}</span>
                            </p>


                            <p class="text" [ngClass]="operator?.isonlinepayment ? 'active-text' : 'deactive-text'">
                                <span class="label">online payment</span>
                                <span class="separator1">:</span>
                                <span class="last1">{{ operator?.isonlinepayment ? 'Active' : 'Deactive' }}</span>
                            </p>



                        </div>
                        <div class="col-6 col-md-6">
                            <span
                                style="color: #0e610b; display: flex; align-items: center;justify-content: space-between; position: absolute; top: 5px; right: 10px;"
                                class="sub-tittle tittle1 ">
                                <!-- <p><i class="fa fa-inr" style="font-size: 14px;"></i>
                                    {{operator?.balance}}</p> -->
                                <p><i class="fas fa-pen"
                                        style="color: var(--edit-button); font-size: 20px;cursor: pointer"
                                        aria-hidden="true" (click)="toggleedit(operator.operatorid)"></i></p>
                                <span class="tooltip">Edit</span>
                            </span>

                            <mat-card class="inventory">
                                <p>Box Inventory </p>
                                <div class="row" style="display: flex;">
                                    <div class="col-6 tooltip-container" style="cursor: pointer;">
                                        <span style="font-size: 13px;"> In hand</span>
                                        <mat-card class="card-inside"
                                            (click)="openDialog('box_in_hand',operator.operatorid)">
                                            <span style="color: var(--primary-color)">{{operator?.boxinhand}}</span>
                                        </mat-card>
                                        <span class="tooltip">Box In Hand</span>
                                    </div>
                                    <div class="col-6 tooltip-container" style="cursor: pointer;">
                                        <span style="font-size: 13px;">Total</span>
                                        <mat-card class="card-inside"
                                            (click)="openDialog('total_smartcard',operator.operatorid)">
                                            <span style="color: var(--primary-color)">{{operator?.totalbox}}</span>
                                        </mat-card>
                                        <span class="tooltip">Total Box</span>
                                    </div>
                                </div>
                            </mat-card>
                            <mat-card class="permission" (click)="togglepermission(operator.operatorid)"
                                style="cursor: pointer;">
                                <img src="../assets/images/icons/Accesss1.png" alt="Accesss1">
                                <p (click)="togglepermission($event)" style="color: white;font-size: 14px;">Special
                                    Permission</p>
                            </mat-card>
                        </div>
                    </div>


                    <br>


                    <div class="report d-flex justify-content-center">
                        <div class="file-container">
                            <div class="files mx-2">
                                <a (click)="navgetToUrl(operator.operatorid)" class="tooltip-container">
                                    <!-- <img src="../assets/images/icons/dashboard_icon.png" alt="Dashboard"> -->
                                    <!-- <i class="fa fa-dashboard"
                                        style="font-size:20px;margin-bottom:10x;color:var(--primary-color)"></i> -->
                                    <i class='bx bx-sm bxs-grid-alt'
                                        style="font-size:25px;color:var(--primary-color)"></i>
                                    <span class="tooltip">Dashboard</span>
                                </a>
                            </div>


                            <div class="files tooltip-container mx-2"
                                (click)="openDialog('recharge',operator.operatorid)">
                                <div class="files tooltip-container ">
                                    <i class="fa-solid fa-book" style="font-size:20px;color:var(--primary-color)"></i>
                                    <span class="tooltip">LCO RECHARGE REPORT
                                    </span>
                                </div>
                            </div>
                            <div class="files tooltip-container mx-2"
                                (click)="openDialog('lcowise_retailer',operator.operatorid)">
                                <div class="files tooltip-container ">
                                    <i class="fa-solid fa-person-chalkboard"
                                        style="font-size:20px;color:var(--primary-color)"></i>
                                    <span class="tooltip">LCO WISE RETAILER REPORT </span>
                                </div>
                            </div>
                            <div class="files tooltip-container mx-2"
                                (click)="openDialog('areawise',operator.operatorid)">
                                <div class="files tooltip-container ">
                                    <i class="fa fa-calculator" style="font-size:20px;color:var(--primary-color)"
                                        aria-hidden="true"></i>
                                    <span class="tooltip">AREAWISE CONECTION COUNT REPORT
                                    </span>
                                </div>
                            </div>

                            <div class="files tooltip-container mx-2"
                                (click)="opencancelsubDialog('cancel_Subscription',operator.operatorid)">
                                <div class="files tooltip-container ">
                                    <i class="fa-solid fa-file-lines"
                                        style="font-size:20px;color:var(--primary-color)"></i>
                                    <span class="tooltip">CANCEL SUBSCRIPTION REPORT
                                    </span>
                                </div>
                            </div>
                            <div class="files tooltip-container mx-2"
                                (click)="openDialog('productwise_current',operator.operatorid)">
                                <div class="files tooltip-container">
                                    <i class="fa-solid fa-address-book"
                                        style="font-size:20px;color:var(--primary-color)"></i>
                                    <span class="tooltip">PRODUCTWISE CURRENT COUNT
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="child-card col-12">
                        <div class="col-2 vertical tooltip-container"
                            (click)="openDialog('total_smartcard_connection',operator.operatorid)">
                            <div class="col-2 vertical tooltip-container">
                                <p class="sub-text">Connection</p>
                                <span style="color: #0e610b;">
                                    <div class="circle" style="background-color: rgb(240, 120, 9);"><span
                                            class="circle-text">{{operator?.connectioncount}}</span></div>
                                </span>
                                <span class="tooltip">Connection</span>
                            </div>
                        </div>
                        <div class="col-2 vertical tooltip-container"
                            (click)="openDialog('active_smartcard_connection',operator.operatorid)">
                            <div class="col-2 vertical tooltip-container">
                                <p class="sub-text">Active</p>
                                <span style="color: #0e610b;">
                                    <div class="circle" style="background-color: rgb(122, 64, 129);"><span
                                            class="circle-text">{{operator?.activecount}}</span></div>
                                </span>
                                <span class="tooltip">Active</span>
                            </div>
                        </div>
                        <div class="col-2 vertical tooltip-container"
                            (click)="openDialog('expired_smartcard_connection',operator.operatorid)">
                            <div class="col-2 vertical tooltip-container">
                                <p class="sub-text">Expired</p>
                                <span style="color: #0e610b;">
                                    <div class="circle" style="background-color: rgb(202, 9, 9);"><span
                                            class="circle-text">{{operator?.expiredcount}}</span></div>
                                </span>
                                <span class="tooltip">Expired</span>
                            </div>
                        </div>
                        <div class="col-2 vertical tooltip-container"
                            (click)="openDialog('new_smartcard_connection',operator.operatorid)">
                            <div class="col-2 vertical tooltip-container">
                                <p class="sub-text">New</p>
                                <span style="color: #0e610b;">
                                    <div class="circle" style="background-color: rgb(13 131 33);"><span
                                            class="circle-text">{{operator?.newcount}}</span></div>
                                </span> <span class="tooltip">New</span>
                            </div>
                        </div>
                        <div class="col-2 vertical tooltip-container"
                            (click)="openDialog('block_smartcard_connection',operator.operatorid)">
                            <div class="col-2 vertical tooltip-container">
                                <p class="sub-text">Block</p>
                                <span style="color: #0e610b;">
                                    <div class="circle" style="background-color: rgb(148, 122, 8);"><span
                                            class="circle-text">{{operator?.blockcount}}</span></div>
                                </span>
                                <span class="tooltip">Block</span>
                            </div>
                        </div>
                    </div>
                </mat-card-content>

            </mat-card>
        </div>

        <!-- </div> -->
        <!-- </div> -->
        <!-- </div> -->
    </div>
    <div class="d-flex justify-content-center align-items-center" style="padding: 0.5rem;">
        <mat-paginator [length]="totalLength" [pageSize]="pageSize" [pageSizeOptions]="[10,50,100,500,1000,2500]"
            (page)="onPageChange($event)">
        </mat-paginator>
    </div>
</div>  