<!-- <div 
    class="col d-flex justify-content-center align-items-center card transparent-background dialog-content">
    <div class="card-content " style="width: 100%;">
        <div class="Head d-flex justify-content-between align-items-center mb-3">
            <h5 class="span" style="color: white;"> NEW STREET</h5>
            <i class="fa fa-close close-icon" style="cursor: pointer;" (click)="onNoClick()"></i>
        </div>
        <div class="card-body" style="padding: 1rem;">
            <div class="input_box display align-items-center mb-3">
                <div class="col-12 col-md-6">
                    <span for="categoryName" class="me-2">STREET NAME</span>
                </div>
                <div class="col-12 col-md-6">
                    <input type="text" [(ngModel)]="streetname">
                </div>
            </div>
            
            <div class="form-group d-flex justify-content-end align-items-center mb-3">
                <button type="button" class="btn btn-success me-2" (click)="newStreet()">Save</button>
                <button type="button" class="btn btn-danger" (click)="onNoClick()">Cancel</button>
            </div>
        </div>
    </div>
</div> -->

<div *ngIf="type=='newstreet'"
    class="col d-flex justify-content-center align-items-center card transparent-background dialog-content">
    <div class="card-content " style="width: 100%;">
        <div class="Head d-flex justify-content-between align-items-center mb-3" style="padding: 1rem;">
            <h6>NEW STREET</h6>
            <i class="fa fa-close close-icon" style="cursor: pointer;" (click)="onNoClick()"></i>
        </div>
        <div class="card-body" style="padding: 1rem;">
            <form #streetForm="ngForm" (ngSubmit)="newStreet()" novalidate>
                <div class="input_box display align-items-center mb-3">
                    <div class="col-12 col-md-6">
                        <span for="categoryName" class="me-2">STREET NAME</span>
                    </div>
                    <div class="col-12 col-md-6">
                        <input type="text" [(ngModel)]="streetname" name="streetname" required
                            #streetnameInput="ngModel" class="form-control">
                        <div *ngIf="streetnameInput.invalid && streetnameInput.touched" class="text-danger">
                            Street Name is required.
                        </div>
                    </div>
                </div>

                <!-- Action Buttons -->
                <div class="form-group d-flex justify-content-center align-items-center mb-3">
                    <button type="submit" class="btn btn-success me-2" [disabled]="streetForm.invalid">Save</button>
                    <button type="button" class="btn btn-danger" (click)="onNoClick()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div *ngIf="type=='editstreet'"
    class="col d-flex justify-content-center align-items-center card transparent-background dialog-content">
    <div class="card-content " style="width: 100%;">
        <div class="Head d-flex justify-content-between align-items-center mb-3" style="padding: 1rem;">
            <h6>Edit STREET</h6>
            <i class="fa fa-close close-icon" style="cursor: pointer;" (click)="onNoClick()"></i>
        </div>
        <div class="card-body" style="padding: 1rem;">
            <form #streetForm="ngForm" (ngSubmit)="editStreet()" novalidate>
                <div class="input_box display align-items-center mb-3">
                    <div class="col-12 col-md-6">
                        <span for="categoryName" class="me-2">STREET NAME</span>
                    </div>
                    <div class="col-12 col-md-6">
                        <input type="text" [(ngModel)]="editstreetname" name="streetname" required
                            #streetnameInput="ngModel">
                        <div *ngIf="streetnameInput.invalid && streetnameInput.touched" class="text-danger">
                            Street Name is required.
                        </div>
                    </div>
                </div>
                <div class="input_box display align-items-center mb-3">
                    <div class="col-12 col-md-6">
                        <span class="me-2">ISDELETE</span>
                    </div>
                    <div class="col-12 col-md-6 d-flex  justify-content-start align-item-center  ">
                        <div class="toggle">
                            <label class="switch">
                                <input type="checkbox" id="lcoLabel" name="lcoLabel" [(ngModel)]="isdelete">
                                <span class="slider"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <!-- Action Buttons -->
                <div class="form-group d-flex justify-content-center align-items-center mb-3">
                    <button type="submit" class="btn btn-success me-2" [disabled]="streetForm.invalid">Save</button>
                    <button type="button" class="btn btn-danger" (click)="onNoClick()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>