<section class="Tab col-12">
    <div class="" style="padding: 10px;">
        <p>
            BULK PACKAGE UPDATION</p>
    </div>
    <div class=" tablist justify-content-center align-items-center my-3 new_d">
        <div class="tab mb-3 bttn" [class.active]="selectedTab === 'bulk_package'" (click)="selectbulk('bulk_package')">
            BULK PACKAGE </div>
        <div class="tab mb-3 bttn" [class.active]="selectedTab === 'pending'" (click)="selectPending('pending')">PENDING
        </div>
        <div class="tab mb-3 bttn" [class.active]="selectedTab === 'archive'" (click)="selectArchive('archive')">
            ARCHIVE
        </div>
    </div>
    <div *ngIf="selectedTab === 'bulk_package'" class="commission">
        <div class="col-12 col-md-12  box  display justify-content-center align-items-center ">
            <div class="checkbox-text mb-3 mx-2">
                <div class="checkbox-content">
                    <mat-checkbox [(ngModel)]="isCheckboxChecked" (change)="setCheckboxState($event.checked)"
                        id="terms"> </mat-checkbox>
                </div>
            </div>
            <mat-form-field appearance="outline" class="mx-2 mobileview">
                <mat-label>Select Package</mat-label>
                <mat-select [(ngModel)]="package" [disabled]="!isCheckboxChecked" panelClass="custom-select-panel"
                    (closed)="onDropdownClosed()">
                    <mat-option class="option_input">
                        <input matInput [(ngModel)]="packageSearch" placeholder="Type to search..."
                            (input)="filteredPackage()" (click)="$event.stopPropagation()" class="search-input" />
                    </mat-option>
                    <mat-option *ngFor="let pkg of filteredPackageList" [value]="pkg.value">
                        {{ pkg.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="mx-2 mobileview">
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [rangePicker]="picker" [max]="maxDate">
                    <input matStartDate matInput placeholder="Start date" (dateChange)="getFromDate($event)">
                    <input matEndDate matInput placeholder="End date" (dateChange)="getToDate($event)">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>


            <div *ngIf="role !== 'ROLE_OPERATOR' && role !== 'ROLE_SUBLCO'">
                <mat-form-field appearance="outline" class="mx-2 mobileview">
                    <mat-label> Select LCO</mat-label>
                    <mat-select [(ngModel)]="operatorid" panelClass="custom-select-panel"
                        (closed)="onDropdownClosed1()">
                        <mat-option class="option_input">
                            <input matInput [(ngModel)]="selectoperator" (input)="filteredOperator()"
                                (click)="$event.stopPropagation()" placeholder="Type to search..."
                                class="search-input" />
                        </mat-option>
                        <mat-option *ngFor="let operator of filteredOperatorList" [value]="operator.value">
                            {{ operator.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="mobile  d-flex justify-content-center align-items-center  mb-3">
                <button type="submit" class="btn btn-success align-item-center" (click)="submit()">Submit</button>
            </div>
        </div>

        <div class="row d-flex align-items-center justify-content-center" style="padding: 0.5rem;">
            <div class="col-12 col-md-12 col-sm-12">
                <div class="title">
                    <h5>LCO WISE SMARTCARD DETAILS <span
                            style="color: rgb(11, 67, 170);font-size: 20px;font-weight: 600;">-
                            {{rowData?.length}}</span></h5>
                </div>
                <ag-grid-angular #agGrid id="myGrid" domLayout='normal' class="ag-theme-alpine table-class" rowAnimation
                    [rowSelection]="rowSelection" [gridOptions]="gridOptions" [columnDefs]="columnDefs"
                    [rowData]="rowData" (gridReady)="onGridReady($event)" [enableCellTextSelection]="true"
                    [rowSelection]="'multiple'" (selectionChanged)="onSelectionChanged()">
                </ag-grid-angular>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center ">
            <!-- <div *ngIf="isSelectRow"> <button class="btn btn-primary me-2" (click)="openLoginPage('bulk','')"><i
                        class="fa-solid fa-truck-fast"></i></button></div>
            <div>
                <h6 [ngStyle]="{'color': serviceStatus === 'SERVICE RUNNING' ? 'green' : 'red', 'font-size': '18px'}">
                    {{ serviceStatus }}
                </h6>
            </div> -->
            <div *ngIf="isSelectRow">
                <button type="submit" class="btn btn-success align-item-center" (click)="openLoginPage('bulk','')">Start
                    Service</button>
            </div>
        </div>
    </div>
    <div *ngIf="selectedTab === 'pending'" class="commission">
        <div class="col-12 col-md-12 box display justify-content-center align-item-center ">
            <mat-form-field class="me-3 " appearance="outline">
                <mat-label>Select Filter </mat-label>
                <mat-select placeholder="Select the filter" [(ngModel)]="typelist">
                    <mat-select-filter [placeholder]="'Find CAS'" [array]="type"></mat-select-filter>
                    <mat-option *ngFor="let typeItem of type" [value]="typeItem.value">
                        {{ typeItem.label }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div *ngIf="typelist === 1">
                <div *ngIf="role !== 'ROLE_OPERATOR'  && role !== 'ROLE_SUBLCO'">
                    <mat-form-field appearance="outline" class="mx-2">
                        <mat-label> Select LCO</mat-label>
                        <mat-select [(ngModel)]="operatorid" panelClass="custom-select-panel"
                            (closed)="onDropdownClosed1()">
                            <mat-option class="option_input">
                                <input matInput [(ngModel)]="selectoperator" (input)="filteredOperator()"
                                    (click)="$event.stopPropagation()" placeholder="Type to search..."
                                    class="search-input" />
                            </mat-option>
                            <mat-option *ngFor="let operator of filteredOperatorList" [value]="operator.value">
                                {{ operator.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

            </div>
            <div *ngIf="typelist === 2">
                <mat-form-field appearance="outline" class="mx-2">
                    <mat-label>Enter Smartcard</mat-label>
                    <input matInput placeholder="Enter smartcard" [(ngModel)]="smartcard" />
                </mat-form-field>
            </div>

            <div *ngIf="typelist === 3">
                <mat-form-field appearance="outline" class="mx-2">
                    <mat-label>Enter a date range</mat-label>
                    <mat-date-range-input [rangePicker]="picker" [max]="maxDate">
                        <input matStartDate matInput placeholder="Start date" (dateChange)="getFromDate($event)">
                        <input matEndDate matInput placeholder="End date" (dateChange)="getToDate($event)">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
            </div>
            <div class="mobile d-flex justify-content-center align-items-center mb-3">
                <button type="submit" class="btn btn-success align-item-center  "
                    (click)="pendingFilter()">Filter</button>
            </div>

        </div>
        <div class="row d-flex align-items-center justify-content-center" style="padding: 0.5rem;">
            <div class="col-12 col-md-12 col-sm-12">
                <div class="title">
                    <h5>PENDING SMARTCARD DETAILS <span
                            style="color: rgb(11, 67, 170);font-size: 20px;font-weight: 600;">-
                            {{rowData?.length}}</span></h5>
                </div>
                <ag-grid-angular #agGrid id="myGrid" domLayout='normal' class="ag-theme-alpine table-class" rowAnimation
                    [rowSelection]="rowSelection" [gridOptions]="gridOptions" [columnDefs]="columnDefs"
                    [rowData]="rowData" [enableCellTextSelection]="true" (selectionChanged)="onSelectionChanged()">
                </ag-grid-angular>
            </div>
        </div>

        <div class="display justify-content-center align-items-center stop_service">
            <button class="btn btn-secondary mb-2 me-2" (click)="openLoginPage('start','')">Start Service</button>

            <button class="btn btn-secondary mb-2 me-2" (click)="openLoginPage('stop','')">Stop Service</button>

            <h6 [ngStyle]="{'color': serviceStatus === 'SERVICE RUNNING' ? 'green' : 'red', 'font-size': '18px'}">
                {{ serviceStatus }}
            </h6>
        </div>
    </div>
    <div *ngIf="selectedTab === 'archive'" class="commission">
        <div class="col-12 col-md-12 box display justify-content-center align-item-center">
            <mat-form-field class="me-3 " appearance="outline">
                <mat-label>Select Filter </mat-label>
                <mat-select placeholder="Select the filter" [(ngModel)]="typelist">
                    <mat-select-filter [placeholder]="'Find CAS'" [array]="type"></mat-select-filter>
                    <mat-option *ngFor="let typeItem of type" [value]="typeItem.value" (click)="onTypeChanged()">
                        {{ typeItem.label }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="me-3 " appearance="outline">
                <mat-select placeholder="Select the filter" [(ngModel)]="alltypelist">
                    <mat-select-filter [placeholder]="'Find CAS'" [array]="type"></mat-select-filter>
                    <mat-option *ngFor="let typeItem of alltype" [value]="typeItem.value">
                        {{ typeItem.label }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div *ngIf="typelist === 1">
                <div *ngIf="role !== 'ROLE_OPERATOR' && role !== 'ROLE_SUBLCO'">
                    <mat-form-field appearance="outline" class="mx-2">
                        <mat-label> Select LCO</mat-label>
                        <mat-select [(ngModel)]="operatorid" panelClass="custom-select-panel"
                            (closed)="onDropdownClosed1()">
                            <mat-option class="option_input">
                                <input matInput [(ngModel)]="selectoperator" (input)="filteredOperator()"
                                    (click)="$event.stopPropagation()" placeholder="Type to search..."
                                    class="search-input" />
                            </mat-option>
                            <mat-option *ngFor="let operator of filteredOperatorList" [value]="operator.value">
                                {{ operator.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div *ngIf="typelist === 2">
                <mat-form-field appearance="outline" class="mx-2">
                    <mat-label>Enter Smartcard</mat-label>
                    <input matInput placeholder="Enter smartcard" [(ngModel)]="smartcard" />
                </mat-form-field>
            </div>

            <div *ngIf="typelist === 3">
                <mat-form-field appearance="outline" class="mx-2 mobileview">
                    <mat-label>Enter a date range</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate matInput placeholder="Start date" (dateChange)="getFromDate($event)">
                        <input matEndDate matInput placeholder="End date" (dateChange)="getToDate($event)">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
            </div>
            <div class="mobile d-flex justify-content-center align-items-center mb-3">
                <button type="submit" class="btn btn-success align-item-center bttn"
                    (click)="archiveFilter()">Filter</button>
            </div>

        </div>
        <div class="row d-flex align-items-center justify-content-center" style="padding: 0.5rem;">
            <div class="col-12 col-md-12 col-sm-12">
                <div class="title">
                    <h5>ARCHIVED LIST STATUS <span style="color: rgb(11, 67, 170);font-size: 20px;font-weight: 600;">-
                            {{rowData?.length}}</span> </h5>
                </div>
                <ag-grid-angular #agGrid id="myGrid" domLayout='normal' class="ag-theme-alpine table-class" rowAnimation
                    [rowSelection]="rowSelection" [gridOptions]="gridOptions" [columnDefs]="columnDefs"
                    [rowData]="rowData" [enableCellTextSelection]="true">
                </ag-grid-angular>
            </div>
        </div>
    </div>

</section>