<div class="card">
    <div class="input_box col-12 col-md-6 col-sm-3 d-flex justify-content-start align-items-center mb-3">
        <div class="col-12 col-md-3">
            <label>Search</label>
        </div>

        <div class="col-12 col-md-6">
            <input type="text" matInput [matAutocomplete]="auto" [(ngModel)]="selectedLcoName" maxlength="20"
                (input)="filterOperators($event)" placeholder="Select a Operator" [matAutocompleteDisabled]="false"
                [value]="selectedOperator?.name">

            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayOperator">
                <mat-option *ngFor="let operator of filteredOperators" [value]="operator.value"
                    (click)="onSubscriberStatusChange(operator)">
                    {{ operator.name }}
                </mat-option>
            </mat-autocomplete>
            <div *ngIf="submitted && !selectedLcoName" class="text-danger" style="font-size: small;">
                LCO Name is required
            </div>
        </div>
        &nbsp; &nbsp;
        <button class="btn d-flex align-item-center justify-content-between" (click)="Search()"
            style="background-color: rgb(3, 151, 131);">
            <!-- <i class="fa fa-search mt-1" aria-hidden="true"></i> -->
            <span class="mt-1">Search</span>
        </button>

    </div>

    <h5>Insert sub</h5>
    <div class="row d-flex align-items-center justify-content-center">
        <!-- <div class="" style="padding: 10px;" (click)="showDisabledMessage()">
            <button type="button" class="btn" [disabled]="!isAnyRowSelected">
                <i class="fa  fa-plus" aria-hidden="true"></i> ALLOCATED
            </button>
        </div> -->
        <div class="col-12 col-sm-10 m-3">
            <div style="padding: 10px;" (click)="showDisabledMessage()">
                <button type="button" class="btn" [disabled]="!isAnyRowSelected">
                    <i class="fa  fa-plus" aria-hidden="true"></i> ALLOCATED
                </button>
            </div>
            <ag-grid-angular #agGrid id="myGrid" domLayout='autoHeight' class="ag-theme-alpine table-class" rowAnimation
                [rowSelection]="rowSelection" [gridOptions]="gridOptions" [columnDefs]="columnDefs" [rowData]="rowData"
                (selectionChanged)="onSelectionChanged()" (gridReady)="onGridReady($event)"
                [enableCellTextSelection]="true">
            </ag-grid-angular>
        </div>

    </div>
</div>