.card {
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}

.allocated-btn:hover {
    font-weight: bold;
}

.allocated-btn i:hover {
    font-weight: bold;
}

.btn {
    background-color: var(--primary-color);
    color: white;
}