<section class="container-fluid">
    <div class="col-12 col-md-12 col-sm-12 d-flex justify-content-center align-item-center">
        <div class="col-4">
            <div class="" style="border: 0.5px solid lightgrey;">
                <div class="head d-flex justify-content-start align-items-center m-1">
                    <i class="fa fa-fw fa-microchip icon "></i>
                    <span class="span">Chipid and Model Update</span>
                </div>
                <div class="col-3" style="padding: 1rem;">
                    <input type="text" class="custom-input" placeholder="Search by Smartcard or Box ID">
                </div>
            </div>
        </div>
        &nbsp; &nbsp;
        <div class="col-8">
            <div class="">
                <div class="head d-flex justify-content-start align-items-center m-1">
                    <i class="fa fa-fw fa-microchip icon "></i>
                    <span class="span">STB Models</span>
                </div>
                <div class="col-3" style="padding: 1rem;">
                    <input type="text" class="custom-input" placeholder="Search by Smartcard or Box ID">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid">
    <div class="col-12 col-md-12 col-sm-12 d-flex justify-content-center align-item-center">
        <div class="col-6">
            <div class="" style="border: 0.5px solid lightgrey;">
                <div class="head d-flex justify-content-start align-items-center m-1">
                    <i class="fa fa-fw fa-microchip icon "></i>
                    <span class="span">Chipid and Model Update</span>
                </div>
                <div class="col-3" style="padding: 1rem;">
                    <input type="text" class="custom-input" placeholder="Search by Smartcard or Box ID">
                </div>
            </div>
        </div>
        &nbsp; &nbsp;
        <div class="col-6">
            <div class="">
                <div class="head d-flex justify-content-start align-items-center m-1">
                    <i class="fa fa-fw fa-microchip icon "></i>
                    <span class="span">STB Models</span>
                </div>
                <div class="col-3" style="padding: 1rem;">
                    <input type="text" class="custom-input" placeholder="Search by Smartcard or Box ID">
                </div>
            </div>
        </div>
    </div>
</section>
