.checkbox-content input {
    margin: 0 10px 0px 5px;
    accent-color: white;
}

.checkbox-content {
    .form-check-input:checked {
        background-color: #09a223;
        border-color: #09a223;
    }
}


.checkbox-content input:checked {
    accent-color: #09a223;
}

.card {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    background-color: #f6f8fa;
    font-family: 'Poppins', sans-serif;
    transition: all 120ms ease-out 0s;
    padding: 0px 12px;
    border-top: 2px solid #3c3d3c;
    border-bottom: 0.9px solid lightgray;
    border-left: 0.9px solid lightgray;
    border-right: 0.9px solid lightgray;
}

.display {
    display: flex;
}

.mobile2 {
    position: relative;
    margin-left: 25%;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.element {
    height: 40px;
    width: 40px;
    background-image: conic-gradient(from var(--angle), red, blue, red);
    animation: 1s spin linear infinite;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg
    }
}

@media screen and (max-width:560px) {
    .dis {
        display: none;
    }

    .display {
        display: block;

        span {
            font-size: 15px;
        }
    }

    .mobile1 {
        max-height: 700px;
        overflow: auto;
    }

    .mobile2 {
        position: relative;
        margin-left: 0%;
    }

    mat-option {
        font-size: 13px;
    }
}

@media screen and (max-width:770px) {
    .mobile1 {
        max-height: 700px;
        overflow: auto;
    }

    mat-option {
        font-size: 13px;
    }

    .dis {
        display: none;
    }

    .display {
        display: block;

        span {
            font-size: 15px;
        }
    }
}