

.gender-category label {
    padding: 0 20px 0 5px;
    font-size: 14px;
}

span {
    font-weight: 600;
}

.gender-category {
    color: black;
}

.gender-category label,
.gender-category input {
    cursor: pointer;
}

.display {
    display: flex;
}

.mobile {
    padding: 1rem;
    border: 1px solid rgb(177, 179, 177);
    // box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.input_box label {
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
    // font-size: medium;
    color: #243359;
}

.input_box label::after {
    content: " *";
    color: red;
}

.input_box select option {
    padding: 7px 0;
}

.input_box input {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0px 12px;
    border-top: 2px solid #b0afaf;
    border-bottom: 0.9px solid lightgray;
    border-left: 0.9px solid lightgray;
    border-right: 0.9px solid lightgray;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    background-color: #f6f8fa;
    font-family: 'Poppins', sans-serif;
    transition: all 120ms ease-out 0s;
}

.input_box select {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0px 10px;
    border-top: 2px solid #b0afaf;
    border-bottom: 0.9px solid lightgray;
    border-left: 0.9px solid lightgray;
    border-right: 0.9px solid lightgray;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    background-color: #f6f8fa;
    font-family: 'Poppins', sans-serif;
    transition: all 120ms ease-out 0s;
}




@media screen and (max-width: 560px) {
     .display {
        display: block;
    }
   
}