.display {
    display: flex;
}
.tab {
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.tab:hover {
    background-color: #2f7681;
    color: white;
    font-weight: bold;
}

.tab.active {
    color: white;
    font-size: 15spx;
    font-weight: bold;
    background-color: #2f7681;
    // border-color: #007bff;
}
@media screen and (max-width:560px) {
    .display {
        display: block;
    }
}

