<div class="pagestyle">
    <app-back-share></app-back-share>
    <div class="row">
        <h5 class="pagetitle">LCO SELF RECHARGE </h5>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-3">
            <mat-card class="card mat-elevation-z3 card-radius">
                <mat-card-content class="content">
                    <div class="card-content">
                        <h5>Wallet Balance</h5>
                        <span style="color: green;">{{ operatorDetails?.balance | currency: 'INR' }}</span>

                    </div>
                    <!-- <div class="pay-his-div">
                        <span class="recent-his">Recent history <span>&#8645;</span></span>
                        <table mat-table [dataSource]="recenthistory" class="mat-elevation">
                            <ng-container style="height: 15px;" matColumnDef="creationdate">
                                <th *matHeaderCellDef> Recharge Date </th>
                                <td *matCellDef="let element"> {{element.creationdate}} </td>
                            </ng-container>
                            <ng-container style="height: 15px;" matColumnDef="amount">
                                <th *matHeaderCellDef> Amount </th>
                                <td *matCellDef="let element"> {{element.amount | currency: curcode }} </td>
                            </ng-container>

                            <tr mat-header-row style="height: 15px;" *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row style="height: 15px;" *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div> -->
                </mat-card-content>
                <span class="recent-his">Wallet Pay <span>{{currency}}</span></span>
                <table style="background: #101a4059;">
                    <mat-card-content class="content">
                        <div class="amount-div">
                            <div class="amount-form">
                                <span class="material-icons icons">
                                    currency_rupee
                                </span>
                                <input class="form-control form-control-sm mr-3 w-150" type="text" [(ngModel)]="amount"
                                    placeholder="0" aria-label="Search">
                            </div>
                            <!-- <mat-error *ngIf="amountControl.hasError('pattern') && !amountControl.hasError('required')">
                                *Is this an invalid amount?
                            </mat-error> -->
                        </div>
                    </mat-card-content>
                    <mat-card-footer class="card-footer">
                        <!-- <button mat-button class="pay-btn" [disabled]="loading || !payGroup.valid"
                            (click)="onLoadPage()"> -->
                        <button mat-button class="pay-btn" (click)="onLoadPage()">
                            <mat-icon>add</mat-icon>Recharge
                        </button>
                        <div *ngIf="loading">
                            <mat-spinner class="spinner" diameter="24"></mat-spinner>
                        </div>
                    </mat-card-footer>
                </table>
            </mat-card>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-9">
            <mat-card class="card mat-elevation-z3 card-radius">

                <div class="d-flex justify-content-start align-items-center">
                    <mat-form-field appearance="outline">
                        <mat-date-range-input [rangePicker]="picker" [formGroup]="dateRangeForm">
                            <input matStartDate matInput placeholder="Start date" formControlName="fromdate"
                                (dateChange)="getFromDate($event)">
                            <input matEndDate matInput placeholder="End date" formControlName="todate"
                                (dateChange)="getToDate($event)">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                    <button class="btn btn-success mb-3 mx-3 bttn" (click)="getOnline()">submit</button>
                </div>
                <ag-grid-angular #agGrid id="myGrid" class="ag-theme-alpine table-class" rowAnimation
                    [gridOptions]="gridOptions" [columnDefs]="columnDefsOnline" [rowData]="rowDataOnline"
                    (gridReady)="onGridReady($event)" [enableCellTextSelection]="true">
                </ag-grid-angular>
            </mat-card>
        </div>
    </div>


</div>