.display {
    display: flex;
}

.display1 {
    display: flex;
}

.tab {
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    background: rgb(250, 250, 165);
}

h1 {
    text-align: center;
}

.tab.active {
    background-color: #007bff;
    color: white;
    // font-size: 18px;
    font-weight: bold;
}

.tab:hover {
    color: #007bff;
    // font-size: large;
    font-weight: bold;
    border-color: white;
    background: white;
}

.Tab h3 {
    text-align: center;
}

@media screen and (max-width:300px) {
    .display {
        display: block;
    }

    .count {
        overflow-x: scroll;
        margin-bottom: 5px;
    }
}

@media screen and (max-width:560px) {
    .display {
        display: block;
    }

    .count {
        overflow-x: scroll;
        margin-bottom: 5px;
    }

    .count span {
        font-size: smaller;
    }

    .display {
        display: block;
    }
}