<section class="Tab col-12">
    <div class="display tablist justify-content-center align-items-center mb-3 ">
        <div class="tab mb-2  bttn" [class.active]="selectedTab === 'dis_commission'" style="text-align: center;"
            (click)="selectTab('lco')">
            LCO
        </div>
        <div class="tab mb-2  bttn" [class.active]="selectedTab === 'dis_membership'" style="text-align: center;"
            (click)="selectTab('sub_lco')">
            SUB LCO
        </div>
        <div class="tab mb-2  bttn" [class.active]="selectedTab === 'commission'" style="text-align: center;"
            (click)="selectTab('subscriber')">
            SUBSCRIBER
        </div>
    </div>
    <div class="display justify-content-between align-items-center">
        <div class="d-flex justify-content-between align-items-center">
            <mat-form-field appearance="outline">
                <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate matInput placeholder="Start date" (dateChange)="getFromDate($event)" />
                    <input matEndDate matInput placeholder="End date" (dateChange)="getToDate($event)" />
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>

            <button class="btn d-flex align-item-center justify-content-between  bttn mx-2 mb-3"
                style="background-color: var(--primary-color);">
                <span style="color: white;">Get</span>
            </button>
        </div>
        <div class="display1 justify-content-end align-items-center mb-3">
            <div class="export-icon mx-2">
                <img src="/assets/images/icons/Excel.png" alt="Excel Icon" width="40px">
                <div class="tooltip">Excel</div>
            </div>
            <div class="export-icon">
                <img src="/assets/images/icons/pdf.png" alt="PDF Icon" width="40px">
                <div class="tooltip">Pdf</div>
            </div>
        </div>
    </div>
    <div class="display justify-content-between align-items-center ">
        <div class="d-flex  justify-content-between align-items-center count gap-5 ">
            <span>COUNT :</span>
            <span>RECHARGE : ₹ {{recharge}} </span>
            <span>PAID : ₹ {{paid}} </span>
            <span>UNPAID : ₹ {{unpaid}} </span>
            <span>EXCESS : ₹ {{excess}} </span>
        </div>
        <div class="display1 justify-content-end align-items-center mb-3">
            <div class="export-icon mx-2 input_box">
                <input type="text" placeholder="Search by name/Smartcard ">
            </div>
            <button class="btn d-flex align-item-center justify-content-between  bttn mx-2 "
                style="background-color: var(--primary-color);">
                <span style="color: white;">Search</span>
            </button>
        </div>
    </div>


    <ag-grid-angular #agGrid id="myGrid" style="text-align: center;" domLayout='normal'
        class="ag-theme-alpine table-class" rowAnimation [columnDefs]="columnnDefs" [rowData]="rowData"
        (gridReady)="onGridReady($event)" [enableCellTextSelection]="true">
    </ag-grid-angular>

</section>