.bubble-card {
  display: flex;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 540px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  justify-content: space-between;
  align-items: flex-start;
}

.bubble-left {
  flex: 1;
}

.title {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 15px;
  color: #333;
}

.bubble-wrap {
  position: relative;
  width: 200px;
  height: 200px;
}

.bubble {
  position: absolute;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  text-align: center;
}


.bubble.blue {
  background-color: #00bfff;
}

.bubble.green {
  background-color: #00cc66;
}

.bubble.cyan {
  background-color: #00ced1;
}

.bubble.pink {
  background-color: #ff66cc;
}

.legend {
  // flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 20px;
  justify-content: center;
}

.legend-item {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555;
}

.legend-item .dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 10px;
  display: inline-block;
}



.tooltip {
  visibility: hidden;
  opacity: 0;
  width: max-content;
  white-space: nowrap;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 4px 8px;
  border-radius: 6px;
  position: absolute;
  bottom: 110%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  z-index: 10;
  transition: opacity 0.3s ease;
}

.bubble:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
