<div id="Customer-page">
    <section class="mb-3">
        <div style="margin: 0px;position: sticky">
            <h3 style="text-align: center;padding: 10px;">
                LCO Dashboard
            </h3>
        </div>
        <div class="py-4">
            <!-- start: Summary -->
            <div class="row g-3">
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class=" mx-2 mb-3 h-100">
                        <div class="mb-2" style="padding: 0.5rem;background-color: #213d4d;">
                            <h5 style="color: white;font-weight: 600;">LCO DETAILS </h5>
                        </div>
                        <div class="card align-item-strech">
                            <div class="d-flex">
                                <div class="col-2 col-md-2 " style="padding: 3rem 2rem;">
                                    <img [src]="'/assets/images/login/contact1.png'" alt="Customer Photo"
                                        style="width: 50px;">
                                </div>
                                <div class=" col-10  " style="padding: 0.5rem;">
                                    <div class="d-flex mb-2">
                                        <div class="col-5 text2 ">
                                            <p class="text2">OPERATOR NAME
                                            </p>
                                        </div>
                                        <div class="col-1 text2 ">
                                            <p>:</p>
                                        </div>
                                        <div class="col-6 text2 ">
                                            <p>{{operatorname}}</p>
                                        </div>
                                    </div>
                                    <div class="d-flex" style="padding: 0.5rem;">
                                        <div class="col-5 text2 ">
                                            <p class="text2">Mobile </p>
                                        </div>
                                        <div class="col-1 text2 ">
                                            <p>:</p>
                                        </div>
                                        <div class="col-6  text2">
                                            <p>{{mobile }}</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="line mb-2"></div>
                            <div class="col-12 mb-2">
                                <div class="d-flex">
                                    <div class="col-4 mb-1 text2">
                                        MAIL ID
                                    </div>
                                    <div class="col-1  mb-1 text2">
                                        : </div>
                                    <div class="col-7 ">
                                        {{mailid }}
                                    </div>
                                </div>
                                <div class="d-flex mb-2">
                                    <div class="col-4  mb-1 text2">
                                        USER ID
                                    </div>
                                    <div class="col-1 text2">
                                        : </div>
                                    <div class="col-7 ">
                                        {{userid }}
                                    </div>
                                </div>
                                <div class="d-flex mb-2">
                                    <div class="col-4  mb-1 text2">
                                        PASSWORD </div>
                                    <div class="col-1 mb-1 text2">
                                        : </div>
                                    <div class="col-7">
                                        {{password }}
                                    </div>
                                </div>
                                <div class="d-flex mb-2">
                                    <div class="col-4  mb-1 text2">
                                        ADDRESS</div>
                                    <div class="col-1  mb-1 text2">
                                        : </div>
                                    <div class="col-7 ">
                                        {{address }},{{area}},{{state}}
                                    </div>
                                </div>
                                <div class="d-flex mb-2">
                                    <div class="col-4  mb-1 text2">
                                        PINCODE </div>
                                    <div class="col-1  mb-1 text2">
                                        : </div>
                                    <div class="col-7 ">
                                        {{pincode }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="mx-2 mb-3 h-100">
                        <div class="mb-2" style="padding: 0.5rem;background-color: #213d4d;">
                            <h5 style="color: white;font-weight: 600;">Packagewise Recharge Amount </h5>
                        </div>
                        <div class="card">
                            <p style="text-align: center;color: rgb(250, 81, 95);">This chart shows package-wise total
                                recharged amount of the current year</p>
                            <div class="line mb-2"></div>
                            <div class=" input_box d-flex justify-content-end align-item-center mb-2">
                                <div class="col-12 col-md-4 d-flex  justify-content-center align-items-center">
                                    <span for="">SELECT PACKAGE </span>
                                </div>
                                <div class="col-12 col-md-5">
                                    <!-- <select name="packages" id="packages" (change)="onPackageSelect()">
                                        <option value="">Selected Package</option>
                                        <option *ngFor="let package of packageid" [value]="getPackageId(package)">
                                            {{ getPackageName(package) }}
                                        </option>
                                    </select> -->

                                    <select name="packages" id="packages" (ngModelChange)="onPackageSelect($event)"
                                        [(ngModel)]="selectedPackage">
                                        <option value="">Selected Package</option>
                                        <option *ngFor="let pack of packageid" [value]="getPackageValue(pack)">
                                            {{ getPackageName(pack) }}
                                        </option>
                                    </select>

                                </div>
                            </div>
                            <!-- <div class="">
                                <app-lcopiechart></app-lcopiechart>
                                <canvasjs-chart [options]="chartOptions"
                                    [styles]="{width: '100%', height:'300px'}"></canvasjs-chart>
                            </div> -->
                            <div id="chartContainer" style="width: 100%; height: 300px;"></div>

                            <h4 style="text-align: center;color: rgb(243, 12, 12);">Total Amount: <span
                                    style="color: green;font-size: 20px;font-weight: 600;"><i class="fa fa-inr"
                                        aria-hidden="true"></i>{{Totalamount}}</span> </h4>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class=" mb-3 mx-2 h-100">
                        <div class="mb-2" style="padding: 0.5rem;background-color: #213d4d;">
                            <h5 style="color: white;font-weight: 600;">AREA DETAILS </h5>
                        </div>
                        <div class="card">
                            <div class="col-12 col-md-12  justify-content-between align-item-center mb-1"
                                style="padding: 10px;">
                                <span class="sub-tittle tittle1">
                                    <button type="button" class="btn btn-success me-2"
                                        (click)="newArea('area')">New</button>
                                </span>
                            </div>
                            <div class="col-12 col-md-12 mb-3">
                                <ag-grid-angular #agGrid id="myGrid" domLayout='autoHeight'
                                    class="ag-theme-alpine table-class" rowAnimation [gridOptions]="gridOptions"
                                    [columnDefs]="columnDefs" [rowSelection]="rowSelection"
                                    (selectionChanged)="onSelectionChanged()" (gridReady)="onGridReady($event)"
                                    [rowData]="rowData" [enableCellTextSelection]="true">
                                </ag-grid-angular>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="col-12 col-md-12 ">
            <div class="col-12 col-md-12 mx-2 mb-3">
                <div class="mb-2" style="padding: 0.5rem;background-color: #213d4d;">
                    <h5 style="color: white;font-weight: 600;">CURRENT YEAR PACKAGE WISE RECHARGE COUNT </h5>
                </div>
                <div class="card1 ">
                    <!-- <h4 style="text-align: center;">Packagewise Recharge Count</h4>
                    <br> -->
                    <p style="text-align: center;color: rgb(250, 81, 95);">This chart shows package wise recharged
                        count of current year
                    </p>
                    <div class="line mb-2"></div>
                    <div>
                        <!-- <app-lcochart></app-lcochart> -->
                        <canvasjs-chart [options]="chartOptions1"
                            [styles]="{width: '100%', height:'300px'}"></canvasjs-chart>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>