label {
    font-weight: 500;
}

.display1 {
    display: flex;
    justify-content: center;
    align-items: center;
}



.icon-container {
    gap: 20px;
    /* Adjust the gap between icons as needed */
}

.text {
    padding: 1rem;
    font-size: 13px;
    font-weight: 700;
}

.text1 {
    padding: 1rem;
    font-size: 12px;
}

.text2 {
    padding: 0.5rem;
    font-size: 15px;
    color: #202c2c;
    font-weight: 700;
}

.icon-item {
    padding: 0.5rem;
    height: 30px;
    border-radius: 5px;
}

.card {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.1);
    background-color: #f6f8fa;
    font-family: 'Poppins', sans-serif;
    transition: all 120ms ease-out 0s;
    padding: 0px 12px;
    border-top: 1px solid #6b6d6c;
    border-bottom: 0.9px solid lightgray;
    border-left: 0.9px solid lightgray;
    border-right: 0.9px solid lightgray;
}

.line {
    border: 1px solid lightgray;
    box-shadow: 0px 0px 0px 1px rgba(21, 207, 207, 0.1);
}



.search .fa-search {
    position: absolute;
    right: 20px;
    top: 13px;
    color: #a2a4a8;
}

.display_mobile {
    display: flex;
}
.display {
    display: block;

}
::ng-deep .ag-header-viewport {
    text-align: center !important;
    // background: #51586e;
    // background: #b2cfc0;
    background: var(--primary-color) ;
}

::ng-deep .ag-header-cell-text {
    color: white;
}
::ng-deep {
    .ag-center-cols-viewport {
        max-height: 220px !important;
        overflow: scroll;
    }
}
@media screen and (max-width:560px) {
    .display_mobile {
        display: block;
    }
    .display {
        display: block;
    
    }
}
@media screen and (max-width:720px) {
    .display_mobile {
        display: block;
    }
    .display {
        display: block;
    
    }
}
::ng-deep .canvasjs-chart-credit {
    display: none !important;
  }