.tab {
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.img {
    width: 50px;
}

p {
    font-size: 20px;
    text-transform: uppercase;
}

.file {
    outline: 2px ridge;
    background-color: #a1beeb;
}


.checkbox-content input {
    margin: 0 10px 0px 5px;
    accent-color: white;
}

.checkbox-content {
    .form-check-input:checked {
        background-color: #09a223;
        border-color: #09a223;
    }
}


.checkbox-content input:checked {
    accent-color: #09a223;
}

.commission {
    padding: 15px;
    // max-height: fit-content;
    // position: absolute;
    z-index: 1000;
    // overflow: scroll;
}

.title p {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 20px;
    background-color: antiquewhite;
}

.btn {
    color: var(--primary-color);
    background-color: lightgray;
}

.btn:hover {
    color: white;
    background-color: var(--primary-color);
}

#myGrid {
    width: 100%;
    height: 600px;
    text-align: center;
}

.responsive-grid {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

@media (max-width: 768px) {
    .responsive-grid {
        width: 100%;
    }
}