#myGrid {
  width: 100%;
  height: 600px;
  text-align: center;
}

// .responsive-grid {
//   width: 100%;
//   max-width: 1200px;
//   margin: auto;
// }

.display {
  display: flex;
}

// @media (max-width: 768px) {
//   .responsive-grid {
//     width: 100%;
//   }

//   .display {
//     display: contents;
//   }
// }

::ng-deep .ag-grid-wrapper {
  width: 100%;
  overflow-x: hidden !important;
}

.table-class {
  width: 100% !important;
  min-width: 600px;
}


::ng-deep .ag-header {
  background-color: #557c9b !important;
}

.custom {
  background-color: lightslategrey;
}

