<div class="Head d-flex justify-content-between align-items-center mb-3" style="padding: 1rem;">
    <h6>CREATE NEW CATEGORY</h6>
    <i class="fa fa-close close-icon" style="cursor: pointer;" (click)="onNoClick()"></i>
</div>

<div class="col d-flex justify-content-center align-items-center ">
    <div class="card-content">

        <div class="input_box mb-3" style="padding: 10px;">
            <div class="display align-items-center mb-3">
                <div class="col-12 col-md-6">
                    <label for="categoryName" class="me-2">Category Name</label>
                </div>
                <div class="col-12 col-md-6">
                    <input type="text" id="categoryName" [(ngModel)]="Category_name" (input)="clearError()">
                    <div *ngIf="errorMessage"
                        class=" alert alert-danger d-flex justify-content-between align-items-center mt-3"
                        style="position: relative;font-size: 11px;">
                        {{ errorMessage }}
                        <i class="fa fa-close close-icon" style="cursor: pointer;font-size: 11px"
                        (click)="errorToggle()"></i>
                    </div>
                </div>
            </div>
            <div class="form-group d-flex justify-content-center align-items-center mb-3">
                <button type="button" class="btn btn-primary me-2" (click)="Category()">Save</button>
                <button type="button" class="btn btn-secondary" (click)="onNoClick()">Cancel</button>
            </div>
        </div>
    </div>
</div>