<div class="">
    <div
        class="custom-search-container col-12 col-md-12 col-lg-12 d-flex flex-wrap justify-content-around align-items-center mb-3 ms-lg-3">
        <span class="mb-3 me-2" style="font-size: medium; font-weight: 700;">Search:</span>
        <div class="mb-3 col-12 col-md-5 input_box">
            <input type="text" class="form-control" placeholder="Search for Smartcard or Boxid" [(ngModel)]="smartcard">
        </div>
        <div class="col-12 col-md-5 mb-3 mx-3">
            <select id="operator" class="form-select" [(ngModel)]="selectedLcoName"
                (ngModelChange)="onSubscriberStatusChange($event)">
                <option value="">Select Operator</option>
                <option *ngFor="let operator of filteredOperators" [value]="operator.value">
                    {{ operator.name }}
                </option>
            </select>
        </div>
        <div class="col-12 col-md-2">
            <button class="btn btn-primary bttn  mb-3" (click)="Search()">
                <i class="fa" aria-hidden="true"></i> Search
            </button>
        </div>
    </div>


    <h5>Filtered Result</h5>
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-12 col-sm-12 col-md-12  m-3">
            <div class="d-flex justify-content-end align-items-center mb-3">
                <div class="icon-container d-flex align-items-center ">
                    <button *ngIf="caslist?.length" type="button" class="btn  bttn" (click)="submit()"><i class="fa fa-plus"
                            aria-hidden="true"></i>
                        New
                    </button>
                </div>
                &nbsp;&nbsp;
                <div class="icon-container d-flex align-items-center ">
                    <img src="/assets/images/icons/Excel.png" width="40px" (click)="generateExcel()">
                    <!-- <div class="tooltip">Excel</div> -->
                </div>
                &nbsp;&nbsp;
                <div class="icon-container d-flex align-items-center ">
                    <img src="/assets/images/icons/pdf.png" width="40px" (click)="generatePDF()">
                    <!-- <div class="tooltip">Pdf</div> -->
                </div>
            </div>
            <ag-grid-angular #agGrid id="myGrid" domLayout='normal' class="ag-theme-alpine table-class"
              [gridOptions]="gridOptions"
                [columnDefs]="columnDefs" [rowData]="rowData" (selectionChanged)="onSelectionChanged($event)"
                (gridReady)="onGridReady($event)" [enableCellTextSelection]="true">
            </ag-grid-angular>
        </div>
    </div>
    <div class="d-flex justify-content-center align-items-center position-relative button tooltip-container"
        style="padding: 10px;">
        <!-- <button type="button" class="btn" (click)="submit()"><i class="fa fa-plus" aria-hidden="true"></i>
            New
        </button> -->
        <div class="tooltip">Create smartcard allocation </div>
    </div>
</div>