.icon-container {
    position: relative;
    display: inline-block;
}

.display {
    display: flex;
}

.icon-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

img {
    cursor: pointer;
}

.button:hover .tooltip {
    visibility: visible;
    /* Show tooltip on hover */
    opacity: 1;
    /* Fade-in effect */
}

.btn {
    background-color: var(--primary-color);
    color: white;
}

.card {
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}


.input_box label {
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
    // font-size: medium;
    color: #243359;
}

.input_box select option {
    padding: 7px 0;
}

.input_box input {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0px 12px;
    border-top: 2px solid #b0afaf;
    border-bottom: 0.9px solid lightgray;
    border-left: 0.9px solid lightgray;
    border-right: 0.9px solid lightgray;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    background-color: #f6f8fa;
    font-family: 'Poppins', sans-serif;
    transition: all 120ms ease-out 0s;
}

.input_box select {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0px 12px;
    border-top: 2px solid #b0afaf;
    border-bottom: 0.9px solid lightgray;
    border-left: 0.9px solid lightgray;
    border-right: 0.9px solid lightgray;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    background-color: #f6f8fa;
    font-family: 'Poppins', sans-serif;
    transition: all 120ms ease-out 0s;
}

.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    /* Adjust this to position the tooltip */
    left: 50%;
    margin-left: -50px;
    opacity: 0;
    transition: opacity 0.3s;
    width: auto;
}

.tooltip-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.custom-search-container {
    /* For larger devices, you might want a left margin */
    margin-left: 3rem;
}

@media screen and (max-width:560px) {
    .display {
        display: block;
    }
}

@media screen and (max-width:770px) {
    .display {
        display: block;
    }
}

@media (max-width: 760px) {
    .custom-search-container {
        margin-left: 0;
        flex-direction: column;
        align-items: center;
    }
}

#myGrid {
    width: 100%;
    height: 600px;
    text-align: center;
}

.responsive-grid {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}


@media (max-width: 768px) {
    .responsive-grid {
        width: 100%;
    }
}

::ng-deep .ag-header {
    background-color: #557c9b !important;
}

.custom {
    background-color: lightslategrey;
}

::ng-deep .select2-container {
    width: 320px !important;
}

::ng-deep .select2-container .select2-selection--single {
    height: 50px !important;
    // margin-top: 1%;
    // width: 250px !important;
}

::ng-deep .select2-container .select2-selection--single .select2-selection__rendered {
    margin-top: 13px;
}

::ng-deep .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 13px;

}