.card {
    padding: 4px;
    margin: auto;
    border-radius: 8px;
}

.close-icon {
    font-size: 19px;
    cursor: pointer;
}

.close-icon:hover {
    background-color: var(--primary-color);
    font-size: 17px;
    padding: 2px;
    margin: 0;
    color: white;
    border-radius: 10px;
}

// .card-body {
//     width: 100%;
//     padding: 1rem !important;
//     box-shadow: 0px 0px 2px 1px rgb(21, 90, 64) !important;
// }

// #CategoryType {
//     width: 205px !important;
// }

// #isPaidSelect,
// #channelType,
// #CategoryType {
//     width: 190px;
// }

// #channelType:hover,
// #CategoryType:hover,
// #isPaidSelect:hover {
//     background-color: var(--body-color);
// }

// .card-body input {
//     border: 1px solid #1f6764;
//     width: 200px;
// }

// .card-body input:hover {
//     background-color: var(--body-color);
// }

// .text-center {
//     text-align: center;
// }

.card-content {
    max-width: 600px;
    padding: 10px;
    background: #fff;
    border-radius: 8px;
    // box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.c {
    font-size: 14px;
}

// .form-group {
//     width: 100%;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
// }

// .form-group label {
//     font-size: 14px;
//     flex-shrink: 0;
//     margin-right: 10px;
// }

// .form-group input {
//     font-size: 14px;
//     // flex-grow: 1;
// }

.input_box span {
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
    // font-size: medium;
    color: #243359;
}



.input_box select option {
    padding: 7px 0;
}

.input_box input {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0px 12px;
    border-top: 2px solid #b0afaf;
    border-bottom: 0.9px solid lightgray;
    border-left: 0.9px solid lightgray;
    border-right: 0.9px solid lightgray;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    background-color: #f6f8fa;
    font-family: 'Poppins', sans-serif;
    transition: all 120ms ease-out 0s;
}

.input_box select {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    background-color: #f6f8fa;
    font-family: 'Poppins', sans-serif;
    transition: all 120ms ease-out 0s;
    padding: 0px 12px;
    border-top: 2px solid #b0afaf;
    border-bottom: 0.9px solid lightgray;
    border-left: 0.9px solid lightgray;
    border-right: 0.9px solid lightgray;
}

// .input_box input:focus,
// .input_box input:valid {
//     box-shadow: 0px 0px 0px 2px var(--primary-color);
// }

// .input_box select:focus,
// .input_box select:valid {
//     box-shadow: 0px 0px 0px 2px var(--primary-color);
// }
.btn-outline-info {
    font-size: 14px;
    // margin-top: 10px;
}

.close-icon {
    cursor: pointer;
}

.flex-grow-1 {
    flex-grow: 0 !important;
}

.card-content .c {
    color: var(--primary-color);
}

.span {
    color: var(--primary-color);
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
}


.custom-dialog-container .mat-dialog-container {
    background: rgba(255, 255, 255, 0.8);
}

.cdk-overlay-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.mb-3 {
    margin-bottom: 0.4rem !important;
}

.me-2 {
    margin-right: 6rem !important;
}

:ng-deep .align-items-center {
    align-items: normal;
}

button.active {
    color: #fff;
}

.yes {
    width: auto;
}

.no {
    width: auto;
}

.btn {
    color: black;
    padding: 5px 10px;
    margin-right: 10px;
}

.btn.active {
    background-color: green;
    color: white;
}

.form-group {
    display: flex;
    align-items: center;
}

.mat-radio-button {
    margin-right: 1rem;
    /* Adjust the margin as needed */
}

.mat-radio-group {
    display: flex;
    align-items: center;
}

label {
    margin-right: 10px;
    /* Adjust the margin as needed */
}

mat-slide-toggle {
    display: flex;
    align-items: center;
}

mat-slide-toggle .mat-slide-toggle-content {
    display: flex;
    justify-content: space-between;
    width: 100px;
    /* Adjust width as necessary */
}

mat-slide-toggle span {
    width: 50%;
    text-align: center;
}

.display {
    display: flex;
}

@media screen and (max-width:560px) {
    .display {
        display: block;
    }
    .mobile{
        max-height: 500px;
        overflow: scroll;
    }
}



// ==============================================percentage button=========================================


#app-cover {
    display: table;
    width: 600px;
    margin: 80px auto;
    counter-reset: button-counter;
}

.toggle-button-cover {
    display: table-cell;
    position: relative;
    width: 100px;
    height: 40px;
    box-sizing: border-box;
}

.button {
    position: relative;
    top: 50%;
    width: 74px;
    height: 36px;
    margin: -20px auto 0 auto;
    overflow: hidden;
}

.button.r,
.button.r .layer {
    border-radius: 100px;
}

.button.b2 {
    border-radius: 2px;
}

.checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs {
    z-index: 2;
}

.layer {
    width: 100%;
    background-color: #ebf7fc;
    transition: 0.3s ease all;
    z-index: 1;
}


#button-10 .knobs:before,
#button-10 .knobs:after,
#button-10 .knobs span {
    position: absolute;
    top: 4px;
    width: 20px;
    height: 10px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    border-radius: 2px;
    transition: 0.3s ease all;
}

#button-10 .knobs:before {
    content: "";
    width: 36px;
    height: 31px;
    left: 4px;
    background-color: #216303;
}

#button-10 .knobs:after {
    content: "NO";
    right: 4px;
    color: #4e4e4e;
}

#button-10 .knobs span {
    display: inline-block;
    left: 8px;
    top: 6px;
    color: #fff;
    z-index: 1;
}

#button-10 .checkbox:checked+.knobs span {
    color: #4e4e4e;
}

#button-10 .checkbox:checked+.knobs:before {
    left: 42px;
    background-color: #f44336;
}

#button-10 .checkbox:checked+.knobs:after {
    color: #fff;
}

#button-10 .checkbox:checked~.layer {
    background-color: #fcebeb;
}