<section class="Tab col-12">
    <div class="title">
        <p>Deactivation</p>
    </div>
    <div class="row">
        <!-- Left Column (File Upload and Instructions) -->
        <div *ngIf="closeDialogue"
            class="col-12 col-lg-4 d-flex justify-content-center align-items-center mb-4 mb-lg-0">
            <div class="card p-4 file ">
                <div class="d-flex justify-content-center align-items-center mb-3">
                    <img src="/assets/images/icons/xlsx.png" class="img" alt="File Icon">
                    <span style="margin: 0 15px; display: inline-block; text-align: center;padding: 0 10px;">
                        ---&gt;
                    </span>
                    <img src="/assets/images/icons/dashboard.png" class="img" alt="File Icon">
                </div>
                <div class="mb-3">

                    <div class="mb-3">
                        <span class="p">
                            Must have kept the data according to the format file<span style="font-weight: 500;">Please
                                check the format file by below download option)</span>
                            and fill the STB number without incorrect otherwise<span style="color: red;"> box not will
                                be activate</span>.
                        </span>
                    </div>
                </div>
                <a class="mb-3" (click)="generateExcel('Deactivation')" style="cursor: pointer;">* Download Format
                    File</a>
                <div class="checkbox-text mb-3">
                    <div class="checkbox-content">
                        <input type="checkbox" id="terms" formControlName="billingAddressCheckbox"
                            (change)="onCheckboxChange($event)">
                        <label for="confirmPass">I agree to the above statement</label>
                    </div>
                </div>
                <div class="col-4 col-md-12 col-sm-12 mb-3">
                    <label class="btn " [style.background-color]="isCheckboxChecked ? '#3d5e80' : '#d3d3d3'"
                        [style.color]="isCheckboxChecked ? 'white' : 'black'"
                        [style.cursor]="isCheckboxChecked ? 'pointer' : 'not-allowed'">
                        <i class="fa fa-plus"></i> Choose
                        <input type="file" style="display: none;" accept=".xls,.xlsx,.csv"
                            [disabled]="!isCheckboxChecked" (change)="handleFileInput($event)">
                    </label>
                    <span class="mx-3" style="color:#0a21d0">{{filePath }} </span>
                </div>
                <div class="d-flex justify-content-end align-items-center mt-3">
                    <button type="submit" class="btn btn-success" [disabled]="!isCheckboxChecked || !isFileSelected"
                        (click)="opendialogue()">
                        Next &nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div *ngIf="Dialogue" class="col-12 col-lg-4 d-flex justify-content-center align-items-center mb-4 mb-lg-0">
            <div class="card p-4 file ">
                <div class="d-flex justify-content-center align-items-center mb-3">
                    <img src="/assets/images/icons/xlsx.png" class="img" alt="File Icon">
                    <span style="margin: 0 15px; display: inline-block; text-align: center;padding: 0 10px;">
                        ---&gt;
                    </span>
                    <img src="/assets/images/icons/dashboard.png" class="img" alt="File Icon">
                </div>
                <span class="mb-2" style="color:orangered;font-size: 16px;">Chosen File: <span
                        style="color:#0a21d0">{{filePath }}
                    </span>
                </span>
                <div class="input_box col-12 col-md-12 d-flex justify-content-center align-items-center mb-3">
                    <textarea name="" id="" placeholder="Enter remark" [(ngModel)]="remark">   </textarea>
                </div>

                <div class="d-flex justify-content-end align-items-center mt-3 ">
                    <button type="button" class="btn btn-success mx-2" (click)="goBack()">Back &nbsp;<i
                            class="fa fa-arrow-left" aria-hidden="true"></i></button>
                    <button type="submit" class="btn btn-success" [disabled]="!remark"
                        (click)="bulkDeactivation()">Submit</button>
                </div>

            </div>
        </div>
        <!-- Right Column (Bulk Alacarte History) -->
        <div class="col-12 col-lg-8 d-flex justify-content-center">
            <div class="card col-12">
                <div class="title">
                    <h5>BULK DEACTIVATION HISTORY</h5>
                </div>
                <div class="row d-flex align-items-center justify-content-center" style="padding: 0.5rem;">
                    <div class="col-12 mb-3">
                        <div class="row align-items-center justify-content-center mb-3" style="gap:10px;">
                            <div class="col-12 col-md-3 mb-2 mb-md-0">
                                <input class="date form-control  bttn" type="date" name="" id=""
                                    [(ngModel)]="selectedDate">
                            </div>
                            <div class="col-12 col-md-3 mb-2 mb-md-0">
                                <button class="btn btn-secondary w-100  bttn" (click)="getData()">Get Data</button>
                            </div>
                            <div class="col-12 col-md-3 mb-2 mb-md-0">
                                <button class="btn btn-secondary w-100  bttn" (click)="refresh()">Refresh</button>
                            </div>
                        </div>

                        <ag-grid-angular #agGrid id="myGrid" domLayout='normal' class="ag-theme-alpine table-class"
                            rowAnimation [rowSelection]="rowSelection" [gridOptions]="gridOptions"
                            [columnDefs]="columnDefs" [rowData]="rowData" (gridReady)="onGridReady()"
                            [enableCellTextSelection]="true">
                        </ag-grid-angular>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>