/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
// @import 'sweetalert2/src/sweetalert2.scss';

@font-face {
    font-family: "Poppins";
    src: url("/assets/font/PoppinsRegular400.ttf");
    format: "other";
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    // background-color: wheat;
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--primary-color);
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;

}

h6 {
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 0rem;
}

// .head {
//     // background-color: #6e9088;
//     padding: 10px;
//     // border-radius: 8px;
//     color:  #fff;
//     font-size: large;
//     font-weight: bold;
// }

.container .title p::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100px;
    height: 3px;
    background: linear-gradient(to right, #058372, #acf3cc);
}

:root {
    /* ===== Colors ===== */
    --primary-color: #1f6764;
    --edit-button: rgb(148 19 106);
    --sidebar-color: white;
    --shadow-color: #dddddd url(/RSMS/faces/javax.faces.resource/images/ui-bg_highlight-soft_50_dddddd_1x100.png?ln=primefaces-flick) 50% 50% repeat-x;
    --secondary-color: #98d4df;
    --primary-color-light: #f6f5ff;
    --toggle-color: #ddd;
    --text-color: #4d4d63;
    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body {
    min-height: 100vh;
    background-color: white;
    transition: var(--tran-05);
    // background: linear-gradient(to right, #058372, #acf3cc);
}

#smartcard {
    width: auto !important;
}

.ag-header-column-resize {
    color: darkgreen;
}

.chart {
    margin: 10px 0px;
}

.ag-cell {
    // text-align: center !important;
    // text-align: left !important;
}

.Head {
    background-color: var(--primary-color);
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1);
    color: white;
    padding: 0.5rem;
}

.Head1 {
    background-color:#5d6560;
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1);
    color: white;
    padding: 0.5rem;
}

.Head h6 {
    text-transform: uppercase;
}

.Head p {
    font-size: 20px;
}
.Head1 h6 {
    text-transform: uppercase;
}

.Head1 p {
    font-size: 20px;
}

// .head {
//     background-color: lightcyan;
//     padding: 10px;
//     border-radius: 8px;
//     color: var(--primary-color);
//     font-size: large;
//     font-weight: bold;
// }
// .ag-cell-focus,
// .ag-cell-no-focus {
//     border: none !important;
// }

// .no-border.ag-cell:focus {
//     border: none !important;
//     outline: none;
// }

// .ag-header-cell-label {
//     font-weight: 400 !important;
//     font-size: larger;
// }

// .ag-header-viewport {
//     text-align: center !important;
//     // background: #51586e;
//     // background: #b2cfc0;
//     background: #b2cfc0;
// }

.ag-root-wrapper {
    border-radius: 7px !important;
}

.ag-header-cell-label {
    align-items: left;
    justify-content: left;
}

.ag-header-row {
    color: #000 !important;
    // color: #fff !important;
    align-items: center;
    text-align: center;
}

.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -50px;
    opacity: 0;
    transition: opacity 0.3s;
    // width: auto;
    width: max-content;
}

.tooltip-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

// .tooltip::after {
//     content: '';
//     position: absolute;
//     top: 100%;
//     left: 50%;
//     margin-left: -5px;
//     border-width: 5px;
//     border-style: solid;
//     border-color: black transparent transparent transparent;
// }

.form-control {
    border: 0.5px solid rgb(155, 150, 150) !important;
}

div:where(.swal2-container) h2:where(.swal2-title) {
    position: relative;
    max-width: 100%;
    margin: 0;
    padding: 0.8em 1em 0;
    color: inherit;
    font-size: large !important;
    font-weight: 600;
    text-align: center;
    text-transform: none;
    word-wrap: break-word;
}


.input_box label {
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
    font-size: 16px;
    color: #243359;
}

.input_box span {
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
    font-size: 16px;
    color: #243359;
}

.input_box label::after {
    content: " *";
    color: red;
}

.input_box select option {
    padding: 7px 0;
}

.input_box input {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0px 12px;
    border-top: 2px solid #b0afaf;
    border-bottom: 0.9px solid lightgray;
    border-left: 0.9px solid lightgray;
    border-right: 0.9px solid lightgray;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    background-color: #f6f8fa;
    font-family: 'Poppins', sans-serif;
    transition: all 120ms ease-out 0s;
}

.input_box select {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0px 10px;
    border-top: 2px solid #b0afaf;
    border-bottom: 0.9px solid lightgray;
    border-left: 0.9px solid lightgray;
    border-right: 0.9px solid lightgray;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    background-color: #f6f8fa;
    font-family: 'Poppins', sans-serif;
    transition: all 120ms ease-out 0s;
}

.input_box textarea {
    width: 100%;
    height: 10vh;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0px 10px;
    border-top: 2px solid #b0afaf;
    border-bottom: 0.9px solid lightgray;
    border-left: 0.9px solid lightgray;
    border-right: 0.9px solid lightgray;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    background-color: #f6f8fa;
    font-family: 'Poppins', sans-serif;
    transition: all 120ms ease-out 0s;
}


html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media screen and (max-width:560px) {
    input_box label {
        font-weight: 500;
        margin-bottom: 5px;
        display: block;
        font-size: 14px;
        color: #243359;
    }

    .input_box span {
        font-weight: 500;
        margin-bottom: 5px;
        display: block;
        font-size: 14px;
        color: #243359;
    }
}

.ag-header-viewport {
    text-align: center !important;
    background: #a2d3c8 !important;
    // background: #3d5857 !important;
}

.ag-header-cell-text {
    color: #243359;
    // color: white;
}

.line {
    border: 1px solid lightgray;
}

// ::ng-deep {
//     .ag-center-cols-viewport {
//         max-height: 500px;
//         overflow: scroll;
//     }
// }
.newtab {
    padding: 1rem;
    background-color: #98d4df;
}

.newtab h5 {
    color: rgb(56, 61, 58);
    font-weight: 600;
    text-transform: uppercase
}

.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 28px;
    margin-left: 5px;
    float: inline-end;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    // background-color: rgb(44, 116, 165);
    background-color: rgb(185, 55, 55);
    /* Red color */
    transition: .1s;
    border-radius: 50%;
}

.slider:after {
    background-color: green;
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 15px;
    bottom: 4px;
    transition: .1s;
    border-radius: 50%;
    opacity: 0;
    /* Initially hidden */
}

input:checked+.slider:before {
    transform: translateX(20px);
    background-color: green;
    /* Change to green when checked */
}

input:checked+.slider:after {
    transform: translateX(16px);
    opacity: 1;
    /* Show the green slider */
    background-color: green;
}

input:checked+.slider:before {
    opacity: 0;
    /* Hide the red slider */
}

.custom-select {
    position: relative;
    display: inline-block;
    width: 400px;
}

.custom-select input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.dropdown {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    max-height: 250px;
    overflow-y: auto;
    position: absolute;
    background-color: white;
    width: 100%;

    z-index: 1;
}

.dropdown li {
    padding: 10px;
    cursor: pointer;
}

.dropdown li:hover {
    background-color: #eee;
}

// .input_box select :disabled {
//     color: rgb(64, 64, 233);
// }

@media screen and (max-width:775px) {
    .ag-paging-panel {
        display: grid !important;
    }
}


// ===========================================select option =============================