/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
// @import 'sweetalert2/src/sweetalert2.scss';

@font-face {
    font-family: "Poppins";
    src: url("/assets/font/PoppinsRegular400.ttf");
    format: "other";
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    // background-color: wheat;
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--primary-color);
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;

}

h6 {
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 0rem;
}

.head {
    // background-color: #6e9088;
    padding: 10px;
    // border-radius: 8px;
    color:  #fff;
    font-size: large;
    font-weight: bold;
}

.container .title p::before {
    content: "";    
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100px;
    height: 3px;
    background: linear-gradient(to right, #058372, #acf3cc);
}

:root {
    /* ===== Colors ===== */
    --primary-color: #1f6764;
    --edit-button: rgb(148 19 106);
    --sidebar-color: white;
    --shadow-color: #dddddd url(/RSMS/faces/javax.faces.resource/images/ui-bg_highlight-soft_50_dddddd_1x100.png?ln=primefaces-flick) 50% 50% repeat-x;
    --secondary-color: #98d4df;
    --primary-color-light: #f6f5ff;
    --toggle-color: #ddd;
    --text-color: #4d4d63;
    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body {
    min-height: 100vh;
    background-color: white;
    transition: var(--tran-05);
    // background: linear-gradient(to right, #058372, #acf3cc);
}

.ag-header-column-resize {
    color: darkgreen;
}

.chart {
    margin: 10px 0px;
}

.ag-cell {
    text-align: center !important;
}

.Head {
    background-color: var(--primary-color);
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1);
    color: white;
    padding: 0.5rem;
}

.Head p {
    font-size: 20px;
}

// .ag-cell-focus,
// .ag-cell-no-focus {
//     border: none !important;
// }

// .no-border.ag-cell:focus {
//     border: none !important;
//     outline: none;
// }

// .ag-header-cell-label {
//     font-weight: 400 !important;
//     font-size: larger;
// }

// .ag-header-viewport {
//     text-align: center !important;
//     // background: #51586e;
//     // background: #b2cfc0;
//     background: #b2cfc0;
// }

.ag-root-wrapper {
    border-radius: 7px !important;
}

.ag-header-cell-label {
    align-items: center;
    justify-content: center;
}

.ag-header-row {
    color: #000 !important;
    // color: #fff !important;
    align-items: center;
    text-align: center;
}


// .tooltip-container {
//     position: relative;
//     display: inline-block;
// }

// .tooltip {
//     visibility: hidden;
//     background-color: black;
//     color: #fff;
//     text-align: center;
//     border-radius: 5px;
//     padding: 5px;
//     position: absolute;
//     z-index: 1;
//     bottom: 125%;
//     /* Adjust this to position the tooltip */
//     left: 50%;
//     margin-left: -50px;
//     opacity: 0;
//     transition: opacity 0.3s;
//     width: 100px;
// }

// .tooltip-container:hover .tooltip {
//     visibility: visible;
//     opacity: 1;
// }
.form-control {
    border: 0.5px solid rgb(155, 150, 150) !important;
}

div:where(.swal2-container) h2:where(.swal2-title) {
    position: relative;
    max-width: 100%;
    margin: 0;
    padding: 0.8em 1em 0;
    color: inherit;
    font-size: large !important;
    font-weight: 600;
    text-align: center;
    text-transform: none;
    word-wrap: break-word;
}


.input_box label {
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
    font-size: 16px;
    color: #243359;
}

.input_box span {
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
    font-size: 16px;
    color: #243359;
}

.input_box label::after {
    content: " *";
    color: red;
}

.input_box select option {
    padding: 7px 0;
}

.input_box input {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0px 12px;
    border-top: 2px solid #b0afaf;
    border-bottom: 0.9px solid lightgray;
    border-left: 0.9px solid lightgray;
    border-right: 0.9px solid lightgray;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    background-color: #f6f8fa;
    font-family: 'Poppins', sans-serif;
    transition: all 120ms ease-out 0s;
}

.input_box select {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0px 10px;
    border-top: 2px solid #b0afaf;
    border-bottom: 0.9px solid lightgray;
    border-left: 0.9px solid lightgray;
    border-right: 0.9px solid lightgray;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    background-color: #f6f8fa;
    font-family: 'Poppins', sans-serif;
    transition: all 120ms ease-out 0s;
}

.input_box textarea {
    width: 100%;
    height: 10vh;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0px 10px;
    border-top: 2px solid #b0afaf;
    border-bottom: 0.9px solid lightgray;
    border-left: 0.9px solid lightgray;
    border-right: 0.9px solid lightgray;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    background-color: #f6f8fa;
    font-family: 'Poppins', sans-serif;
    transition: all 120ms ease-out 0s;
}


html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media screen and (max-width:560px) {
    input_box label {
        font-weight: 500;
        margin-bottom: 5px;
        display: block;
        font-size: 14px;
        color: #243359;
    }

    .input_box span {
        font-weight: 500;
        margin-bottom: 5px;
        display: block;
        font-size: 14px;
        color: #243359;
    }
}

.ag-header-viewport {
    text-align: center !important;
    background: #3d5857 !important;
}

.ag-header-cell-text {
    color: white;
}