<div class="col-4 d-flex justify-content-start align-items-center mb-3">
    <button type="submit" class="btn bttn" style="background:#2795abf7;color: white;" (click)="addnew($event)"><i
            class="fa-solid fa-upload"></i>
        &nbsp;Inventory</button>
</div>
<div class="card">
    <h5>Not Allocated Box Details - {{rowData.length}}</h5>
    <div class="row d-flex justify-content-center align-items-center  ">
        <div class="col-12 col-sm-12 col-md-12  mb-3">
            <div class="d-flex justify-content-end align-items-center mb-3">
                <div class="d-flex justify-content-center align-items-center position-relative " style="padding: 10px;"
                    (click)="showDisabledMessage()">
                    <button type="button" class="btn bttn" [disabled]="!isAnyRowSelected">
                        <i class="fa fa-users" aria-hidden="true"></i> Allocation
                    </button>
                    <div class="tooltip">Allocation</div>
                </div>
                &nbsp;&nbsp;
                <div class="icon-container d-flex align-items-center " (click)="getExcel()">
                    <img src="/assets/images/icons/Excel.png" width="40px" style="cursor: pointer;">
                    <div class="tooltip">Excel</div>
                </div>
                &nbsp;&nbsp;
                <div class="icon-container d-flex align-items-center " (click)="getPDF()">
                    <img src="/assets/images/icons/pdf.png" width="40px" style="cursor: pointer;">
                    <div class="tooltip">Pdf</div>
                </div>
            </div>
            <ag-grid-angular #agGrid id="myGrid" domLayout='autoHeight' class="ag-theme-alpine table-class" rowAnimation
                [rowSelection]="rowSelection" [gridOptions]="gridOptions" [columnDefs]="columnDefs" [rowData]="rowData"
                (selectionChanged)="onSelectionChanged()" (gridReady)="onGridReady($event)"
                [enableCellTextSelection]="true">
            </ag-grid-angular>
            <!-- <div class="d-flex justify-content-center align-items-center position-relative " style="padding: 10px;"
                (click)="showDisabledMessage()">
                <button type="button" class="btn" [disabled]="!isAnyRowSelected">
                    <i class="fa fa-users" aria-hidden="true"></i> Allocated
                </button>
                <div class="tooltip">Allocated</div>
            </div> -->
        </div>
    </div>
</div>