.card {
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}

.btn {
    background-color: var(--primary-color);
    color: white;
}


img {
    cursor: pointer;
}

.icon-container {
    position: relative;
    display: inline-block;
}

.icon-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.button:hover .tooltip {
    visibility: visible;
    /* Show tooltip on hover */
    opacity: 1;
    /* Fade-in effect */
}

.tooltip-container {
        position: relative;
        display: inline-block;
    }
    
    .tooltip {
        visibility: hidden;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 5px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        /* Adjust this to position the tooltip */
        left: 50%;
        margin-left: -50px;
        opacity: 0;
        transition: opacity 0.3s;
        width: auto;
    }
    
    .tooltip-container:hover .tooltip {
        visibility: visible;
        opacity: 1;
    }