<div id="Customer-page" #formContent >
        <h3> SUBSCRIBER CREATION   </h3>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div style="display: flex; justify-content: center; align-items: center;  ">
            <div class="container">
                <div class="title">
                    <p>Personal Details</p>
                </div>
                <div class="user_details">
                    <div class="input_box">
                        <label>LCO Name</label>

                        <!-- <select id="Lco" class="js-states" formControlName="operatorid" [(ngModel)]="operatorid"
                            >
                            <option value="0" selected disabled>Select Operator</option>
                            <option *ngFor="let operator of filteredOperators" [value]="operator.name"  >
                                {{ operator.name }}
                            </option>
                        </select> -->

                        <select id="Lco" class="js-states" formControlName="operatorid" [(ngModel)]="operatorid">
                            <option value="0" selected disabled>Select Operator</option>
                            <option *ngFor="let operator of filteredOperators" [value]="operator.name"
                                (ngModelChange)="onOperatorChange($event)">
                                {{ operator.name }}
                            </option>
                        </select>

                        <!-- <div class="input-container">
                            <input type="text" matInput [matAutocomplete]="auto" formControlName="operatorid"
                                (input)="filterOperators($event)" placeholder="Select Operator"
                                [matAutocompleteDisabled]="false" [value]="selectedOperator?.name">
                            <i class="bx bx-chevron-down icon-right"></i>
                        </div>
                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayOperator">
                            <mat-option *ngFor="let operator of filteredOperators" [value]="operator.name"
                                (click)="onoperatorchange(operator)">
                                {{ operator.name }}
                            </mat-option>
                        </mat-autocomplete> -->

                        <div style="position:relative;font-size: small;">
                            <div *ngIf="submitted && f['operatorid'].errors?.['required']" class="text-danger">
                                LCO Name is required</div>
                        </div>
                    </div>
                    <div class="input_box">
                        <label>Area Name</label>

                        <select id="Area" class="js-states" formControlName="areaid" [(ngModel)]="areaid">
                            <option value="0" selected disabled>Select Area</option>
                            <option *ngFor="let area of filteredAreas" [value]="area.name"
                                (ngModelChange)="onAreaStatusChange($event)">
                                {{ area.name }}
                            </option>
                        </select>


                        <!-- <div class="input-container">
                            <input type="text" matInput [matAutocomplete]="autoArea" formControlName="areaid"
                                (input)="filterAreas($event)" placeholder="Select Area"
                                [matAutocompleteDisabled]="false" [value]="selectedArea?.name">
                            <i class="bx bx-chevron-down icon-right"></i>
                        </div>
                        <mat-autocomplete #autoArea="matAutocomplete" [displayWith]="displayArea">
                            <mat-option *ngFor="let area of filteredAreas" [value]="area.name"
                                (click)="onAreaStatusChange(area)">
                                {{ area.name }}
                            </mat-option>
                        </mat-autocomplete> -->
                        <div style="position: relative; font-size: small;">
                            <div *ngIf="submitted && f['areaid'].errors?.['required']" class="text-danger">
                                Area Name is required</div>
                        </div>
                    </div>
                    <div class="input_box">
                        <label>Street Name</label>
                        <select id="Street" class="js-states" formControlName="streetid" [(ngModel)]="streetid"
                            (click)="onStreetStatusChange($event)">
                            <option value="0" selected disabled>Select Street</option>
                            <option *ngFor="let key of filteredStreet" [value]="key.value">
                                {{ key.name }}
                            </option>
                        </select>


                        <!-- <div class="input-container">
                            <input type="text" placeholder="Select Street" formControlName="streetid"
                                [(ngModel)]="streetid" [matAutocomplete]="autoStreet" class="example-input"
                                [value]="selectedStreet?.name" (input)="filterStreet($event)">
                            <i class="bx bx-chevron-down icon-right"></i>
                        </div>
                        <mat-autocomplete #autoStreet="matAutocomplete" [displayWith]="displayStreet">
                            <mat-option *ngFor="let key of filteredStreet" [value]="key.value"
                                (click)="onStreetStatusChange(key)">
                                {{ key.name }}
                            </mat-option>
                        </mat-autocomplete> -->
                        <div style="position: relative;font-size: small;">
                            <div *ngIf="submitted && f['streetid'].errors?.['required']" class="text-danger">
                                STREET Name is required</div>
                        </div>
                    </div>


                    <div class="input_box">
                        <span for="username">CAS Form Id</span>
                        <input type="text" formControlName="casformid" placeholder="Enter CAS Form Id" maxlength="6"
                            (keypress)="onKeydown($event)" />
                    </div>
                    <div class="input_box">
                        <label for="customername">Subscriber Name</label>
                        <input type="text" formControlName="customername" placeholder="Enter Subscriber Name" required
                            [ngClass]="{ 'is-invalid': submitted && f['customername'].errors }" />

                        <div style="position: relative; font-size: small;" *ngIf="submitted && f['customername'].errors"
                            class="invalid-feedback">
                            <div *ngIf="f['customername'].errors['required']">Subscriber Name is required
                            </div>
                        </div>
                    </div>
                    <div class="input_box">
                        <label for="phone">Subscriber Name Last</label>
                        <input type="text" formControlName="customernamelast" placeholder="Enter Subscriber Last Name"
                            required [ngClass]="{ 'is-invalid': submitted && f['customernamelast'].errors }" />

                        <div style="position: relative; font-size: small;"
                            *ngIf="submitted && f['customernamelast'].errors" class="invalid-feedback">
                            <div *ngIf="f['customernamelast'].errors['required']">Subscriber Last Name
                                is required
                            </div>
                        </div>
                    </div>
                    <div class="input_box">
                        <label for="pass">Father Name</label>
                        <input type="text" formControlName="fathername" placeholder="Enter Father name" required
                            [ngClass]="{ 'is-invalid': submitted && f['fathername'].errors }" />

                        <div style="position: relative; font-size: small;" *ngIf="submitted && f['fathername'].errors"
                            class="invalid-feedback">
                            <div *ngIf="f['fathername'].errors['required']">Father Name is required
                            </div>
                        </div>
                    </div>
                    <div class="input_box col-12 col-md-6 ">
                        <div class="">
                            <label>Date of Birth</label>
                        </div>
                        <input type="date" formControlName="dateofbirth" placeholder="Select Date Of Birth" required
                            [max]="today" [ngClass]="{ 'is-invalid': submitted && f['dateofbirth'].errors }" />
                        <div style="position: relative; font-size: small;" *ngIf="submitted && f['dateofbirth'].errors"
                            class="invalid-feedback">
                            <div *ngIf="f['dateofbirth'].errors['required']">Date Of Birth is required
                            </div>
                        </div>
                    </div>

                    <div class="input_box">
                        <label for="phone">Mobile Number</label>
                        <input pattern="[0-9]*" maxlength="10" required type="text" (keypress)="onKeydown($event)"
                            formControlName="mobileno" placeholder="Enter Mobile No" required
                            [ngClass]="{ 'is-invalid': submitted && f['mobileno'].errors }" />

                        <div style="position: relative; font-size: small;" *ngIf="submitted && f['mobileno'].errors"
                            class="invalid-feedback">
                            <div *ngIf="f['mobileno'].errors['required']">
                                Mobile Number is required
                            </div>
                            <div *ngIf="f['mobileno'].errors['pattern']">
                                Please enter a valid 10-digit Mobile Number
                            </div>
                        </div>
                    </div>

                    <div class="input_box">
                        <span for="pass">Landline No</span>
                        <input maxlength="10" type="text" formControlName="landlineno" (keypress)="onKeydown($event)"
                            placeholder="Enter Landline No" />

                        <!-- <div style="position: relative; font-size: small;" *ngIf="submitted && f['landlineno'].errors"
                            class="invalid-feedback">
                            <div *ngIf="f['landlineno'].errors['required']">
                                Landline Number is required
                            </div>
                        </div> -->
                    </div>
                    <div class="input_box">
                        <label for="email">Email ID</label>
                        <input type="text" formControlName="email" placeholder="Ex. example@gmail.com"
                            [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" required />
                        <!-- <div style="position: relative; font-size: small;" *ngIf="submitted && f['email'].errors"
                            class="invalid-feedback">
                            <div *ngIf="f['email'].errors['required']">Email ID is required</div>
                            <div *ngIf="f['email'].errors['email']">Please enter a valid email</div>
                        </div> -->
                        <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="error-message">
                            <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="error-message">
                                <div *ngIf="form.get('email')?.hasError('required')">
                                    Email is required.
                                </div>
                                <div
                                    *ngIf="!form.get('email')?.hasError('required') && form.get('email')?.hasError('email')">
                                    Please enter a valid email format.
                                </div>
                                <div
                                    *ngIf="!form.get('email')?.hasError('required') && !form.get('email')?.hasError('email') && form.get('email')?.hasError('invalidEmail')">
                                    Email must include ".in" or ".com" after letters.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="input_box">
                        <label for="confirmPass">Form Submission Date</label>
                        <input type="date" step='1' placeholder="Form Submission Date" [max]="today"
                            formControlName="formsubmissiondate"
                            [ngClass]="{ 'is-invalid': submitted && f['formsubmissiondate'].errors }" required>

                        <div style="position: relative;font-size: small; "
                            *ngIf="submitted && f['formsubmissiondate'].errors" class="invalid-feedback">
                            <div *ngIf="f['formsubmissiondate'].errors['required']">Form Submission Date is
                                required
                            </div>
                        </div>
                    </div>
                    <div class="input_box">
                        <label>Address Proof Name</label>
                        <select id="addressprooftypeid" formControlName="addressprooftypeid"
                            [(ngModel)]="addressProoftypeid" (change)="onAddProofChange($event)">
                            <option value="" disabled>Select an Address Proof</option>
                            <option *ngFor="let key of filteredADDProofKeys()" [value]="key"> {{ key}} </option>
                        </select>
                        <!-- <div style="position: relative; font-size: small;" *ngIf="submitted && f['addressprooftypeid'].errors"
                            class="invalid-feedback">
                            <div *ngIf="f['addressprooftypeid'].errors['required']">
                                Address Proof is required
                            </div>
                        </div> -->
                        <div *ngIf="submitted && f['addressprooftypeid'].invalid" class="text-danger error-message">
                            Address Proof is required
                        </div>
                    </div>

                    <!-- <div class="input_box" *ngIf="selectedAddProofType"> -->
                    <div class="input_box">
                        <!-- <label for="addressproof">{{ selectedAddProofType }} Number</label> -->
                        <label *ngIf="!selectedAddProofType">Address Proof</label>
                        <label *ngIf="selectedAddProofType">{{ selectedAddProofType }} Number</label>
                        <input type="text" formControlName="addressproof"
                            [attr.maxlength]="getMaxLength(selectedAddProofType)"
                            [attr.placeholder]="'Enter ' + selectedAddProofType + ' Number'"
                            [attr.pattern]="getPattern(selectedAddProofType)" />

                        <div *ngIf="f['addressproof'].invalid && (f['addressproof'].dirty || f['addressproof'].touched)"
                            class="text-danger">
                            <div *ngIf="f['addressproof'].errors?.['required']">
                                {{ selectedAddProofType }} Number is required.
                            </div>
                            <div *ngIf="f['addressproof'].errors?.['pattern']">
                                Invalid {{ selectedAddProofType }} Number. Expected format: {{
                                getExampleFormat(selectedAddProofType) }}.
                            </div>
                            <div *ngIf="f['addressproof'].errors?.['maxlength']">
                                Maximum length allowed is {{ getMaxLength(selectedAddProofType) }} characters.
                            </div>
                        </div>
                    </div>

                    <div class="input_box">
                        <label>ID Proof Name</label>
                        <select id="idprooftypeid" formControlName="idprooftypeid" (change)="onIDProofChange($event)"
                            [(ngModel)]="idProoftypeid">
                            <option value="" disabled>Select a ID Proof</option>
                            <option *ngFor="let key of filteredIdProofKeys()" [value]="key"> {{ key}} </option>
                        </select>
                        <div style="position: relative; font-size: small;"
                            *ngIf="submitted && f['idprooftypeid'].errors" class="invalid-feedback">
                            <div *ngIf="f['idprooftypeid'].errors['required']">
                                Id Proof is required
                            </div>
                        </div>
                    </div>
                    <div class="input_box">
                        <!-- <div class="input_box" *ngIf="selectedIDProofType"> -->
                        <!-- <label for="idproof">{{ selectedIDProofType }} Number</label> -->
                        <!-- <label for="idproof"> -->
                        <label *ngIf="!selectedIDProofType">ID Proof</label>
                        <label *ngIf="selectedIDProofType">{{ selectedIDProofType }} Number</label>
                        <!-- </label> -->
                        <input type="text" formControlName="idproof"
                            [attr.maxlength]="getMaxLength(selectedIDProofType)"
                            [attr.placeholder]="'Enter ' + selectedIDProofType + ' idproof'"
                            [attr.pattern]="getPattern(selectedIDProofType)" />

                        <div *ngIf="f['idproof'].invalid && (f['idproof'].dirty || f['idproof'].touched)"
                            class="text-danger">
                            <div *ngIf="f['idproof'].errors?.['required']">
                                {{ selectedIDProofType }} Number is required.
                            </div>
                            <div *ngIf="f['idproof'].errors?.['pattern']">
                                Invalid {{ selectedIDProofType }} Number. Expected format: {{
                                getExampleFormat(selectedIDProofType) }}.
                            </div>
                            <div *ngIf="f['idproof'].errors?.['maxlength']">
                                Maximum length allowed is {{ getMaxLength(selectedIDProofType) }} characters.
                            </div>
                        </div>
                    </div>
                    <div class="input_box">
                        <label for="username">Billing Address</label>
                        <input type="text" formControlName="address" placeholder="Enter the Billing Address" required
                            [(ngModel)]="billingaddress"
                            [ngClass]="{ 'is-invalid': submitted && f['address'].errors }" />

                        <div style="position: relative; font-size: small;" *ngIf="submitted && f['address'].errors"
                            class="invalid-feedback">
                            <div *ngIf="f['address'].errors['required']">Billing Address is required</div>
                        </div>

                    </div>
                    <div class="input_box">
                        <label for="username">Same as Billing Address</label>
                        <input type="checkbox" style="width: 30px;height: 25px;" (change)="onChange($event)" />
                    </div>
                    <div class="input_box">
                        <label for="installaddress">Install Address</label>
                        <input type="text" formControlName="installaddress" placeholder="Enter the Install address"
                            required [(ngModel)]="installaddress"
                            [ngClass]="{ 'is-invalid': submitted && f['installaddress'].errors }" />

                        <div style="position: relative;font-size: small;"
                            *ngIf="submitted && f['installaddress'].errors" class="invalid-feedback">
                            <div *ngIf="f['installaddress'].errors['required']">Install Address is required
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center align-items-center" style="padding: 10px;">
                    <div>
                        <button type="submit" class="btn me-3 bttn"
                            style="background:#058372;color: white;">Confirm</button>&nbsp;&nbsp;&nbsp;
                    </div>
                    <button type="button" (click)="onReset()" class="btn btn-danger bttn">
                        Reset
                    </button>


                </div>
            </div>
        </div>
    </form>
</div>