.display {
    display: flex;
}

@media screen and (max-width:560px) {
    .display {
        display: block;
    }
    .mobile {
        display: none;
    }
}

@media screen and (max-width:775px) {
    .display {
        display: block;
    }

    .mobile {
        display: none;
    }
}