<section>
    <div class="head d-flex justify-content-between align-items-center">
        <span class="title">UPDATE LCO MEMBERSHIP</span>
        <i class="fa fa-close close-icon" (click)="onNoClick()"></i>
    </div>
    <div class="card">
        <div class="lco  justify-content-center align-items-center">
            <div class="input_box display align-items-center mb-3 ">
                <div class="col-12 col-md-6">
                    <label class="label-text ">Used Count</label>
                </div>
                <div class="col-12 col-md-6">
                    <input type="text" class="" placeholder="Enter Used Count">
                </div>
            </div>
            <div class="input_box display align-items-center mb-3 ">
                <div class="col-12 col-md-6">
                    <label class="label-text ">Shared Count</label>
                </div>
                <div class="col-12 col-md-6">
                    <input type="text" placeholder="Enter Shared Count">
                </div>
            </div>
            <div class="input_box display align-items-center mb-3 w-100 ">
                <div class="col-12 col-md-6">
                    <label class="label-text ">Select Membership</label>
                </div>
                <div class="col-12 col-md-6">
                    <span class="flex-grow-1 ">
                        <select name="" id="" class=" ml-2">
                            <option value="">fsfdf</option>
                            <option value="">erer</option>
                            <option value="">ghgfh</option>
                            <option value="">jghjug</option>
                        </select>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col d-flex justify-content-center align-items-center new_d mt-3 mb-2">
        <a class="btn btn-infos mx-1" (click)="change()"> &nbsp;
            <span>Update</span>
        </a>
    </div>

</section>