<div *ngIf="type== 'carton_box'">
    <div class="Head d-flex justify-content-between align-items-center" style="padding: 1rem;">
        <h6>CORTON BOX UPLOAD</h6>
        <i class="fa fa-close close-icon" (click)="onNoClick()"></i>
    </div>
    <div class="dialog-container">
        <div class="dialog-body">
            <div class="row align-items-center input_box">
                <div class="col-12 col-md-4">
                    <span class="form-label">Inventory Type</span>
                </div>
                <div class="col-12 col-md-8 mb-3">
                    <a class="mb-3" (click)="generateExcel('carton_box')" style="cursor: pointer;color: #230ed5;">*
                        Download File Format</a>
                </div>
            </div>

            <div class="row align-items-center input_box">
                <div class="col-12 col-md-4">
                    <span class="form-label">Select File</span>
                </div>
                <div class="col-12 col-md-8 mb-3 file-upload-container">
                    <input type="file" (change)="onFileSelected($event)" class="file-input" accept=".xls,.xlsx,.csv" />
                </div>
            </div>
        </div>
        <div class="dialog-footer">
            <button type="button" class="btn"
                style="background-color:#1f6764;color: white;font-size: 14;font-weight: 600;"
                (click)="submit()">Submit</button>
        </div>
    </div>
</div>
<div *ngIf="type== 'allocatted'">
    <div class="Head d-flex justify-content-between align-items-center" style="padding: 1rem;">
        <h6>OPERATOR ALLOCATION UPDATE</h6>
        <i class="fa fa-close close-icon" (click)="onNoClick()"></i>
    </div>
    <div class="dialog-container ">
        <div class="dialog-body">
            <div class="row align-items-center input_box">
                <div class="col-12 col-md-3">
                    <span class="form-label">IsEMI</span>
                </div>
                <div class="col-12 col-md-9 mb-3">
                    <input type="checkbox" [(ngModel)]="isemi" style="width: 35px;height: 20px;">
                </div>
            </div>

            <div class="row align-items-center input_box ">
                <div class="col-12 col-md-3">
                    <span class="form-label">Due Amount</span>
                </div>
                <div class="col-12 col-md-9 mb-3 ">
                    <input type="text" class="file-input" [(ngModel)]="dueamount" [disabled]="!isemi" (keypress)="onKeydown($event)"  />
                </div>
            </div>
            <div class="row align-items-center input_box ">
                <div class="col-12 col-md-3">
                    <span class="form-label">Select Operator</span>
                </div>
                <div class="col-12 col-md-9 mb-3 file-upload-container">
                    <select id="operator" [(ngModel)]="selectOperator">
                        <option [value]="0" selected>All Operator</option>
                        <option *ngFor="let operator of filteredOperatorList" [value]="operator.value"
                            (ngModelChange)="onAreaList($event)">
                            {{ operator.name }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-12 col-md-3 input_box">
                    <span>Type</span>
                </div>
                <div class="col-12 col-md-9 mb-10">
                    <mat-radio-group class="radio-group d-block justify-content-center align-items-center"
                        aria-labelledby="status" [(ngModel)]="selectedType">
                        <mat-radio-button class="radio-button" [value]="'1'">
                            <span style="font-size: 14px;">Operator Allocated Only</span>
                        </mat-radio-button>&nbsp;
                        <mat-radio-button class="radio-button" [value]="'2'">
                            <span style="font-size: 14px;">Subscriber Import Only</span>
                        </mat-radio-button>&nbsp;
                        <mat-radio-button class="radio-button" [value]="'3'">
                            <span style="font-size: 14px;">Subscriber Import With Activate</span>
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>

            <div class="row align-items-center input_box">
                <div class="col-12 col-md-3">
                    <label class="form-label">Subscriber Name</label>
                </div>
                <div class="col-12 col-md-9 mb-3 file-upload-container">
                    <input type="text" class="file-input" [(ngModel)]="selectSubscriber"
                        [disabled]="selectedType !== '2' && selectedType !== '3'" />

                </div>
            </div>

            <div class="row align-items-center input_box">
                <div class="col-12 col-md-3">
                    <label class="form-label">Area Name</label>
                </div>
                <div class="col-12 col-md-9 mb-3 file-upload-container">
                    <select id="area" class="file-input" [(ngModel)]="selectArea"
                        [disabled]="selectedType !== '2' && selectedType !== '3'">
                        <option value="0" selected>Select Area</option>
                        <option *ngFor="let area of filteredAreaList" [value]="area.value"
                            (ngModelChange)="onStreetList($event)">
                            {{ area.name }}
                        </option>
                    </select>
                </div>
            </div>

            <div class="row align-items-center input_box">
                <div class="col-12 col-md-3">
                    <label class="form-label">Street Name</label>
                </div>
                <div class="col-12 col-md-9 mb-3 file-upload-container">
                    <select id="street" class="file-input" [(ngModel)]="selectStreet"
                        [disabled]="selectedType !== '2' && selectedType !== '3'">
                        <option value="0" selected>Select Street</option>
                        <option *ngFor="let Street of filteredStreetList" [value]="Street.value">
                            {{ Street.name }}
                        </option>
                    </select>
                </div>
            </div>

            <div class="row align-items-center input_box">
                <div class="col-12 col-md-3">
                    <label class="form-label">Package Name</label>
                </div>
                <div class="col-12 col-md-9 mb-3 file-upload-container">
                    <select id="package" class="file-input" [(ngModel)]="selectedPackage"
                        [disabled]="selectedType !== '3'">
                        <option value="0" selected>Select Package</option>
                        <option *ngFor="let package of filteredPackageList" [value]="package.value">
                            {{ package.name }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-12 col-md-3">
                    <label class="form-label">Subscription Days</label>
                </div>
                <div class="col-12 col-md-9 mb-3 file-upload-container">
                    <input type="number" class="file-input" [(ngModel)]="days" [min]="1"
                        [disabled]="selectedType !== '3'" />
                </div>
            </div>
        </div>
        <div class="dialog-footer">
            <button type="button" class="btn"
                style="background-color:#1f6764;color: white;font-size: 14;font-weight: 600;"
                (click)="setallocation()">Submit</button>
        </div>
    </div>
</div>

<div *ngIf="type == 'License_extend_date'">
    <div class="Head d-flex justify-content-between align-items-center" style="padding: 1rem;">
        <h6>R-SMS LICENSE EXTEND</h6>
        <i class="fa fa-close close-icon" (click)="onNoClick()"></i>
    </div>
    <div class="dialog-container">

        <div class="dialog-body">
            <div class="row align-items-center ">
                <div class="col-12 col-md-4 input_box">
                    <span class="form-label">Select Date</span>
                </div>
                <!-- <div class="col-12 col-md-8 mb-3 file-upload-container">
                    <input type="date" (change)="onFileSelected($event)"  />
                </div> -->
                <mat-form-field class="input-field" appearance="outline">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker" (dateChange)="logValues()" [(ngModel)]="date"
                        placeholder="Select a Date" readonly>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>

        <div class="dialog-footer">
            <button type="button" class="btn"
                style="background-color:#1f6764;color: white;font-size: 14;font-weight: 600;"
                (click)="upload()">Upload</button>
        </div>
    </div>
</div>