.dialog-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    // max-width: 500px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

/* Header */
.Head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    color: #243359;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ddd;
}

.close-icon {
    cursor: pointer;
    font-size: 18px;
    color: #243359;
}

.close-icon:hover {
    color: red;
}

/* Body */
.dialog-body {
    flex-grow: 1;
    padding: 1rem 0;
}

.form-label {
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
    color: #243359;
    font-size: 16px;
}

.file-info {
    font-size: 14px;
    color: #666;
}

.file-upload-container {
    display: flex;
    align-items: center;
}

.file-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Footer */
.dialog-footer {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.btn-success {
    width: 100%;
    max-width: 200px;
}
select:disabled,
input:disabled {
    background-color: #e9ecef; /* Light gray */
    color: #6c757d; /* Gray text */
    cursor: not-allowed;
    opacity: 0.6;
}

select,
input {
    background-color: #ffffff; /* White background for enabled */
    color: #000; /* Black text */
    border: #000;
}
@media screen and (max-width:560px) {
    .dialog-container {
        max-height: 650px;
        overflow: scroll;
    }
}