.tab-content {
    opacity: 0;
    transform: translateY(10px);
    animation: fadeInUp 0.5s ease-in-out forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.discount-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

::ng-deep .select2-container {
    width: 250px !important;
}

::ng-deep .select2-container .select2-selection--single {
    height: 45px !important;
    margin-top: 1%;
}

::ng-deep .select2-container .select2-selection--single .select2-selection__rendered {
    margin-top: 7px;
}

::ng-deep .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 10px;
}

::ng-deep .mat-mdc-tab.mdc-tab {
    flex-grow: 0 !important;
}

::ng-deep .mat-mdc-tab .mdc-tab-indicator__content--underline {
    border-color: var(--primary-color) !important;
}

::ng-deep .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
    color: #00335c !important
}

.no-outline {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    background: transparent !important;
  }
  
  .no-outline:focus {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
  }
  