
<section class="row">
    <div class="col-12 col-sm-12 col-md-12 d-flex align-items-center justify-content-center">
        <div class="row w-100">
            <div class="col-12 col-md-4 mb-4">
                <div>
                    <h5 class="text-center text-md-left">TOP BASE PACKAGE</h5>
                    <ag-grid-angular domLayout="autoHeight" [enableCellTextSelection]="true"
                        style="width:100%;" [columnDefs]="columnDefs" [gridOptions]="gridOptions"
                        [rowData]="baseRowData"  class="ag-theme-alpine table-class"
                        (gridReady)="onGridReady($event)"></ag-grid-angular>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <h5 class="text-center text-md-left">TOP ADD-ON PACKAGE</h5>
                <ag-grid-angular domLayout="autoHeight" [enableCellTextSelection]="true" style="width:100%;"
                    [columnDefs]="columnDefs" [gridOptions]="gridOptions"  [rowData]="addonRowData" 
                    class="ag-theme-alpine table-class" (gridReady)="onGridReady($event)"></ag-grid-angular>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <h5 class="text-center text-md-left">TOP ALACARTE</h5>
                <ag-grid-angular domLayout="autoHeight" [enableCellTextSelection]="true" style="width:100%;"
                    [columnDefs]="columnDefs" [gridOptions]="gridOptions"  [rowData]="alacarteRowData"
                    class="ag-theme-alpine table-class" (gridReady)="onGridReady($event)"></ag-grid-angular>
            </div>
        </div>
    </div>
</section>
