.icon-container {
    position: relative;
    display: inline-block;
}

.icon-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.button:hover .tooltip {
    visibility: visible;
    /* Show tooltip on hover */
    opacity: 1;
    /* Fade-in effect */
}

.btn {
    background-color: var(--primary-color);
    color: white;
}

.card {
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}