.display {
    display: flex;
}

.mobile {
    max-height: 900px;
    overflow: auto;
}



@media screen and (max-width:560px) {
    .mobile {
        max-height: 500px;
        overflow: auto;
    }

    .mobile1 {
        padding: 1rem;
    }

    .mobilerow {
        padding: 1rem !important;
    }
}
@media screen and (max-width:770px) {
    .mobile {
        max-height: 500px;
        overflow: auto;
        padding: 1rem !important;
    }

    .mobilerow {
        padding: 1rem !important;
    }
}