.head {
    background-color: lightcyan;
    padding: 10px;
    border-radius: 8px;
    color: var(--primary-color);
    font-size: large;
    font-weight: bold;
}



.close-icon {
    font-size: 20px;
    cursor: pointer;
}

.close-icon:hover {
    background-color: var(--primary-color);
    color: white;
    border-radius: 50%;
    // padding: 5px;
}

textarea {
    border: 1.5px solid #525253 !important;
}

.card {
    padding: 1rem 1rem;
    box-shadow: 1px 2px 0 0 #989494, -2px 3px 0 0 #ae9e9e, 2px 3px 0px 0 #cbcbcb;
    border: 1px solid lightgrey;

}

.display {
    display: flex;
}

.input_box span {
    font-size: 16px;
    color: #1e3c67;
    font-family: sans-serif;
    font-weight: 600;
}

.input_box input {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0px 12px;
    border-top: 2px solid #b0afaf;
    border-bottom: 0.9px solid lightgray;
    border-left: 0.9px solid lightgray;
    border-right: 0.9px solid lightgray;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    background-color: #f6f8fa;
    font-family: 'Poppins', sans-serif;
    transition: all 120ms ease-out 0s;
}

.input_box select {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    background-color: #f6f8fa;
    font-family: 'Poppins', sans-serif;
    transition: all 120ms ease-out 0s;
    padding: 0px 12px;
    border-top: 2px solid #b0afaf;
    border-bottom: 0.9px solid lightgray;
    border-left: 0.9px solid lightgray;
    border-right: 0.9px solid lightgray;
}

@media screen and (max-width:560px) {
    .display {
        display: block;
    }
}