<div *ngIf="type == 'package' || type == 'addon_package'">
    <div class="Head d-flex justify-content-between align-items-center mb-3">

        <span class="span">
            {{ type === 'package' ? 'PACKAGE MODIFICATION REPORT' : 'ADDON PACKAGE MODIFICATION REPORT' }}
        </span>
        <i class="fa fa-close close-icon" (click)="onNoClick()"></i>
    </div>

    <div class="mb-3 display justify-content-center align-items-center ">
        <!-- <div class="input_box col-12 col-md-3">
            <span class="formlabel">Filter
            </span>
        </div> -->
        <div class="col-12 col-md-6 d-flex justify-content-center align-items-center tooltip-container">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate matInput placeholder="Start date" value="fromdate"
                        (dateChange)="getFromDate($event)">
                    <input matEndDate matInput placeholder="End date" value="todate" (dateChange)="getToDate($event)">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
        </div>
        <div class="mobile">
            <div class="col-6 col-md-2 d-flex justify-content-center align-items-center tooltip-container"
                style="cursor: pointer;margin-top: -4%;">
                <div class="icon-container" (click)="getPackage_AddonPDF(2)">
                    <img src="/assets/images/icons/Excel.png" width="40px">
                    <div class="tooltip">Excel</div>
                </div>
            </div>
            <div class="col-6 col-md-2 d-flex justify-content-center align-items-center tooltip-container"
                style="cursor: pointer;margin-top: -4%;">
                <div class="icon-container" (click)="getPackage_AddonPDF(1)">
                    <img src="/assets/images/icons/pdf.png" width="40px">
                    <div class="tooltip">Pdf</div>
                </div>
            </div>
        </div>


    </div>
</div>
<div *ngIf="type == 'channel_history'">
    <div class="Head d-flex justify-content-between align-items-center mb-3">
        <span class="span">Channel Update History Log</span>
        <i class="fa fa-close close-icon" (click)="onNoClick()"></i>
    </div>
    <div class="mb-3 display justify-content-center align-items-center ">
        <!-- <div class="input_box col-12 col-md-3">
            <span class="formlabel">Filter
            </span>
        </div> -->
        <div class="col-12 col-md-6 d-flex justify-content-center align-items-center tooltip-container">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate matInput placeholder="Start date" (dateChange)="getFromDate($event)">
                    <input matEndDate matInput placeholder="End date" (dateChange)="getToDate($event)">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
        </div>
        <div class="mobile">
            <div class="col-6 col-md-2 d-flex justify-content-center align-items-center tooltip-container"
                style="cursor: pointer;margin-top: -4%;">
                <div class="icon-container" (click)="getChannelExcel()">
                    <img src="/assets/images/icons/Excel.png" width="40px">
                    <div class="tooltip">Excel</div>
                </div>
            </div>
            <div class="col-6 col-md-2 d-flex justify-content-center align-items-center tooltip-container"
                style="cursor: pointer;margin-top: -4%;">
                <div class="icon-container" (click)="getChannelPDF()">
                    <img src="/assets/images/icons/pdf.png" width="40px">
                    <div class="tooltip">Pdf</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="type == 'combo'">
    <div class="Head d-flex justify-content-between align-items-center mb-3">
        <span class="span">Combo Package Details</span>
        <i class="fa fa-close close-icon" (click)="onNoClick()"></i>
    </div>
    <div class="mb-3 display justify-content-center align-items-center ">
        <div class="mobile">
            <div class="col-4 col-md-6 d-flex justify-content-center align-items-center tooltip-container">
                <span>Get Report</span>
            </div>
            <div class="col-4 col-md-2 d-flex justify-content-center align-items-center tooltip-container"
                style="cursor: pointer;">
                <div class="icon-container" (click)="getComboReport(2)">
                    <img src="/assets/images/icons/Excel.png" width="40px">
                    <div class="tooltip">Excel</div>
                </div>
            </div>
            <div class="col-4 col-md-2 d-flex justify-content-center align-items-center tooltip-container"
                style="cursor: pointer;">
                <div class="icon-container" (click)="getComboReport(1)">
                    <img src="/assets/images/icons/pdf.png" width="40px">
                    <div class="tooltip">Pdf</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="type == 'HistoricalBase'">
    <div class="Head d-flex justify-content-between align-items-center mb-3">
        <!-- <span class="span">BOUQUET ALACARTE PACKAGE REPORT</span> -->
        <span class="span">HISTORICAL PACKAGE REPORT</span>
        <i class="fa fa-close close-icon" (click)="onNoClick()"></i>
    </div>
    <div class="container">
        <div class="card d-block justify-content-center align-items-center mb-3"
            style="border: 1px solid #055478;padding: 1rem;">
            <div class="col-12 display align-items-center">
                <div class="col-12 col-md-12  justify-content-center align-items-center  ">

                    <div class=" display mb-3">
                        <div class="col-12 col-md-6 sidename">
                            <span style="color: #243359;" for="">Select Date</span>
                        </div>
                        <div class="col-12 col-md-6">
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <mat-date-range-input [rangePicker]="picker">
                                    <input matStartDate matInput placeholder="Start date"
                                        (dateChange)="getFromDate($event)">
                                    <input matEndDate matInput placeholder="End date" (dateChange)="getToDate($event)">
                                </mat-date-range-input>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-date-range-picker #picker></mat-date-range-picker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="input_box display mb-3">
                        <div class="col-12 col-md-6 sidename">
                            <span for="">Select Product</span>
                        </div>
                        <div class="col-12 col-md-6">
                            <select placeholder="Select the Product Type" [(ngModel)]="productType">
                                <option value="" disabled>Select a Product Type</option>
                                <option *ngFor="let po of product" [value]="po.value">{{po.lable}}</option>
                            </select>
                            <div *ngIf="submitted && !productType" class="text-danger" style="font-size: small;">
                                Product Type is required
                            </div>
                        </div>
                    </div>
                    <div class="input_box display1 mb-3">
                        <div class="col-6 col-md-6 sidename">
                            <span for="">Reports</span>
                        </div>
                        <div class="col-6 col-md-6 display1">
                            <div class="icon-container" (click)="getTotalOperatorReportDownload(2)">
                                <img src="/assets/images/icons/Excel.png" width="40px">
                                <div class="tooltip">Excel</div>
                            </div>
                            <div class="icon-container" (click)="getTotalOperatorReportDownload(1)">
                                <img src="/assets/images/icons/pdf.png" width="40px">
                                <div class="tooltip">Pdf</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="type == 'Synchronization' || type == 'Reconcilation'">
    <div *ngIf="type == 'Synchronization'" class="Head d-flex justify-content-between align-items-center mb-3">
        <span class="span">Synchronization REPORT</span>
        <i class="fa fa-close close-icon" (click)="onNoClick()"></i>
    </div>
    <div *ngIf="type == 'Reconcilation'" class="Head d-flex justify-content-between align-items-center mb-3">
        <span class="span">RECONSOLATION REPORT</span>
        <i class="fa fa-close close-icon" (click)="onNoClick()"></i>
    </div>
    <div class="container">
        <div class="card d-block justify-content-center align-items-center mb-3"
            style="border: 1px solid #055478;padding: 1rem;">
            <div class="col-12 display align-items-center">
                <div class="col-12 col-md-12  justify-content-center align-items-center  ">
                    <div class=" display mb-3">
                        <div class="col-12 col-md-6 mb-2">
                            <span style="color: #243359;" for="">File Upload</span>
                        </div>
                        <div class="col-12 col-md-6">
                            <label class="btn custom-btn mb-2">
                                <i class="fa fa-plus"></i> Choose
                                <input type="file" style="display: none;" (change)="handleFileInput($event)"
                                    accept=".xlsx,.xls,.csv">
                            </label>
                            <span class="mx-3" style="color:#0a21d0">{{filePath }} </span>
                        </div>
                    </div>
                    <div *ngIf="type == 'Synchronization' " class=" display mb-3">
                        <div class="col-12 col-md-6 sidename">
                            <span style="color: #243359;" for="">Select Date</span>
                        </div>
                        <div class="col-12 col-md-6">
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <mat-date-range-input [rangePicker]="picker">
                                    <input matStartDate matInput placeholder="Start date"
                                        (dateChange)="getFromDate($event)">
                                    <input matEndDate matInput placeholder="End date" (dateChange)="getToDate($event)">
                                </mat-date-range-input>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-date-range-picker #picker></mat-date-range-picker>
                            </mat-form-field>
                            <!-- <div *ngIf="submitted && !date" class="text-danger" style="font-size: small;">
                                Date is required
                           </div> -->
                        </div>
                    </div>
                    <div *ngIf="type == 'Reconcilation' " class=" display mb-3">
                        <div class="col-12 col-md-6 sidename">
                            <span style="color: #243359;" for="">Select Date</span>
                        </div>
                        <div class="col-12 col-md-6">
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <mat-date-range-input [rangePicker]="picker">
                                    <input matStartDate matInput placeholder="Start date"
                                        (dateChange)="getFromDate($event)">
                                    <input matEndDate matInput placeholder="End date" (dateChange)="getToDate($event)">
                                </mat-date-range-input>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-date-range-picker #picker></mat-date-range-picker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div *ngIf="type !== 'Reconcilation'" class="input_box display mb-3">
                        <div class="col-12 col-md-6 sidename">
                            <span for="">Select Product</span>
                        </div>
                        <div class="col-12 col-md-6">
                            <select placeholder="Select the Product Type" [(ngModel)]="productType">
                                <option value="" disabled>Select a Product Type</option>
                                <option *ngFor="let po of product" [value]="po.value">{{po.lable}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="input_box display1 mb-3">
                        <div class="col-6 col-md-6 sidename">
                            <span for="">Reports</span>
                        </div>
                        <div class="col-6 col-md-6 display1">
                            <div *ngIf="type == 'Synchronization'" class="export-icon col-6 col-md-3 mx-2"
                                (click)="getExcel()">
                                <img src="/assets/images/icons/Excel.png" alt="Excel Icon" width="40px">
                                <div class="tooltip">Excel</div>
                            </div>
                            <div *ngIf="type == 'Reconcilation'" class="export-icon col-6 col-md-3 mx-2"
                                (click)="getReconsolationData()">
                                <img src="/assets/images/icons/Excel.png" alt="Excel Icon" width="40px">
                                <div class="tooltip">Excel</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>