.Head {
    background-color: var(--primary-color);
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1);
    color: white;
    padding: 1rem;
    // font-size: 19px;
}

.Head span {
    // font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.display {
    display: flex;
}

.mobile {
    display: contents;

    span {
        color: #4d4d4d;
        font-size: 19px;
        font-weight: 600;
    }
}

.input-box select option {
    padding: 7px 0;
}


.input-box {
    display: flex;
    gap: 5px;
}

select {
    width: 100%;
    height: 53px;
    border-radius: 4px;
    padding: 0px 12px;
    border-top: 2px solid #b0afaf;
    border-bottom: 0.9px solid lightgray;
    border-left: 0.9px solid lightgray;
    border-right: 0.9px solid lightgray;
}

// .report {
//     margin-top: -4%;
// }
.input_box label {
    font-weight: 500;
    margin-bottom: 5px;
    display: inline !important;
    font-size: 16px;
    color: #243359;
}

.display1 {
    display: flex;
}

.sidename {
    display: flex;
    align-items: center;
}

@media screen and (max-width:560px) {
    .display {
        padding: 0.5rem !important;
        display: block;
    }

    .mobile {
        display: flex;
    }

    .mobile1 {
        display: block;
    }

    .display1 {
        display: flex;
        align-items: baseline;
    }

    .report img {
        margin-bottom: 5% !important;
    }
}

@media screen and (max-width:790px) {
    .display {
        padding: 0.5rem !important;
        display: block;
    }

    .display1 {
        display: flex;
        align-items: baseline;
    }

    .mobile {
        display: flex;
    }

    .mobile1 {
        display: block;
    }

    .report img {
        margin-bottom: 5% !important;
    }
}


// ===========================================================button===========================================================================

.custom-btn {
    background-color: #bab8ad;
    color: #000;
    border: 1px solid #2b2a2a;
    border-radius: 5px;
    // padding: 10px 20px; 
    font-size: 16px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

.custom-btn i {
    margin-right: 8px;
}

.custom-btn:hover {
    background-color: #5bc49b;
    color: #fff;
    border-color: #1a4091;
}

.custom-btn:active {
    background-color: #1a8879;
    color: #079ea3;
}