.tab {
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.tab:hover {
    background-color: #2f7681;
    color: white;
    font-weight: bold;
}

.tab.active {
    color: white;
    font-size: 15spx;
    font-weight: bold;
    background-color: #2f7681;
    // border-color: #007bff;
}

.display {
    display: flex;
}


.bg {
    background: palegoldenrod;
}

.bg:hover{
    background: #edd907;
    color: black;
}

.save {
    height: 70px;
}

.btn-outline-success {
    color: #203064;
    border-color: #203064;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #203064;
    border-color: #203064;
}

.cas {
    text-transform: uppercase;
    font-size: medium;
    // font-weight: bold;
}

@media screen and (max-width:560px) {
    .display {
        display: block;
        margin-bottom: 10px;
        align-items: center;
    }
}




#myGrid {
    width: 100%;
    height: 600px;
    text-align: center;
  }
  .responsive-grid {
    width: 100%;
    max-width: 1200px; 
    margin: auto;
  }
  
  
  @media (max-width: 768px) {
    .responsive-grid {
        width: 100%;
    }
  }
  ::ng-deep .ag-header{
    background-color: #557c9b !important;
  }
  .custom{
    background-color: lightslategrey;
  }